:host {
  .progress-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;

    progress {
      width: 80%;
    }
  }

  ion-img{
    max-width: 150px;
  }
}
