<!-- initial subpage picker -->
<div class="hidden lg:flex justify-end gap-2">
	<button
		*ngFor="let path of MARKET_PAGE_PATH"
		mat-stroked-button
		(click)="changePath(path)"
		[ngClass]="{'g-button-active': path.value === selectedPath}"
	>
		{{ path.name}}
	</button>
</div>

<mat-form-field appearance="outline" class="block lg:hidden p-2">
	<mat-label class="st-font-1"> Select path</mat-label>

	<!-- select -->
	<mat-select (selectionChange)="selectOption($event)">
		<mat-option *ngFor="let optionData of MARKET_PAGE_PATH" [value]="optionData"> {{ optionData.name }} </mat-option>
	</mat-select>
</mat-form-field>

<!-- sub pages -->
<div class="mt-6">
	<router-outlet></router-outlet>
</div>
