<ion-card>
    <ion-card-header>
        <ion-card-title class="ion-text-center ion-padding-start ion-padding-top">
            Financial strength
        </ion-card-title>
    </ion-card-header>

    <ion-card-content>

        <ion-list>
            <!-- <ion-item>
                <ion-label position="fixed" class="fixedLabel">Market cap.</ion-label>
                <ion-label> {{ financialStrength.marketCap }}</ion-label>
            </ion-item> -->






            <!--<ion-item>
                <ion-label position="fixed" class="fixedLabel"> Return on equity (ttm)</ion-label>
                <ion-label [ngClass]="{
                  'price-up': percentageInfo.returnOnEquityTTMNumber >= 0,
                  'price-down': percentageInfo.returnOnEquityTTMNumber < 0
                   }"> {{ percentageInfo.returnOnEquityTTM }}
                    <ion-icon name="trending-up-outline" slot="end" *ngIf="percentageInfo.returnOnEquityTTMNumber >= 0"></ion-icon>
                    <ion-icon name="trending-down-outline" slot="end" *ngIf="percentageInfo.returnOnEquityTTMNumber < 0"></ion-icon>
                </ion-label>
            </ion-item>-->


        </ion-list>
    </ion-card-content>
</ion-card>
