<ion-content class="ion-padding">
    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <ng-container *ngIf="showAddToWatchlistOption">
                    <!-- add to watchlist button -->
                    <ion-button *ngIf="!isSymbolInWatchlist" (click)="addSymbolToWatchlist()"
                                class="ion-float-start" fill="clear">
                        <ion-icon name="star-outline" class="st-font-main-color-orange"
                                  style="margin-right: 5px"></ion-icon>
                        <ion-text class="st-font-1">Add symbol</ion-text>
                    </ion-button>

                    <!-- remove from  watchlist button -->
                    <ion-button *ngIf="isSymbolInWatchlist" (click)="removeSymbolFromWatchlist()"
                                class="ion-float-start" fill="clear">
                        <ion-icon name="star" class="st-font-main-color-orange watchlist-not-added"
                                  style="margin-right: 5px"></ion-icon>
                        <ion-text class="st-font-1 watchlist-not-added">Remove symbol</ion-text>
                    </ion-button>
                </ng-container>
            </ion-col>

            <ion-col size="6">
                <!-- close modal button -->
                <ion-button class="ion-float-right" color="danger" (click)="dismissModal()" fill="clear">
                    <ion-icon name="close-outline"></ion-icon>
                    Close
                </ion-button>
            </ion-col>
        </ion-row>

        <ng-container *ngIf="stockSummary$ | async as summary">
            <ion-row>
                <!-- financial chart -->
                <ion-col size="12" size-md="6.5" size-xl="7.5" class="st-md-border-bottom">
                    <app-financial-chart-container
                            [currentPrice]="summary.marketPrice"
                            [closedPrice]="summary.previousClose"
                            [logoUrl]="summary.logo_url"
                            [name]="symbolIdentification.name"
                            [height]="375"
                            [symbol]="symbolIdentification.symbol">
                    </app-financial-chart-container>
                </ion-col>


                <ion-col size="12" size-md="5.5" size-xl="4.5" class="st-md-border-bottom ion-padding">
                    <!-- summary -->
                    <app-generic-list [iconTitle]="'barcode-outline'"
                                      [title]="'Summary: ' + summary.symbol"></app-generic-list>
                    <app-stock-summary-container [summary]="summary">
                    </app-stock-summary-container>

                    <!-- button-->
                    <ion-buttons class="st-buttons-container st-justify-center">
                        <ion-button class="st-button st-create-background" (click)="redirectToDetails()">
                            Show details
                        </ion-button>
                    </ion-buttons>
                </ion-col>
            </ion-row>

            <!-- long business summary -->
            <ion-row>
                <ion-col size="12" class="st-flex-col">
                    <app-generic-list [title]="summary.longName"></app-generic-list>
                    <ion-text class="st-font-3">
                        {{ summary.longBusinessSummary }}
                    </ion-text>
                </ion-col>
            </ion-row>
        </ng-container>
    </ion-grid>
</ion-content>
