<app-generic-card [subtitle]="title" class="ion-hide-md-down">
    <ion-list *ngIf="statement?.endDate?.data?.length > 0">
        <ion-item>
            <ion-label class="header-label"></ion-label>
            <ion-label *ngFor="let item of statement?.endDate?.data; let i = index; let last=last"
                       [class]="'st-font-1-bold label-'+i" [ngClass]="{'ion-padding-start' :!last}">
                {{isQuarterlyData ? (item * 1000 | date:'dd.MM.YYYY') : ((item) * 1000  | date:'YYYY')}}
            </ion-label>
        </ion-item>
        <ng-container *ngFor="let key of statement | objNgFor">
            <ion-item *ngIf="key !== 'endDate' && !!statement[key] && !!statement[key]?.data"
                      class="st-data-item-wrapper">
                <!-- key name -->
                <ion-label class="st-font-2-bold header-label">{{ statement[key].name }}</ion-label>

                <!-- ex. 236mil. +35.8% -->
                <ion-label *ngFor="let value of statement[key].data; let i = index"
                           [class]="'st-display-flex-center label-'+i ">

                    <ion-text class="st-data-label"
                              style="min-width: 66px">{{ value | numberFormatter: statement[key].isPercent }}</ion-text>

                    <!-- positive / negative icon -->
                    <ion-text *ngIf="statement[key].change[i] as change"
                              [ngClass]="{ 'st-price-up': change > 0, 'st-price-down': change < 0}"
                              class="st-font-size-13 st-display-flex-center">
                        {{ change | percent: '1.2-2'}}
                        <ion-icon *ngIf="change > 0" name="trending-up-outline"></ion-icon>
                        <ion-icon *ngIf="change < 0" name="trending-down-outline"></ion-icon>
                    </ion-text>

                </ion-label>
            </ion-item>
        </ng-container>
    </ion-list>
</app-generic-card>


<!-- small screen, SLIDING CARDS -->
<ion-slides [options]="sliderConfig" class="ion-hide-md-up">
    <ion-slide *ngFor="let item of statement?.endDate?.data; let i = index">
        <app-generic-card
                [subtitle]=" title + '   ' +  (isQuarterlyData ? (item * 1000 | date:'dd.MM.YYYY') :  (item * 1000 | date:'YYYY')) "
                style="width: 100%">
            <ion-list>
                <ng-container *ngFor="let key of statement | objNgFor">
                    <ion-item *ngIf="key !== 'endDate' && !!statement[key]?.data" class="st-data-item-wrapper">
                        <!-- key + data -->
                        <ion-label>{{ statement[key].name }}</ion-label>

                        <!-- positive / negative icon -->
                        <ion-label class="st-display-flex-center ion-justify-content-end">
                            <ion-text *ngIf="statement[key].change[i] as change"
                                      [ngClass]="{ 'st-price-up': change > 0, 'st-price-down': change < 0}"
                                      class="st-font-size-13 ion-hide-sm-down ion-margin-end"
                                      style="display: flex; align-items: center;">
                                {{ change | percent: '1.2-2'}}
                                <ion-icon *ngIf="change > 0" class="st-small-right-space"
                                          name="trending-up-outline"></ion-icon>
                                <ion-icon *ngIf="change < 0" class="st-small-right-space"
                                          name="trending-down-outline"></ion-icon>
                            </ion-text>

                            <ion-text class="st-data-label" style="min-width: 65px">
                                {{  statement[key].data[i] | numberFormatter: statement[key].isPercent  }}
                            </ion-text>
                        </ion-label>

                    </ion-item>
                </ng-container>
            </ion-list>
        </app-generic-card>
    </ion-slide>
</ion-slides>
