:host {
  .header-label {
    min-width: 26%;
    padding-right: 10px;
  }

  .label-0 {
    min-width: 21%;
  }

  .label-1 {
    min-width: 22%;
  }

  .label-2 {
    min-width: 21%;
  }

  .label-3 {
    min-width: 10%;
  }

  .key-name {
    width: 95%;
    word-wrap: break-word;
  }
}
