<ion-list class="form-position">
	<form [formGroup]="form">
		<app-form-mat-input-wrapper inputCaption="Search group" controlName="groupName"> </app-form-mat-input-wrapper>
	</form>
</ion-list>

<!-- listed symbols -->
<ng-container *ngIf="searchedGroups$ | async as searchedGroup; else noWatchlsit">
	<div *ngFor="let group of searchedGroup" class="grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-4 gap-y-6 gap-x-4">
		<app-generic-card>
			<app-group-top-users-information [showVisitButton]="true" (visitEmitter)="visit(group)" [groupAllData]="group">
			</app-group-top-users-information>
		</app-generic-card>
	</div>
</ng-container>

<!-- no result -->
<ng-template #noWatchlsit>
	<div class="st-no-result-container">
		<ion-text>No group has been found</ion-text>
	</div>
</ng-template>
