@import "../../../../../shared/styles/priceColors";

:host {
  .fixedLabel {
    min-width: 65% !important;
    max-width: 65% !important;
  }

  .price-up{
    color: #{$price-up};
  }

  .price-down{
    color: #{price-down};
  }

  ion-card{
    height: 100%;
  }

  ion-icon{
    position: absolute;
    font-size: 23px;
    margin-left: 5px;
  }
}
