<!-- contact -->
<div *ngIf="stUserPublicData" class="user-info-item">
	<div
		(click)="clickedPerson()"
		[ngClass]="{
                'ion-activatable': clickable,
                'width-100': clickable
            }"
		class="flex p-2"
	>
		<ion-img appDefaultImg [src]="stUserPublicData.photoURL"></ion-img>
		<div class="ml-2">
			<span class="text-white text-lg">{{ stUserPublicData.nickName }}</span>

			<!-- portfolio state -->
			<div class="flex items-center gap-2">
				<span class="st-font-2 text-base">Portfolio:</span>
				<span class="st-font-0 text-base"> {{ stUserPublicData.portfolio.lastPortfolioBalance | currency }} </span>
			</div>
			<!-- portfolio change -->
			<div class="flex items-center gap-2">
				<span class="st-font-2 text-base">Change:</span>
				<app-price-change-item
					pricePosition="left"
					[isPercent]="true"
					[showDollarSignOnPrice]="true"
					[priceChange]="portfolioChange?.portfolioIncreasePrct"
					[price]="portfolioChange?.portfolioIncreaseNumber"
				>
				</app-price-change-item>
			</div>

			<ion-text class="st-font-5"> Since: {{ stUserPublicData.accountCreatedDate | date: 'dd.MM.yyyy' }} </ion-text>
		</div>
	</div>

	<!-- delete button  -->
	<div *ngIf="showDeleteButton">
		<ion-button (click)="deletePerson()" class="st-clickable" color="danger" fill="clear">
			<ion-icon name="trash-bin" slot="icon-only" style="font-size: 28px"></ion-icon>
		</ion-button>
	</div>
</div>
