:host {
	ion-img {
		width: 65px;
		height: 65px;
		margin-right: 16px;
	}

	.user-info-item {
		padding-top: 5px;
		padding-bottom: 5px;
		display: flex;
		align-items: center;
	}

	ion-card {
		&:first-child {
			min-width: 350px;
		}
	}

	.inactive-account {
		opacity: 0.55;
	}
}
