:host {
  ion-img {
    width: 50px;
    height: 50px;
  }

  .user-info-item {
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
  }

  .user-info-item-user {
    min-width: 200px;
    display: flex;
    align-items: start;
    padding: 6px;
  }
}
