<!-- balance sheet -->

<!-- income statement -->
<!-- <ng-container *ngIf="activeStatement === STATEMENT_TYPE.INCOME_STATEMENT">
	<div class="table-space">
		<app-details-statement-sheet [sheets]="stockDetails.companyOutlook.financialsQuarter?.income || []" sheetTitle="Income statement quarterly">
		</app-details-statement-sheet>
	</div>

	<app-details-statement-sheet [sheets]="stockDetails.companyOutlook.financialsAnnual?.income || []" sheetTitle="Income statement yearly">
	</app-details-statement-sheet>
</ng-container> -->

<!-- cash flow -->
<!-- <ng-container *ngIf="activeStatement === STATEMENT_TYPE.CASH_FLOW">
	<div class="table-space">
		<app-details-statement-sheet [sheets]="stockDetails.companyOutlook.financialsQuarter?.cash || []" sheetTitle="Cash flow quarterly">
		</app-details-statement-sheet>
	</div>

	<app-details-statement-sheet [sheets]="stockDetails.companyOutlook.financialsAnnual?.cash || []" sheetTitle="Cash flow yearly">
	</app-details-statement-sheet>
</ng-container> -->
