<app-generic-chart
        [chartTitle]="'Holdings allocation'"
        [heightPx]="heightPx"
        [chartTitlePosition]="'center'"
        [chartType]="ChartType.pie"
        [additionalStyle]="addMinWidthStyle ? 'min-width: 420px' : ''"
        legendAlign="center"
        [enable3D]="true"
        [isPercentage]="true"
        [floatingLegend]="floatingLegend"
        [showLegend]="showLegend"
        [showDataLabel]="showDataLabel"
        [series]="[{data: sectorPairs, innerSize: '20%', minPointSize: 10}]">
</app-generic-chart>
