<!-- title -->
<div class="p-4 flex flex-row gap-2 items-center">
	<mat-icon color="primary">chrome_reader_mode</mat-icon>
	<span class="text-xl g-color-white"> Transactions</span>
</div>

<div class="grid grid-cols-1 md:grid-cols-2">
	<!-- last transactions -->
	<app-mat-card-wrapper title="Last transactions" additionalStyles="height: 100%; min-height: 300px">
		<app-transactions-table [transactions]="transactions  | slice:0:10"> </app-transactions-table>
	</app-mat-card-wrapper>

	<!-- top transactions -->
	<app-mat-card-wrapper title="Top transactions" additionalStyles="height: 100%; min-height: 300px">
		<app-transactions-table [transactions]="topTransactions | slice:0:10"> </app-transactions-table>
	</app-mat-card-wrapper>
</div>

<!-- transaction summary -->
<div class="p-4">
	<app-transactions-summary [portfolioWrapper]="portfolioWrapper" [startedPortfolio]="startedPortfolio"></app-transactions-summary>
</div>

<!-- transactions chart -->
<div class="p-4">
	<app-transactions-chart [heightPx]="transactionHeight" [stTransactionSnapshots]="stTransactionSnapshots"> </app-transactions-chart>
</div>
