<div class="flex flex-col gap-4">
	<span class="text-white text-2xl text-center md:text-left">Groups</span>
	<div *ngIf="groups.groupOwner.length > 0" class="flex flex-col gap-4">
		<span class="text-lg g-color-secondary">Owner</span>
		<button mat-flat-button *ngFor="let group of groups.groupOwner" class="g-button-secondary">{{ group.name }}</button>
	</div>
	<div *ngIf="groups.groupMember.length > 0" class="flex flex-col gap-4">
		<span class="text-lg g-color-secondary">Member</span>
		<button mat-flat-button *ngFor="let group of groups.groupMember" class="g-button-secondary">{{ group.name }}</button>
	</div>
	<div *ngIf="groups.groupInvitationReceived.length > 0" class="flex flex-col gap-4">
		<span class="text-lg g-color-secondary">Invitation received</span>
		<button mat-flat-button *ngFor="let group of groups.groupInvitationReceived" class="g-button-secondary">{{ group.name }}</button>
	</div>
	<div *ngIf="groups.groupInvitationSent.length > 0" class="flex flex-col gap-4">
		<span class="text-lg g-color-secondary">Invitation sent</span>
		<button mat-flat-button *ngFor="let group of groups.groupInvitationSent" class="g-button-secondary">{{ group.name }}</button>
	</div>
	<div *ngIf="groups.groupWatched.length > 0" class="flex flex-col gap-4">
		<span class="text-lg g-color-secondary">Watched</span>
		<button mat-flat-button *ngFor="let group of groups.groupWatched" class="g-button-secondary">{{ group.name }}</button>
	</div>
</div>
