<div class="st-flex-row-sm-col st-gap">
	<ion-title class="st-font-size-18 st-font-0"> Members: {{ groupAllData.numberOfMembers}} / 50</ion-title>

	<!-- select sorting group members -->
	<ion-buttons slot="end" style="flex: 1">
		<form [formGroup]="form" class="st-width-100">
			<app-form-mat-input-wrapper
				inputCaption="Sort members"
				controlName="groupMemberSort"
				inputType="SELECT"
				[inputSource]="GROUP_MEMBERS_SORT_INPUT_SOURCE"
			>
			</app-form-mat-input-wrapper>
		</form>
	</ion-buttons>
</div>

<!-- print users in table -->
<div class="flex flex-wrap gap-4">
	<mat-card
		*ngFor="let groupUser of groupAllData.groupMemberData.members | groupMemberSort: groupMemberSort.value; let i = index"
		[appClickableDirective]="groupUser.portfolio.lastPortfolioSnapshot.date | isTimeMoreThan: 14"
		(click)="clickedMember(groupUser)"
		[ngClass]="{
                 'g-my-position': groupUser.id === user?.id && i !== 0 && i !== 1 && i !== 2,
                  'g-first-position': i === 0,
                  'g-second-position': i === 1,
                  'g-third-position': i === 2,
				  'c-inactive-account': !(groupUser.portfolio.lastPortfolioSnapshot.date | isTimeMoreThan: 14)
                }"
	>
		<mat-card-content>
			<app-group-user-base-information
				[showIncreasePosition]="groupMemberSort.value === GroupMemberSortValuesEnum.highest_portfolio"
				[showPortfolioSinceMember]="showPortfolioSinceMember"
				[useClassStyling]="groupUser.id === user?.id && i !== 0 && i !== 1 && i !== 2 ? 'g-my-position-color' :
                                   i === 0 ? 'g-first-position-color' :
                                   i === 1 ? 'g-second-position-color' :
                                   i === 2 ? 'g-third-position-color' : ''"
				[groupUser]="groupUser"
			>
			</app-group-user-base-information>
		</mat-card-content>
	</mat-card>
</div>
