<ion-toolbar>
	<ion-title class="st-font-size-18 st-font-0"> Members: {{ groupAllData.numberOfMembers}} </ion-title>

	<!-- select sorting group members -->
	<!-- TODO add pipe -->
	<ion-buttons slot="end" style="flex: 1">
		<form [formGroup]="form" class="st-width-100">
			<app-form-mat-input-wrapper
				inputCaption="Sort members"
				controlName="groupMemberSort"
				inputType="SELECT"
				[inputSource]="GROUP_MEMBERS_SORT_INPUT_SOURCE"
			>
			</app-form-mat-input-wrapper>
		</form>
	</ion-buttons>
</ion-toolbar>

<!-- print users in table -->
<div class="st-flex-wrap" style="gap: 10px">
	<ion-card
		class="c-member-card"
		*ngFor="let groupUser of groupAllData.groupMemberData.members; let i = index"
		button
		(click)="clickedMember(groupUser)"
		[ngClass]="{
                 'my-position': groupUser.id === user?.id && i !== 0 && i !== 1 && i !== 2,
                  'first-position': i === 0,
                  'second-position': i === 1,
                  'third-position': i === 2
                }"
	>
		<app-group-user-base-information
			[showIncreasePosition]="true"
			[useClassStyling]="groupUser.id === user?.id && i !== 0 && i !== 1 && i !== 2 ? 'my-position' :
                                   i === 0 ? 'first-position' :
                                   i === 1 ? 'second-position' :
                                   i === 2 ? 'third-position' : ''"
			[groupUser]="groupUser"
		>
		</app-group-user-base-information>
	</ion-card>
</div>
