:host {
	mat-card {
		padding: 12px 4px 0px 4px;
		flex: 1;
		mat-card-content {
			margin-top: 0px !important;
		}
	}

	.c-inactive-account {
		background-color: #505050 !important;
		opacity: 0.75 !important;
	}
}
