<ion-list>
    <ion-list-header>
        <ion-label>
            Historical data
        </ion-label>
    </ion-list-header>

    <ion-item>
        <ion-label class="st-table-main-label"></ion-label>
        <ion-label *ngFor="let year of formula.historical.historicalYears" class="st-font-0">{{ year }}</ion-label>
    </ion-item>

    <app-table-increasing-item
            name="Revenue"
            [data]="formula.historical.revenue">
    </app-table-increasing-item>

    <app-table-increasing-item
            name="Income"
            [data]="formula.historical.netIncome">
    </app-table-increasing-item>

    <app-table-increasing-item
            name="Income margin"
            [data]="formula.historical.netIncomeMargins">
    </app-table-increasing-item>

    <app-table-increasing-item
            name="Free cash flow"
            [data]="formula.historical.freeCashFlows">
    </app-table-increasing-item>
</ion-list>

<ion-list>
    <ion-list-header>
        <ion-label>
            Future estimation
        </ion-label>
    </ion-list-header>

    <ion-item-group class="st-flex-space-evenly st-small-vertical-padding">
        <ion-item>
            <ion-label>Revenue rate:</ion-label>
            <ion-label class="st-data-label-end">{{ formula.estimatedRevenueGrowthRate | percent: '1.2'  }}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Income margin:</ion-label>
            <ion-label class="st-data-label-end">{{ formula.estimatedNetIncomeMargin | percent: '1.2'  }}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>FCF / Income:</ion-label>
            <ion-label class="st-data-label-end">{{ formula.estimatedFreeCashFlowRate | percent: '1.2'  }}</ion-label>
        </ion-item>
    </ion-item-group>
</ion-list>

<ion-list>
    <ion-item>
        <ion-label class="st-table-main-label"></ion-label>
        <ion-label *ngFor="let year of formula.years" class="st-font-1-bold">{{ year }}</ion-label>
    </ion-item>

    <ion-item>
        <ion-label class="st-table-main-label">Revenue</ion-label>
        <ion-label *ngFor="let data of formula.estimatedRevenues"> {{ data | numberFormatter }}</ion-label>
    </ion-item>

    <ion-item>
        <ion-label class="st-table-main-label">Income</ion-label>
        <ion-label *ngFor="let data of formula.estimatedNetIncomes"> {{ data | numberFormatter }}</ion-label>
    </ion-item>

    <ion-item>
        <ion-label class="st-table-main-label">Free cash flow</ion-label>
        <ion-label *ngFor="let data of formula.estimatedFreeCashFlows"> {{ data | numberFormatter }}</ion-label>
    </ion-item>

    <ion-item>
        <ion-label class="st-table-main-label">Discounted factor</ion-label>
        <ion-label *ngFor="let data of formula.estimatedDiscountedFactors"> {{ data | numberFormatter }}</ion-label>
    </ion-item>

    <ion-item>
        <ion-label class="st-table-main-label">PV of future cash flow</ion-label>
        <ion-label *ngFor="let data of formula.estimatedPresentValueOfFutureCashFlows">
            {{ data | numberFormatter }}
        </ion-label>
    </ion-item>
</ion-list>

<ion-list>
    <ion-item-group class="st-flex-space-evenly st-small-vertical-padding">
        <ion-item>
            <ion-label>Terminal value:</ion-label>
            <ion-label class="st-data-label-end">{{ formula.estimatedTerminalValue | numberFormatter }}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Discounted TV:</ion-label>
            <ion-label
                    class="st-data-label-end">{{ formula.estimatedDiscountedTerminalValue | numberFormatter }}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Company value:</ion-label>
            <ion-label class="st-data-label-end">{{ formula.estimatedCompanyTodayValue | numberFormatter  }}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Intrinsic value:</ion-label>
            <ion-label class="st-font-0 st-data-label-end">{{ formula.estimatedIntrinsicValue | currency  }}</ion-label>
        </ion-item>
    </ion-item-group>
</ion-list>
