<fieldset
	[class]="fieldsetAdditionalClasses"
	[disabled]="disabled"
	[ngClass]="{ 'errors-showed': usedFormControl.touched  && usedFormControl.invalid }"
>
	<ng-container [ngSwitch]="inputType">
		<mat-form-field
			*ngIf="!['CHECKBOX', 'RADIO', 'SLIDE_TOGGLE', 'SLIDER' ,'BUTTON'].includes(inputType); else fieldWhichCannotBeInFormField"
			appearance="outline"
			[ngClass]="{
				'disabled-mat-form-field': disabled,
				'ion-text-center': inputType === 'SLIDER',
				'highlight-mat-form-field': highlightField
			  }"
			(click)="datePickerOpen()"
		>
			<mat-label class="st-font-1">
				{{ inputCaption }}
				<span *ngIf="inputType === 'SLIDER'" class="st-font-4">
					: {{ usedFormControl.value | numberFormatter: false: sliderLabelShowDollarSign }}
				</span>
			</mat-label>

			<!-- textarea -->
			<textarea
				#textAreaElement
				*ngSwitchCase="'TEXTAREA'"
				[formControl]="formInputControl"
				cdkAutosizeMaxRows="8"
				cdkAutosizeMinRows="4"
				cdkTextareaAutosize
				matInput
			>
			</textarea>

			<!-- select -->
			<mat-select
				*ngSwitchCase="'SELECT'"
				[disableRipple]="disabled"
				[formControl]="formInputControl"
				[ngClass]="{'disabled-element': disabled}"
				(selectionChange)="selectOption($event)"
			>
				<mat-select-trigger *ngIf="selectedInputSouce" class="flex">
					<img *ngIf="selectedInputSouce?.image" [src]="selectedInputSouce?.image" alt="" class="mr-4" />
					{{ selectedInputSouce.caption }}
				</mat-select-trigger>
				<mat-option *ngFor="let optionData of inputSource" [value]="optionData.value">
					<div class="flex"><img *ngIf="optionData?.image" [src]="optionData.image" alt="" class="mr-4" /> {{ optionData.caption }}</div>
				</mat-option>
			</mat-select>

			<!-- multi select -->
			<mat-select
				*ngSwitchCase="'MULTISELECT'"
				[disableRipple]="disabled"
				[formControl]="formInputControl"
				[multiple]="true"
				[ngClass]="{'disabled-element': disabled}"
			>
				<input (keyup)="multiSelectKeyPress($event)" class="select-input" placeholder="Search" />
				<mat-option *ngFor="let optionData of inputSource" [value]="optionData.value"> {{ optionData.caption }} </mat-option>
			</mat-select>

			<!-- datepicker -->
			<ng-container *ngSwitchCase="'DATEPICKER'">
				<input [readonly]="disabled" matInput [matDatepicker]="formFieldDatePicker" [formControl]="formInputControl" autocomplete="off" />
				<!-- <mat-datepicker-toggle matSuffix [for]="formFieldDatePicker">
					<mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
				</mat-datepicker-toggle> -->
				<mat-datepicker #formFieldDatePicker [disabled]="disabled"></mat-datepicker>
			</ng-container>

			<!-- text, number, time, email -->
			<input
				#defaultElement
				*ngSwitchDefault
				[formControl]="formInputControl"
				[readOnly]="disabled"
				[type]="inputType | lowercase"
				[autocomplete]="inputAutoComplete ? 'on' : 'off'"
				matInput
			/>

			<!-- errors -->
			<mat-error *ngFor="let inputError of usedFormControl.errors | keyvalue" [id]="''"> {{ inputError.value.errorText }} </mat-error>

			<!-- hint -->
			<mat-icon *ngIf="hintText" [matTooltip]="hintText" class="helper-text-tooltip-icon" matSuffix matTooltipClass="form-input-tooltip">
				help_outline
			</mat-icon>

			<!-- postfix close icon -->
			<button *ngIf="showCloseIcon && inputType === 'TEXT' " matSuffix mat-icon-button aria-label="Clear" (click)="resetValue()">
				<mat-icon>close</mat-icon>
			</button>

			<!-- prefix icon -->
			<mat-icon *ngIf="prefixIcon" matPrefix class="icon-prefix">{{ prefixIcon }}</mat-icon>
		</mat-form-field>

		<!-- mat-form-field can not contain the following elements -->
		<ng-template #fieldWhichCannotBeInFormField>
			<div class="not-form-field-inputs">
				<!-- button -->
				<div *ngSwitchCase="'BUTTON'" class="w-full">
					<button *ngIf="!!formInputControl.value" mat-flat-button color="accent" class="w-full" (click)="toggleButton()">{{ inputCaption }}</button>
					<button *ngIf="!formInputControl.value" mat-flat-button color="warn" class="w-full" (click)="toggleButton()">{{buttonOffCaption}}</button>
				</div>

				<!-- checkbox -->
				<mat-checkbox
					*ngSwitchCase="'CHECKBOX'"
					[disableRipple]="disabled"
					[formControl]="formInputControl"
					[matTooltip]="hintText ? hintText : ''"
					[ngClass]="{'disabled-element': disabled}"
					color="primary"
					matTooltipClass="form-input-tooltip"
					[checked]="formInputControl.value"
				>
					{{ inputCaption }}
				</mat-checkbox>

				<!-- slide toggle -->
				<mat-slide-toggle
					class="font-bold"
					color="primary"
					*ngSwitchCase="'SLIDE_TOGGLE'"
					[formControl]="formInputControl"
					[ngClass]="{'disabled-element': disabled}"
				>
					{{ inputCaption }}
				</mat-slide-toggle>

				<!-- slider -->
				<div *ngSwitchCase="'SLIDER'" class="flex flex-col items-center">
					<div class="flex items-center gap-4">
						<!-- hint -->
						<mat-icon *ngIf="hintText" [matTooltip]="hintText" class="helper-text-tooltip-icon" matSuffix matTooltipClass="form-input-tooltip">
							help_outline
						</mat-icon>
						<span>{{ inputCaption }}: {{ formInputControl.value }}</span>
					</div>

					<mat-slider
						class="w-full -mt-3"
						thumbLabel
						tickInterval="1"
						color="primary"
						[value]="formInputControl.value"
						[step]="inputTypeSliderConfig.step"
						[min]="inputTypeSliderConfig.min"
						[max]="inputTypeSliderConfig.max"
						aria-label="units"
						(change)="setSliderValue($event)"
					></mat-slider>
				</div>

				<!-- radio button -->
				<ng-container *ngSwitchCase="'RADIO'">
					<!-- label -->
					<mat-label class="font-bold"> {{ inputCaption }}</mat-label>

					<mat-radio-group
						[formControl]="formInputControl"
						[matTooltip]="hintText ? hintText : ''"
						[ngClass]="{'disabled-element': disabled}"
						class="flex flex-col mt-4"
						matTooltipClass="form-input-tooltip"
					>
						<mat-radio-button *ngFor="let optionData of inputSource" [value]="optionData.value"> {{ optionData.caption }} </mat-radio-button>
					</mat-radio-group>
				</ng-container>
				<ng-container *ngTemplateOutlet="errorContainer"></ng-container>
			</div>
		</ng-template>
	</ng-container>
</fieldset>

<!-- errors -->
<ng-template #errorContainer>
	<ng-container *ngIf="shouldBeErrorsShowed">
		<mat-error *ngFor="let inputError of usedFormControl.errors | keyvalue" [id]="''"> {{ inputError.value.errorText }} </mat-error>
	</ng-container>
</ng-template>
