<fieldset
	[class]="fieldsetAdditionalClasses"
	[disabled]="disabled"
	[ngClass]="{ 'errors-showed': usedFormControl.touched  && usedFormControl.invalid }"
>
	<ng-container [ngSwitch]="inputType">
		<mat-form-field
			*ngIf="!['CHECKBOX', 'RADIO', 'SLIDE_TOGGLE', 'SLIDER' ,'BUTTON'].includes(inputType); else fieldWhichCannotBeInFormField"
			appearance="outline"
		>
			<!-- label -->
			<mat-label> {{ inputCaption | translate }}</mat-label>

			<!-- textarea -->
			<textarea
				#textAreaElement
				*ngSwitchCase="'TEXTAREA'"
				[formControl]="formInputControl"
				cdkAutosizeMaxRows="7"
				cdkAutosizeMinRows="3"
				cdkTextareaAutosize
				matInput
			>
			</textarea>

			<!-- select & multiselect and search select-->
			<ng-container *ngSwitchCase="'SELECT'">
				<ng-container *ngTemplateOutlet="selectTemplate"></ng-container>
			</ng-container>
			<ng-container *ngSwitchCase="'SELECTSEARCH'">
				<ng-container *ngTemplateOutlet="selectTemplate"></ng-container>
			</ng-container>
			<ng-container *ngSwitchCase="'MULTISELECT'">
				<ng-container *ngTemplateOutlet="selectTemplate"></ng-container>
			</ng-container>

			<ng-template #selectTemplate>
				<mat-select
					[disableRipple]="disabled"
					[formControl]="formInputControl"
					[ngClass]="{'disabled-element': disabled}"
					(selectionChange)="selectOption($event)"
					[multiple]="inputType === InputType.MULTISELECT"
					(openedChange)="matSearchSelectInput?.nativeElement?.focus()"
					(closed)="closedSearchSelect()"
				>
					<mat-select-trigger *ngIf="selectedInputSource" class="flex">
						<img *ngIf="selectedInputSource?.image" [src]="selectedInputSource?.image" alt="" class="mr-4" />
						{{ selectedInputSource.caption | translate }}
					</mat-select-trigger>
					<input
						*ngIf="inputType === InputType.SELECTSEARCH || inputType === InputType.MULTISELECT"
						#matSearchSelectInput
						(keyup)="multiSelectKeyPress($event)"
						class="select-input"
						placeholder="Search"
						tabindex="0"
					/>
					<mat-option *ngFor="let optionData of inputSource" [value]="optionData.value">
						<div class="flex">
							<img *ngIf="optionData?.image" [src]="optionData.image" alt="" class="mr-4" /> {{ optionData.caption | translate }}
						</div>
					</mat-option>
				</mat-select>
			</ng-template>

			<!-- date picker -->
			<ng-container *ngSwitchCase="'DATEPICKER'">
				<div class="flex items-center relative -top-[12px]">
					<input [min]="inputTypeDateTimePickerConfig?.minDate" matInput [matDatepicker]="picker" [formControl]="formInputControl" />
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<mat-datepicker #picker></mat-datepicker>
				</div>
			</ng-container>

			<!-- text, number, time, email -->
			<input
				#defaultElement
				*ngSwitchDefault
				[formControl]="formInputControl"
				[readOnly]="disabled"
				[type]="inputType | lowercase"
				[autocomplete]="inputAutoComplete ? 'on' : 'off'"
				matInput
			/>

			<!-- errors -->
			<mat-error *ngFor="let inputError of usedFormControl.errors | keyvalue" [id]="''"> {{ inputError.value.errorText }} </mat-error>

			<!-- hint -->
			<mat-icon *ngIf="hintText" [matTooltip]="hintText | translate" class="helper-text-tooltip-icon" matSuffix> help_outline </mat-icon>

			<!-- postfix close icon -->
			<button *ngIf="showCloseIcon && inputType === 'TEXT' " matSuffix mat-icon-button aria-label="Clear" (click)="resetValue()">
				<mat-icon>close</mat-icon>
			</button>

			<!-- prefix icon -->
			<mat-icon *ngIf="prefixIcon" matPrefix class="icon-prefix">{{ prefixIcon }}</mat-icon>
		</mat-form-field>

		<!-- mat-form-field can not contain the following elements -->
		<ng-template #fieldWhichCannotBeInFormField>
			<div class="not-form-field-inputs">
				<!-- button -->
				<div *ngSwitchCase="'BUTTON'" class="w-full mb-2" [matTooltip]="hintText || ''">
					<button mat-flat-button [color]="formInputControl.value ? 'accent' : 'warn'" class="w-full" (click)="toggleButton()" type="button">
						<mat-icon *ngIf="prefixIcon">{{ prefixIcon }}</mat-icon>
						{{ (!!formInputControl.value ? inputCaption : inputCaptionOff ) | translate }}
					</button>
				</div>

				<!-- checkbox -->
				<mat-checkbox
					*ngSwitchCase="'CHECKBOX'"
					[disableRipple]="disabled"
					[formControl]="formInputControl"
					color="primary"
					[matTooltip]="hintText ? (hintText | translate) : null"
					[ngClass]="{'disabled-element': disabled}"
				>
					{{ (!!formInputControl.value || !inputCaptionOff ? inputCaption : inputCaptionOff) | translate }}
				</mat-checkbox>

				<!-- slide toggle -->
				<mat-slide-toggle
					class="font-bold"
					color="primary"
					*ngSwitchCase="'SLIDE_TOGGLE'"
					[formControl]="formInputControl"
					[ngClass]="{'disabled-element': disabled}"
				>
					{{ (!!formInputControl.value || !inputCaptionOff ? inputCaption : inputCaptionOff) | translate }}
				</mat-slide-toggle>

				<!-- slider -->
				<div *ngSwitchCase="'SLIDER'" class="flex flex-col items-center">
					<div class="flex items-center gap-4">
						<!-- hint -->
						<mat-icon *ngIf="hintText" [matTooltip]="hintText | translate" class="helper-text-tooltip-icon" matSuffix> help_outline </mat-icon>
						<span *ngIf="inputCaption">{{ inputCaption | translate }}: {{ inputTypeSliderConfig.displayValue | numberFormatter }}</span>
					</div>

					<mat-slider
						class="w-full"
						thumbLabel
						tickInterval="1"
						color="primary"
						[value]="inputTypeSliderConfig.value"
						[step]="inputTypeSliderConfig.step"
						[min]="inputTypeSliderConfig.min"
						[max]="inputTypeSliderConfig.max"
						[displayWith]="inputTypeSliderConfig.thumbNailFormatter ? inputTypeSliderConfig.thumbNailFormatter : DEFAULT_THUMBNAIL_FORMATTER"
						aria-label="units"
						(change)="setSliderValue($event)"
					></mat-slider>
				</div>

				<!-- radio button -->
				<ng-container *ngSwitchCase="'RADIO'">
					<!-- label -->
					<mat-label class="font-bold"> {{ inputCaption | translate }}</mat-label>

					<mat-radio-group
						[formControl]="formInputControl"
						[matTooltip]="hintText ? (hintText | translate) : null"
						[ngClass]="{'disabled-element': disabled}"
						class="flex flex-col mt-4"
					>
						<mat-radio-button *ngFor="let optionData of inputSource" [value]="optionData.value">
							{{ optionData.caption | translate }}
						</mat-radio-button>
					</mat-radio-group>
				</ng-container>
				<!-- errors -->
				<ng-container *ngIf="shouldBeErrorsShowed">
					<mat-error *ngFor="let inputError of usedFormControl.errors | keyvalue" [id]="''"> {{ inputError.value.errorText }} </mat-error>
				</ng-container>
			</div>
		</ng-template>
	</ng-container>
</fieldset>
