<!-- <app-generic-card [title]="sheetTitle" class="ion-hide-lg-down">
	<ion-list>
	
		<ion-item>
			<ion-label class="ion-margin-end"></ion-label>
			<ion-label *ngFor="let item of sheets; let i = index;" class="st-font-0"> {{ item.period }} {{ item.acceptedDate | date: 'YYYY' }} </ion-label>
		</ion-item>

	
		<ng-container *ngFor="let key of sheets[0] | objNgFor">
			<ion-item *ngIf="(sheets[0][key] | typeof) === 'number'" class="st-table-item">
	
				<ion-label>{{ key | splitKeyToTitlecase }}</ion-label>
	
				<ion-label *ngFor="let _ of [].constructor(sheets.length); let i = index; let last = last">
					<app-price-change-item
						[isPercent]="true"
						[priceChange]="last ? null : sheets[i][key] | increasePrct:  sheets[i+1][key]"
						[price]="sheets[i][key]"
						[showNAIfPriceZero]="true"
						pricePosition="left"
					>
					</app-price-change-item>
				</ion-label>
			</ion-item>
		</ng-container>
	</ion-list>
</app-generic-card> -->

<app-mat-card-wrapper>
	<!-- balance sheet -->
	<ng-container *ngIf="balanceSheet">
		<div *ngFor="let data of BalanceSheetDataContainer" class="grid grid-cols-6 g-data-item-wrapper">
			<div>{{ data.name }}</div>
			<!-- actual data to display -->
			<div *ngFor="let _ of [].constructor(balanceSheet.length); let i = index; let last = last">
				<app-price-change-item
					[isPercent]="data.isPercent"
					[priceChange]="last ? null : balanceSheet[i][data.data] | increasePrct:  balanceSheet[i+1][data.data]"
					[price]="balanceSheet[i][data.data]"
					[showNAIfPriceZero]="false"
					pricePosition="top"
				>
				</app-price-change-item>
			</div>
		</div>
	</ng-container>
</app-mat-card-wrapper>

<!-- small screen, SLIDING CARDS -->
<!-- <ion-slides [options]="sliderConfig" class="ion-hide-lg-up">
	<ion-slide *ngFor="let item of sheets; let i = index; let last=last">
		<app-generic-card [title]="sheetTitle + ' ' + item.period + ' ' + (item.acceptedDate | date: 'YYYY')" style="width: 100%">
			<ion-list>
				<ng-container *ngFor="let key of sheets[i] | objNgFor">
					<ion-item *ngIf="(sheets[0][key] | typeof) === 'number'" class="st-table-item">
			
						<ion-label>{{ key | splitKeyToTitlecase }}</ion-label>

					
						<ion-label class="st-flex-end">
							<app-price-change-item
								[isPercent]="true"
								[priceChange]="last ? null : (sheets[i][key] - sheets[i+1][key]) / sheets[i+1][key]"
								[price]="sheets[i][key]"
								[showNAIfPriceZero]="true"
								pricePosition="left"
							>
							</app-price-change-item>
						</ion-label>
					</ion-item>
				</ng-container>
			</ion-list>
		</app-generic-card>
	</ion-slide>
</ion-slides> -->
