<ng-container *ngIf="historical5yData$ | async as historical5yData">
    <ng-container *ngIf="resistancePivotPoints$ | async as resistancePivotPoints">
        <ng-container *ngIf="greenLineBreakout$ | async as greenLineBreakout">
            <app-trading-strategy-rpp-glb
                    [heightPx]="heightPx"
                    [historicalChartData]="historical5yData"
                    [dataRPP]="resistancePivotPoints"
                    [dataGLB]="greenLineBreakout">
            </app-trading-strategy-rpp-glb>
        </ng-container>
    </ng-container>
</ng-container>
