:host {
  .left-screen{
    position: relative;
    float: left;
    width: 75%;
    padding: 20px;
    margin-right: 15px;
  }

  .right-screen{
    float: left;
    width: 20%;
    height: 90vh;
    overflow: scroll;
  }

  ::-webkit-scrollbar {
    width: 0;
    background: transparent; /* make scrollbar transparent */
  }
}
