<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Dashboard</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


    <div class="left-screen">
        <!-- live charts -->
        <app-dashboard-chart-container></app-dashboard-chart-container>

        <!-- top table -->
        <app-dashboard-top-table-container></app-dashboard-top-table-container>
    </div>

    <div class="right-screen">
        <!-- news articles -->
        <app-dashboard-news-container></app-dashboard-news-container>
    </div>


</ion-content>
