<ion-row class="ion-justify-content-center">
	<ion-col size="12" size-md="6">
		<app-generic-list [iconTitle]="'reader'" [title]="'Transactions'"></app-generic-list>
		<app-generic-card additionalStyles="min-height: 300px">
			<app-transactions-table [transactions]="transactions"> </app-transactions-table>
		</app-generic-card>
	</ion-col>
	<ion-col class="ion-padding" size="12" size-md="6">
		<app-transactions-chart [heightPx]="360" [stTransactionSnapshots]="stTransactionSnapshots"> </app-transactions-chart>
	</ion-col>
</ion-row>
