<ion-content class="ion-padding">
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-button class="ion-float-right" color="danger" (click)="dismissModal()" fill="clear">
                    <ion-icon name="close-outline"></ion-icon>
                    Close
                </ion-button>
            </ion-col>
        </ion-row>
        <ng-container *ngIf="stockDetails$ | async as stockDetails">
            <ion-row>
                <!-- financial chart -->
                <ion-col size="12" size-md="6.5" size-xl="7.5" class="st-md-border-bottom">
                    <app-financial-chart-container
                            [showYAxis]="true"
                            [height]="350"
                            [logoUrl]="stockDetails.summary.logo_url"
                            [symbol]="chartDataIdentification.symbol"
                            [name]="chartDataIdentification.name">
                    </app-financial-chart-container>
                </ion-col>


                <ion-col size="12" size-md="5.5" size-xl="4.5" class="st-md-border-bottom">
                    <!-- summary -->
                    <app-details-summary [summary]="stockDetails.summary"></app-details-summary>
                    <!-- buttons -->
                    <div class="st-flex-space-between ion-margin-top">
                        <ion-button class="st-button st-edit-background" (click)="addSymbolToWatchlist()">
                            Add to watchlist
                        </ion-button>
                        <ion-button class="st-button st-create-background">
                            Show details
                        </ion-button>
                    </div>
                </ion-col>
            </ion-row>

            <!-- long business summary -->
            <ion-row>
                <ion-col size="12" class="st-flex-col">
                    <ion-text class="st-font-size-20 st-font-0 ion-margin-bottom">
                        {{ stockDetails.summary.longName }}
                    </ion-text>
                    <ion-text class="st-font-4-bold">
                        {{ stockDetails.summary.longBusinessSummary }}
                    </ion-text>
                </ion-col>
            </ion-row>
        </ng-container>
    </ion-grid>
</ion-content>
