<ion-content class="ion-padding">
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-button class="ion-float-right" color="danger" (click)="dismissModal()" fill="clear">
                    <ion-icon name="close-outline"></ion-icon>
                    Close
                </ion-button>
            </ion-col>
        </ion-row>
        <ng-container *ngIf="stockSummary$ | async as summary">
            <ion-row>
                <!-- financial chart -->
                <ion-col size="12" size-md="6.5" size-xl="7.5" class="st-md-border-bottom">
                    <app-financial-chart-container
                            [showYAxis]="true"
                            [logoUrl]="summary.logo_url"
                            [name]="chartDataIdentification.name"
                            [height]="350"
                            [symbol]="chartDataIdentification.symbol">
                    </app-financial-chart-container>
                </ion-col>


                <ion-col size="12" size-md="5.5" size-xl="4.5" class="st-md-border-bottom">
                    <!-- summary -->
                    <app-generic-list [iconTitle]="'barcode-outline'" [chartTitle]="'Summary'">
                        <app-details-summary [summary]="summary">
                        </app-details-summary>

                        <!-- buttons -->
                        <ion-buttons class="st-buttons-container">
                            <ion-button class="st-button st-edit-background" (click)="addSymbolToWatchlist()">
                                Add to watchlist
                            </ion-button>
                            <ion-button class="st-button st-create-background" (click)="redirectToDetails()">
                                Show details
                            </ion-button>
                        </ion-buttons>
                    </app-generic-list>
                </ion-col>
            </ion-row>

            <!-- long business summary -->
            <ion-row>
                <ion-col size="12" class="st-flex-col">
                    <app-generic-list [chartTitle]="summary.longName">
                        <ion-text class="st-font-3">
                            {{ summary.longBusinessSummary }}
                        </ion-text>
                    </app-generic-list>
                </ion-col>
            </ion-row>
        </ng-container>
    </ion-grid>
</ion-content>
