<ion-grid>
	<ion-row class="ion-justify-content-center">
		<ion-col size="12" size-lg="11" style="overflow: visible">
			<ion-list class="form-position">
				<form [formGroup]="form">
					<app-form-mat-input-wrapper inputCaption="Search group" controlName="groupName"> </app-form-mat-input-wrapper>
				</form>
			</ion-list>

			<!-- listed symbols -->
			<app-generic-card *ngFor="let group of searchedGroups$ | async">
				<app-group-top-users-information [showVisitButton]="true" (visitEmitter)="visit(group)" [groupAllData]="group">
				</app-group-top-users-information>
			</app-generic-card>
		</ion-col>
	</ion-row>
</ion-grid>
