<ion-row class="ion-justify-content-center">
    <!-- portfolio growth chart -->
    <ion-col size="12" size-md="6" size-lg="5.5" size-xl="5">
        <app-portfolio-growth-chart
                [heightPx]="260"
                [stPortfolioSnapshots]="stPortfolioSnapshots">
        </app-portfolio-growth-chart>
    </ion-col>

    <!-- portfolio change chart -->
    <ion-col size="12" size-md="6" size-lg="5.5" size-xl="5">
        <app-portfolio-change-chart
                [heightPx]="260"
                [stPortfolioSnapshots]="stPortfolioSnapshots">
        </app-portfolio-change-chart>
    </ion-col>
</ion-row>
