.negative-number{
  color: red;
  font-weight: bold;
}

.positive-number{
  color: #39B536;
  font-weight: bold;
}

.triangle-up {
  width: 0;
  height: 0;
  margin-left: 5px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #39B536;
  margin-top: -4px;
}

.triangle-down {
  width: 0;
  height: 0;
  margin-left: 5px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid red;
}
