<ion-content class="ion-padding">
    <ion-item>
        <ion-label>
            <ion-text class="st-font-1 st-font-size-16" style="margin-right: 5px">Date:</ion-text>
            <ion-text class="st-font-5 st-font-size-16">{{ selectedDate | date: 'dd.MM.YYYY' }}</ion-text>
        </ion-label>
        <ion-label class="st-flex-end st-fit-content">
            <ion-button color="danger" (click)="dismissModal()" fill="clear">
                <ion-icon name="close-outline"></ion-icon>
                Close
            </ion-button>
        </ion-label>
    </ion-item>

    <!-- data -->
    <ion-item-group class="grouped-earnings-data">
        <app-market-earnings-table
                (clickedItemEmitter)="clickedSymbol($event)"
                [earnings]="earnings$ | async"
                [clickable]="true">
        </app-market-earnings-table>
    </ion-item-group>
</ion-content>
