@import "../../../../shared/styles/button-styling";

:host{
  .fixedLabel {
    min-width: 50% !important;
    max-width: 50% !important;
  }

  ion-button{
    max-width: 200px;
  }

  ion-img{
    height: 75%;
    display: inline-block;
  }


  .stockName{
    color: #{$orange-title-medium};
    font-weight: bold;
  }

}
