<mat-card [class]="cardClasses" [style.min-width.px]="minWidth" class="relative overflow-hidden px-6 py-4">
	<!-- header -->
	<mat-card-header>
		<mat-card-title class="flex items-center gap-2">
			<div [class]="'title-dot ' + titleDotColor"></div>
			<span [class]="'st-font-size-22 c-letter-spacing ' + titleColor">{{ title }}</span>
		</mat-card-title>
	</mat-card-header>

	<!-- body -->
	<mat-card-content>
		<ng-content></ng-content>
	</mat-card-content>

	<!-- circle for fancy styling -->
	<div class="fancy-circle left-circle"></div>
	<div class="fancy-circle upper-circle"></div>
	<div class="fancy-circle lower-circle"></div>
</mat-card>
