@import '~@angular/material/theming';

// import datepicker range
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


* {
  padding: 0;
  margin: 0;
}

mat-icon {
  font-family: 'Material Icons' !important;
}

.material-icons.color_green {
  color: #00FF00;
}

.material-icons.color_white {
  color: #FFFFFF;
}

/* Modal material styling */

/*---------------------------------*/

.sector-font-color{
  transition: All 0.3s ease-out;
  color: #cdcdcd;
}

.page-content{
  /*width: calc(100% - 120px);*/
  position: relative;
  min-height: 100vh;
  background-color: #303030;
  padding: 20px;
}
