<div *ngIf="stockDetails as details" class="g-data-item-wrapper">
	<div>
		<div>Current ratio</div>
		<div>{{ details.companyOutlook.ratios?.currentRatioTTM| numberFormatter }}</div>
	</div>

	<div>
		<div>Quick ratio</div>
		<div>{{ details.companyOutlook.ratios?.quickRatioTTM| numberFormatter }}</div>
	</div>

	<div>
		<div>Short ratio</div>
		<div>{{ details.companyData?.defaultKeyStatistics?.shortRatio | numberFormatter }}</div>
	</div>

	<div>
		<div>OCF to revenue ttm.</div>
		<div>{{ details.metric?.freeOperatingCashFlowrevenueTTM | numberFormatter }}</div>
	</div>

	<div>
		<div>OCF to sales ttm.</div>
		<div>{{ details.companyOutlook.ratios?.operatingCashFlowSalesRatioTTM| numberFormatter }}</div>
	</div>

	<!-- <div>
		<div>Long term Debt/Equity</div>
		<div>{{ details.metric?.longTermDebtequityQuarterly | numberFormatter }}</div>
	</div> -->

	<div>
		<div>Debt ratio</div>
		<div>{{ details.companyOutlook.ratios?.debtRatioTTM | numberFormatter }}</div>
	</div>

	<div>
		<div>Total Debt/Equity</div>
		<div>{{ details.companyOutlook.ratios?.debtEquityRatioTTM | numberFormatter }}</div>
	</div>

	<div>
		<div>Total Debt/Capitalization</div>
		<div>{{ details.companyOutlook.ratios?.totalDebtToCapitalizationTTM | numberFormatter }}</div>
	</div>

	<div>
		<div>Cash Flow/Debt</div>
		<div>{{ details.companyOutlook.ratios?.cashFlowToDebtRatioTTM | numberFormatter }}</div>
	</div>

	<div>
		<div>Short term ratio</div>
		<div>{{ details.companyOutlook.ratios?.shortTermCoverageRatiosTTM | numberFormatter }}</div>
	</div>

	<div>
		<div>Capital expenditure ratio</div>
		<div>{{ details.companyOutlook.ratios?.capitalExpenditureCoverageRatioTTM | numberFormatter }}</div>
	</div>

	<div>
		<div>Net Income/EBIT</div>
		<div>{{ details.companyOutlook.ratios?.netIncomePerEBTTTM| numberFormatter }}</div>
	</div>

	<!-- <div>
		<div>Net fiscal year end</div>
		<div>{{ details.companyData?.defaultKeyStatistics?.nextFiscalYearEnd | numberFormatter }}</div>
	</div> -->
</div>
