<ion-list>
    <ion-item>
        <ion-label class="st-table-main-label"></ion-label>
        <ion-label *ngFor="let year of formula.historicalYears" class="st-font-0">{{ year }}</ion-label>
    </ion-item>

    <app-table-increasing-item
            name="Free cash flow"
            [data]="formula.freeCashFlows">
    </app-table-increasing-item>

    <app-table-increasing-item
            name="Net borrowings"
            [data]="formula.netBorrowings">
    </app-table-increasing-item>
</ion-list>

<ion-list>
    <ion-item-group class="st-flex-space-evenly st-small-vertical-padding">
        <ion-item>
            <ion-label>Avg. free cash flow:</ion-label>
            <ion-label class="st-data-label-end">{{ formula.avgFcf | numberFormatter  }}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Market Cap.:</ion-label>
            <ion-label
                    class="st-data-label-end">{{ formula.estimatedIntrinsicMarketCap | numberFormatter  }}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Intrinsic value:</ion-label>
            <ion-label class="st-font-0 st-data-label-end">{{ formula.estimatedIntrinsicValue | currency  }}</ion-label>
        </ion-item>
    </ion-item-group>
</ion-list>
