.grid-wrapper{
  display: grid;
  grid-auto-flow: column;
}


.un {
  color: #1A77D4;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

.un:after {
  content: '';
  width: 0;
  height: 2px;
  display: block;
  background: #bababa;
  transition: 300ms;
}

.un:hover:after {
  width: 100%;
}

.un-active:after {
  width: 100% !important;
}
