client/node_modules/
client/src/environments
client/package-lock.json

tmp/
dist/

common-interfaces/dist
common-interfaces/node_modules
common-interfaces/environments.ts
common-interfaces/package-lock.json



functions/dist
functions/package-lock.json
functions/firebase-debug.log



# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.idea
*.so
*.vscode
*node_modules*
*firebase_key*
*enviroment*

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip



