frontend/node_modules/
frontend/src/environments
frontend/package-lock.json
tmp/


# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.idea
*.so
*node_modules*
*firebase_key*

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip



