client/node_modules/
client/src/environments
tmp/
Backend/__pycache__/
Backend/venv/
Backend/resource/stock_news_data/
Backend/enviroments.py
Backend/test.py

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.idea
*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
