@import 'variables';

:host {
	.c-portfolio-chart {
		margin-top: -16px;
		margin-right: 10%;
		min-width: 170px;
		align-self: center;
		@media (max-width: #{$st-var-md-split}) {
			display: none;
		}
	}

	.c-base-information-container {
		margin-bottom: 10px;
		padding-bottom: 10px;
	}
}
