<!-- base information -->
<div class="c-base-information-container" [ngClass]="{'st-border-bottom': groupAllData.topMembers.length > 0}">
	<app-group-base-information
		(visitEmitter)="visit()"
		(acceptEmitter)="accept()"
		(deleteEmitter)="delete()"
		(declineEmitter)="decline()"
		(leaveEmitter)="leave()"
		(sendInvitationEmitter)="sendInvitation()"
		(removeInvitationEmitter)="removeInvitation()"
		[showLeaveButton]="showLeaveButton"
		[showDeleteButton]="showDeleteButton"
		[showVisitButton]="showVisitButton"
		[showAcceptButton]="showAcceptButton"
		[showDeclineButton]="showDeclineButton"
		[showSendInvitationButton]="showSendInvitationButton"
		[showRemoveInvitationButton]="showRemoveInvitationButton"
		[groupIdentification]="groupAllData"
	>
	</app-group-base-information>
</div>

<div class="st-flex" *ngIf="groupAllData.topMembers.length > 0">
	<div class="st-flex-wrap">
		<!-- list users -->
		<app-group-user-base-information *ngFor="let groupUser of groupAllData.topMembers" [groupUser]="groupUser"> </app-group-user-base-information>
	</div>
	<div class="c-portfolio-chart">
		<!-- portfolio -->
		<app-portfolio-increase-chart
			[heightPx]="200"
			[stStartedPortfoliobalance]="groupAllData.startedPortfolio.portfolioInvested + groupAllData.startedPortfolio.portfolioCash"
			[portfolioInvested]="groupAllData.portfolio.lastPortfolioSnapshot.portfolioInvested"
			[portfolioCash]="groupAllData.portfolio.lastPortfolioSnapshot.portfolioCash"
		>
		</app-portfolio-increase-chart>
	</div>
</div>
