<!-- balance sheet / cash flow / financial statement -->
<!--<ion-grid>
  <ion-row>
    <ion-col size="12" size-lg="10" offset-lg="1" size-xl="4" offset-xl="0">
      <app-details-balance-sheet-card
              [balanceSheet]="stockDetails?.balanceSheet"></app-details-balance-sheet-card>
    </ion-col>
    <ion-col size="12" size-lg="10" offset-lg="1" size-xl="4" offset-xl="0">
      <app-details-income-statement-card
              [incomeStatement]="stockDetails?.incomeStatement"></app-details-income-statement-card>
    </ion-col>
    <ion-col size="12" size-lg="10" offset-lg="1" size-xl="4" offset-xl="0">
      <app-details-cash-flow-card [cashflow]="stockDetails?.cashFlow"></app-details-cash-flow-card>
    </ion-col>
  </ion-row>
</ion-grid>-->
financials