<!-- image + info -->
<div class="st-display-flex-center">
    <div class="st-small-right-space">
        <ion-img [src]="groupIdentification.imageUrl" appDefaultImg></ion-img>
    </div>
    <div class="st-flex-col">
        <div class="st-flex ion-align-items-center" style="margin-bottom: 8px;">
            <div class="st-font-size-22 st-font-0">{{ groupIdentification.name }} </div>
        </div>
        <div>
            <ion-text class="st-font-1 st-small-right-space">Members:</ion-text>
            <ion-text>{{ groupIdentification.numberOfMembers }}</ion-text>
        </div>
        <div class="st-font-1">
            {{ groupIdentification.isPrivate ? 'Private' : 'Public' }}
        </div>
    </div>
    <div class="st-flex ion-align-items-baseline">
        <ion-buttons class="st-flex-col">
            <ion-button fill="outline" color="success" class="st-button" shape="round" (click)="accept()">
                Accept
            </ion-button>
            <ion-button fill="outline" color="danger" class="st-button" shape="round" (click)="decline()">
                Decline
            </ion-button>
        </ion-buttons>
        <ion-buttons>
            <ion-button color="warning" expand="full" fill="outline" shape="round" (click)="visit()">
                <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
                Visit
            </ion-button>
        </ion-buttons>
    </div>
</div>

<!-- buttons
<div class="st-flex-col">
    <div class="st-flex-end">
        <ion-text class="st-font-1 st-small-right-space">Duration:</ion-text>
        <ion-text>{{ groupIdentification.startDate | date: 'dd.MM.YYYY' }}
            - {{ groupIdentification.endDate | date: 'dd.MM.YYYY' }}</ion-text>
    </div>
</div>-->
