@import 'variables';

:host {
	.c-section-wrapper {
		display: flex;
		justify-content: space-between;
		flex-flow: row;
		@media (max-width: #{$st-var-lg-split}) {
			flex-flow: column;

			.c-data-section-wrapper {
				margin-bottom: 30px;
			}
		}

		@media (max-width: #{$st-var-md-split}) {
			.c-data-section-wrapper {
				margin-bottom: 0;
			}
		}
	}

	.c-group-image {
		max-width: 160px;
		max-height: 160px;
		min-width: 100px;
		min-height: 100px;
	}
	.c-watch-button {
		max-width: 160px;
		max-height: 160px;
	}

	.c-content-container {
		@media (max-width: #{$st-var-md-split}) {
			margin: auto;
		}
	}

	.c-data-section-wrapper {
		display: flex;
		justify-content: space-between;

		@media (max-width: #{$st-var-sm-split}) {
			display: block;
		}

		& > * {
			margin-right: 25px;
			padding-right: 16px;
			border-right: 1px solid;

			@media (max-width: #{$st-var-md-split}) {
				margin-right: 0;
				padding-right: 0;
				border-right: 0;
			}
		}

		:last-child {
			padding-right: 0;
			border-right: 0;
		}
	}

	ion-buttons {
		margin-top: -12px;
		display: block;
		text-align: end;
		align-items: baseline;

		@media (max-width: #{$st-var-xxl-split}) {
			display: grid;
		}

		@media (max-width: #{$st-var-md-split}) {
			margin-top: 8px;
		}

		span ion-button,
		ion-button {
			min-width: 150px;
			margin: 5px;
			@media (max-width: #{$st-var-lg-split}) {
				width: 100%;
			}
		}
	}

	.c-owner-image {
		width: 30px;
		height: 30px;
		margin-right: 8px;
	}
}
