<ion-content>
    <ion-item class="ion-margin-bottom">
        <ion-buttons slot="start">
            <ion-button color="warning"
                        [routerLink]="['/menu/stock-details/' + chartDataIdentification.symbol]"
                        (click)="dismissModal()">
                <ion-icon name="information-circle-outline" style="margin-right: 5px"></ion-icon>
                Details
            </ion-button>
        </ion-buttons>


        <ion-buttons slot="end">
            <ion-button color="danger" (click)="dismissModal()">
                <ion-icon name="close-outline"></ion-icon>
                Close
            </ion-button>
        </ion-buttons>
    </ion-item>

    <div class="financial-chart-container">
        <app-financial-chart-container
                [showYAxis]="true"
                [height]="450"
                [symbol]="chartDataIdentification.symbol"
                [name]="chartDataIdentification.name">
        </app-financial-chart-container>
    </div>
</ion-content>
