<div class="p-4 flex justify-between">
	<!-- image + name -->
	<div class="flex gap-2">
		<img appDefaultImg [src]="logoUrl" alt="symbol image" class="st-symbol-image" />
		<div class="flex flex-col">
			<span class="g-color-white hidden sm:table-cell text-lg">{{ name }}</span>
			<span class="g-color-white table-cell sm:hidden text-lg">{{ symbol }}</span>
			<span class="text-gray-500 text-base">{{ priceRangeFrom | currency }} - {{ priceRangeTo | currency }}</span>
		</div>
	</div>
	<!-- price -->
	<div class="flex flex-col">
		<span [@marketValueChange]="currentPrice" class="text-right text-lg g-color-white"> {{ currentPrice | currency }} </span>
		<app-price-compare-item [currentPrice]="currentPrice" [compareToPrice]="closedPrice" pricePosition="right"></app-price-compare-item>
	</div>
</div>

<!-- range buttons -->
<div class="st-flex-wrap">
	<button
		(click)="segmentChanged(period)"
		*ngFor="let period of HistoricalPricePeriods"
		[ngClass]="{'g-color-primary' :selectedRange === period }"
		mat-stroked-button
		class="min-w-[100px]"
	>
		{{ period }}
	</button>
</div>

<!-- chart -->
<app-loader-wrapper>
	<div *ngIf="price.length !== 0" [style.height.px]="height">
		<!-- financial chart -->
		<app-financial-chart
			(priceRangeEmitter)="savePriceRange($event)"
			*ngIf="financialChart"
			[financialChart]="true"
			[height]="height"
			[price]="price"
			[showYAxis]="showYAxis"
			[volume]="volume"
		>
		</app-financial-chart>

		<!-- normal chart -->
		<app-financial-chart
			(priceRangeEmitter)="savePriceRange($event)"
			*ngIf="!financialChart"
			[financialChart]="false"
			[height]="height"
			[price]="price"
			[showYAxis]="showYAxis"
			[volume]="volume"
		>
		</app-financial-chart>
	</div>
</app-loader-wrapper>
