<ion-item button class="ion-margin-bottom" (click)="toggleFinancialChartView()">
    <!-- title & image -->
    <ion-label class="st-display-flex-center st-fit-content">
        <ion-img *ngIf="logoUrl" [src]="logoUrl" class="st-symbol-image"></ion-img>
        <div class="st-flex-col">
            <ion-text class="st-title ion-hide-sm-down">{{ name }}</ion-text>
            <ion-text class="st-title ion-hide-sm-up">{{ symbol }}</ion-text>
            <ion-text class="st-font-4 st-font-size-13 ">
                {{ priceRangeFrom | currency }} - {{ priceRangeTo | currency }}
            </ion-text>
        </div>
    </ion-label>

    <!-- current price & price range by selector -->
    <ion-label class="ion-text-end ion-margin-end st-flex-col">
        <div class="st-flex-col" [@marketValueChange]="currentPrice">
            <!-- current price & daily change -->
            <div class="st-flex-row" style="align-self: flex-end">
                <ion-text style="margin-right: 10px" class="st-font-size-18" [@marketValueChange]="currentPrice">
                    {{ currentPrice | currency }}
                </ion-text>
                <ion-text class="st-font-size-13 st-font-5">{{ currentPrice - closedPrice | currency }}</ion-text>
            </div>
            <!-- daily % change -->
            <app-price-change-item style="place-self: flex-end"
                                   [priceChange]="(currentPrice - closedPrice) / closedPrice"
                                   [isPercent]="true">
            </app-price-change-item>
        </div>
    </ion-label>
</ion-item>

<!-- range buttons -->
<ion-segment (ionChange)="segmentChanged($event)" [value]="selectedRange">
    <ion-segment-button value="1d" layout="icon-start">
        <ion-label>1d</ion-label>
    </ion-segment-button>
    <ion-segment-button value="1mo" layout="icon-start">
        <ion-label>1mo</ion-label>
    </ion-segment-button>
    <ion-segment-button value="6mo" layout="icon-start">
        <ion-label>6mo</ion-label>
    </ion-segment-button>
    <ion-segment-button value="1y" layout="icon-start">
        <ion-label>1y</ion-label>
    </ion-segment-button>
    <ion-segment-button value="5y" layout="icon-start">
        <ion-label>5y</ion-label>
    </ion-segment-button>
    <ion-segment-button value="max" layout="icon-start">
        <ion-label>Max</ion-label>
    </ion-segment-button>
</ion-segment>

<!-- chart -->
<div [style.height.px]="height">
    <!-- financial chart -->
    <app-financial-chart
            *ngIf="financialChart"
            (priceRangeEmitter)="savePriceRange($event)"
            [financialChart]="true"
            [showYAxis]="showYAxis"
            [volume]="volume"
            [height]="height"
            [price]="price">
    </app-financial-chart>

    <!-- normal chart -->
    <app-financial-chart
            *ngIf="!financialChart"
            (priceRangeEmitter)="savePriceRange($event)"
            [financialChart]="false"
            [showYAxis]="showYAxis"
            [volume]="volume"
            [height]="height"
            [price]="price">
    </app-financial-chart>
</div>
