<ion-item class="ion-margin-bottom">
    <!-- title & image -->
    <ion-label style="display: flex">
        <ion-img [src]="logoUrl" class="st-symbol-image"></ion-img>
        <ion-title class="st-font-size-18 st-font-0">
            {{ name }}
        </ion-title>
    </ion-label>

    <!-- current price & price range by selector -->
    <ion-label class="st-font-1 ion-text-end ion-margin-end st-flex-col">
        <ion-text class="chart-title"> {{ currentPrice | currency}} </ion-text>
        <ion-text class="st-font-4 st-flex-col">{{ priceRangeFrom | currency }} - {{ priceRangeTo | currency }}
            <span [ngClass]="{
             'st-price-up': priceRangeTo - priceRangeFrom >= 0,
             'st-price-down': priceRangeTo - priceRangeFrom < 0}">
                               {{ priceRangeTo - priceRangeFrom | currency  }}
                        ({{ 100 / priceRangeFrom * priceRangeTo - 100 | number }}%)
             </span>

        </ion-text>
    </ion-label>
</ion-item>

<!-- range buttons -->
<ion-segment (ionChange)="segmentChanged($event)" [value]="selectedRange">
    <ion-segment-button value="1d" layout="icon-start">
        <ion-label>1d</ion-label>
    </ion-segment-button>
    <ion-segment-button value="1mo" layout="icon-start">
        <ion-label>1mo</ion-label>
    </ion-segment-button>
    <ion-segment-button value="6mo" layout="icon-start">
        <ion-label>6mo</ion-label>
    </ion-segment-button>
    <ion-segment-button value="1y" layout="icon-start">
        <ion-label>1y</ion-label>
    </ion-segment-button>
    <ion-segment-button value="5y" layout="icon-start">
        <ion-label>5y</ion-label>
    </ion-segment-button>
    <ion-segment-button value="max" layout="icon-start">
        <ion-label>Max</ion-label>
    </ion-segment-button>
</ion-segment>

<!-- chart -->
<div [style.height.px]="height">
    <app-financial-chart
            (priceRangeEmitter)="savePriceRange($event)"
            [showYAxis]="showYAxis"
            [volume]="volume"
            [height]="height"
            [price]="price">
    </app-financial-chart>
</div>
