<div *ngIf="stockDetails as details" class="g-data-item-wrapper">
	<div>
		<div>PE</div>
		<div>{{ details.summary.pERatioTTM| numberFormatter }}</div>
	</div>

	<div>
		<div>Forward PE</div>
		<div>{{ details.companyData?.defaultKeyStatistics?.forwardPE | numberFormatter }}</div>
	</div>

	<div>
		<div>PEG</div>
		<div>{{ details.companyData?.defaultKeyStatistics?.pegRatio| numberFormatter }}</div>
	</div>

	<div>
		<div>Price to book</div>
		<div>{{ details.companyData?.defaultKeyStatistics?.priceToBook| numberFormatter }}</div>
	</div>

	<div>
		<div>Trailing EPS</div>
		<div>{{ details.companyData?.defaultKeyStatistics?.trailingEps | numberFormatter }}</div>
	</div>

	<div>
		<div>Evaluation to FCF ttm.</div>
		<div>{{ details.metric?.currentEvfreeCashFlowTTM | numberFormatter }}</div>
	</div>

	<div>
		<div>Price to sale</div>
		<div>{{ details.metric?.psTTM | numberFormatter }}</div>
	</div>

	<div>
		<div>Enterprise to revenue</div>
		<div>{{ details.companyData?.defaultKeyStatistics?.enterpriseToRevenue | numberFormatter }}</div>
	</div>

	<div>
		<div>Enterprise to EBITDA</div>
		<div>{{ details.companyData?.defaultKeyStatistics?.enterpriseToEbitda | numberFormatter }}</div>
	</div>
</div>
