<ion-list *ngIf="stockDetails.queryStockDetails as details">
    <ion-item>
        <ion-label position="fixed" class="fixedLabel">PE</ion-label>
        <ion-label> {{ details.summary.PERatioTTM }}</ion-label>
    </ion-item>

    <ion-item>
        <ion-label position="fixed" class="fixedLabel">Forward PE</ion-label>
        <ion-label> {{ details.companyData.defaultKeyStatistics.forwardPE | numberFormatter }}</ion-label>
    </ion-item>

    <ion-item>
        <ion-label position="fixed" class="fixedLabel">PEG</ion-label>
        <ion-label> {{ details.companyData.defaultKeyStatistics.pegRatio| numberFormatter  }}</ion-label>
    </ion-item>

    <ion-item>
        <ion-label position="fixed" class="fixedLabel">Price to book</ion-label>
        <ion-label> {{ details.companyData.defaultKeyStatistics.priceToBook| numberFormatter  }}</ion-label>
    </ion-item>

    <ion-item>
        <ion-label position="fixed" class="fixedLabel">Trailing EPS</ion-label>
        <ion-label> {{ details.companyData.defaultKeyStatistics.trailingEps | numberFormatter }}</ion-label>
    </ion-item>

    <ion-item>
        <ion-label position="fixed" class="fixedLabel">CE to FCF ttm.</ion-label>
        <ion-label> {{ details.metric.currentEvfreeCashFlowTTM | number: '1.2-2'}}</ion-label>
    </ion-item>

    <ion-item>
        <ion-label position="fixed" class="fixedLabel">Price to sale</ion-label>
        <ion-label> {{ details.stats.PriceSalesttm[0] }}</ion-label>
    </ion-item>

    <ion-item>
        <ion-label position="fixed" class="fixedLabel">Enterprise to revenue</ion-label>
        <ion-label> {{ details.companyData.defaultKeyStatistics.enterpriseToRevenue | numberFormatter  }}</ion-label>
    </ion-item>

    <ion-item>
        <ion-label position="fixed" class="fixedLabel">Enterprise to EBITDA</ion-label>
        <ion-label> {{ details.companyData.defaultKeyStatistics.enterpriseToEbitda | numberFormatter   }}</ion-label>
    </ion-item>

    <ion-item>
        <ion-label position="fixed" class="fixedLabel">Price hint</ion-label>
        <ion-label> {{ details.companyData.defaultKeyStatistics.priceHint  }}</ion-label>
    </ion-item>
</ion-list>
