<ion-grid *ngIf="marketOverview$ | async as marketOverview">
    <!-- misery index -->
    <app-generic-list [title]="'Misery index'"></app-generic-list>
    <ion-row>
        <ion-col *ngFor="let data of marketOverview.misery_index" size="12" size-xs="6">
            <app-generic-chart
                    (expandEmitter)="expand(data.documentKey)"
                    [showExpandableButton]="true"
                    [showLegend]="true"
                    [showLegendLatestValue]="true"
                    [heightPx]="chartHeight"
                    [series]="[{name: data.name,  data: data.data}]">
            </app-generic-chart>
        </ion-col>
    </ion-row>

    <!-- Inflation rate -->
    <app-generic-list [title]="'Inflation rate'"></app-generic-list>
    <ion-row>
        <ion-col *ngFor="let data of marketOverview.inflation_rate" size="12" size-xs="6" size-md="3">
            <app-generic-chart
                    (expandEmitter)="expand(data.documentKey)"
                    [showExpandableButton]="true"
                    [showLegend]="true"
                    [showLegendLatestValue]="true"
                    [heightPx]="chartHeight"
                    [series]="[{name: data.name,  data: data.data}]">
            </app-generic-chart>
        </ion-col>
    </ion-row>

    <!-- Consumer price index -->
    <app-generic-list [title]="'Consumer price index'"></app-generic-list>
    <ion-row>
        <ion-col *ngFor="let data of marketOverview.consumer_price_index_states" size="12" size-xs="6" size-md="3">
            <app-generic-chart
                    (expandEmitter)="expand(data.documentKey)"
                    [showExpandableButton]="true"
                    [showLegend]="true"
                    [showLegendLatestValue]="true"
                    [heightPx]="chartHeight"
                    [series]="[{name: data.name,  data: data.data}]">
            </app-generic-chart>
        </ion-col>
    </ion-row>

    <!-- Consumer US price index -->
    <app-generic-list [title]="'Consumer US price index'"></app-generic-list>
    <ion-row>
        <ion-col *ngFor="let data of marketOverview.consumer_us_price_index" size="12" size-xs="6" size-md="3">
            <app-generic-chart
                    (expandEmitter)="expand(data.documentKey)"
                    [showExpandableButton]="true"
                    [showLegend]="true"
                    [showLegendLatestValue]="true"
                    [heightPx]="chartHeight"
                    [series]="[{name: data.name,  data: data.data}]">
            </app-generic-chart>
        </ion-col>
    </ion-row>

    <!-- Exports -->
    <app-generic-list [title]="'Exports'"></app-generic-list>
    <ion-row>
        <ion-col *ngFor="let data of marketOverview.exports" size="12" size-xs="6" size-md="3">
            <app-generic-chart
                    (expandEmitter)="expand(data.documentKey)"
                    [showExpandableButton]="true"
                    [showLegend]="true"
                    [showLegendLatestValue]="true"
                    [heightPx]="chartHeight"
                    [series]="[{name: data.name,  data: data.data}]">
            </app-generic-chart>
        </ion-col>
    </ion-row>
</ion-grid>
