@import "../../../styles/button-styling";
@import "../../../styles/general-styling";

:host{
  .search-bar-container{
    width: 75%;
    padding: 0;
  }

  .divider-space{
    font-size: 19px;
    padding-left: 15px;
    margin-left: 15px;
    border-left: 1px solid #6e6e6e;
  }

  ion-searchbar{
    --background: transparent;
    --color: #959595;
    --box-shadow: none;
    --icon-color: #6c6c6c;
    --placeholder-opacity: 0.7;
    padding: 0;
  }

  ion-item{
    --padding-start: 0;
  }



  @media (max-width: 600px) {
    .search-bar-container{
      width: 95%;
    }
    .divider-space{
      padding-left: 8px;
      margin-left: 8px;
    }
  }

}
