<ion-item style="font-weight: bold;" class="ion-margin-top ion-no-padding ion-hide-sm-down">
    <ion-label position="fixed" style="min-width: 70px; max-width: 70px;"></ion-label>
    <ion-label position="fixed" class="label-small-space">Symbol</ion-label>
    <ion-label position="fixed" class="label-small-space"> Price</ion-label>
    <ion-label position="fixed" class="label-md-space"> Daily +/-</ion-label>
    <ion-label position="fixed" class="label-md-space"> Yearly +/-</ion-label>
    <ion-label position="fixed" class="label-xl-space ion-hide-lg-down"> 52 week range</ion-label>
    <ion-label position="fixed" class="ion-hide-sm-down">PE ratio</ion-label>
    <ion-label position="fixed" class="ion-hide-md-down label-xl-space">Recommendation</ion-label>
</ion-item>

