<!-- my groups -->
<app-generic-card *ngIf="groups.groupOwner.length > 0"
                  [additionalClasses]="'ion-margin-bottom'"
                  [chartTitle]="'My groups'">
    <ion-item-group>
        <ion-item *ngFor="let group of groups.groupOwner"
                  (click)="clickedGroup(group)"
                  class="st-font-4 ion-activatable"
                  [ngClass]="{'st-icon': activeGroup === group.groupId}">
            <ion-label>
                {{ group.name }}
            </ion-label>
        </ion-item>
    </ion-item-group>
</app-generic-card>


<!-- member groups -->
<app-generic-card *ngIf="groups.groupMember.length > 0"
                  [additionalClasses]="'ion-margin-bottom'"
                  [chartTitle]="'Member of'">
    <ion-item-group>
        <ion-item *ngFor="let group of groups.groupMember"
                  (click)="clickedGroup(group)"
                  class="st-font-4 ion-activatable "
                  [ngClass]="{'st-icon': activeGroup === group.groupId}">
            <ion-label>
                {{ group.name }}
            </ion-label>
        </ion-item>
    </ion-item-group>
</app-generic-card>

<!-- invitation sent groups -->
<app-generic-card *ngIf="groups.groupInvitationSent.length > 0"
                  [additionalClasses]="'ion-margin-bottom'"
                  [chartTitle]="'Invitation sent'">
    <ion-item-group>
        <ion-item *ngFor="let group of groups.groupInvitationSent"
                  (click)="clickedGroup(group)"
                  class="st-font-4 ion-activatable"
                  [ngClass]="{'st-icon': activeGroup === group.groupId}">
            <ion-label>
                {{ group.name }}
            </ion-label>
        </ion-item>
    </ion-item-group>
</app-generic-card>

<!-- invitation received groups -->
<app-generic-card *ngIf="groups.groupInvitationReceived.length > 0"
                  [additionalClasses]="'ion-margin-bottom'"
                  [chartTitle]="'Invitation received'">
    <ion-item-group>
        <ion-item *ngFor="let group of groups.groupInvitationReceived"
                  (click)="clickedGroup(group)"
                  class="st-font-4 ion-activatable"
                  [ngClass]="{'st-icon': activeGroup === group.groupId}">
            <ion-label>
                {{ group.name }}
            </ion-label>
        </ion-item>
    </ion-item-group>
</app-generic-card>
