:host{
  .title-container{
    display: inline-flex;
  }
  .title{
    font-size: 28px;
    align-self: center;
  }

  ion-img{
    height: 35px;
    width: 35px;
    float: left;
    margin-right: 10px;
  }
}
