@import "./custom-variable";



.price-up{
  color: #{$price-up};
}

.price-down{
  color: #{$price-down};
}

.positive-button{
  color: #{$price-up};
  &:hover {
    color: #{$price-up-lighter};
  }
}

.negative-button{
  color: #{$price-down};
  &:hover {
    color: #{$price-down-lighter};
  }
}

.orange-button{
  color: #{$orange-title-medium} !important;
  &:hover {
    color: #{$orange-title-light} !important;
  }
}

.clickable{
  transition: All 0.3s ease-out;
  cursor: pointer;
  &:hover{
    transform: scale(0.90);
  }
}
