// red
$price-down: '#ae0404';
$price-down-lighter: '#fe0505';

// green
$price-up: '#038A00';
$price-up-lighter: '#05cb01';

// orange
$orange-title-light: '#e6a310';
$orange-title-medium: '#b4800e';
$orange-title-dark: '#835e0d';

// grey
$default-word: '#8f8f8f'; // 979797

// blue
$background-blue: '#05052f';
