::ng-deep .custom-tooltip {
  background-color: #818181;
  font-size: 16px;
  padding: 7px;
}

::ng-deep .custom-tooltip-absolute-right-top {
  background-color: #818181;
  font-size: 16px;
  padding: 7px;
  position: absolute;
  right: 100px;
  top: 80px;
}
