<ion-grid>
    <ion-item>
        <ion-label class="fs-title-2">
            Treasury yield curve rates
        </ion-label>
    </ion-item>
    <ion-row>
        <!-- Treasury yield -->
        <ion-col size="12" class="clickable-card" (click)="showTreasuryYieldCurveRates()">
            <ng-container *ngIf="treasuryYieldCurveRates$ | async as data">
                <app-generic-chart
                        [chartTitle]="'Treasury yield curve rates'"
                        [heightPx]="chartHeight"
                        [showLegend]="true"
                        [chartType]="ChartType.line"
                        [series]="[
                          {name: '6 months', data: data['6_MO']},
                          {name: '1 year', data: data['1_YR']},
                          {name: '5 years', data: data['5_YR']},
                          {name: '10 years', data: data['10_YR']},
                          {name: '20 years', data: data['20_YR']},
                          {name: '30 years', data: data['30_YR']}
                        ]">
                </app-generic-chart>
            </ng-container>
        </ion-col>
    </ion-row>

    <ion-item>
        <ion-label class="fs-title-2">
            Economic outlook
        </ion-label>
    </ion-item>
    <ion-row>
        <!-- investor sentiment -->
        <ion-col size="12" size-md="6" class="clickable-card" (click)="showInvestorSentiment()">
            <ng-container *ngIf="investorSentimentData$ | async as data">
                <app-generic-chart
                        [chartTitle]="'Investor sentiment'"
                        [heightPx]="chartHeight"
                        [showLegend]="true"
                        [chartType]="ChartType.line"
                        [series]="[
                          {name: 'Bullish', data: data.Bullish},
                          {name: 'Neutral', data: data.Neutral},
                          {name: 'Bearish', data: data.Bearish}
                        ]">
                </app-generic-chart>
            </ng-container>
        </ion-col>
        <!-- misery index -->
        <ion-col size="12" size-md="6" class="clickable-card" (click)="showMiseryIndex()">
            <ng-container *ngIf="miseryIndex$ | async as data">
                <app-generic-chart
                        [chartTitle]="'Misery index'"
                        [heightPx]="chartHeight"
                        [showLegend]="true"
                        [chartType]="ChartType.line"
                        [series]="[
                          {name: 'Unemployment rate', data: data.Unemployment_Rate},
                          {name: 'Inflation rate', data: data.Inflation_Rate},
                          {name: 'Misery index', data: data.Misery_Index}
                        ]">
                </app-generic-chart>
            </ng-container>
        </ion-col>

    </ion-row>


    <!-- employment data -->
    <ion-item>
        <ion-label class="fs-title-2">
            Employment
        </ion-label>
    </ion-item>

    <ion-row>
        <ng-container *ngIf="employmentData$ | async as data">
            <ion-col size="12" size-lg="3" size-sm="6" class="clickable-card" (click)="showGovernmentIndustry()">
                <app-generic-chart
                        [chartTitle]="'Government industry'"
                        [heightPx]="175"
                        [chartType]="ChartType.area"
                        [series]="[ {name: 'Government', data: data.governmentIndustry.chartData} ]">
                </app-generic-chart>
            </ion-col>

            <ion-col size="12" size-lg="3" size-sm="6" class="clickable-card" (click)="showPrivateIndustry()">
                <app-generic-chart
                        [chartTitle]="'Private industry'"
                        [heightPx]="175"
                        [chartType]="ChartType.area"
                        [series]="[ {name: 'Private', data: data.privateIndustry.chartData}  ]">
                </app-generic-chart>
            </ion-col>

            <ion-col size="12" size-lg="3" size-sm="6" class="clickable-card" (click)="showServiceProvidingIndustry()">
                <app-generic-chart
                        [chartTitle]="'Service providing industry'"
                        [heightPx]="175"
                        [chartType]="ChartType.area"
                        [series]="[ {name: 'Service providers', data: data.serviceProvidingIndustry.chartData} ]">
                </app-generic-chart>
            </ion-col>

            <ion-col size="12" size-lg="3" size-sm="6" class="clickable-card" (click)="showGoodsProducingIndustry()">
                <app-generic-chart
                        [chartTitle]="'Goods producing industry'"
                        [heightPx]="175"
                        [chartType]="ChartType.area"
                        [series]="[ {name: 'Goods producers', data: data.goodProducingIndustry.chartData} ]">
                </app-generic-chart>
            </ion-col>

        </ng-container>
    </ion-row>

</ion-grid>
