<!-- Group create button -->
<ion-toolbar slot="end">
	<ion-button (click)="createGroup()" class="ion-float-right" fill="outline" color="primary" shape="round">Create group</ion-button>
</ion-toolbar>

<ng-container *ngIf="user$ | async as user">
	<!-- My groups -->
	<ion-list-header>
		<ion-label class="st-font-size-18 st-font-0"> My groups </ion-label>
	</ion-list-header>

	<ng-container *ngIf="user.groups.groupOwner.length > 0 || user.groups.groupMember.length > 0; else showNoGroupsMessage">
		<!-- owner of groups -->
		<app-generic-card *ngFor="let group of user.groups.groupOwner">
			<app-group-top-users-information
				[groupAllData]="group"
				[showVisitButton]="true"
				(visitEmitter)="visitGroup(group)"
			></app-group-top-users-information>
		</app-generic-card>

		<!-- member fo groups -->
		<app-generic-card *ngFor="let group of user.groups.groupMember">
			<app-group-top-users-information
				[groupAllData]="group"
				[showVisitButton]="true"
				(visitEmitter)="visitGroup(group)"
			></app-group-top-users-information>
		</app-generic-card>
	</ng-container>

	<ng-template #showNoGroupsMessage>
		<div class="st-empty-table">You are not part of ony group or have not created your own</div>
	</ng-template>

	<!-- Invitations -->

	<ng-container *ngIf="user.groups.groupInvitationReceived.length > 0 || user.groups.groupInvitationSent.length > 0">
		<ion-list-header>
			<ion-label class="st-font-size-18 st-font-0"> Invitations </ion-label>
		</ion-list-header>

		<!-- Received invitations -->
		<app-generic-card *ngFor="let group of user.groups.groupInvitationReceived">
			<app-group-top-users-information
				[groupAllData]="group"
				[showVisitButton]="true"
				[showAcceptButton]="true"
				[showDeclineButton]="true"
				(visitEmitter)="visitGroup(group)"
				(acceptEmitter)="acceptInvitation(group)"
				(declineEmitter)="declineInvitation(group)"
			>
			</app-group-top-users-information>
		</app-generic-card>

		<!-- Sent invitations -->
		<app-generic-card *ngFor="let group of user.groups.groupInvitationSent">
			<app-group-top-users-information
				[groupAllData]="group"
				[showVisitButton]="true"
				[showDeclineButton]="true"
				(visitEmitter)="visitGroup(group)"
				(declineEmitter)="declineInvitation(group)"
			>
			</app-group-top-users-information>
		</app-generic-card>
	</ng-container>
</ng-container>
