<ion-content class="ion-padding">
	<!-- menu page header -->
	<app-menu-header></app-menu-header>

	<!-- header -->
	<app-header pageIcon="grid" pageName="Dashboard"></app-header>

	<ion-grid>
		<ion-row class="ion-justify-content-center">
			<ion-col size="12" size-lg="11" size-xl="10" style="overflow: visible">
				<!-- portfolio state -->
				<ion-row class="ion-justify-content-center">
					<ion-col size="12">
						<app-portfolio-state [portfolioCash]="user.portfolio.portfolioCash" [portfolioInvested]="portfolioInvested"> </app-portfolio-state>
					</ion-col>
				</ion-row>

				<!-- portfolio change  weekly / monthly etc. -->
				<app-dashboard-portfolio-change
					[lastPortfolioIncreaseNumber]="user.portfolio.lastPortfolioIncreaseNumber"
					[portfolioCash]="user.portfolio.portfolioCash"
					[portfolioInvested]="portfolioInvested"
					[stPortfolioSnapshots]="user.userHistoricalData.portfolioSnapshots"
				></app-dashboard-portfolio-change>

				<!-- portfolio change charts -->
				<app-dashboard-portfolio-charts [stPortfolioSnapshots]="user.userHistoricalData.portfolioSnapshots"></app-dashboard-portfolio-charts>

				<!-- holdings table -->
				<ion-row class="ion-justify-content-center">
					<ion-col size="12">
						<app-generic-list [iconTitle]="'pricetags'" [title]="'Holdings'"></app-generic-list>
						<app-generic-card>
							<app-holdings-table
								(itemClickedEmitter)="showSummary($event)"
								[holdings]="clonedHoldings"
								[totalPortfolio]="portfolioInvested + user.portfolio.portfolioCash"
							>
							</app-holdings-table>
						</app-generic-card>
					</ion-col>
				</ion-row>

				<!-- holdings pie charts -->
				<app-dashboard-allocation-charts
					[portfolioInvested]="portfolioInvested"
					[portfolioCash]="user.portfolio.portfolioCash"
					[holdings]="user.holdings"
				></app-dashboard-allocation-charts>

				<!-- transactions table -->
				<app-generic-list [iconTitle]="'reader'" [title]="'Transactions'"></app-generic-list>
				<ion-row>
					<ion-col size="12" size-md="5.9">
						<app-generic-card title="Last transactions" additionalStyles="height: 100%; min-height: 300px">
							<app-transactions-table [transactions]="user.transactionsSnippets | slice:0:10"> </app-transactions-table>
						</app-generic-card>
					</ion-col>
					<ion-col size="12" size-md="5.9" push-md="0.2">
						<app-generic-card title="Top transactions" additionalStyles="height: 100%; min-height: 300px">
							<app-transactions-table [transactions]="user.topTransactions| slice:0:10"> </app-transactions-table>
						</app-generic-card>
					</ion-col>
				</ion-row>

				<!-- transaction summary -->
				<div class="ion-padding ion-margin-top">
					<app-transactions-summary [portfolioWrapper]="user.portfolio"></app-transactions-summary>
				</div>

				<!-- transactions chart -->
				<ion-row>
					<ion-col class="ion-padding" size="12">
						<app-transactions-chart [heightPx]="transactionHeight" [stTransactionSnapshots]="user.userHistoricalData.transactionSnapshots">
						</app-transactions-chart>
					</ion-col>
				</ion-row>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
