<ion-card>
    <ion-card-header>
        <ion-card-title class="ion-text-center ion-padding-start ion-padding-top">
            Revenue growth estimation
        </ion-card-title>
    </ion-card-header>

    <ion-card-content>
        <ng-container *ngIf="revenueEst">

            <!-- current quarter -->
            <app-fixed-range-slider-with-time
                    [growthPercent]="revenueEst.currentQuarter.growthPercent"
                    [timeEstimation]="revenueEst.currentQuarter.timeEstimation"
                    [yearAgo]="revenueEst.currentQuarter.yearAgo"
                    [min]="revenueEst.currentQuarter.low"
                    [max]="revenueEst.currentQuarter.high"
                    [value]="revenueEst.currentQuarter.average"
                    [maxDisplayName]="revenueEst.currentQuarter.high_string"
                    [minDisplayName]="revenueEst.currentQuarter.low_string"
                    [valueDisplayName]="revenueEst.currentQuarter.average_string">
            </app-fixed-range-slider-with-time>

            <!-- current year -->
            <app-fixed-range-slider-with-time
                    [growthPercent]="revenueEst.currentYear.growthPercent"
                    [timeEstimation]="revenueEst.currentYear.timeEstimation"
                    [yearAgo]="revenueEst.currentYear.yearAgo"
                    [min]="revenueEst.currentYear.low"
                    [max]="revenueEst.currentYear.high"
                    [value]="revenueEst.currentYear.average"
                    [maxDisplayName]="revenueEst.currentYear.high_string"
                    [minDisplayName]="revenueEst.currentYear.low_string"
                    [valueDisplayName]="revenueEst.currentYear.average_string">
            </app-fixed-range-slider-with-time>

            <!-- Next quarter -->
            <app-fixed-range-slider-with-time
                    [growthPercent]="revenueEst.nextQuarter.growthPercent"
                    [timeEstimation]="revenueEst.nextQuarter.timeEstimation"
                    [yearAgo]="revenueEst.nextQuarter.yearAgo"
                    [min]="revenueEst.nextQuarter.low"
                    [max]="revenueEst.nextQuarter.high"
                    [value]="revenueEst.nextQuarter.average"
                    [maxDisplayName]="revenueEst.nextQuarter.high_string"
                    [minDisplayName]="revenueEst.nextQuarter.low_string"
                    [valueDisplayName]="revenueEst.nextQuarter.average_string">
            </app-fixed-range-slider-with-time>

            <!-- Next year -->
            <app-fixed-range-slider-with-time
                    [growthPercent]="revenueEst.nextYear.growthPercent"
                    [timeEstimation]="revenueEst.nextYear.timeEstimation"
                    [yearAgo]="revenueEst.nextYear.yearAgo"
                    [min]="revenueEst.nextYear.low"
                    [max]="revenueEst.nextYear.high"
                    [value]="revenueEst.nextYear.average"
                    [maxDisplayName]="revenueEst.nextYear.high_string"
                    [minDisplayName]="revenueEst.nextYear.low_string"
                    [valueDisplayName]="revenueEst.nextYear.average_string">
            </app-fixed-range-slider-with-time>

        </ng-container>
    </ion-card-content>
</ion-card>
