@import "../../../../shared/styles/modal.ionic";
@import "../../../../shared/styles/priceColors";
@import "../../../../shared/styles/tooltip";


:host {

  .watchlist-name-container {
    margin: auto;
    text-align: center;
    display: block;
    transition: All 0.3s ease-out;
    border-bottom: 1px solid #474747;
    font-size: 20px;

    &:hover {
      font-size: 23px;
      background-color: #060a38;
      box-shadow: 6px 6px 5px 0px rgb(29 29 29 / 75%);
      border-radius: 15px;
    }
  }

  .fixedLabel{
    min-width: 80%;
    max-width: 80%
  }


  .submit-deny-buttons {
    font-size: 35px !important;
    margin-right: 8px;
  }
}



