<div class="container">

    <div class="chart-info">
        <div class="item">
            <app-stock-price-card
                    [name]="name"
                    [price]="currentPrice">
            </app-stock-price-card>
        </div>
        <div class="item">
            <app-stock-price-range-card
                    [priceRangeFirst]="priceRange?.priceRangeFirst"
                    [priceRangeLast]="priceRange?.priceRangeLast">
            </app-stock-price-range-card>
        </div>
    </div>

    <!-- SP 500 chart -->
    <div class="chart">
        <app-financial-chart
            #myChart
            (selectedPeriodEmitter)="loadChartData($event)"
            (priceRangeEmitter)="changePriceRange($event)"
            [price]="price"
            [volume]="volume">
        </app-financial-chart>
    </div>


</div>
