<ion-list>
	<!-- table header -->
	<ion-item class="st-font-1-bold">
		<ion-label class="ion-margin-end">Name</ion-label>
		<ion-label>Value</ion-label>
		<ion-label>Held shares</ion-label>
		<ion-label *ngIf="holders.length > 0 && $any(holders[0])?.weightPercent" class="ion-hide-sm-down"> Weight </ion-label>
		<ion-label class="ion-hide-sm-down">Change</ion-label>
	</ion-item>

	<!-- body -->
	<ion-item *ngFor="let holder of holders" class="st-data-item-wrapper">
		<ion-label class="ion-margin-end st-font-5">{{ holder.holder }}</ion-label>
		<ion-label>{{ holder.shares * currentSharePrice | numberFormatter}}</ion-label>
		<ion-label>{{ holder.shares | numberFormatter }}</ion-label>
		<ion-label *ngIf="showWeight" class="ion-hide-sm-down"> {{ $any(holder)?.weightPercent }}% </ion-label>
		<ion-label class="ion-hide-sm-down">
			<app-position-change-item *ngIf="holder.change" [applyNumberFormatter]="true" [increaseBy]="holder.change"> </app-position-change-item>
		</ion-label>
	</ion-item>

	<!-- sum up % held -->
	<ion-item *ngIf="currentSharePrice && outstandingShares" style="margin-top: 8px">
		<ion-label>
			<ion-text class="st-font-5">Held together:</ion-text>
			{{ (1 / outstandingShares * (holders | sumUp:'shares')) | percent: '1.2'}} (${{ (holders | sumUp: 'shares') * currentSharePrice |
			numberFormatter}})
		</ion-label>
	</ion-item>
</ion-list>
