<table mat-table [dataSource]="dataSource" class="w-full">
	<!-- name -->
	<ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef>Name</th>
		<td mat-cell *matCellDef="let row" class="text-gray-200">{{ row.holder }}</td>
	</ng-container>

	<!-- value -->
	<ng-container matColumnDef="value">
		<th mat-header-cell *matHeaderCellDef>Value</th>
		<td mat-cell *matCellDef="let row">{{ row.shares * currentSharePrice | numberFormatter}}</td>
	</ng-container>

	<!-- Held shares -->
	<ng-container matColumnDef="heldShares">
		<th mat-header-cell *matHeaderCellDef>Shares</th>
		<td mat-cell *matCellDef="let row">{{ row.shares | numberFormatter }}</td>
	</ng-container>

	<!-- Weight -->
	<ng-container matColumnDef="weight">
		<th mat-header-cell *matHeaderCellDef class="hidden md:table-cell">Weight</th>
		<td mat-cell *matCellDef="let row" class="hidden md:table-cell">{{ $any(row)?.weightPercent }}%</td>
	</ng-container>

	<!-- change -->
	<ng-container matColumnDef="change">
		<th mat-header-cell *matHeaderCellDef class="hidden sm:table-cell">Change</th>
		<td mat-cell *matCellDef="let row" class="hidden sm:table-cell">
			<app-position-change-item *ngIf="row.change" [applyNumberFormatter]="true" [increaseBy]="row.change"> </app-position-change-item>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

	<!-- Row shown when there is no matching data. -->
	<tr class="mat-row" *matNoDataRow>
		<td class="mat-cell" colspan="10">
			<app-list-skeleton [itemLength]="10"></app-list-skeleton>
		</td>
	</tr>
</table>

<div *ngIf="currentSharePrice && outstandingShares" class="flex gap-2 mt-4 text-gray-400">
	<span>Held together:</span>
	<span>
		{{ (1 / outstandingShares * (holders | sumUp:'shares')) | percent: '1.2'}} (${{ (holders | sumUp: 'shares') * currentSharePrice |
		numberFormatter}})</span
	>
</div>
