<!-- search container -->
<ion-list class="ion-margin-vertical">
    <app-stock-search
            (clickedSymbolEmitter)="showSymbolInformation($event)"
            [clearOnClick]="true">
    </app-stock-search>
</ion-list>

<!-- stock data -->
<ion-grid *ngIf="selectedSummary">
    <ion-row>
        <ion-col size="12" size-lg="6" size-xl="7.5">
            <!-- financial chart -->
            <app-financial-chart-container
                    [closedPrice]="selectedSummary.previousClose"
                    [currentPrice]="selectedSummary.marketPrice"
                    [height]="545"
                    [logoUrl]="selectedSummary.logo_url"
                    [name]="selectedSummary.companyName"
                    [symbol]="selectedSummary.symbol">
            </app-financial-chart-container>
        </ion-col>

        <ion-col size="12" size-lg="6" size-xl="4.5">
            <!-- summary -->
            <app-generic-list [iconTitle]="'barcode-outline'"
                              [title]="'Summary: ' + selectedSummary.symbol"></app-generic-list>
            <app-generic-card>
                <app-stock-summary-container [summary]="selectedSummary"></app-stock-summary-container>

                <!-- buttons -->
                <ion-buttons class="st-buttons-container">
                    <ion-button (click)="addSymbolToWatchlist()" class="st-button" color="warning" fill="solid">
                        Add to watchlist
                    </ion-button>
                    <ion-button (click)="redirectToDetails()" class="st-button" color="primary" fill="solid">
                        Show details
                    </ion-button>
                </ion-buttons>
            </app-generic-card>
        </ion-col>
    </ion-row>

    <!-- long business summary -->
    <ion-row>
        <ion-col size="12">
            <app-generic-list [title]="'Company summary'"></app-generic-list>
            <app-generic-card>
                <ion-text class="st-font-3">
                    {{ selectedSummary.longBusinessSummary }}
                </ion-text>
            </app-generic-card>
        </ion-col>
    </ion-row>
</ion-grid>
