<!-- small screen -->
<ion-card *ngIf="article" [href]="article.url" target="_blank" rel="noopener noreferrer">
    <ion-card-content>
        <!-- source info -->
        <div class="overlay upper-overlay">
            <ion-text class="st-display-flex-center">
                <ion-icon name="globe-outline" class="ion-margin-end"></ion-icon>
                {{ article.sourceName }} {{ article.datetime * 1000 | relativeTime }}
            </ion-text>
        </div>
        <!-- image -->
        <ion-img [src]="article.image" appDefaultImg></ion-img>

        <!-- news title -->
        <div class="overlay bottom-overlay">
            {{ article.headline | slice: 0: 100}}<span *ngIf="article.headline.length > 100">...</span>
        </div>

    </ion-card-content>
</ion-card>
