<button mat-icon-button *ngIf="showExpandableButton" class="g-color-secondary expand-icon" (click)="expand()" matTooltip="Expand chart">
	<mat-icon>open_with</mat-icon>
</button>

<!--  [constructorType]=" showTimelineSlider ? 'stockChart' :'' " -->
<highcharts-chart
	[Highcharts]="Highcharts"
	[options]="chartOptions"
	[callbackFunction]="chartCallback"
	[(update)]="updateFromInput"
	[oneToOne]="true"
	[style]="'width: 100%; display: block;' + additionalStyle"
	[style.height.px]="heightPx"
>
</highcharts-chart>
