<ion-content class="st-modal-background">
  <ion-item class="ion-margin-bottom">
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="dismissModal()">
        <ion-icon name="close-outline"></ion-icon>
        Close
      </ion-button>
    </ion-buttons>
  </ion-item>

  <!-- content -->
  <ion-row class="content-padding">
    <ion-col size="2.5" class="ion-hide-md-down" style="text-align-last: center;">
      <app-group-types-list></app-group-types-list>
    </ion-col>
    <ion-col size="9" size-md="5.5">
    asdasdas
    </ion-col>
    <ion-col size="3" size-md="4">

    </ion-col>
  </ion-row>

</ion-content>
