<div class="st-full-width-sub-elements st-border-bottom c-wrapper">
	<h2 class="c-header">
		<mat-icon class="st-icon"> currency_exchange </mat-icon>
		Portfolio change
	</h2>
	<div class="c-flex-wrap">
		<app-portfolio-change
			*ngFor="let tradingChange of tradingChangeWrapper"
			[tradingChangeWrapper]="tradingChange"
			[balance]="portfolioCash + portfolioInvested"
			class="st-width-full-sm-screen"
		>
		</app-portfolio-change>
	</div>
</div>

<!-- portfolio risk -->
<div class="st-full-width-sub-elements st-border-bottom-with-space c-wrapper">
	<h2 class="c-header">
		<mat-icon class="st-icon"> plagiarism </mat-icon>
		Portfolio risk
	</h2>
	<div class="c-flex-wrap">
		<!-- alpha -->
		<div class="st-flex-space-between-sm-down st-padding">
			<div class="st-font-size-20 st-letter-spacing-1 st-font-2">Alpha</div>
			<div class="st-font-size-20 st-font-white">
				{{stPortfolioRiskCalculations ? (stPortfolioRiskCalculations.portfolioAlpha | percent: '1.2-2') : 'N/A'}}
			</div>
		</div>

		<!-- beta -->
		<div class="st-flex-space-between-sm-down st-padding">
			<div class="st-font-size-20 st-letter-spacing-1 st-font-2">Beta</div>
			<div class="st-font-size-20 st-font-white">
				{{stPortfolioRiskCalculations ? (stPortfolioRiskCalculations.portfolioBeta | number: '1.2-2') : 'N/A'}}
			</div>
		</div>

		<!-- Sharp ratio -->
		<div class="st-flex-space-between-sm-down st-padding">
			<div class="st-font-size-20 st-letter-spacing-1 st-font-2">Sharp ratio</div>
			<div class="st-font-size-20 st-font-white">
				{{stPortfolioRiskCalculations ? (stPortfolioRiskCalculations.portfolioSharpRatio | number: '1.2-2') : 'N/A'}}
			</div>
		</div>

		<!-- Volatility -->
		<div class="st-flex-space-between-sm-down st-padding">
			<div class="st-font-size-20 st-letter-spacing-1 st-font-2">Volatility</div>
			<div class="st-font-size-20 st-font-white">
				{{stPortfolioRiskCalculations ? (stPortfolioRiskCalculations.portfolioAnnualVolatilityPrct | percent: '1.2-2') : 'N/A'}}
			</div>
		</div>
	</div>
</div>
