@import 'variables';

:host {
	.c-wrapper {
		display: flex;
		justify-content: space-around;

		@media (max-width: #{$st-var-md-split}) {
			flex-flow: column;
			gap: 16px;
		}
	}

	.c-wrapper-item {
		display: flex;
		flex-flow: column;
		@media (max-width: #{$st-var-md-split}) {
			flex-flow: row;
			justify-content: space-between;
		}
	}
}
