<app-loader-wrapper>
	<div *ngIf="hallOfFameGroups$ | async as hallOfFameGroups" class="grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-4 gap-y-6 gap-x-4">
		<app-group-display
			title="Worst daily gainers"
			portfolioChangeKey="day_1_change"
			[groups]="hallOfFameGroups.wortGainers.day_1_change_prct"
			[colorIndex]="0"
		></app-group-display>
		<app-group-display
			title="Worst 1 week gainers"
			portfolioChangeKey="week_1_change"
			[groups]="hallOfFameGroups.wortGainers.week_1_change_prct"
			[colorIndex]="1"
		></app-group-display>
		<app-group-display
			title="Worst 2 week gainers"
			portfolioChangeKey="week_2_change"
			[groups]="hallOfFameGroups.wortGainers.week_2_change_prct"
			[colorIndex]="2"
		></app-group-display>
		<app-group-display
			title="Worst 3 week gainers"
			portfolioChangeKey="week_3_change"
			[groups]="hallOfFameGroups.wortGainers.week_3_change_prct"
			[colorIndex]="3"
		></app-group-display>
		<app-group-display
			title="Worst 1 month gainers"
			portfolioChangeKey="month_1_change"
			[groups]="hallOfFameGroups.wortGainers.month_1_change_prct"
			[colorIndex]="4"
		></app-group-display>
		<app-group-display
			title="Worst 2 month gainers"
			portfolioChangeKey="month_2_change"
			[groups]="hallOfFameGroups.wortGainers.month_2_change_prct"
			[colorIndex]="5"
		></app-group-display>
		<app-group-display
			title="Worst 3 month gainers"
			portfolioChangeKey="month_3_change"
			[groups]="hallOfFameGroups.wortGainers.month_3_change_prct"
			[colorIndex]="6"
		></app-group-display>
	</div>
</app-loader-wrapper>
