<div class="flex items-center gap-2">
	<mat-icon class="st-icon">auto_graph</mat-icon>
	<span class="text-white text-2xl">Top highest portfolio groups</span>
</div>
<h3 class="g-color-secondary text-lg">Application total groups: {{ (hallOfFameGroups$ | async)?.total }}</h3>

<!-- highest portfolio -->
<app-loader-wrapper>
	<div *ngIf="hallOfFameGroups$ | async as hallOfFameGroup" class="flex flex-col sm:flex-row sm:flex-wrap gap-3 st-border-bottom-with-space">
		<app-position-card
			*ngFor="let group of hallOfFameGroup.highestPortfolio; let i = index"
			class="flex-1"
			[positionNumber]="i + 1"
			[isButton]="false"
		>
			<app-group-top-users-information
				[groupAllData]="group"
				[showVisitButton]="true"
				(visitEmitter)="visitGroup(group)"
			></app-group-top-users-information>
		</app-position-card>
	</div>
</app-loader-wrapper>

<div class="flex flex-col md:flex-row justify-between">
	<div>
		<div class="flex items-center gap-2">
			<mat-icon class="st-icon">supervised_user_circle</mat-icon>
			<span class="text-white text-2xl">Top Groups</span>
		</div>
		<h3 class="g-color-secondary text-lg mb-0">Groups who achieved high percentage increase or observed substantial portfolio decrease</h3>
		<h3 class="g-color-secondary text-lg">Last evaluation date: {{ (hallOfFameGroups$ | async)?.lastUpdateDate | date: 'dd.MM.YYYY' }}</h3>
	</div>
</div>

<!-- best & worst groups sub pages -->
<app-loader-wrapper>
	<ng-container *ngIf="hallOfFameGroups$ | async as hallOfFameGroups">
		<app-hall-of-fame-groups-best [hallOfFameGroups]="hallOfFameGroups"></app-hall-of-fame-groups-best>

		<!-- divider -->
		<div class="my-8">
			<mat-divider></mat-divider>
		</div>

		<app-hall-of-fame-groups-worst [hallOfFameGroups]="hallOfFameGroups"></app-hall-of-fame-groups-worst>
	</ng-container>
</app-loader-wrapper>
