<div class="c-wrapper g-color-secondary">
	<span class="ml-2">Credits: Eduard Krivanek</span>
	<div class="flex items-center gap-3 my-1">
		<!-- linkedin -->
		<a href="https://www.linkedin.com/in/eduard-krivanek-714760148/" target="_blank">
			<img src="assets/linkedin3.svg" href="#" target="_blank" />
		</a>

		<!-- fb -->
		<a href="https://www.facebook.com/eduard.krivanek/" target="_blank">
			<img src="assets/fb.svg" />
		</a>

		<!-- github -->
		<a href="https://github.com/krivanek06/stock_tracker" target="_blank">
			<img src="assets/github.svg" class="github" />
		</a>
	</div>
</div>
