:host {
  .page-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgb(0, 3, 32) 0%, rgb(0, 8, 62) 100%);
  }

  .authentication-container {
    width: 50%;
    align-self: center;
    @media (max-width: 650px) {
      width: 100%;
    }
  }


  .loader {
    cursor: pointer;
    position: relative;
    width: 200px;
    height: 200px;
    border: 5px solid #070b2b;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.1),
    10px 10px 10px rgba(0, 0, 0, 0.4),
    inset -5px -5px 5px rgba(255, 255, 255, 0.2),
    inset 10px 10px 10px rgba(0, 0, 0, 0.4);
    transition: All 0.3s ease-out;

    &:before {
      content: "";
      position: absolute;
      top: 25px;
      left: 25px;
      right: 25px;
      bottom: 25px;
      z-index: 10;
      background: #070b2b;
      border-radius: 50%;
      border: 2px solid #240229;
      box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.2),
      inset 3px 3px 5px rgba(0, 0, 0, 0.5);
    }

    &:hover {
      border: 14px solid #000633;
    }

    &:hover span {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-image: linear-gradient(
                      -225deg,
                      #ff7402 0%,
                      #ff1288 50%,
                      #070b2b 100%
      );

      filter: blur(20px);
      z-index: 1;
      animation: animate 0.5s linear infinite;
    }

    .loader-text {
      color: #d9d9d9;
      z-index: 1000;
      position: absolute;
      left: 30%;
      top: 41%;
      font-size: 22px;
      font-weight: bold;
      cursor: pointer;
    }

    @keyframes animate {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

  }


}
