@import "../../../../../../theme/customVariables";

:host{

  .fixedLabel {
    min-width: 35% !important;
    max-width: 35% !important;
  }

  ion-button{
    max-width: 200px;
  }

  ion-img{
    height: 75%;
    display: inline-block;
  }

}
