@import "../../../../../../theme/customVariables";

:host{
  .price-up{
    color: #{$price-up}; /* #{$price-down} #038A00;*/
    font-size: 15px;
  }

  .price-down{
    color: #{$price-down};
    font-size: 15px;
  }

  .fixedLabel {
    min-width: 35% !important;
    max-width: 35% !important;
  }

}
