<ion-content>
    <ion-toolbar>
        <ion-title class="ion-text-start ion-padding">
            Company summary ({{ basicInfo.symbol }})
        </ion-title>


        <ion-buttons slot="end">
            <ion-button color="danger" (click)="dismissModal()">
                <ion-icon name="close-outline"></ion-icon>
                Close
            </ion-button>
        </ion-buttons>
    </ion-toolbar>



    <ion-item>

        <ion-label position="fixed" class="fixedLabel">
            <ion-img [src]="basicInfo.logoUrl"></ion-img>
        </ion-label>

        <ion-label> {{ basicInfo.summary }}</ion-label>

    </ion-item>

</ion-content>
