<ion-list>
    <ion-item *ngFor="let data of history.history">
        <ion-label class="ion-hide-sm-down">{{ data.epochGradeDate * 1000 | relativeTime}}</ion-label>
        <ion-label> {{ data.firm }}</ion-label>
        <ion-label class="st-display-flex-center" [ngClass]="{
              'st-price-down': data.action === 'down',
              'st-price-up': data.action === 'up'
            }">

            <!--<ng-container *ngIf="data.fromGrade"> {{ data.fromGrade }} -> </ng-container>-->
            <ion-text class="ion-margin-end">{{ data.toGrade }}</ion-text>

            <ion-icon *ngIf="data.action === 'up'" class="st-price-up" name="caret-up-outline"></ion-icon>
            <ion-icon *ngIf="data.action === 'down'" class="st-price-down" name="caret-down-outline"></ion-icon>
        </ion-label>
    </ion-item>
</ion-list>
