<ng-container *ngIf="groupAllData$ | async as groupData">
	<!-- portfolio -->
	<app-group-details-overview-portfolio-container *ngIf="groupData.portfolio.lastPortfolioSnapshot.portfolioInvested" [groupAllData]="groupData">
	</app-group-details-overview-portfolio-container>

	<!-- invitations -->
	<app-group-details-overview-invitations-container [groupAllData]="groupData"> </app-group-details-overview-invitations-container>

	<!-- members -->
	<app-group-details-overview-members-container [user]="user$ | async" [groupAllData]="groupData"> </app-group-details-overview-members-container>

	<!-- transactions -->
	<app-group-details-overview-transactions-container [groupAllData]="groupData"> </app-group-details-overview-transactions-container>
</ng-container>
