@import "variables";

:host {
  .c-portfolio-chart {
    margin-top: -16px;
    min-width: 170px;
    @media (max-width: #{$st-var-md-split}) {
      display: none;
    }
  }

  .c-portfolio-change > * {
    @media (max-width: #{$st-var-sm-split}) {
      width: 100%;
    }
  }
}
