<ion-content>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="warning"
                        [routerLink]="['/menu/stock-details/' + chartDataIdentification.symbol]"
                        (click)="dismissModal()">
                <ion-icon name="information-circle-outline"></ion-icon>
                Details
            </ion-button>
        </ion-buttons>


        <ion-buttons slot="end">
            <ion-button color="danger" (click)="dismissModal()">
                <ion-icon name="close-outline"></ion-icon>
                Close
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

    <app-financial-chart-container
            [symbol]="chartDataIdentification.symbol"
            [name]="chartDataIdentification.name">
    </app-financial-chart-container>

</ion-content>
