<table mat-table [dataSource]="dataSource" matSort class="w-full g-clickable-table">
	<ng-container matColumnDef="symbol">
		<th mat-header-cell *matHeaderCellDef class="hidden xs:table-cell">Symbol</th>
		<td mat-cell *matCellDef="let row">
			<div class="flex items-center gap-1">
				<img [src]="row.coinImageUrl" appDefaultImg class="st-symbol-image" />
				<span class="g-color-white">{{ row.symbol | split: '-'}}</span>
			</div>
		</td>
	</ng-container>

	<!-- price & small screen -->
	<ng-container matColumnDef="price">
		<th mat-header-cell *matHeaderCellDef class="hidden xs:table-cell">Price</th>
		<td mat-cell *matCellDef="let row">
			<div class="flex flex-col">
				<span [@marketValueChange]="row.regularMarketPrice" class="text-right xs:text-left text-gray-200 xs:text-gray-400">
					{{ row.regularMarketPrice | currency }}
				</span>
				<app-price-compare-item
					class="table-cell xs:hidden"
					[compareToPrice]="row.regularMarketClosed"
					[currentPrice]="row.regularMarketPrice"
					pricePosition="right"
				>
				</app-price-compare-item>
			</div>
		</td>
	</ng-container>

	<!-- daily change -->
	<ng-container matColumnDef="dailyChange">
		<th mat-header-cell *matHeaderCellDef class="hidden xs:table-cell">Daily +/-</th>
		<td mat-cell *matCellDef="let row" class="hidden xs:table-cell">
			<app-price-compare-item [compareToPrice]="row.regularMarketClosed" [currentPrice]="row.regularMarketPrice"> </app-price-compare-item>
		</td>
	</ng-container>

	<!-- supply -->
	<ng-container matColumnDef="supply">
		<th mat-header-cell *matHeaderCellDef class="hidden sm:table-cell">Supply</th>
		<td mat-cell *matCellDef="let row" class="hidden sm:table-cell">{{ row.circulatingSupply | numberFormatter }}</td>
	</ng-container>

	<!-- market cap -->
	<ng-container matColumnDef="marketCap">
		<th mat-header-cell *matHeaderCellDef class="hidden xs:table-cell">Market cap.</th>
		<td mat-cell *matCellDef="let row" class="hidden xs:table-cell">{{ row.marketCap | numberFormatter }}</td>
	</ng-container>

	<!-- 52 week change -->
	<ng-container matColumnDef="52WeekRange">
		<th mat-header-cell *matHeaderCellDef class="hidden md:table-cell">52 Week range</th>
		<td mat-cell *matCellDef="let row" class="hidden md:table-cell">
			<div style="width: 90%">
				<app-table-high-low-range [max]="row.fiftyTwoWeekHigh" [min]="row.fiftyTwoWeekLow" [value]="row.regularMarketPrice">
				</app-table-high-low-range>
			</div>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns" class="hidden xs:contents"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="itemClicked(row)"></tr>

	<!-- Row shown when there is no matching data. -->
	<tr class="mat-row" *matNoDataRow>
		<td class="mat-cell" colspan="8">
			<app-list-skeleton [itemLength]="20"></app-list-skeleton>
		</td>
	</tr>
</table>
