:host {
	.mat-column-symbol {
		width: 50%;
		@screen xs {
			width: auto;
			max-width: 80px;
		}
	}

	.mat-column-price {
		@apply flex justify-end;

		@screen xs {
			@apply table-cell;
		}
	}

	.mat-column-52WeekRange {
		width: 140px;
	}
}
