@import "../../../../shared/styles/positive-negative-numbers";
@import "../../../../shared/styles/material-icons";

mat-header-row {
  min-height: 38px;
  border-bottom: 0;
}

.mat-table {
  overflow: hidden;
}

mat-header-cell {
  font-weight: bold;
  font-size: 18px;
  background-color: #303030;
}

mat-cell:last-of-type, mat-footer-cell:last-of-type, mat-header-cell:last-of-type {
  padding-right: 0 !important;
}

mat-cell {
  position: relative;
  font-size: 16px;
  color: #d8d8d8;
}

mat-footer-row, mat-row {
  min-height: 40px;
  background-color: #303030;
}

mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
  padding-left: 0  !important;
}


.grid-buttons{
  display: grid;
  grid-gap: 3px;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}


.mat-row:hover {
  background-color: #363636;

}

span{
  font-size: 28px;
}

/* ------------------------------*/
.short-form{
  width: 250px;
}

.submit-deny-buttons{
  margin-left: 50px;
  float: left;
  padding: 20px 0 0 0;
}

img{
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

