<!-- Group create button -->
<div class="flex justify-end p-2">
	<button
		mat-flat-button
		[disabled]="(hasRoleCreateGroup$ | async) === false"
		[matTooltip]="(hasRoleCreateGroup$ | async) ? '' : 'You do not have sufficient role to create groups'"
		(click)="createGroup()"
		class="w-full md:w-auto g-button-primary"
	>
		Create group
	</button>
</div>

<ng-container *ngIf="user$ | async as user">
	<!-- My groups -->
	<ion-list-header>
		<ion-label class="st-font-size-18 st-font-0"> My groups </ion-label>
	</ion-list-header>

	<ng-container *ngIf="user.groups.groupOwner.length > 0 || user.groups.groupMember.length > 0; else showNoGroupsMessage">
		<!-- owner of groups -->
		<div class="c-group-wrapper st-bottom-space">
			<app-generic-card *ngFor="let group of user.groups.groupOwner">
				<app-group-top-users-information
					[groupAllData]="group"
					[showVisitButton]="true"
					(visitEmitter)="visitGroup(group)"
				></app-group-top-users-information>
			</app-generic-card>
		</div>

		<!-- member fo groups -->
		<div class="c-group-wrapper st-bottom-space">
			<app-generic-card *ngFor="let group of user.groups.groupMember">
				<app-group-top-users-information
					[groupAllData]="group"
					[showVisitButton]="true"
					(visitEmitter)="visitGroup(group)"
				></app-group-top-users-information>
			</app-generic-card>
		</div>
	</ng-container>

	<ng-template #showNoGroupsMessage>
		<div class="st-empty-table g-color-secondary">You are not part of any group or have not created your own</div>
	</ng-template>

	<!-- watched groups -->
	<ng-container *ngIf="user.groups.groupWatched.length > 0">
		<mat-divider></mat-divider>
		<ion-list-header>
			<ion-label class="st-font-size-18 st-font-0"> Watched groups </ion-label>
		</ion-list-header>

		<div class="c-group-wrapper st-bottom-space">
			<app-generic-card *ngFor="let group of user.groups.groupWatched">
				<app-group-top-users-information
					[groupAllData]="group"
					[showVisitButton]="true"
					[showStopWatchingGroup]="true"
					(stopWatchingGroupEmitter)="stopWatchingGroup(group)"
					(visitEmitter)="visitGroup(group)"
				></app-group-top-users-information>
			</app-generic-card>
		</div>
	</ng-container>

	<!-- Invitations -->
	<ng-container *ngIf="user.groups.groupInvitationReceived.length > 0 || user.groups.groupInvitationSent.length > 0">
		<ion-list-header>
			<ion-label class="st-font-size-18 st-font-0"> Invitations </ion-label>
		</ion-list-header>

		<!-- Received invitations -->
		<div class="c-group-wrapper st-bottom-space">
			<app-generic-card *ngFor="let group of user.groups.groupInvitationReceived">
				<app-group-top-users-information
					[groupAllData]="group"
					[showVisitButton]="true"
					[showAcceptButton]="true"
					[showDeclineButton]="true"
					(visitEmitter)="visitGroup(group)"
					(acceptEmitter)="acceptInvitation(group)"
					(declineEmitter)="declineInvitation(group)"
				>
				</app-group-top-users-information>
			</app-generic-card>
		</div>

		<!-- Sent invitations -->
		<div class="c-group-wrapper st-bottom-space">
			<app-generic-card *ngFor="let group of user.groups.groupInvitationSent">
				<app-group-top-users-information
					[groupAllData]="group"
					[showVisitButton]="true"
					[showDeclineButton]="true"
					(visitEmitter)="visitGroup(group)"
					(declineEmitter)="declineInvitation(group)"
				>
				</app-group-top-users-information>
			</app-generic-card>
		</div>
	</ng-container>
</ng-container>
