<div class="ion-padding">
	<ion-toolbar>
		<ion-buttons slot="end">
			<ion-button color="danger" (click)="dismissModal()" fill="clear">
				<ion-icon name="close-outline"></ion-icon>
				Close
			</ion-button>
		</ion-buttons>
	</ion-toolbar>

	<!-- body -->
	<div class="ion-padding">
		<ion-text class="st-title">{{ editedGroup ? 'Edit group' : 'Create group' }}</ion-text>
		<div class="ion-margin-top">
			<app-group-create-form [user]="user$ | async" [editedGroup]="editedGroup" (createGroupEmitter)="submitGroup($event)"> </app-group-create-form>
		</div>
	</div>
</div>
