<ion-content class="ion-padding">
	<ion-toolbar>
		<ion-buttons slot="end">
			<ion-button color="danger" (click)="dismissModal()" fill="clear">
				<ion-icon name="close-outline"></ion-icon>
				Close
			</ion-button>
		</ion-buttons>
	</ion-toolbar>

	<!-- body -->
	<ion-grid>
		<ion-row>
			<!-- Create form -->
			<ion-col size="12" size-md="9">
				<ion-text class="st-title">Create group</ion-text>
				<div class="ion-margin-top">
					<app-group-create-form (createGroupEmitter)="createGroup($event)"> </app-group-create-form>
				</div>
			</ion-col>
			<!-- Description -->
			<ion-col size="12" size-md="3">
				<ion-text class="st-title">Field descriptions</ion-text>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
