<mat-dialog-content class="p-4">
	<ion-toolbar>
		<ion-buttons slot="end">
			<ion-button color="danger" (click)="dismissModal()" fill="clear">
				<ion-icon name="close-outline"></ion-icon>
				Close
			</ion-button>
		</ion-buttons>
	</ion-toolbar>

	<!-- body -->
	<div class="py-4 px-6">
		<span class="g-color-white text-2xl">{{ data.editedGroup ? 'Edit group' : 'Create group' }}</span>
		<div class="mt-6">
			<app-group-create-form [user]="user$ | async" [editedGroup]="data.editedGroup" (createGroupEmitter)="submitGroup($event)">
			</app-group-create-form>
		</div>
	</div>
</mat-dialog-content>
