<ion-content class="ion-padding">
	<ion-toolbar class="ion-hide-sm-up">
		<ion-buttons slot="end">
			<ion-button (click)="dismiss()" color="danger">
				<ion-icon name="close-outline"></ion-icon>
				Close
			</ion-button>
		</ion-buttons>
	</ion-toolbar>

	<div class="st-flex-col ion-align-items-center">
		<!-- text -->
		<ion-item>
			<ion-label class="st-title">
				<ion-text class="st-price-up st-font-size-18">Buy</ion-text>
				or
				<ion-text class="st-price-down st-font-size-18">Sell</ion-text>
				operation on {{ symbol }} stock
			</ion-label>
		</ion-item>

		<!-- bid / ask -->
		<div class="st-width-100">
			<app-trading-bid-ask [bidPrice]="price - price * 0.005" [askPrice]="price + price * 0.005"></app-trading-bid-ask>
		</div>

		<!-- estimated price -->
		<div class="ion-padding st-flex-col">
			<ion-text class="st-font-1 st-font-size-16">Estimated price / share: {{ price | currency }}</ion-text>
			<div class="st-flex-col st-top-space">
				<ion-text *ngIf="holding" class="st-font-2 st-font-size-16">
					owned: {{ ( holding.units * holding.breakEvenPrice) | currency }} ({{holding.breakEvenPrice | currency}} * {{ holding.units }})
				</ion-text>
				<ion-text class="st-font-2 st-font-size-16 ion-text-center">Cash: {{ portoflioCash | currency }}</ion-text>
			</div>
		</div>

		<form [formGroup]="form">
			<!-- amount -->
			<app-form-mat-input-wrapper inputCaption="Number of units" controlName="units" inputType="number"></app-form-mat-input-wrapper>

			<div class="st-flex-row ion-justify-content-between">
				<!-- estimated price -->
				<ion-item>
					<ion-label>
						<ion-text>Total price: {{ (price * units.value) | currency }}</ion-text>
					</ion-label>
				</ion-item>

				<!-- confirm -->
				<ion-item>
					<ion-label>Confirm</ion-label>
					<ion-checkbox class="ion-margin-end" formControlName="confirmation" slot="start"></ion-checkbox>
				</ion-item>
			</div>

			<!-- fees -->
			<ion-item>
				<ion-label class="st-font-5"> Fees: {{ (price * 0.0015 * units.value) | currency }} (0.25% from price) </ion-label>
			</ion-item>

			<!-- buttons -->
			<ion-buttons>
				<ion-button
					class="st-button"
					(click)="submit(STTransactionOperationEnum.Buy)"
					[disabled]="form.invalid"
					fill="outline"
					color="success"
					shape="round"
					fill="solid"
				>
					Buy
				</ion-button>
				<ion-button
					class="st-button"
					(click)="submit(STTransactionOperationEnum.Sell)"
					[disabled]="form.invalid"
					fill="outline"
					color="danger"
					shape="round"
					fill="solid"
				>
					Sell
				</ion-button>
			</ion-buttons>
		</form>
	</div>
</ion-content>
