:host {
  .chart-info{
    width: 100%;
    position: relative;
    padding: 20px;
    margin-bottom: 15px;
  }
  .container {
    position: relative;
    padding: 5px 20px;
  }

  .chart{
    width: 100%;
  }

  .item{
    margin-right: 15px;
    display: inline-flex;
  }

  .button-container {
    float: right;
    margin-right: 15px;
    margin-bottom: 10px;
  }

  @media  only screen and (min-device-width : 0) and (max-width: 750px) {
    .container{
      padding: 0;
    }
    .chart-info{
      padding: 0;
      text-align: center;
    }
    .chart{
      text-align: center;
    }
    .item{
      text-align: left;
    }
    .button-container{
      width: auto;
    }
  }
}
