<mat-accordion *ngIf="dailyOverview$ | async as dailyOverview" [multi]="true">
	<!-- economic -->
	<app-generic-extension-panel title="Calendar Economic">
		<app-market-calendar-economic [calendarEconomic]="dailyOverview.calendar.calendarEconomic"> </app-market-calendar-economic>
	</app-generic-extension-panel>

	<!-- earnings -->
	<app-generic-extension-panel title="Calendar Earnings">
		<app-market-calendar-earnings [calendarEarnings]="dailyOverview.calendar.calendarEarnings"> </app-market-calendar-earnings>
	</app-generic-extension-panel>

	<!-- ipo -->
	<app-generic-extension-panel title="Calendar Ipo">
		<app-market-calendar-ipo [calendarIpos]="dailyOverview.calendar.calendarIpo"> </app-market-calendar-ipo>
	</app-generic-extension-panel>

	<ion-grid>
		<ion-row>
			<!-- split history -->
			<ion-col size="12" size-lg="6">
				<app-generic-extension-panel title="Calendar stock splits">
					<app-market-calendar-split-history [splitHistories]="dailyOverview.calendar.calendarSplit"> </app-market-calendar-split-history>
				</app-generic-extension-panel>
			</ion-col>
			<!-- dividend history -->
			<ion-col size="12" size-lg="6">
				<app-generic-extension-panel title="Calendar dividends">
					<app-market-calendar-dividend-payout [dividendPayouts]="dailyOverview.calendar.calendarDividend"> </app-market-calendar-dividend-payout>
				</app-generic-extension-panel>
			</ion-col>
		</ion-row>
	</ion-grid>
</mat-accordion>
