<div class="navigation_container">
  <img src="../../../../../assets/navigation_background.png" class="navigation_background"/>


  <div class='grid-navigation-buttons-container'>
    <span class="material-icons white-icon navigation_icon" routerLink='/dashboard'>
            home
    </span>


    <span class="material-icons white-icon navigation_icon" routerLink='/favourites'>
            star_rate
    </span>


    <span class="material-icons white-icon navigation_icon">
            search
     </span>
  </div>


  <span class="material-icons white-icon navigation_icon"
        id='log_out_icon'
        (click)="logOut()">
            login
  </span>


</div>
