<app-mat-card-wrapper title="Dividend discounted valuation">
	<ng-container *ngIf="dividendDiscountedFormula$ | async as formula">
		<!-- calculation -->
		<div class="text-xl p-4 g-color-white mb-2">Calculation</div>
		<div class="p-4 flex justify-around">
			<div>Dividend growth rate:: {{ formula.dividendGrowthRate | percent: '1.2' }}</div>
			<div>Dividend per share: {{ formula.dividendsPerShareTTM }}</div>
			<div>Minimum return: {{ formula.minimumRateReturn | percent: '1.2' }}</div>
			<div>Intrinsic value: <span class="g-color-white">{{ formula.estimatedIntrinsicValue | currency }}</span></div>
		</div>
	</ng-container>
</app-mat-card-wrapper>
