<ion-grid>
    <ion-row>
        <ion-col size="12" size-lg="6">
            <!-- S&P 500 chart -->
            <app-financial-chart-container [symbol]="'^GSPC'" ></app-financial-chart-container> <!-- [name]="'S&P 500'" -->
        </ion-col>
        <ion-col size="12" size-lg="3" size-md="6">
            <!-- top gains -->
            <app-symbol-movement-table-card
                [title]="'Daily top Gains'"
                [symbolMovementData]="topGains$ | async"
                (moreInformation)="showMoreInformation($event)">
            </app-symbol-movement-table-card>
        </ion-col>
        <ion-col size="12" size-lg="3"  size-md="6">
            <!-- top losses -->
            <app-symbol-movement-table-card
                    [title]="'Daily top Losses'"
                    [symbolMovementData]="topLosses$ | async"
                    (moreInformation)="showMoreInformation($event)">
            </app-symbol-movement-table-card>
        </ion-col>
    </ion-row>


</ion-grid>
