@import 'variables';

:host {
	.c-search-header {
		display: flex;
		justify-content: space-between;
		margin-bottom: 0;

		@media (max-width: #{$st-var-sm-split}) {
			flex-flow: column;
			gap: 16px;
		}

		> * {
			flex: 1;
		}
	}
	ion-card {
		padding: 10px;

		ion-card-header {
			padding-top: 0 !important;
		}
	}
}
