<div *ngIf="portfolioState === 'CARD' " class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-2">
	<!-- balance -->
	<app-generic-fancy-card
		class="col-span-1 sm:col-span-2 lg:col-span-1"
		cardClasses="st-width-100 st-main-color-turquoise-background-linear"
		titleColor="st-main-color-turquois"
		titleDotColor="st-main-color-turquoise-background"
		title="Balance"
	>
		<div class="flex justify-between">
			<div class="text-white text-2xl">{{ (cashOnHand + invested) | currency }}</div>
			<app-price-change-item
				classText="text-xl"
				[showDollarSignOnPrice]="true"
				[priceChange]="((cashOnHand + invested) - startedBalance) / startedBalance * 100"
				[price]="(cashOnHand + invested) - startedBalance"
			>
			</app-price-change-item>
		</div>
	</app-generic-fancy-card>

	<!-- invested -->
	<app-generic-fancy-card
		cardClasses="st-width-100 st-main-color-purple-background-linear"
		titleColor="st-font-main-color-purple"
		titleDotColor="st-main-color-purple-background"
		title="Invested"
	>
		<div class="text-2xl text-white">{{ portfolioInvested | currency }}</div>
	</app-generic-fancy-card>

	<!-- cash -->
	<app-generic-fancy-card
		cardClasses="st-width-100 st-main-color-orange-background-linear"
		titleColor="st-font-main-color-orange"
		titleDotColor="st-main-color-orange-background"
		title="Cash"
	>
		<div class="text-2xl text-white">{{ portfolioCash | currency }}</div>
	</app-generic-fancy-card>
</div>

<!-- state 2. -->
<ion-list *ngIf="portfolioState === 'PARTIAL' ">
	<!-- Balance -->
	<div class="st-flex st-flex-space-between-md-down ion-padding">
		<ion-label class="st-flex-row-important portfolioStateParent">
			<div class="portfolioStateParentDot st-main-color-turquoise-background"></div>
			<ion-text class="text-xl st-main-color-turquois">Balance</ion-text>
		</ion-label>
		<ion-label class="st-flex-row-sm-col ion-align-items-center">
			<ion-text class="st-small-right-space st-font-0 text-xl"> {{ (cashOnHand + invested) | numberFormatter}} </ion-text>
			<app-price-compare-item [compareToPrice]="startedBalance" [currentPrice]="invested + cashOnHand" [showPrice]="false"> </app-price-compare-item>
		</ion-label>
	</div>

	<!-- Invested -->
	<div class="st-flex st-flex-space-between-md-down ion-padding">
		<ion-label class="st-flex-row-important portfolioStateParent">
			<div class="portfolioStateParentDot st-main-color-purple-background"></div>
			<ion-text class="text-xl st-font-main-color-purple">Invested</ion-text>
		</ion-label>
		<ion-label class="st-font-1 text-xl">{{ portfolioInvested | currency }}</ion-label>
	</div>

	<!-- Cash -->
	<div class="st-flex st-flex-space-between-md-down ion-padding">
		<ion-label class="st-flex-row-important portfolioStateParent">
			<div class="portfolioStateParentDot st-main-color-orange-background"></div>
			<ion-text class="text-xl st-font-main-color-orange">Cash</ion-text>
		</ion-label>
		<ion-label class="st-font-1 text-xl">{{ portfolioCash | currency }}</ion-label>
	</div>
</ion-list>
