<div *ngIf="portfolioState === 'CARD' " class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-2">
	<!-- balance -->
	<app-generic-fancy-card
		class="col-span-1 sm:col-span-2 lg:col-span-1"
		cardClasses="st-width-100 st-main-color-turquoise-background-linear"
		titleColor="st-main-color-turquois"
		titleDotColor="st-main-color-turquoise-background"
		title="Balance"
	>
		<div class="flex justify-between">
			<div class="g-color-white text-2xl" [@marketValueChange]=" (cashOnHand + invested)">{{ (cashOnHand + invested) | currency }}</div>
			<app-price-change-item
				classText="text-xl"
				[showDollarSignOnPrice]="true"
				[priceChange]="((cashOnHand + invested) - startedBalance) / startedBalance * 100"
				[price]="(cashOnHand + invested) - startedBalance"
			>
			</app-price-change-item>
		</div>
	</app-generic-fancy-card>

	<!-- invested -->
	<app-generic-fancy-card
		cardClasses="st-width-100 st-main-color-purple-background-linear"
		titleColor="st-font-main-color-purple"
		titleDotColor="st-main-color-purple-background"
		title="Invested"
	>
		<div class="text-2xl g-color-white">{{ portfolioInvested | currency }}</div>
	</app-generic-fancy-card>

	<!-- cash -->
	<app-generic-fancy-card
		cardClasses="st-width-100 st-main-color-orange-background-linear"
		titleColor="st-font-main-color-orange"
		titleDotColor="st-main-color-orange-background"
		title="Cash"
	>
		<div class="text-2xl g-color-white">{{ portfolioCash | currency }}</div>
	</app-generic-fancy-card>
</div>

<!-- state 2. -->
<div *ngIf="portfolioState === 'PARTIAL' ">
	<!-- Balance -->
	<div class="p-4 flex justify-between">
		<!-- dot + name -->
		<div class="flex items-center gap-1">
			<div class="portfolioStateParentDot st-main-color-turquoise-background"></div>
			<ion-text class="text-2xl st-main-color-turquois">Balance</ion-text>
		</div>
		<!-- sum + change -->
		<div class="flex flex-row gap-4">
			<div class="text-xl g-color-white">{{ (cashOnHand + invested) | numberFormatter}}</div>
			<app-price-compare-item [compareToPrice]="startedBalance" [currentPrice]="invested + cashOnHand" pricePosition="bottom">
			</app-price-compare-item>
		</div>
	</div>

	<!-- Invested -->
	<div class="p-4 flex justify-between">
		<!-- dot + name -->
		<div class="flex items-center gap-1">
			<div class="portfolioStateParentDot st-main-color-purple-background"></div>
			<ion-text class="text-2xl st-font-main-color-purple">Invested</ion-text>
		</div>
		<!-- sum -->
		<div class="text-xl g-color-white">{{ portfolioInvested | currency }}</div>
	</div>

	<!-- Cash -->
	<div class="p-4 flex justify-between">
		<!-- dot + name -->
		<div class="flex items-center gap-1">
			<div class="portfolioStateParentDot st-main-color-orange-background"></div>
			<ion-text class="text-2xl st-font-main-color-orange">Cash</ion-text>
		</div>
		<!-- sum -->
		<div class="text-xl g-color-white">{{ portfolioCash | currency }}</div>
	</div>
</div>
