<div class="watchlist-table-header" *ngIf="data">
  <!-- watchlist table name -->
  <ng-template *ngIf="editing; else showEditInput">
    <div class="watchlist-table-header-name">
      {{ name }}
    </div>
    <span class="material-icons" (click)="toggleEdit()">
      create
    </span>
  </ng-template>

  <!-- watchlist table name editing -->
  <ng-template #showEditInput>
    <form class="short-form">
      <mat-form-field>
        <mat-label>Watch list name</mat-label>
        <input matInput placeholder="define watch list name" [(ngModel)]="editedName">
      </mat-form-field>
    </form>

    <div class="submit-deny-buttons">
      <!-- create new watchlist button  -->
      <img src="../../../../../assets/green_ok_pipe.png"
           alt="create stock watchlist img"
           class="white-scaling-icon"
           (click)="editWatchListName()"/>

      <!-- remove input button  -->
      <img src="../../../../../assets/cross_x.png"
           alt="remove stock watchlist img"
           class="white-scaling-icon"
           (click)="toggleEdit()"/>
    </div>
  </ng-template>
  <!-- ------------------------------------- -->



  <!-- watchlist table -->
  <div class="mat-elevation-z0">

    <mat-table [dataSource]="dataSource">


      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">  {{ element.symbol }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="currentPrice">
        <mat-header-cell *matHeaderCellDef class="sector-font-color">Price</mat-header-cell>
        <mat-cell *matCellDef="let element"
                  [ngClass]="{
                  'positive-number': element.currentPriceChange >= 0,
                  'negative-number': element.currentPriceChange <= 0
                }">
          {{ element.currentPrice }} ( {{ element.currentPriceChange }}% )

          <!-- triangle -->
          <div [ngClass]="{
            'triangle-up': element.currentPriceChange >= 0,
            'triangle-down': element.currentPriceChange <= 0
            }">
          </div>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="targetEst1y">
        <mat-header-cell *matHeaderCellDef class="sector-font-color">1y estimate</mat-header-cell>
        <mat-cell *matCellDef="let element"
                  [ngClass]="{
                  'positive-number': element.targetEstChange1y >= 0,
                  'negative-number': element.targetEstChange1y <= 0
                }">
          <ng-container>
            {{ element.targetEst1y }} ( {{ element.targetEstChange1y }}% )
            <!-- triangle -->
            <div
              [ngClass]="{'triangle-up': element.targetEstChange1y >= 0,'triangle-down': element.targetEstChange1y <= 0}"></div>
          </ng-container>
          <ng-container>
            N/A
          </ng-container>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="weekRange52">
        <mat-header-cell *matHeaderCellDef class="sector-font-color">52 week range</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.weekRange52 }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="earningsDate">
        <mat-header-cell *matHeaderCellDef class="sector-font-color">Earnings date</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.earningsDate }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="exDividendDate">
        <mat-header-cell *matHeaderCellDef class="sector-font-color">Dividends</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.exDividendDate }} ({{ element.forwardDividendAndYield }})
        </mat-cell>
      </ng-container>


      <!-- interactive buttons -> chart / watchlist / details -->
      <ng-container matColumnDef="details">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="grid-buttons">
          <span class="material-icons white-scaling-icon"
                (click)="showChart(element.name, element.symbol)">
            bar_chart
          </span>
            <span class="material-icons white-scaling-icon"
                  (click)="addFavourites(element.name, element.symbol)">
            favorite
          </span>
            <span class="material-icons white-scaling-icon"
                  [routerLink]="['/stock/details']"
                  [queryParams]="{symbol : element.symbol}">
            forward
          </span>
          </div>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>

</div>

