.nav-container {
  height: 30px;
  position: relative;
  padding: 25px 15px 10px 15px;
  background-color: #303030;
  font-size: 26px;
}

.nav-links-container {
  width: 100%;
  height: inherit;
  border-bottom: 1px solid white;
  position: relative;
  padding-bottom: 8px;
}

.nav-link{
  float: left;
  margin-left: 30px;
  text-decoration: none;
  &:hover{
    color: #ffa306;
  }
}

.active-link{
  font-weight: bold;
  color: white;
}


.nav-logout {
  float: right;
  margin-right: 80px;
}

.nav-logout span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
}

.nav-logout span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.nav-logout:hover span {
  padding-right: 25px;
}

.nav-logout:hover span:after {
  opacity: 1;
  right: 0;
}


