<ion-grid>
    <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-lg="11">
            <app-financial-chart-container
                    [name]="'Bitcoin - USD'"
                    [height]="425"
                    [symbol]="'BTC-USD'">
            </app-financial-chart-container>
        </ion-col>
    </ion-row>

    <app-generic-list [title]="'Bitcoin stats'" [applyMarginTop]="true"></app-generic-list>
    <ion-row *ngIf="marketOverview$ | async as marketOverview">
        <ion-col *ngFor="let data of marketOverview.bitcoin.result; let i = index; let last=last"
                 size="12" [sizeSm]="last ? 12 : 6" [sizeMd]="i > 2 ? 6 : 4" [sizeLg]="i > 3 ? 4 : 3">
            <app-market-chart
                    [heightPx]="185"
                    [timestamp]="marketOverview.sp500.timestamp"
                    [chartDataResult]="data">
            </app-market-chart>
        </ion-col>
    </ion-row>

    <app-generic-list [title]="'Top crypto'" [applyMarginTop]="true"></app-generic-list>
    <ion-row>
        <ion-col size="12">
            <app-generic-card>
                <app-market-top-table-crypto [topTableCryptoData]="topCrypto"></app-market-top-table-crypto>
            </app-generic-card>
        </ion-col>
    </ion-row>
</ion-grid>
