<ion-grid>
    <ion-row class="ion-justify-content-center">
        <ion-col size="12">
            <app-financial-chart-container
                    [isCrypto]="true"
                    [name]="'Bitcoin - USD'"
                    [height]="400"
                    [symbol]="'BTC-USD'">
            </app-financial-chart-container>
        </ion-col>
    </ion-row>

    <app-generic-list [title]="'Bitcoin stats'" [applyMarginTop]="true"></app-generic-list>
    <ion-row *ngIf="marketOverview$ | async as marketOverview">
        <ion-col *ngFor="let data of marketOverview.bitcoin" size="12" size-sm="6" size-md="4">
            <app-generic-chart
                    (expandEmitter)="expand(data.documentKey)"
                    [showExpandableButton]="true"
                    [showLegend]="true"
                    [showLegendLatestValue]="true"
                    [heightPx]="185"
                    [series]="[{name: data.name,  data: data.data}]">
            </app-generic-chart>
        </ion-col>
    </ion-row>

    <app-generic-list [title]="'Top crypto'" [applyMarginTop]="true"></app-generic-list>
    <ion-row>
        <ion-col size="12">
            <app-generic-card>
                <app-market-top-table-crypto
                        (itemClickedEmitter)="showSummary($event)"
                        [topTableCryptoData]="topCrypto">
                </app-market-top-table-crypto>
            </app-generic-card>
        </ion-col>
    </ion-row>
</ion-grid>
