<!-- Earnings valuation -->
<div>
    <app-earnings-valuation-formula-container></app-earnings-valuation-formula-container>
</div>

<!-- Discounted cash flow valuation -->
<div>
    <app-discounted-cashflow-formula-container></app-discounted-cashflow-formula-container>
</div>

<!-- Free cash flow valuation -->
<div>
    <app-free-cashflow-formula-container></app-free-cashflow-formula-container>
</div>

<!-- Dividend discounted valuation -->
<div>
    <app-dividend-discounted-formula-container></app-dividend-discounted-formula-container>
</div>
