<ion-list class="form-position">
    <form [formGroup]="form">
        <ion-item class="st-form-input-background">
            <ion-label position="floating">Search group</ion-label>
            <ion-input [clearInput]="true" placeholder="Enter group name" type="text" formControlName="groupName"></ion-input>
        </ion-item>
    </form>
</ion-list>

<!-- listed symbols -->
<ion-item-group class="flex-flow-wrap">
    <app-group-info-list
            *ngFor="let group of searchedGroups$ | async"
            (click)="clickedGroup(group)"
            [groupPartialData]="group"
            [clickable]="true">
    </app-group-info-list>
</ion-item-group>
