<table mat-table [dataSource]="dataSource" matSort class="w-full">
	<!-- image & name -->
	<ng-container matColumnDef="symbol">
		<th mat-header-cell *matHeaderCellDef class="hidden sm:table-cell">Symbol</th>
		<td mat-cell *matCellDef="let row">
			<div class="flex flex-col gap-1">
				<!-- logo + symbol -->
				<div class="flex items-center">
					<img [src]="row.symbol_logo_url" appDefaultImg class="st-symbol-image" />
					<div class="flex flex-col">
						<!-- symbol + operation -->
						<div class="flex flex-row gap-x-2">
							<span class="g-color-white">{{ row.symbol }}</span>
							<span
								[ngClass]="{
									'g-color-success': row.operation === StTransactionOperationEnum.Buy,
									'g-color-danger': row.operation === StTransactionOperationEnum.Sell}"
							>
								{{ row.operation }}
							</span>
						</div>
						<!-- date -->
						<div class="text-gray-500">{{ row.date | date: 'dd.MM.yyyy HH:mm' }}</div>
					</div>
				</div>
			</div>
		</td>
	</ng-container>

	<!-- user -->
	<ng-container matColumnDef="user">
		<th mat-header-cell *matHeaderCellDef class="hidden sm:table-cell">User</th>
		<td mat-cell *matCellDef="let row" class="hidden sm:table-cell">
			<ion-img [src]="row.user?.photoURL" appDefaultImg class="st-symbol-image"></ion-img>
			<span>{{ row.user?.nickName}}</span>
		</td>
	</ng-container>

	<!-- return -->
	<ng-container matColumnDef="return">
		<th mat-header-cell *matHeaderCellDef class="hidden sm:table-cell">Return</th>
		<td mat-cell *matCellDef="let row" class="hidden sm:table-cell">
			<app-price-change-item
				*ngIf="row.operation === StTransactionOperationEnum.Sell"
				[priceChange]="row.returnChange"
				[price]="row.return"
				[showDollarSignOnPrice]="true"
				pricePosition="bottom"
			>
			</app-price-change-item>
		</td>
	</ng-container>

	<!-- value -->
	<ng-container matColumnDef="value">
		<th mat-header-cell *matHeaderCellDef class="hidden sm:table-cell">Value</th>
		<td mat-cell *matCellDef="let row">
			<div class="text-right sm:text-left">{{ (row.price * row.units) | currency }}</div>
			<div class="text-right sm:text-left text-gray-500 text-sm">{{ row.price | currency }} * {{ row.units }}</div>
		</td>
	</ng-container>

	<!-- fees -->
	<ng-container matColumnDef="fees">
		<th mat-header-cell *matHeaderCellDef class="hidden sm:table-cell">Fees</th>
		<td mat-cell *matCellDef="let row" class="hidden sm:table-cell">{{ row.transactionFees | currency}}</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns" class="hidden sm:contents"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

	<!-- Row shown when there is no matching data. -->
	<tr class="mat-row" *matNoDataRow>
		<td class="mat-cell text-center" colspan="10">No transaction to be found</td>
	</tr>
</table>
