<ion-list class="ion-hide-sm-down">
	<!-- table header -->
	<ion-item class="st-font-1-bold">
		<ion-label>Symbol</ion-label>
		<ion-label *ngIf="showUser">User</ion-label>
		<ion-label *ngIf="showReturn">Return</ion-label>
		<ion-label>Value</ion-label>
		<ion-label *ngIf="showDate">Date</ion-label>
	</ion-item>

	<!-- table body -->
	<ng-container *ngIf="transactions.length > 0; else showNoTransactionText">
		<ion-item *ngFor="let transaction of transactions" class="st-table-item-no-margin">
			<ion-label class="st-display-flex-center">
				<ion-img [src]="transaction.symbol_logo_url" class="st-symbol-image"></ion-img>
				<div class="st-flex-col">
					<!-- symbol name -->
					<ion-text class="st-font-4">{{ transaction.symbol }}</ion-text>
					<!-- Action -->
					<ion-text
						[ngClass]="{
                    'st-price-up': transaction.operation === StTransactionOperationEnum.Buy,
                    'st-price-down': transaction.operation === StTransactionOperationEnum.Sell}"
						class="st-font-size-13"
					>
						{{ transaction.operation }}
					</ion-text>
				</div>
			</ion-label>

			<!-- image -->
			<ion-label *ngIf="showUser" class="st-display-flex-center">
				<ion-img [src]="transaction.user?.photoURL" appDefaultImg class="st-symbol-image"></ion-img>
				<ion-text class="st-font-2">{{ transaction.user?.nickName}}</ion-text>
			</ion-label>

			<!-- Return -->
			<ion-label *ngIf="showReturn">
				<app-price-change-item
					*ngIf="transaction.operation === StTransactionOperationEnum.Sell"
					[priceChange]="transaction.returnChange"
					[price]="transaction.return"
					[showDollarSignOnPrice]="true"
					pricePosition="bottom"
				>
				</app-price-change-item>
			</ion-label>

			<!-- Value -->
			<ion-label class="st-flex-col">
				<ion-text>{{ (transaction.price * transaction.units) | currency }}</ion-text>
				<ion-text class="st-font-size-12 st-font-5"> {{ transaction.price | currency }} * {{ transaction.units }} </ion-text>
			</ion-label>

			<!-- Date -->
			<ion-label *ngIf="showDate">
				<ion-text>{{ transaction.date | date: 'dd.MM.yyyy HH:mm' }}</ion-text>
			</ion-label>
		</ion-item>
	</ng-container>
</ion-list>

<!-- SMALL SCREEN -->
<ion-list class="ion-hide-sm-up">
	<ng-container *ngIf="transactions.length > 0; else showNoTransactionText">
		<ion-item *ngFor="let transaction of transactions" class="st-data-item-wrapper sm-table-item">
			<!-- LOGO + SYMBOL + TRANSACTION TIME -->
			<ion-label class="st-display-flex-center st-data-label st-fit-content">
				<ion-img [src]="transaction.symbol_logo_url" class="st-symbol-image"></ion-img>
				<div class="st-flex-col">
					<div>
						<!-- symbol name -->
						<ion-text style="margin-right: 10px">{{ transaction.symbol }}</ion-text>
						<!-- Action -->
						<ion-text
							[ngClass]="{
                        'st-price-up': transaction.operation === StTransactionOperationEnum.Buy,
                        'st-price-down': transaction.operation === StTransactionOperationEnum.Sell}"
							class="st-font-size-13"
						>
							{{ transaction.operation }}
						</ion-text>
					</div>
					<ion-text class="st-font-5 st-font-size-12"> {{ transaction.date | date: 'dd.MM.yyyy HH:mm' }} </ion-text>
				</div>
			</ion-label>

			<!-- Value -->
			<ion-label class="st-flex-col st-data-label st-flex-end">
				<ion-text>{{ (transaction.price * transaction.units) | currency }}</ion-text>
				<ion-text class="st-font-size-12 st-font-5"> {{ transaction.price | currency }}* {{ transaction.units }} </ion-text>
			</ion-label>
		</ion-item>
	</ng-container>
</ion-list>

<ng-template #showNoTransactionText>
	<div class="st-empty-table">You have not performed any Buy or Sell operation</div>
</ng-template>
