<ng-container *ngIf="queriedGroup">
    <!-- group info -->
    <ion-row>
        <ion-col size="12">
            <app-generic-card [title]="'Group ' + queriedGroup.name">
                <!-- group description -->
                <app-group-info [group]="queriedGroup"></app-group-info>

                <!-- submit button -->
                <ion-buttons class="st-buttons-container">

                    <!-- I am owner -->
                    <ion-button class="st-button st-edit-background st-width-full-md-screen" type="button"
                                *ngIf="isUserOwner || isUserManager" (click)="editGroup(queriedGroup)">
                        Edit
                    </ion-button>

                    <!-- not member, or invited, send invitation -->
                    <ion-button class="st-button st-create-background st-width-full-md-screen" type="button"
                                *ngIf="!(isUserOwner || isUserManager || isUserMember || isUserInvitationReceived || isUserInvited)"
                                (click)="toggleInvitationRequestToGroup(queriedGroup)">
                        Send invitation
                    </ion-button>

                    <!-- they invited me -->
                    <ng-container *ngIf="isUserInvited">
                        <ion-button class="st-button st-create-background st-width-full-md-screen"
                                    style="margin-right: 16px" type="button"
                                    (click)="answerReceivedGroupInvitation(queriedGroup,true)">
                            Accept
                        </ion-button>
                        <ion-button class="st-button st-remove-background st-width-full-md-screen"
                                    type="button" (click)="answerReceivedGroupInvitation(queriedGroup,false)">
                            Decline
                        </ion-button>
                    </ng-container>

                    <!-- already sent invitation -->
                    <ion-button class="st-button st-remove-background st-width-full-md-screen"
                                type="button"
                                *ngIf="isUserInvitationReceived"
                                (click)="toggleInvitationRequestToGroup(queriedGroup)">
                        Decline
                    </ion-button>

                    <!-- member of group -->
                    <ion-button class="st-button st-remove-background st-width-full-md-screen"
                                type="button"
                                *ngIf="isUserMember || isUserManager"
                                (click)="leaveGroup(queriedGroup)">
                        Leave group
                    </ion-button>
                </ion-buttons>
            </app-generic-card>
        </ion-col>
    </ion-row>


    <!-- owner -->
    <app-group-list-members-in-row
            [groupUsers]="[queriedGroup.owner]"
            [title]="'Owner'">
    </app-group-list-members-in-row>

    <!-- Managers -->
    <app-group-list-members-in-row
            [groupUsers]="queriedGroup.managers"
            [title]="'Managers'">
    </app-group-list-members-in-row>

    <!-- Members -->
    <app-group-list-members-in-row
            [groupUsers]="queriedGroup.members"
            [title]="'Members'">
    </app-group-list-members-in-row>

    <!-- Invited -->
    <app-group-list-members-in-row
            [groupUsers]="queriedGroup.invitationSent"
            [title]="'Invited'">
    </app-group-list-members-in-row>

    <!-- pending invitation -->
    <app-group-list-members-in-row
            [groupUsers]="queriedGroup.invitationReceived"
            [title]="'Pending'">
    </app-group-list-members-in-row>


</ng-container>
