<ng-container *ngIf="queriedGroup$ | async as queriedGroup">
    <!-- group info -->
    <ion-row>
        <ion-col size="12">
            <h3 class="st-h3">Group: {{ queriedGroup.name }}</h3>
            <app-group-info [group]="queriedGroup"></app-group-info>
            <!-- submit button -->
            <ion-buttons style="margin: 16px">
                <ion-button class="st-button st-edit-background" type="button" *ngIf="canEdit$ | async" (click)="editGroup(queriedGroup)">
                    Edit
                </ion-button>
                <ng-container *ngIf="isUserInvited$ | async">
                    <ion-button class="st-button st-create-background" style="margin-right: 16px"  type="button" (click)="submitInvitation(true)">
                        Accept
                    </ion-button>
                    <ion-button class="st-button st-remove-background" type="button" (click)="submitInvitation(false)">
                        Decline
                    </ion-button>
                </ng-container>
                <ion-button class="st-button st-remove-background" type="button" *ngIf="canUserSentInvitation$ | async" (click)="declineInvitation()">
                    Decline
                </ion-button>
            </ion-buttons>
        </ion-col>
    </ion-row>



    <!-- owner -->
    <app-group-list-members-in-row
            [groupUsers]="[queriedGroup.owner]"
            [title]="'Owner'">
    </app-group-list-members-in-row>

    <!-- Managers -->
    <app-group-list-members-in-row
            [groupUsers]="queriedGroup.managers"
            [title]="'Managers'">
    </app-group-list-members-in-row>

    <!-- Members -->
    <app-group-list-members-in-row
            [groupUsers]="queriedGroup.members"
            [title]="'Members'">
    </app-group-list-members-in-row>

    <!-- Invited -->
    <app-group-list-members-in-row
            [groupUsers]="queriedGroup.invitationSent"
            [title]="'Invited'">
    </app-group-list-members-in-row>

    <!-- pending invitation -->
    <app-group-list-members-in-row
            [groupUsers]="queriedGroup.invitationReceived"
            [title]="'Pending'">
    </app-group-list-members-in-row>

</ng-container>
