<ng-container *ngIf="queriedGroup$ | async as queriedGroup">
    <!-- group info -->
    <ion-row>
        <ion-col size="12">
            <app-generic-card [chartTitle]="'Group ' + queriedGroup.name">
                <!-- group description -->
                <app-group-info [group]="queriedGroup"></app-group-info>

                <!-- submit button -->
                <ion-buttons class="st-buttons-container">
                    <ion-button class="st-button st-edit-background st-width-full-md-screen" type="button"
                                *ngIf="canEdit$ | async" (click)="editGroup(queriedGroup)">
                        Edit
                    </ion-button>
                    <ng-container *ngIf="isUserInvited$ | async">
                        <ion-button class="st-button st-create-background st-width-full-md-screen"
                                    style="margin-right: 16px" type="button"
                                    (click)="submitInvitation(true)">
                            Accept
                        </ion-button>
                        <ion-button class="st-button st-remove-background st-width-full-md-screen"
                                    type="button" (click)="
                                submitInvitation(false)">
                            Decline
                        </ion-button>
                    </ng-container>
                    <ion-button class="st-button st-remove-background st-width-full-md-screen"
                                type="button"
                                *ngIf="userSentInvitation$ | async"
                                (click)="declineInvitation()">
                        Decline
                    </ion-button>
                </ion-buttons>
            </app-generic-card>
        </ion-col>
    </ion-row>


    <!-- owner -->
    <app-group-list-members-in-row
            [groupUsers]="[queriedGroup.owner]"
            [title]="'Owner'">
    </app-group-list-members-in-row>

    <!-- Managers -->
    <app-group-list-members-in-row
            [groupUsers]="queriedGroup.managers"
            [title]="'Managers'">
    </app-group-list-members-in-row>

    <!-- Members -->
    <app-group-list-members-in-row
            [groupUsers]="queriedGroup.members"
            [title]="'Members'">
    </app-group-list-members-in-row>

    <!-- Invited -->
    <app-group-list-members-in-row
            [groupUsers]="queriedGroup.invitationSent"
            [title]="'Invited'">
    </app-group-list-members-in-row>

    <!-- pending invitation -->
    <app-group-list-members-in-row
            [groupUsers]="queriedGroup.invitationReceived"
            [title]="'Pending'">
    </app-group-list-members-in-row>


</ng-container>
