<div class="container">

    <!-- additional info -->
    <div class="ion-text-wrap">
        <div class="ion-float-start time-est">
            <span style="margin-right: 10px">{{revenuEst.name}}</span>
        </div>
         <div class="ion-float-start">
             <span style="margin-right: 5px" class="highlight"> Avg.: {{ revenuEst.AvgEstimate }}</span>
             <span *ngIf="revenuEst.SalesGrowthyearestNumber >=0" class="price-up"> {{revenuEst.SalesGrowthyearest}}</span>
             <span *ngIf="revenuEst.SalesGrowthyearestNumber < 0" class="price-down"> {{ revenuEst.SalesGrowthyearest}}</span>
         </div>
         <span class="ion-float-end">
             <span class="highlight">Year ago: </span>
             {{revenuEst.YearAgoSales}}
         </span>
     </div>



    <!-- range chart -->
    <app-fixed-range-slider [min]="revenuEst.LowEstimateNumber"
                            [max]="revenuEst.HighEstimateNumber"
                            [value]="revenuEst.AvgEstimateNumber"
                            [maxDisplayName]="revenuEst.HighEstimate"
                            [minDisplayName]="revenuEst.LowEstimate">
    </app-fixed-range-slider>
</div>
