<div class="container">

    <!-- additional info -->
    <div class="ion-text-wrap">
        <div class="ion-float-start time-est">
            <span style="margin-right: 10px">{{revenuEst.name}}</span>
        </div>
         <div class="ion-float-start">
             <span style="margin-right: 5px" class="highlight"> Avg.: {{ revenuEst.avgEstimate }}</span>
             <span *ngIf="revenuEst.salesGrowthyearestNumber >=0" class="price-up"> {{revenuEst.salesGrowthyearest}}</span>
             <span *ngIf="revenuEst.salesGrowthyearestNumber < 0" class="price-down"> {{ revenuEst.salesGrowthyearest}}</span>
         </div>
         <span class="ion-float-end">
             <span class="highlight">Year ago: </span>
             {{revenuEst.yearAgoSales}}
         </span>
     </div>



    <!-- range chart -->
    <app-fixed-range-slider [min]="revenuEst.lowEstimateNumber"
                            [max]="revenuEst.highEstimateNumber"
                            [value]="revenuEst.avgEstimateNumber"
                            [maxDisplayName]="revenuEst.highEstimate"
                            [minDisplayName]="revenuEst.lowEstimate">
    </app-fixed-range-slider>
</div>
