<ion-label [class]="'st-display-flex-center ' + additionalClasses">
    <div class="st-flex-col st-fit-content">
        <ion-text style="font-weight: bold">Short term</ion-text>
        <div class="st-flex-row">
            <ion-text class="st-font-size-13 st-font-5" style="margin-right: 5px">{{ trendTitle }}</ion-text>
            <span class="ion-hide-sm-up st-font-size-13" [ngClass]="{
                    'st-price-up': trend === 'UP',
                    'st-price-down': trend === 'DOWN'
                }">{{ trend }}</span>
        </div>
    </div>

    <!-- icons -->
    <div>
        <ion-icon *ngIf="trend === 'UP'"
                  class="upgrade ion-hide-sm-down"
                  name="caret-up-outline"></ion-icon>
        <ion-icon *ngIf="trend === 'NEUTRAL'"
                  class="neutral ion-hide-sm-down"
                  name="caret-up-outline"></ion-icon>
        <ion-icon *ngIf="trend === 'DOWN'"
                  class="downgrade ion-hide-sm-down"
                  name="caret-down-outline"></ion-icon>
    </div>
</ion-label>
