<ion-card>
    <ion-card-header>
        <ion-card-title class="ion-text-start ion-padding">
          Balance sheet
        </ion-card-title>
    </ion-card-header>
    <ion-card-content>

        <ion-list *ngIf="balanceSheet">
            <ion-item>
                <ion-label position="fixed" class="fixedLabel"></ion-label>
                <ion-label *ngFor="let d of balanceSheet.date">{{ d  }}</ion-label>
            </ion-item>

            <ion-item>
                <ion-label position="fixed" class="fixedLabel"> Total assets </ion-label>
                <ion-label *ngFor="let d of balanceSheet.Total_Assets">{{ d | millionOrBillion }}</ion-label>
            </ion-item>

            <ion-item>
                <ion-label position="fixed" class="fixedLabel"> Net tangible assets</ion-label>
                <ion-label *ngFor="let d of balanceSheet.Net_Tangible_Assets">{{ d | millionOrBillion }}</ion-label>
            </ion-item>

            <ion-item>
                <ion-label position="fixed" class="fixedLabel"> Total debt </ion-label>
                <ion-label *ngFor="let d of balanceSheet.Total_Debt">{{ d | millionOrBillion }}</ion-label>
            </ion-item>

            <ion-item>
                <ion-label position="fixed" class="fixedLabel"> Net debt </ion-label>
                <ion-label *ngFor="let d of balanceSheet.Net_Debt">{{ d | millionOrBillion }}</ion-label>
            </ion-item>

            <ion-item>
                <ion-label position="fixed" class="fixedLabel"> Total capitalization </ion-label>
                <ion-label *ngFor="let d of balanceSheet.Total_Capitalization">{{ d | millionOrBillion }}</ion-label>
            </ion-item>

            <ion-item>
                <ion-label position="fixed" class="fixedLabel"> Working capital </ion-label>
                <ion-label *ngFor="let d of balanceSheet.Working_Capital">{{ d | millionOrBillion }}</ion-label>
            </ion-item>

            <ion-item>
                <ion-label position="fixed" class="fixedLabel"> Invested capital </ion-label>
                <ion-label *ngFor="let d of balanceSheet.Invested_Capital">{{ d | millionOrBillion }}</ion-label>
            </ion-item>

          <!--  <ion-item>
                <ion-label position="fixed" class="fixedLabel"> Capital lease obligations </ion-label>
                <ion-label *ngFor="let d of balanceSheet.Capital_Lease_Obligations">{{ d | millionOrBillion }}</ion-label>
            </ion-item> -->


            <ion-item>
                <ion-label position="fixed" class="fixedLabel"> Total equity </ion-label>
                <ion-label *ngFor="let d of balanceSheet.Total_Equity_Gross_Minority_Interest">{{ d | millionOrBillion}}</ion-label>
            </ion-item>

            <ion-item>
                <ion-label position="fixed" class="fixedLabel"> Total liabilities </ion-label>
                <ion-label *ngFor="let d of balanceSheet.Total_Liabilities_Net_Minority_Interest">{{ d | millionOrBillion}}</ion-label>
            </ion-item>


        </ion-list>
    </ion-card-content>
</ion-card>

