@import "../../../styles/button-styling";

:host {
  .submit-deny-buttons {
    font-size: 24px !important;
    height: auto;
  }

  ion-button{
    --background: transparent;
    --box-shadow: none;
    --background-hover: none;
  }

}
