<!-- navigation -->
<ion-toolbar>
	<ion-segment color="primary" slot="end" scrollable [value]="segmentValue" (ionChange)="changeDetailsPage($event.detail.value)">
		<ion-segment-button *ngFor="let path of GROUPS_PAGES_DETAILS_PATH" [value]="path.value">
			<ion-label>{{ path.name }}</ion-label>
		</ion-segment-button>
	</ion-segment>
</ion-toolbar>

<div class="c-group-base-information-container st-sm-border-bottom-with-space">
	<app-group-base-information
		*ngIf="groupData$ | async as groupData; else showLoader"
		[groupIdentification]="groupData"
		(leaveEmitter)="leaveGroup()"
		(deleteEmitter)="deleteGroup()"
		(acceptEmitter)="acceptInvitation()"
		(declineEmitter)="declineInvitation()"
		(editEmitter)="editGroup(groupData)"
		(sendInvitationEmitter)="sendInvitation()"
		(removeInvitationEmitter)="removeInvitation()"
		(reloadEmitter)="reloadGroup()"
		[showSendInvitationButton]="canUserSendInvitation$ | async"
		[isGroupPrivate]="groupData.isPrivate"
		[showRemoveInvitationButton]="hasUserAlreadySentInvitaitonIntoGroup$ | async"
		[showLeaveButton]="(isMember$ | async) && (isOwner$ | async) === false"
		[showDeleteButton]="isOwner$ | async"
		[showAcceptButton]="isUserInvited$ | async"
		[showDeclineButton]="isUserInvited$ | async"
		[showEditButton]="isOwner$ | async"
		[showReloadButton]="true"
	>
	</app-group-base-information>
</div>

<!-- routing -->
<ng-container [ngSwitch]="segmentValue">
	<app-group-details-overview *ngSwitchCase="GROUPS_PAGES_DETAILS.OVERVIEW"></app-group-details-overview>
	<app-group-details-stats *ngSwitchCase="GROUPS_PAGES_DETAILS.STATS"></app-group-details-stats>
</ng-container>

<!-- loader -->
<ng-template #showLoader>
	<div class="spinner-container" style="min-height: 50vh">
		<ion-spinner color="primary"></ion-spinner>
	</div>
</ng-template>
