<ion-grid>
	<ion-row class="ion-justify-content-center">
		<ion-col size="12" size-lg="11" style="overflow: visible">
			<!-- search container -->
			<ion-list class="ion-margin-vertical">
				<app-user-account-search
					[showNoUserFoundTest]="isSearchEmpty"
					[fullWith]="true"
					[clearOnClick]="true"
					(clickedUserEmitter)="showUserInformation($event)"
				>
				</app-user-account-search>
			</ion-list>

			<!-- result of user -->
			<ng-container *ngIf="userPublicDataSearchFragment$ | async as userData; else showLoader">
				<!-- user identification -->
				<div class="st-flex-space-between st-md-border-bottom">
					<div class="c-image-container-with-other-data">
						<!-- user imag / name / since -->
						<div class="c-image-container st-sm-border-bottom">
							<ion-img class="c-image" appDefaultImg [src]="userData.photoURL"></ion-img>
							<div class="st-flex-col">
								<ion-text class="st-font-size-18 st-font-0">{{ userData.nickName }}</ion-text>
								<ion-text class="st-font-size-14 st-font-4"> Since: {{ userData.accountCreatedDate | date: 'dd.MM.yyyy' }} </ion-text>
							</div>
						</div>
						<!-- other user related data -->
						<div class="st-flex-col st-sm-border-bottom">
							<ion-text class="st-font-size-16"
								>Executed transactions: {{ userData.portfolio.numberOfExecutedBuyTransactions +
								userData.portfolio.numberOfExecutedSellTransactions}}</ion-text
							>
							<ion-text class="st-font-size-16">
								Executed <span class="st-price-up">BUY</span> transactions: {{ userData.portfolio.numberOfExecutedBuyTransactions }}
							</ion-text>
							<ion-text class="st-font-size-16">
								Executed <span class="st-price-down">SELL</span> transactions: {{ userData.portfolio.numberOfExecutedSellTransactions }}
							</ion-text>
						</div>
					</div>

					<ion-buttons class="ion-align-items-baseline">
						<ion-button fill="outline" color="danger" shape="round" style="min-width: 120px" (click)="clearResult()">Clear</ion-button>
					</ion-buttons>
				</div>

				<!-- portfolio state overview -->
				<ion-grid>
					<ion-row>
						<ion-col size="12" size-sm="6" size-lg="4" class="st-sm-border-bottom">
							<!-- portfolio current state -->
							<app-portfolio-state
								portfolioState="PARTIAL"
								[portfolioCash]="userData.portfolio.lastPortfolioSnapshot.portfolioCash"
								[portfolioInvested]="userData.portfolio.lastPortfolioSnapshot.portfolioInvested"
							></app-portfolio-state>
						</ion-col>
						<ion-col size-lg="5" class="c-portfolio-change ion-hide-lg-down">
							<!-- LG up - portfolio change -->
							<app-portfolio-change
								*ngFor="let tradingChange of tradingChangeWrapper"
								[inlinePriceWithIncrease]="false"
								[tradingChangeWrapper]="tradingChange"
								[balance]="userData.portfolio.lastPortfolioSnapshot.portfolioInvested + userData.portfolio.lastPortfolioSnapshot.portfolioCash"
							></app-portfolio-change>
						</ion-col>
						<ion-col size="12" size-sm="6" size-lg="3" class="st-sm-border-bottom">
							<!-- portfolio increase chart -->
							<div class="c-portfolio-chart">
								<app-portfolio-increase-chart
									[heightPx]="200"
									[portfolioInvested]="userData.portfolio.lastPortfolioSnapshot.portfolioInvested"
									[portfolioCash]="userData.portfolio.lastPortfolioSnapshot.portfolioCash"
								></app-portfolio-increase-chart>
							</div>
						</ion-col>
					</ion-row>

					<!-- LG down screen -  portfolio change -->
					<ion-row class="ion-hide-lg-up st-sm-border-bottom">
						<ion-col class="c-portfolio-change">
							<app-portfolio-change
								*ngFor="let tradingChange of tradingChangeWrapper"
								[inlinePriceWithIncrease]="false"
								[tradingChangeWrapper]="tradingChange"
								[balance]="userData.portfolio.lastPortfolioSnapshot.portfolioInvested + userData.portfolio.lastPortfolioSnapshot.portfolioCash"
							></app-portfolio-change>
						</ion-col>
					</ion-row>

					<!-- portfolio change charts -->
					<app-composed-portfolio-charts [stPortfolioSnapshots]="userData.userHistoricalData.portfolioSnapshots"></app-composed-portfolio-charts>
				</ion-grid>

				<!-- holdings table -->
				<app-composed-portfolio-holdings-table
					[clickable]="false"
					[holdings]="userData.holdings"
					[totalPortfolio]="userData.portfolio.lastPortfolioSnapshot.portfolioInvested + userData.portfolio.lastPortfolioSnapshot.portfolioCash"
				></app-composed-portfolio-holdings-table>

				<ion-grid>
					<!-- holdings pie charts -->
					<app-composed-portfolio-allocation-charts
						[portfolioInvested]="userData.portfolio.lastPortfolioSnapshot.portfolioInvested"
						[portfolioCash]="userData.portfolio.lastPortfolioSnapshot.portfolioCash"
						[holdings]="userData.holdings"
					></app-composed-portfolio-allocation-charts>

					<!-- transactions -->
					<app-composed-transactions
						[transactions]="userData.transactionsSnippets"
						[portfolioWrapper]="userData.portfolio"
						[stTransactionSnapshots]="userData.userHistoricalData.transactionSnapshots"
						[topTransactions]="userData.topTransactions"
					>
					</app-composed-transactions>
				</ion-grid>
			</ng-container>

			<!-- loader -->
			<ng-template #showLoader>
				<div *ngIf="isLoading" class="spinner-container">
					<ion-spinner color="primary"></ion-spinner>
				</div>
			</ng-template>
		</ion-col>
	</ion-row>
</ion-grid>
