<ion-row class="ion-justify-content-center">
	<!-- portfolio growth chart -->
	<ion-col [size]="(isXXLDownScreen$ | async ) ? 12 : 6" class="st-sm-border-bottom-with-space">
		<app-portfolio-growth-chart [heightPx]="portfolioChartHeight" [stPortfolioSnapshots]="stPortfolioSnapshots"> </app-portfolio-growth-chart>
	</ion-col>

	<!-- portfolio change chart -->
	<ion-col [size]="(isXXLDownScreen$ | async ) ? 12 : 6" class="st-sm-border-bottom-with-space">
		<app-portfolio-change-chart [heightPx]="portfolioChartHeight" [stPortfolioSnapshots]="stPortfolioSnapshots"> </app-portfolio-change-chart>
	</ion-col>
</ion-row>

<!-- portfolio comparison -->
<ion-row *ngIf="portfolioComparisonSeries.length > 0">
	<ion-col size="12">
		<app-series-comparison-chart title="Portfolio comparision" [series]="portfolioComparisonSeries"></app-series-comparison-chart>
	</ion-col>
</ion-row>
