<ion-list>
    <!-- table header -->
    <ion-item class="st-font-1-bold st-data-item">
        <ion-label>Symbol</ion-label>
        <!-- bigger screen -->
        <ion-label class="ion-hide-sm-down">Estimated</ion-label>
        <ion-label class="ion-hide-sm-down">Reported</ion-label>
        <ion-label class="ion-hide-sm-down">Difference</ion-label>

        <!-- small screen -->
        <ion-label class="ion-hide-sm-up">Est.</ion-label>
        <ion-label class="ion-hide-sm-up">Rep.</ion-label>
        <ion-label class="ion-hide-sm-up">Diff.</ion-label>
    </ion-item>

    <!-- table data
    <ng-container *ngIf="earnings.length > 0; else showSkeleton">
        <ion-item (click)="clickedItem(earning.ticker, earning.companyshortname)" *ngFor="let earning of earnings"
                  [ngClass]="{'ion-activatable': clickable}"
                  button
                  class="st-data-item-wrapper st-data-item">
            <ion-label class="st-font-4">{{ earning.ticker }}</ion-label>
            <ion-label class="st-data-label">{{ earning.epsestimate || 'N/A' }}</ion-label>
            <ion-label class="st-data-label">{{ earning.epsactual }}</ion-label>
            <ion-label>
                <app-price-change-item
                        [priceChange]="earning.epssurprisepct"
                        [showIcon]="false">
                </app-price-change-item>
            </ion-label>
        </ion-item>
    </ng-container>  -->

    <!-- skeleton -->
    <ng-template #showSkeleton>
        <app-list-skeleton [itemLength]="7"></app-list-skeleton>
    </ng-template>

</ion-list>
