<ion-list>
	<ion-item class="st-data-item-wrapper">
		<ion-label class="st-font-1">Name</ion-label>
		<ion-label class="st-data-label st-flex-end st-width-70"> {{ summary.companyName }}</ion-label>
	</ion-item>

	<ion-item class="st-data-item-wrapper">
		<ion-label class="st-data-label-parent">Ceo</ion-label>
		<ion-label class="st-data-label st-flex-end"> {{ summary.ceo }}</ion-label>
	</ion-item>

	<ion-item class="st-data-item-wrapper">
		<ion-label class="st-data-label-parent">Market cap.</ion-label>
		<ion-label class="st-data-label st-flex-end"> {{ summary.marketCap | numberFormatter }}</ion-label>
	</ion-item>

	<ion-item class="st-data-item-wrapper">
		<ion-label class="st-data-label-parent">PE</ion-label>
		<ion-label class="st-data-label st-flex-end"> {{ summary.pERatioTTM | numberFormatter}}</ion-label>
	</ion-item>

	<ion-item class="st-data-item-wrapper">
		<ion-label class="st-data-label-parent">Forward PE</ion-label>
		<ion-label class="st-data-label st-flex-end"> {{ summary.forwardPE | numberFormatter}}</ion-label>
	</ion-item>

	<ion-item class="st-data-item-wrapper">
		<ion-label class="st-data-label-parent">EPS</ion-label>
		<ion-label class="st-data-label st-flex-end"> {{ summary.ePSTTM | currency }}</ion-label>
	</ion-item>

	<ion-item class="st-data-item-wrapper">
		<ion-label class="st-data-label-parent">Forward EPS</ion-label>
		<ion-label class="st-data-label st-flex-end"> {{ summary.forwardEPS | numberFormatter }}</ion-label>
	</ion-item>

	<ion-item class="st-data-item-wrapper">
		<ion-label class="st-data-label-parent">Price</ion-label>
		<ion-label class="st-flex-row st-flex-end">
			<app-price-compare-item [compareToPrice]="summary.previousClose" [currentPrice]="currentPrice" [showPrice]="false"> </app-price-compare-item>
			<ion-text [@marketValueChange]="currentPrice" class="st-data-label" style="margin-left: 10px"> {{ currentPrice | currency }} </ion-text>
		</ion-label>
	</ion-item>

	<ion-item class="st-data-item-wrapper">
		<ion-label class="st-data-label-parent">1y target</ion-label>
		<ion-label class="st-flex-end st-display-flex-center">
			<app-price-compare-item [compareToPrice]="summary.oneyTargetEst" [currentPrice]="currentPrice" [showPrice]="false"> </app-price-compare-item>
			<ion-text class="st-data-label st-small-left-space">{{ summary.oneyTargetEst | currency }}</ion-text>
		</ion-label>
	</ion-item>

	<ion-item class="st-data-item-wrapper">
		<ion-label class="st-data-label-parent">1y change</ion-label>
		<ion-label class="st-flex-end">
			<app-price-compare-item [compareToPrice]="summary.yearToDatePrice" [currentPrice]="currentPrice" [showPrice]="false"> </app-price-compare-item>
		</ion-label>
	</ion-item>

	<ion-item class="st-data-item-wrapper">
		<ion-label class="st-data-label-parent">S&P500 1y change</ion-label>
		<ion-label class="st-flex-end">
			<app-price-change-item [isPercent]="true" [priceChange]="summary.sandPFiveTwoWeekChange"> </app-price-change-item>
		</ion-label>
	</ion-item>

	<ion-item class="st-data-item-wrapper">
		<ion-label class="st-data-label-parent">Sector</ion-label>
		<ion-label class="st-data-label st-flex-end"> {{ summary.sector }}</ion-label>
	</ion-item>

	<ion-item class="st-data-item-wrapper">
		<ion-label class="st-data-label-parent">Shared outstanding</ion-label>
		<ion-label class="st-data-label st-flex-end"> {{ summary.sharesOutstanding | numberFormatter }}</ion-label>
	</ion-item>

	<ion-item class="st-data-item-wrapper">
		<ion-label class="st-data-label-parent">Recommend</ion-label>
		<ion-label class="st-data-label st-flex-end">
			<ion-text [recommendationKey]="summary.recommendationKey" [recommendationMean]="summary.recommendationMean" appRecommendation> </ion-text>
		</ion-label>
	</ion-item>

	<ion-item class="st-data-item-wrapper">
		<ion-label class="st-data-label-parent">Earnings date</ion-label>
		<ion-label class="st-data-label st-flex-end"> {{ summary.earningsDate * 1000 | date: 'dd.MM.YYYY'}} </ion-label>
	</ion-item>

	<!--<ion-item>
        <ion-label class="st-data-label-parent">Employees</ion-label>
        <ion-label class="st-data-label st-flex-end">
            {{ summary.fullTimeEmployees | numberFormatter }}
        </ion-label>
    </ion-item> -->

	<!--<ion-item *ngIf="summary.lastSplitDate">
        <ion-label position="fixed" class="fixedLabel">Last split</ion-label>
        <ion-label> {{ summary.lastSplitDate * 1000 | date: 'dd.MM.yyyy'}}
            ({{ summary.lastSplitFactor }})
        </ion-label>
    </ion-item>

    <ion-item>
        <ion-label position="fixed" class="fixedLabel">Employee income & revenue</ion-label>
        <ion-label> {{ summary.netIncomeEmployeeAnnual | numberFormatter}}
            ({{ summary.revenueEmployeeAnnual | numberFormatter }})
        </ion-label>
    </ion-item>

    <ion-item>
        <ion-label position="fixed" class="fixedLabel">Residence</ion-label>
        <ion-label>
            {{ summary.residance.city }},
            <span *ngIf="summary.residance.state"> {{ summary.residance.state }}, </span>
            {{ summary.residance.country }}
        </ion-label>
    </ion-item> -->
</ion-list>
