<app-generic-list [iconTitle]="'pricetags'" [title]="'Holdings'"></app-generic-list>

<!-- holdings -->
<div class="st-width-100">
	<app-holdings-allocation-group-chart [heightPx]="300" [holdings]="groupAllData.groupMemberData.holdings" [showTitle]="true">
	</app-holdings-allocation-group-chart>
</div>

<div *ngIf="holdings.length > 0" class="st-flex-wrap ion-margin-vertical">
	<!-- holding chart -->
	<app-pie-chart-wrapper
		[data]="holdings | holdingsToPortfolioChartSeries:  groupAllData.portfolio.lastPortfolioSnapshot.portfolioCash"
		[heightPx]="300"
		chartTitle="Holdings allocation"
		class="ion-hide-sm-down"
	>
	</app-pie-chart-wrapper>

	<!-- sector chart -->
	<app-pie-chart-wrapper [data]="holdings | holdingsToSectorChartSeries" [heightPx]="300" chartTitle="holdings"> </app-pie-chart-wrapper>
</div>
