
:host {
  ion-header{
    background: #111111;
    ion-toolbar{
      padding: 5px;
      --background: #111111 !important;
    }
  }
  ion-header::after {
    background-image: none;
  }

  ion-content {
    --background: #111111;
  }
}


/*
.watchlist-name-container{
  padding: 20px;
  position: relative;
  width: 90%;
  margin: auto;
  text-align: center;
  transition: All 0.3s ease-out;
  cursor: pointer;
  border-bottom: 1px solid #474747;
  overflow: hidden;
  color: #ff9500;
  font-size: 20px;
  &:hover{
    font-size: 26px;
    background-color: #262626;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border-radius: 20px;
  }
}

.watchlist-number{
  position: absolute;
  right: 30px;
  font-size: 18px;
  bottom: 5px;
}


::ng-deep.mat-dialog-container {
  background-color: #212121 !important;
}

mat-dialog-content {
  padding: 20px 24px;
}

.watchlist-create{
  text-align: center;
  clear: both;
}

.form-container{
  width: 85%;
  margin: auto;
  padding: 20px 0 0 0;
}

mat-form-field{
  width: 60%;
  float: left;
  background-color: #252525;
  color: white;
  padding: 10px;
}

.submit-deny-buttons{
  margin-left: 50px;
  float: left;
  padding: 20px 0 0 0;
}

img{
  width: 50px;
  height: 50px;
  margin-right: 20px;
}


.watchlist-create-button {
  font-size: 40px;
  margin-top: 10px;
}
*/
