@import "variables";

:host {
  .container{
    position: relative;
    margin-bottom: 22px;
    font-size: 14px;
    display: grid;
    margin-top: 8px;
  }

  .time-est{
    @media (max-width: #{$st-var-lg-split}) {
      width: 100%;
      text-align: center;
      margin-top: 5px;
    }
  }

  .price-icon {
    //position: absolute;
    //top: -4px;
    margin-left: 10px !important;
  }
}
