@import "variables";

:host {
  .container {
    position: relative;
    margin-bottom: 22px;
    font-size: 14px;
    display: grid;
    margin-top: 8px;
  }

  .price-icon {
    //position: absolute;
    //top: -4px;
    margin-left: 10px !important;
  }
}
