<div class="container" *ngFor="let revenue of revenueEstimates"
     [appTooltip]="revenue.name + '\n\n' + 'Estimate: ' + (revenue.avg | numberFormatter) + '\n' + 'Number of analysis: ' + revenue.noofAnalysts">

    <!-- additional info -->
    <div class="ion-text-wrap st-flex-row-md-justify-center">
        <div class="st-display-flex-center">
            <ion-text class="st-font-5 st-small-right-space">{{revenue.name}}</ion-text>
            <span class="st-font-2 st-small-right-space ion-hide-sm-down"> {{ revenue.avg | numberFormatter }}</span>
            <app-price-change-item [priceChange]="revenue.growth" [isPercent]="true"></app-price-change-item>
        </div>

        <span class="ion-float-end st-font-2 ion-hide-sm-down">
             <span>Year ago: </span>
            {{revenue.yearAgo | numberFormatter}}
         </span>
    </div>


    <!-- range chart -->
    <app-fixed-range-slider [min]="revenue.low"
                            [max]="revenue.high"
                            [value]="revenue.avg">
    </app-fixed-range-slider>
</div>
