<app-generic-card [title]="'Holdings'" [iconTitle]="'pricetags'" [applyLeftPadding]="false">

    <!-- table header -->
    <ion-item style="font-weight: bold;" class="ion-margin-top ion-no-padding ion-hide-sm-down">
        <ion-label position="fixed" style="min-width: 53px; max-width: 53px;"></ion-label>
        <ion-label
                position="fixed"
                class="st-label-small-space st-font-1">
            Symbol
        </ion-label>
        <ion-label
                position="fixed"
                class="st-label-small-space st-font-1">
            Price
        </ion-label>
        <ion-label
                position="fixed"
                class="st-label-md-space st-font-1">
            Daily +/-
        </ion-label>
        <ion-label
                position="fixed"
                class="st-label-md-space st-font-1">
            Total +/-
        </ion-label>
        <ion-label
                position="fixed"
                class="st-label-md-space st-font-1">
            Value
        </ion-label>
        <ion-label
                position="fixed"
                class="st-label-md-space st-font-1">
            Portfolio %
        </ion-label>
        <ion-label
                position="fixed"
                class="st-label-xl-space st-font-1">
            Recommendation
        </ion-label>
    </ion-item>
    <!-- ********************** -->


    <!-- table body -->
    <ion-list class="st-data-item-parent">
        <app-holdings-table-body-item
                *ngFor="let transaction of stTransactions"
                [displayedLabels]="displayedLabels"
                [transaction]="transaction"
                [clickable]="clickable"
                [userPortfolioTotal]="userPortfolioTotal"
                [currentPrice]="transaction.summary.marketPrice"
                (itemClickedEmitter)="itemClicked($event)">
        </app-holdings-table-body-item>
    </ion-list>
</app-generic-card>
