<app-generic-card [title]="'Holdings'" [iconTitle]="'pricetags'">

    <ion-list>
        <ion-item class="ion-margin-top ion-no-padding ion-hide-sm-down st-font-1-bold">
            <!-- table header -->
            <ion-label>Symbol</ion-label>
            <ion-label>Price</ion-label>
            <ion-label>Bep.</ion-label>
            <ion-label>Daily +/-</ion-label>
            <ion-label>Total +/-</ion-label>
            <ion-label>Value</ion-label>
            <ion-label>Portfolio %</ion-label>
            <ion-label>Recommendation</ion-label>
        </ion-item>
        <!-- ********************** -->


        <!-- table body -->
        <app-holdings-table-body-item
                *ngFor="let transaction of stTransactions"
                [transaction]="transaction"
                [clickable]="clickable"
                [userPortfolioTotal]="userPortfolioTotal"
                [currentPrice]="transaction.summary.marketPrice"
                (itemClickedEmitter)="itemClicked($event)">
        </app-holdings-table-body-item>
    </ion-list>
</app-generic-card>
