<form [formGroup]="form" class="flex gap-2">
	<app-form-mat-input-wrapper class="flex-1" controlName="name" [inputCaption]="label"></app-form-mat-input-wrapper>

	<div class="flex gap-1 pt-1">
		<button *ngIf="editing" mat-icon-button class="g-color-success" (click)="accept()" matTooltip="Confirm editing">
			<mat-icon>check_circle</mat-icon>
		</button>
		<button mat-icon-button class="g-color-warning" (click)="modify()" [matTooltip]="editing ? 'Cancel editing' : 'Edit input'">
			<mat-icon>edit</mat-icon>
		</button>
		<button *ngIf="editing" mat-icon-button class="g-color-danger" (click)="remove()" [matTooltip]="'Delete this ' + label">
			<mat-icon>delete</mat-icon>
		</button>
	</div>
</form>
