<ion-item-group class="st-flex-row-md-justify-center">
    <form [formGroup]="form">
        <ion-item class="form-item">
            <ion-label position="floating">
                {{ label }}
            </ion-label>
            <ion-input type="text" [value]="name" formControlName="name"></ion-input>
        </ion-item>
    </form>


    <ion-buttons>
        <!-- accept -->
        <ion-button *ngIf="editing" class="st-transparent-background st-positive-button st-clickable" (click)="accept()">
            <ion-icon name="checkmark-circle" class="st-clickable" slot="icon-only"></ion-icon>
        </ion-button>
        <!-- modify -->
        <ion-button class="st-transparent-background st-clickable st-edit-button" (click)="modify()">
            <ion-icon name="pencil" class="st-clickable" slot="icon-only"></ion-icon>
        </ion-button>
        <!-- delete -->
        <ion-button *ngIf="editing" class="st-transparent-background st-negative-button st-clickable" (click)="remove()">
            <ion-icon name="trash-bin" class="st-clickable" slot="icon-only"></ion-icon>
        </ion-button>
    </ion-buttons>
</ion-item-group>
