<ion-grid *ngIf="stockDetails$ | async as stockDetails">
    <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-lg="6">
            <!-- stock chart -->
            <app-financial-chart-container
                    [closedPrice]="stockDetails.summary.previousClose"
                    [currentPrice]="stockDetails.summary.marketPrice"
                    [height]="410"
                    [logoUrl]="stockDetails.summary.logo_url"
                    [name]="stockDetails.summary.companyName"
                    [symbol]="stockDetails.summary.symbol">
            </app-financial-chart-container>
        </ion-col>

        <ion-col size="12" size-lg="6">
            <!-- summary -->
            <ion-list-header>
                <ion-label class="st-display-flex-center">
                    <ion-icon class="st-icon-title" name="barcode-outline"></ion-icon>
                    <ion-text class="st-font-size-18 st-font-0"> {{ 'Summary: ' + stockDetails.id }}</ion-text>
                </ion-label>
                <ion-button (click)="reloadStockDetails()" *ngIf="isAdmin$ | async">
                    <ion-icon class="st-icon-title" name="refresh-circle"></ion-icon>
                    Reload data
                </ion-button>
            </ion-list-header>

            <app-generic-card>
                <app-stock-summary-container
                        [summary]="stockDetails.summary">
                </app-stock-summary-container>
            </app-generic-card>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col size="12" size-sm="6" size-xl="3.5">
            <app-generic-card additionalClasses="st-height-100" subtitle="Financial strength">
                <app-details-financial-strength
                        [stockDetails]="stockDetails">
                </app-details-financial-strength>
            </app-generic-card>
        </ion-col>
        <ion-col size="12" size-sm="6" size-xl="3.5">
            <app-generic-card additionalClasses="st-height-100" subtitle="Valuation">
                <app-details-valuation
                        [stockDetails]="stockDetails">
                </app-details-valuation>
            </app-generic-card>
        </ion-col>
        <ion-col size="12" size-xl="5">
            <app-generic-card additionalClasses="st-height-100" subtitle="Financial yearly growth">
                <app-generic-chart
                        [chartType]="ChartType.bar"
                        [heightPx]="315"
                        [isPercentage]="true"
                        [series]="[{
                             colorByPoint: true,
                             data:[
                                {name: 'Revenue ttm. yoy', y: stockDetails.metric.revenueGrowthTTMYoy / 100},
                                {name: 'Revenue qrt. yoy', y: stockDetails.metric.revenueGrowthQuarterlyYoy / 100},
                                {name: 'Revenue 5y', y: stockDetails.metric.revenueGrowthFiveY / 100},
                                {name: 'EPS qrt. yoy', y: stockDetails.metric.epsGrowthQuarterlyYoy / 100},
                                {name: 'EPS ttm yoy', y: stockDetails.metric.epsGrowthTTMYoy / 100},
                                {name: 'Capital spending yoy', y: stockDetails.metric.capitalSpendingGrowthFiveY  / 100},
                                {name: 'BV per share 5y', y: stockDetails.metric.bookValueShareGrowthFiveY  / 100},
                                {name: 'Assets turnover ttm', y: stockDetails.metric.assetTurnoverTTM/ 100},
                                {name: 'Inventory turnover ttm', y: stockDetails.metric.inventoryTurnoverTTM / 100},
                                {name: 'Dividend rate 5y', y: stockDetails.dividends.dividendGrowthRateFiveY / 100}
                              ]
                          }]"
                        [showDataLabel]="true">
                </app-generic-chart>
            </app-generic-card>
        </ion-col>
    </ion-row>


    <ion-row>
        <ion-col size="12" size-lg="3.5" size-sm="6">
            <app-generic-card additionalClasses="st-height-100" subtitle="Financial ratio">
                <app-details-financial-strength-ratio
                        [stockDetails]="stockDetails"></app-details-financial-strength-ratio>
            </app-generic-card>
        </ion-col>
        <ion-col size="12" size-lg="3.5" size-sm="6">
            <app-generic-card additionalClasses="st-height-100" subtitle="Financial per share">
                <app-details-per-share [stockDetails]="stockDetails"></app-details-per-share>
            </app-generic-card>
        </ion-col>
        <ion-col size="12" size-lg="5">
            <app-generic-card additionalClasses="st-height-100" subtitle="Margin">
                <app-generic-chart
                        [chartType]="ChartType.bar"
                        [heightPx]="310"
                        [isPercentage]="true"
                        [series]="[{
                                colorByPoint: true,
                                 data:[
                                 {name: 'Gross margin ttm.', y: stockDetails.companyData.financialData.grossMargins},
                                 {name: 'Net growth margin 5y', y: stockDetails.metric.netMarginGrowthFiveY / 100},
                                 {name: 'Net profit margin ttm.', y: stockDetails.companyData.financialData.profitMargins},
                                 {name: 'Operating margin ttm.', y: stockDetails.metric.operatingMarginTTM / 100},
                                 {name: 'Pretax margin ttm.', y: stockDetails.metric.pretaxMarginTTM / 100},
                                 {name: 'EBITDA margin ttm.', y: stockDetails.companyData.financialData.ebitdaMargins}
                              ]
                          }]"
                        [showDataLabel]="true">
                </app-generic-chart>
            </app-generic-card>
        </ion-col>
    </ion-row>


    <ion-row>
        <ion-col size="12" size-lg="4" size-sm="6">
            <!-- dividends -->
            <app-generic-card additionalClasses="st-height-100" subtitle="Dividend">
                <app-details-dividend [stockDetails]="stockDetails">
                </app-details-dividend>
            </app-generic-card>
        </ion-col>
        <ion-col size="12" size-lg="4" size-sm="6">
            <!-- dividend payouts -->
            <app-generic-card additionalClasses="st-height-100" subtitle="Dividend payouts">
                <app-details-dividend-payout
                        *ngIf="stockDetails.companyOutlook.stockDividend"
                        [dividendPayouts]="stockDetails.companyOutlook.stockDividend">
                </app-details-dividend-payout>
            </app-generic-card>
        </ion-col>

        <ion-col size="12" size-lg="4">
            <!-- Effectiveness -->
            <app-generic-card additionalClasses="st-height-100" subtitle="Effectiveness">
                <app-generic-chart
                        *ngIf="stockDetails.companyData.financialData.returnOnAssets ||
                               stockDetails.companyData.financialData.returnOnEquity ||
                               stockDetails.metric.roiTTM"
                        [chartType]="ChartType.column"
                        [heightPx]="220"
                        [isPercentage]="true"
                        [series]="[{
                                 colorByPoint: true,
                                 data:[
                                      {name: 'ROA', y: stockDetails.companyData.financialData.returnOnAssets},
                                      {name: 'ROE', y: stockDetails.companyData.financialData.returnOnEquity},
                                      {name: 'ROI ', y: stockDetails.metric.roiTTM / 100}
                                  ]
                      }]"
                        [showDataLabel]="true">
                </app-generic-chart>
            </app-generic-card>
        </ion-col>
    </ion-row>


    <ion-row>
        <ion-col size="12" size-lg="4.5" size-md="6">
            <!-- rating -->
            <app-generic-card additionalClasses="st-height-100" subtitle="Rating">
                <app-details-rating [rating]="stockDetails.companyOutlook.rating">
                </app-details-rating>
            </app-generic-card>
            <!-- revenue growth chart
            <app-generic-card additionalClasses="st-height-100" subtitle="Revenue growth estimation">
                <app-details-revenue-estimate
                        *ngIf="stockDetails.analysis?.revenueEstimate"
                        [revenueEstimates]="stockDetails.analysis?.revenueEstimate">
                </app-details-revenue-estimate>
            </app-generic-card>  -->
        </ion-col>
        <ion-col size="12" size-lg="3" size-md="6">
            <!-- split history -->
            <app-generic-card additionalClasses="st-height-100" subtitle="Split history">
                <app-details-split-history
                        *ngIf="stockDetails.companyOutlook.splitHistory"
                        [splitHistories]="stockDetails.companyOutlook.splitHistory">
                </app-details-split-history>
            </app-generic-card>
        </ion-col>
        <ion-col size="12" size-lg="4.5">
            <!-- recommendation chart -->
            <app-generic-card additionalClasses="st-height-100" subtitle="Recommendation">
                <app-details-recommendation-chart
                        *ngIf="stockDetails.recommendation.length > 0"
                        [recommendations]="stockDetails.recommendation">
                </app-details-recommendation-chart>
            </app-generic-card>
        </ion-col>
    </ion-row>


    <ion-row>
        <ion-col size="12" size-lg="4" size-sm="6">
            <!-- Financial yearly -->
            <app-generic-card additionalClasses="st-height-100" subtitle="Financial yearly">
                <ng-container *ngIf="stockDetails.companyData.earnings?.financialsChart as fc">
                    <app-generic-chart
                            *ngIf="fc?.yearly?.categories?.length > 0"
                            [categories]="fc.yearly.categories"
                            [chartType]="ChartType.column"
                            [heightPx]="225"
                            [series]="fc.yearly.series">
                    </app-generic-chart>
                </ng-container>
            </app-generic-card>
        </ion-col>

        <ion-col size="12" size-lg="4" size-sm="6">
            <!-- Financial quarterly -->
            <app-generic-card additionalClasses="st-height-100" subtitle="Financial quarterly">
                <ng-container *ngIf="stockDetails.companyData.earnings?.financialsChart as fc">
                    <app-generic-chart
                            *ngIf="fc?.quarterly?.categories?.length > 0"
                            [categories]="fc.quarterly.categories"
                            [chartType]="ChartType.column"
                            [heightPx]="225"
                            [series]="fc.quarterly.series">
                    </app-generic-chart>
                </ng-container>
            </app-generic-card>
        </ion-col>

        <ion-col size="12" size-lg="4">
            <app-generic-card additionalClasses="st-height-100" subtitle="Earnings">
                <app-details-earnings-chart
                        *ngIf="stockDetails.companyData.earnings?.earningsChart?.quarterly?.length > 0"
                        [earnings]="stockDetails.companyData.earnings?.earningsChart"
                        [height]="225">
                </app-details-earnings-chart>
            </app-generic-card>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col size="12" size-lg="6" style="padding: 0 !important;">
            <ion-col size="12" style="padding: 0 !important;">
                <ion-row>
                    <ion-col size="12" size-sm="6">
                        <!--  Current price to 1y target -->
                        <app-generic-card additionalClasses="st-height-100" subtitle="Price to 1y target">
                            <app-gauge-chart
                                    *ngIf="stockDetails.summary.oneyTargetEst"
                                    [currentPoint]="stockDetails.summary.marketPrice"
                                    [displayValue]="stockDetails.summary.targetEstOneyPercent | percent: '1.2'"
                                    [endingPoint]="stockDetails.summary.oneyTargetEst"
                                    [height]="125"
                                    [startingPoint]="0"
                                    [tooltipName]="'Target'"
                                    [tooltipValue]="'$' + stockDetails.summary.oneyTargetEst + ' (' + (stockDetails.summary.targetEstOneyPercent | percent: '1.2') + ')'">
                            </app-gauge-chart>
                        </app-generic-card>
                    </ion-col>
                    <ion-col size="12" size-sm="6">
                        <!--  Cash to Debt -->
                        <app-generic-card additionalClasses="st-height-100" subtitle="Cash to Debt">
                            <ng-container *ngIf="stockDetails.companyData.financialData as fd">
                                <app-gauge-chart
                                        *ngIf="fd.totalCash && fd.totalDebt"
                                        [currentPoint]="fd.totalCash"
                                        [displayValue]=" 1 / fd.totalDebt * fd.totalCash | percent: '1.2'"
                                        [endingPoint]="fd.totalDebt"
                                        [height]="125"
                                        [startingPoint]="0"
                                        [tooltipName]="'Cash to Debt'">
                                </app-gauge-chart>
                            </ng-container>
                        </app-generic-card>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col class="st-height-100" size="12" style="padding: 0">
                <!-- ESG score -->
                <app-generic-card additionalClasses='st-height-100' subtitle="ESG risk rating">
                    <app-details-esg-score
                            *ngIf="stockDetails.companyData.esgScores"
                            [esgScore]="stockDetails.companyData.esgScores">
                    </app-details-esg-score>
                </app-generic-card>
            </ion-col>
        </ion-col>

        <ion-col size="12" size-lg="6">
            <!--  grading history -->
            <app-generic-card additionalClasses="st-height-100" subtitle="Stock grading">
                <ion-item-group *ngIf="stockDetails.companyData.upgradeDowngradeHistory.length > 0"
                                class="ion-margin-bottom">
                    <app-details-grading-history
                            [history]="stockDetails.companyData.upgradeDowngradeHistory | slice: 0: 11">
                    </app-details-grading-history>
                </ion-item-group>
                <app-details-stock-trend
                        *ngIf="stockDetails.companyData.pageViews as trend"
                        [trend]="trend">
                </app-details-stock-trend>
            </app-generic-card>
        </ion-col>
    </ion-row>

    <!-- holders -->
    <ion-row>
        <!-- Institutional holders -->
        <ion-col size="12" size-lg="6">
            <app-generic-card additionalClasses="st-height-100" subtitle="Institutional holders">
                <app-details-holders
                        *ngIf="stockDetails.institutionalHolders?.length > 0"
                        [currentSharePrice]="stockDetails.summary.previousClose"
                        [holders]="stockDetails.institutionalHolders"
                        [outstandingShares]="stockDetails.summary.sharesOutstanding">
                </app-details-holders>
            </app-generic-card>
        </ion-col>
        <!-- Mutual fund holders -->
        <ion-col size="12" size-lg="6">
            <app-generic-card additionalClasses="st-height-100" subtitle="Mutual fund holders">
                <app-details-holders
                        *ngIf="stockDetails.mutualFundHolders?.length > 0"
                        [currentSharePrice]="stockDetails.summary.previousClose"
                        [holders]="stockDetails.mutualFundHolders"
                        [outstandingShares]="stockDetails.summary.sharesOutstanding">
                </app-details-holders>
            </app-generic-card>
        </ion-col>
    </ion-row>

    <!-- transaction -->
    <ion-row>
        <ion-col size="12">
            <app-generic-card subtitle="Insider transactions">
                <app-details-transactions
                        *ngIf="stockDetails.companyOutlook.insideTrades?.length > 0"
                        [insiderTrades]="stockDetails.companyOutlook.insideTrades">
                </app-details-transactions>
            </app-generic-card>
        </ion-col>
    </ion-row>

    <ion-row>
        <!-- key executives -->
        <ion-col *ngIf="stockDetails.companyOutlook.keyExecutives" size="12" size-lg="4">
            <app-generic-card additionalClasses="st-height-100" subtitle="Key executives">
                <app-details-key-executives
                        *ngIf="stockDetails.companyOutlook.keyExecutives.length > 0"
                        [keyExecutives]="stockDetails.companyOutlook.keyExecutives | slice: 0 : 8">
                </app-details-key-executives>
            </app-generic-card>
        </ion-col>

        <!-- peers -->
        <ion-col size="12" size-lg="8">
            <app-generic-card additionalClasses="st-height-100" subtitle="Sector peers">
                <app-details-stock-peers
                        (clickedPeerEmitter)="showPeerSummary($event)"
                        [sectorPeers]="stockDetails.sectorPeers">
                </app-details-stock-peers>
            </app-generic-card>
        </ion-col>
    </ion-row>

    <!-- historical metrics -->
    <ng-container *ngIf="stockDetails.historicalMetrics">
        <app-generic-list [applyMarginTop]="true" title="Yearly metrics"></app-generic-list>
        <ion-row>
            <ng-container *ngFor="let key of stockDetails.historicalMetrics | objNgFor; let i = index; let last=last">
                <ion-col *ngIf="key !== '__typename'" [sizeLg]="i > 15 ? 6  : 4" [sizeSm]="last ? 12 : 6" size="12">
                    <ng-container *ngIf="stockDetails.historicalMetrics[key] as data; else emptyCard">
                        <app-generic-card *ngIf="data.data.length > 0; else emptyCard"
                                          [subtitle]="data.name + ': ' + data.data[data.data.length - 1]"
                                          additionalClasses="st-height-100">
                            <app-generic-chart *ngIf="data.dates.length > 0"
                                               [categories]="data.dates"
                                               [heightPx]="130"
                                               [series]="[data]">
                            </app-generic-chart>
                        </app-generic-card>
                    </ng-container>
                    <ng-template #emptyCard>
                        <app-generic-card [subtitle]="key | splitKeyToTitlecase"
                                          additionalClasses="st-height-100">
                        </app-generic-card>
                    </ng-template>
                </ion-col>
            </ng-container>
        </ion-row>
    </ng-container>

    <!-- news -->
    <ion-row *ngIf="stockDetails.companyOutlook.stockNews?.length > 0">
        <app-generic-list [applyMarginTop]="true" title="News"></app-generic-list>
        <ion-col size="12">
            <div class="news-container">
                <app-details-news *ngFor="let article of stockDetails.companyOutlook.stockNews"
                                  [stockArticle]="article">
                </app-details-news>
            </div>
        </ion-col>
    </ion-row>
</ion-grid>
