<ion-grid *ngIf="stockDetails$ | async as stockDetails">
    <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-md="7" size-lg="6.5">
            <!-- stock chart -->
            <app-financial-chart-container
                    [currentPrice]="stockDetails.summary.marketPrice"
                    [closedPrice]="stockDetails.summary.previousClose"
                    [logoUrl]="stockDetails.summary.logo_url"
                    [name]="stockDetails.summary.longName"
                    [height]="390"
                    [symbol]="stockDetails.summary.symbol">
            </app-financial-chart-container>
        </ion-col>

        <ion-col size="12" size-md="5">
            <!-- summary -->
            <app-generic-list
                    iconTitle="barcode-outline"
                    [title]="'Summary: ' + stockDetails.id">
            </app-generic-list>
            <app-generic-card>
                <app-stock-summary-container
                        [summary]="stockDetails.summary">
                </app-stock-summary-container>
            </app-generic-card>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col size-xl="3.5" size-sm="6" size="12">
            <app-generic-card subtitle="Financial strength" additionalClasses="st-height-100">
                <app-details-financial-strength
                        [stockDetails]="stockDetails">
                </app-details-financial-strength>
            </app-generic-card>
        </ion-col>
        <ion-col size-xl="3.5" size-sm="6" size="12">
            <app-generic-card subtitle="Valuation" additionalClasses="st-height-100">
                <app-details-valuation
                        [stockDetails]="stockDetails">
                </app-details-valuation>
            </app-generic-card>
        </ion-col>
        <ion-col size-xl="5" size="12">
            <app-generic-card subtitle="Financial yearly growth"
                              additionalClasses="st-height-100"
                              [applyLeftPadding]="false">
                <app-generic-chart
                        [chartType]="ChartType.bar"
                        [heightPx]="315"
                        [showDataLabel]="true"
                        [isPercentage]="true"
                        [series]="[{
                             colorByPoint: true,
                             data:[
                                {name: 'Revenue ttm. yoy', y: stockDetails.metric.revenueGrowthTTMYoy / 100},
                                {name: 'Revenue qrt. yoy', y: stockDetails.metric.revenueGrowthQuarterlyYoy / 100},
                                {name: 'Revenue 5y', y: stockDetails.metric.revenueGrowthFiveY / 100},
                                {name: 'EPS qrt. yoy', y: stockDetails.metric.epsGrowthQuarterlyYoy / 100},
                                {name: 'EPS ttm yoy', y: stockDetails.metric.epsGrowthTTMYoy / 100},
                                {name: 'Capital spending yoy', y: stockDetails.metric.capitalSpendingGrowthFiveY  / 100},
                                {name: 'BV per share 5y', y: stockDetails.metric.bookValueShareGrowthFiveY  / 100},
                                {name: 'Assets turnover ttm', y: stockDetails.metric.assetTurnoverTTM/ 100},
                                {name: 'Inventory turnover ttm', y: stockDetails.metric.inventoryTurnoverTTM / 100},
                                {name: 'Dividend rate 5y', y: stockDetails.dividends.dividendGrowthRateFiveY / 100}
                              ]
                          }]">
                </app-generic-chart>
            </app-generic-card>
        </ion-col>
    </ion-row>


    <ion-row>
        <ion-col size-lg="3.5" size-sm="6" size="12">
            <app-generic-card subtitle="Financial ratio" additionalClasses="st-height-100">
                <app-details-financial-strength-ratio
                        [stockDetails]="stockDetails"></app-details-financial-strength-ratio>
            </app-generic-card>
        </ion-col>
        <ion-col size-lg="3.5" size-sm="6" size="12">
            <app-generic-card subtitle="Financial per share" additionalClasses="st-height-100">
                <app-details-per-share [stockDetails]="stockDetails"></app-details-per-share>
            </app-generic-card>
        </ion-col>
        <ion-col size-lg="5" size="12">
            <app-generic-card subtitle="Margin" additionalClasses="st-height-100" [applyLeftPadding]="false">
                <app-generic-chart
                        [chartType]="ChartType.bar"
                        [heightPx]="285"
                        [isPercentage]="true"
                        [showDataLabel]="true"
                        [series]="[{
                                colorByPoint: true,
                                 data:[
                                 {name: 'Gross margin ttm.', y: stockDetails.companyData.financialData.grossMargins},
                                 {name: 'Net growth margin 5y', y: stockDetails.metric.netMarginGrowthFiveY / 100},
                                 {name: 'Net profit margin ttm.', y: stockDetails.companyData.financialData.profitMargins},
                                 {name: 'Operating margin ttm.', y: stockDetails.metric.operatingMarginTTM / 100},
                                 {name: 'Pretax margin ttm.', y: stockDetails.metric.pretaxMarginTTM / 100},
                                 {name: 'EBITDA margin ttm.', y: stockDetails.companyData.financialData.ebitdaMargins}
                              ]
                          }]">
                </app-generic-chart>
            </app-generic-card>
        </ion-col>
    </ion-row>


    <ion-row>
        <ion-col size-lg="4" size-sm="6" size="12">
            <app-generic-card subtitle="Dividend" additionalClasses="st-height-100">
                <app-details-dividend [stockDetails]="stockDetails"></app-details-dividend>
            </app-generic-card>
        </ion-col>
        <ion-col size-lg="3" size-sm="6" size="12">
            <app-generic-card subtitle="Effectiveness" [applyLeftPadding]="false" additionalClasses="st-height-100">
                <app-generic-chart
                        *ngIf="stockDetails.companyData.financialData.returnOnAssets ||
                               stockDetails.companyData.financialData.returnOnEquity ||
                               stockDetails.metric.roiTTM"
                        [chartType]="ChartType.column"
                        [heightPx]="220"
                        [isPercentage]="true"
                        [showDataLabel]="true"
                        [series]="[{
                                 colorByPoint: true,
                                 data:[
                                      {name: 'ROA', y: stockDetails.companyData.financialData.returnOnAssets},
                                      {name: 'ROE', y: stockDetails.companyData.financialData.returnOnEquity},
                                      {name: 'ROI ', y: stockDetails.metric.roiTTM / 100}
                                  ]
                      }]">
                </app-generic-chart>
            </app-generic-card>
        </ion-col>

        <ion-col size="12" size-lg="5">
            <!-- company growth -->
            <app-generic-card subtitle="Company growth"
                              [applyLeftPadding]="false"
                              additionalClasses="st-height-100">
                <app-generic-chart
                        *ngIf="stockDetails.analysis?.growthEstimates"
                        [chartType]="ChartType.column"
                        [heightPx]="220"
                        [isPercentage]="true"
                        [showDataLabel]="true"
                        [series]="[{
                                colorByPoint: true,
                                data: stockDetails.analysis?.growthEstimates
                          }]">
                </app-generic-chart>
            </app-generic-card>
        </ion-col>
    </ion-row>


    <ion-row>
        <ion-col size-xl="6.5" size-md="7.5" size="12">
            <!-- revenue growth chart -->
            <app-generic-card subtitle="Revenue growth estimation"
                              [applyLeftPadding]="false"
                              additionalClasses="st-height-100">
                <app-details-revenue-estimate
                        *ngIf="stockDetails.analysis?.revenueEstimate"
                        [revenueEstimates]="stockDetails.analysis?.revenueEstimate">
                </app-details-revenue-estimate>
            </app-generic-card>
        </ion-col>
        <ion-col size-xl="5.5" size-md="4.5" size="12">
            <!-- recommendation chart -->
            <app-generic-card subtitle="Recommendation"
                              [applyLeftPadding]="false"
                              additionalClasses="st-height-100">
                <app-details-recommendation-chart
                        *ngIf="stockDetails.recommendation.length > 0"
                        [recommendations]="stockDetails.recommendation">
                </app-details-recommendation-chart>
            </app-generic-card>
        </ion-col>
    </ion-row>


    <ion-row>
        <ion-col size-lg="4" size-sm="6" size="12">
            <!-- Financial yearly -->
            <app-generic-card subtitle="Financial yearly"
                              [applyLeftPadding]="false"
                              additionalClasses="st-height-100">
                <ng-container *ngIf="stockDetails.companyData.earnings?.financialsChart as fc">
                    <app-generic-chart
                            *ngIf="fc?.yearly?.categories?.length > 0"
                            [chartType]="ChartType.column"
                            [heightPx]="185"
                            [categories]="fc.yearly.categories"
                            [series]="fc.yearly.series">
                    </app-generic-chart>
                </ng-container>
            </app-generic-card>
        </ion-col>

        <ion-col size-lg="4" size-sm="6" size="12">
            <!-- Financial quarterly -->
            <app-generic-card subtitle="Financial quarterly"
                              [applyLeftPadding]="false"
                              additionalClasses="st-height-100">
                <ng-container *ngIf="stockDetails.companyData.earnings?.financialsChart as fc">
                    <app-generic-chart
                            *ngIf="fc?.quarterly?.categories?.length > 0"
                            [chartType]="ChartType.column"
                            [heightPx]="185"
                            [categories]="fc.quarterly.categories"
                            [series]="fc.quarterly.series">
                    </app-generic-chart>
                </ng-container>
            </app-generic-card>
        </ion-col>

        <ion-col size-lg="4" size="12">
            <app-generic-card subtitle="Earnings" [applyLeftPadding]="false" additionalClasses="st-height-100">
                <app-details-earnings-chart
                        *ngIf="stockDetails.companyData.earnings?.earningsChart?.quarterly?.length > 0"
                        [earnings]="stockDetails.companyData.earnings?.earningsChart">
                </app-details-earnings-chart>
            </app-generic-card>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col size="12" size-lg="6" style="padding: 0 !important;">
            <ion-col size="12" style="padding: 0 !important;">
                <ion-row>
                    <ion-col size="12" size-sm="6">
                        <!--  Current price to 1y target -->
                        <app-generic-card subtitle="Price to 1y target"
                                          additionalClasses="st-height-100"
                                          [applyLeftPadding]="false">
                            <app-gauge-chart
                                    *ngIf="stockDetails.summary.oneyTargetEst"
                                    [tooltipName]="'Target'"
                                    [tooltipValue]="'$' + stockDetails.summary.oneyTargetEst + ' (' + (stockDetails.summary.targetEstOneyPercent | percent: '1.2') + ')'"
                                    [height]="125"
                                    [displayValue]="stockDetails.summary.targetEstOneyPercent | percent: '1.2'"
                                    [startingPoint]="0"
                                    [endingPoint]="stockDetails.summary.oneyTargetEst"
                                    [currentPoint]="stockDetails.summary.marketPrice">
                            </app-gauge-chart>
                        </app-generic-card>
                    </ion-col>
                    <ion-col size="12" size-sm="6">
                        <!--  Cash to Debt -->
                        <app-generic-card subtitle="Cash to Debt"
                                          additionalClasses="st-height-100"
                                          [applyLeftPadding]="false">
                            <ng-container *ngIf="stockDetails.companyData.financialData as fd">
                                <app-gauge-chart
                                        *ngIf="fd.totalCash && fd.totalDebt"
                                        [tooltipName]="'Cash to Debt'"
                                        [height]="125"
                                        [displayValue]=" 1 / fd.totalDebt * fd.totalCash | percent: '1.2'"
                                        [startingPoint]="0"
                                        [endingPoint]="fd.totalDebt"
                                        [currentPoint]="fd.totalCash">
                                </app-gauge-chart>
                            </ng-container>
                        </app-generic-card>
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col size="12" class="st-height-100" style="padding: 0">
                <!-- ESG score -->
                <app-generic-card subtitle="ESG risk rating" additionalClasses='st-height-100'>
                    <app-details-esg-score
                            *ngIf="stockDetails.companyData.esgScores"
                            [esgScore]="stockDetails.companyData.esgScores">
                    </app-details-esg-score>
                </app-generic-card>
            </ion-col>
        </ion-col>

        <ion-col size="12" size-lg="6">
            <!--  grading history -->
            <app-generic-card subtitle="Stock grading" additionalClasses="st-height-100">
                <ion-item-group *ngIf="stockDetails.companyData.upgradeDowngradeHistory.length > 0"
                                class="ion-margin-bottom">
                    <app-details-grading-history
                            [history]="stockDetails.companyData.upgradeDowngradeHistory | slice: 0: 11">
                    </app-details-grading-history>
                </ion-item-group>
                <app-details-stock-trend
                        *ngIf="stockDetails.companyData.pageViews as trend"
                        [trend]="trend">
                </app-details-stock-trend>
            </app-generic-card>
        </ion-col>
    </ion-row>

    <!-- ownership -->
    <app-generic-list title="Ownerships" [applyMarginTop]="true"></app-generic-list>
    <ion-row>
        <ion-col size="12">
            <app-generic-card subtitle="Institution ownership">
                <app-details-ownership
                        *ngIf="stockDetails.institutionOwnerships.length > 0"
                        [ownerships]="stockDetails.institutionOwnerships">
                </app-details-ownership>
            </app-generic-card>
        </ion-col>
    </ion-row>

    <!-- transaction -->
    <ion-row>
        <ion-col size="12">
            <app-generic-card subtitle="Insider transactions">
                <app-details-transactions
                        *ngIf="stockDetails.insiderTransactions.length > 0"
                        [transactions]="stockDetails.insiderTransactions">
                </app-details-transactions>
            </app-generic-card>
        </ion-col>
    </ion-row>

    <!-- historical metrics -->
    <ng-container *ngIf="stockDetails.historicalMetrics">
        <app-generic-list title="Yearly metrics" [applyMarginTop]="true"></app-generic-list>
        <ion-row>
            <ng-container *ngFor="let key of stockDetails.historicalMetrics | objNgFor; let i = index; let last=last">
                <ion-col *ngIf="key !== '__typename'" size="12" [sizeSm]="last ? 12 : 6" [sizeLg]="i > 15 ? 6  : 4">
                    <ng-container *ngIf="stockDetails.historicalMetrics[key] as data; else emptyCard">
                        <app-generic-card *ngIf="data.data.length > 0; else emptyCard"
                                          [subtitle]="data.name + ': ' + data.data[data.data.length - 1]"
                                          additionalClasses="st-height-100">
                            <app-generic-chart *ngIf="data.dates.length > 0"
                                               [categories]="data.dates"
                                               [series]="[data]"
                                               [heightPx]="130">
                            </app-generic-chart>
                        </app-generic-card>
                    </ng-container>
                    <ng-template #emptyCard>
                        <app-generic-card [subtitle]="key | splitKeyToTitlecase"
                                          additionalClasses="st-height-100">
                        </app-generic-card>
                    </ng-template>
                </ion-col>
            </ng-container>
        </ion-row>
    </ng-container>

    <!-- news -->
    <app-generic-list title="News" [applyMarginTop]="true"></app-generic-list>
    <ion-row>
        <ion-col size="12">
            <div *ngIf="stockDetails.stockNews.length > 0" class="st-news-container">
                <app-article-cards *ngFor="let article of stockDetails.stockNews"
                                   [article]="article">
                </app-article-cards>
            </div>
        </ion-col>
    </ion-row>
</ion-grid>
