@import "variables";

:host {
  .new-container {
    column-count: 3;
    @media (max-width: #{$st-var-lg-split}) {
      column-count: 2;
    }
    @media (max-width: #{$st-var-sm-split}) {
      column-count: 1;
    }
  }
}
