@import "variables";

:host {

  .symbol-image {
    max-width: 45px !important;
    min-width: 45px !important;
    margin-right: 10px;

    /*@media (max-width: #{$st-var-md-split}) {
      max-width: 45px !important;
      min-width: 45px !important;
    }*/

    @media (max-width: #{$st-var-sm-split}) {
      max-width: 30px !important;
      min-width: 30px !important;
    }
  }


  ion-button{
    --background: transparent;
    --box-shadow: none;
    --background-hover: none;
  }


  .stockInfo-container{
    @media (max-width: #{$st-var-sm-split}) {
      text-align: center;
    }
  }

  .label-xl-space{
    min-width: 150px;
    max-width: 150px;
  }

  .label-md-space{
    min-width: 110px;
    max-width: 110px;
  }


  .label-small-space{
    min-width: 80px;
    max-width: 80px;
    @media (max-width: #{$st-var-md-split}) {
      min-width: 70px;
      max-width: 70px;
    }
  }


}
