<ion-item class="st-display-flex-center">
    <ion-item (click)="itemClicked()" class="ion-no-padding stockInfo-container st-font-size-15 ion-activatable">
        <ion-label>
            <ion-img [src]="summary.logo_url" class="st-symbol-image"></ion-img>
        </ion-label>

        <!-- stock name -->
        <ion-label position="fixed" class="label-small-space">
            {{ summary.symbol }}
        </ion-label>

        <!-- current price -->
        <ion-label position="fixed" class="label-small-space" [@marketValueChange]="newCurrentPrice">
            {{ currentPrice | currency }}
        </ion-label>

        <!-- daily change -->
        <div class="label-md-space">
            <app-price-change-item [currentPrice]="currentPrice"
                                   [compareToPrice]="summary.previousClose">
            </app-price-change-item>
        </div>


        <!-- year change -->
        <div class="label-md-space">
            <app-price-change-item [currentPrice]="currentPrice"
                                   [compareToPrice]="summary.weekRangeFiveTwoMin">
            </app-price-change-item>
        </div>


        <!-- 52 week range -->
        <ion-label position="fixed" class="label-xl-space ion-hide-lg-down">
            {{ summary.weekRangeFiveTwoMin | currency }} - {{ summary.weekRangeFiveTwoMax | currency }}
        </ion-label>

        <!-- PE -->
        <ion-label position="fixed" class="ion-hide-sm-down">
            {{ summary.pERatioTTM }}
        </ion-label>

        <!-- recommendation date -->
        <ion-label position="fixed" class="ion-hide-md-down">
            {{ summary.recommendationKey }} [{{ summary.recommendationMean }}]
        </ion-label>

        <!-- ripple effect on click -->
        <ion-ripple-effect></ion-ripple-effect>
    </ion-item>


    <!-- delete button  -->
    <ion-button class="st-transparent-background st-negative-button st-clickable" (click)="deleteSymbolClicked()">
        <ion-icon name="trash-bin" style="font-size: 28px;"></ion-icon>
    </ion-button>
</ion-item>
