@import "variables";

:host {
  ion-radio-group {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    @media (max-width: #{$st-var-md-split}) {
      justify-content: center;
    }
    @media (max-width: #{$st-var-sm-split}) {
      display: block;
    }
  }

  ion-radio {
    margin-left: 16px;
  }

  .table-space {
    margin-bottom: 40px !important;
  }

}

