<ion-card>
    <ion-card-header>
        <ion-card-title class="ion-text-center ion-padding-start ion-padding-top">
            Balance sheet
        </ion-card-title>
    </ion-card-header>
    <ion-card-content>

    </ion-card-content>
</ion-card>

<!--

  "accountsPayable": 35325000000,
                "cash": 33383000000,
                "commonStock": 48696000000,
                "endDate": 1593216000,
                "inventory": 3978000000,
                "longTermDebt": 94048000000,
                "longTermInvestments": 100592000000,
                "maxAge": 1,
                "netReceivables": 32075000000,
                "netTangibleAssets": 72282000000,
                "otherAssets": 32836000000,
                "otherCurrentAssets": 10987000000,
                "otherCurrentLiab": 39945000000,
                "otherLiab": 47606000000,
                "otherStockholderEquity": -550000000,
                "propertyPlantEquipment": 43851000000,
                "retainedEarnings": 24136000000,
                "shortLongTermDebt": 7509000000,
                "shortTermInvestments": 59642000000,
                "totalAssets": 317344000000,
                "totalCurrentAssets": 140065000000,
                "totalCurrentLiabilities": 95318000000,
                "totalLiab": 245062000000,
                "totalStockholderEquity": 72282000000,
                "treasuryStock": -550000000

-->