:host {
	.c-info-with-position-container {
		margin-right: 32px;
		& > * {
			margin-bottom: 4px;
		}
	}

	ion-img {
		max-width: 65px;
		max-height: 65px;
		min-width: 65px;
		min-height: 65px;
	}

	.max-w {
		max-width: 350px;
	}

	.c-wrapper-flex {
		@apply flex flex-row items-center gap-2;
	}
}
