:host {
  ion-list {
    position: relative;
  }

  ion-img {
    max-width: 70px;
    max-height: 70px;
    min-width: 70px;
    min-height: 70px;
  }

  .current-position {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
  }
  .current-position-number {
    margin-right: 8px;
    font-size: 16px;
  }
}
