<ion-item class="st-flex c-main-container" [ngClass]="{'max-w': !showIncreasePosition}" [button]="clickable">
	<!-- Image -->
	<div class="ion-align-self-baseline st-small-right-space">
		<ion-avatar>
			<ion-img [src]="groupUser.photoURL" appDefaultImg></ion-img>
		</ion-avatar>
	</div>
	<div class="c-info-with-position-container">
		<!-- Name -->
		<div class="st-display-flex-center">
			<ion-text class="st-font-1-normal st-small-right-space" [ngClass]="{'st-font-white': !!useClassStyling}"> Name: </ion-text>
			<ion-text [ngClass]="[useClassStyling]">{{ groupUser.nickName }}</ion-text>
		</div>

		<!-- Portfolio -->
		<div class="st-display-flex-center">
			<ion-text class="st-font-1-normal st-small-right-space" [ngClass]="{'st-font-white': !!useClassStyling}"> Portfolio: </ion-text>
			<div class="st-display-flex-center">
				<ion-text class="st-small-right-space" [ngClass]="[useClassStyling]">
					{{ (groupUser.portfolio.portfolioCash + ( groupUser.portfolio.lastPortfolioSnapshot?.portfolioInvested || 0) ) | numberFormatter}}
				</ion-text>
				<!-- last portfolio increase -->
				<app-price-change-item
					*ngIf="!showPortfolioSinceMember && groupUser.portfolio.lastPortfolioIncreasePrct"
					[isPercent]="true"
					[priceChange]="groupUser.portfolio.lastPortfolioIncreasePrct"
				>
				</app-price-change-item>
				<!-- portfolio increase since member -->
				<app-price-compare-item
					*ngIf="showPortfolioSinceMember"
					[showPrice]="false"
					[currentPrice]="groupUser.portfolio.lastPortfolioSnapshot.portfolioCash + groupUser.portfolio.lastPortfolioSnapshot.portfolioInvested"
					[compareToPrice]="groupUser.startedPortfolio.portfolioInvested + groupUser.startedPortfolio.portfolioCash"
				>
				</app-price-compare-item>
			</div>
		</div>

		<!-- Starrted portfolio -->
		<div class="st-display-flex-center">
			<ion-text class="st-font-1-normal st-small-right-space" [ngClass]="{'st-font-white': !!useClassStyling}">Started portfolio: </ion-text>
			<ion-text class="st-small-right-space" [ngClass]="[useClassStyling]">
				{{ (groupUser.startedPortfolio.portfolioCash + groupUser.startedPortfolio.portfolioInvested ) | numberFormatter}}
			</ion-text>
		</div>

		<!-- Since date -->
		<div class="st-display-flex-center">
			<ion-text class="st-font-1-normal st-small-right-space" [ngClass]="{'st-font-white': !!useClassStyling}"> Since: </ion-text>
			<ion-text [ngClass]="[useClassStyling]">{{ groupUser.sinceDate | date: 'dd.MM.YYYY' }}</ion-text>
		</div>
	</div>

	<!-- Position -->
	<div class="st-display-flex-center current-position-number-container" *ngIf="groupUserPosition || groupUser.currentPosition">
		<div class="current-position-number" [ngClass]="[!useClassStyling ? 'st-font-purple': '', useClassStyling]">
			#{{ groupUserPosition || groupUser.currentPosition }}
		</div>
		<app-position-change-item
			*ngIf="(groupUser.previousPosition || groupUser.currentPosition ) - groupUser.currentPosition !== 0 && showIncreasePosition"
			[increaseBy]="groupUser.previousPosition - groupUser.currentPosition"
		>
		</app-position-change-item>
	</div>
</ion-item>
