@import "./custom-variable";



.price-up{
  color: #{$price-up};
}

.price-down{
  color: #{$price-down};
}

.positive-button{
  color: #{$price-up};
  &:hover {
    color: #{$price-up-lighter};
  }
}

.negative-button{
  color: #{$price-down};
  &:hover {
    color: #{$price-down-lighter};
  }
}

.orange-button{
  color: #{$orange-title-medium} !important;
  &:hover {
    color: #{$orange-title-light} !important;
  }
}

.clickable{
  transition: All 0.3s ease-out;
  cursor: pointer;
  &:hover{
    transform: scale(0.90);
  }
}

.clickable-card{
  cursor: pointer;
  transition: All 0.4s ease-out;
  &:hover{
    transform: scale(0.96);
    border-radius: 15px;
    -webkit-box-shadow: 1px 3px 5px 2px #01002a;
    -moz-box-shadow: 1px 3px 5px 2px #01002a;
    box-shadow: 1px 3px 5px 2px #01002a;
  }
}
