@import "custom-variable";

.content-fit {
  min-width: fit-content;
  max-width: fit-content;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
}

ion-spinner {
  width: 50px !important;
  height: 50px !important;
}

.news-container {
  column-count: 2;
  padding: 20px;
  @media (min-width: 0px) and (max-width: 1600px) {
    column-count: 1;
  }
}


// COLOR CLASSES - FONT
.st-font-0 {
  color: #{$font-0};
}

.st-font-1 {
  color: #{$font-1};
}

.st-font2 {
  color: #{$font-2};
}

.st-font-3 {
  color: #{$font-3};
}

.st-font-4 {
  color: #{$font-4};
}


// COLOR CLASSES - BUTTONS
.st-create {
  color: #{$blue-2};
}

.st-create {
  color: #{$remove-1};
}

.st-create {
  color: #{$accept-1};
}

.st-create {
  color: #{$edit-1};
}

// COLOR CLASSES - BLUE
.st-icon {
  color: #{$blue-1};
}

.st-card-background {
  color: #{$blue-3};
}

