@import "custom-variable";

.content-fit {
  min-width: fit-content;
  max-width: fit-content;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
}

ion-spinner {
  width: 50px !important;
  height: 50px !important;
}

.news-container {
  column-count: 2;
  padding: 20px;
  @media (min-width: 0px) and (max-width: 1600px) {
    column-count: 1;
  }
}


// COLOR CLASSES - FONT
.st-font-0 {
  color: #{$font-0};
}

.st-font-1 {
  color: #{$font-1};
}

.st-font-2 {
  color: #{$font-2};
}

.st-font-3 {
  color: #{$font-3};
}

.st-font-4 {
  color: #{$font-4};
}

// FONT SIZES
.st-font-size-14 {
  font-size: 14px;
}

.st-font-size-16 {
  font-size: 16px;
}

.st-font-size-18 {
  font-size: 18px;
}

.st-font-size-20 {
  font-size: 20px;
}


// COLOR CLASSES - BUTTONS
.st-create {
  color: #{$blue-2};
}

.st-create {
  color: #{$remove-1};
}

.st-create {
  color: #{$accept-1};
}

.st-create {
  color: #{$edit-1};
}

// COLOR CLASSES - BLUE
.st-icon {
  color: #{$blue-1};
}

.st-card-background {
  color: #{$blue-3};
}

.st-modal-background {

  --background: linear-gradient(126deg, rgba(22, 39, 77, 1) 0%,
          rgba(10, 25, 71, 1) 29%,
          rgba(9, 24, 72, 1) 44%,
          rgba(10, 24, 70, 1) 73%,
          rgba(7, 22, 62, 1) 100%) !important;
}

