@import "../../../theme/custom-variables";

.grey-regular-icon{
  font-size: 28px;
  color: #{$default-word};
}


.price-icon{
  font-size: 22px;
  position: absolute;
  top: 13px;
  margin-left: 5px;
}
