<ion-content class="ion-no-padding">
    <!-- header -->
    <app-header></app-header>

    <!-- body -->
    <ion-segment color="primary"
                 class="ion-justify-content-end ion-padding-vertical"
                 [value]="segmentValue"
                 (ionChange)="segmentChanged($event)">
        <ion-segment-button [value]="DETAILS_PAGES_ENUM.STATISTICS" layout="icon-start">
            <ion-label>Statistics</ion-label>
        </ion-segment-button>
        <ion-segment-button [value]="DETAILS_PAGES_ENUM.FINANCIAL" layout="icon-start">
            <ion-label>Financial</ion-label>
        </ion-segment-button>
    </ion-segment>


    <!-- sub pages -->
    <div class="st-content-padding">
        <router-outlet></router-outlet>
    </div>


    <!-- spinner -->
    <div class="spinner-container" *ngIf="showSpinner">
        <ion-spinner color="primary"></ion-spinner>
    </div>

</ion-content>

