@import "variables";

:host {
  ion-label {
    color: white;
  }

  ion-segment {
    margin-bottom: 16px;
    justify-content: flex-end;
    @media (max-width: #{$st-var-md-split}) {
      margin-top: 6px;
      justify-content: normal;
    }
  }
}
