<ion-content class="ion-padding">
    <!-- menu page header -->
    <app-menu-header></app-menu-header>

    <!-- header -->
    <app-header [pageIcon]="'person'" [pageName]="'Account management'"></app-header>

    <!-- body -->
    <ion-grid *ngIf="user$ | async as user">
        <ion-row class="ion-justify-content-center">
            <!-- account form -->
            <ion-col size="12" size-md="7" size-lg="7" size-xl="6">
                <app-generic-card [subtitle]="'Account Information'" [additionalClasses]="'st-height-100'">
                    <app-user-account-form
                            (submitClickedEmitter)="editUser($event)"
                            (editClickedEmitter)="toggleEdit()"
                            [user]="user">
                    </app-user-account-form>
                </app-generic-card>
            </ion-col>
            <ion-col size="12" size-md="5" size-lg="4">
                <!-- assigned roles -->
                <app-generic-card *ngIf="user.userPrivateData.roles.length > 0"
                                  class="ion-margin-bottom"
                                  [subtitle]="'Assigned roles'">
                    <app-clickable-name-item
                            [itemNames]="user.userPrivateData.roles">
                    </app-clickable-name-item>
                </app-generic-card>

                <!-- reseted account -->
                <app-generic-card [subtitle]="'Account resets'">
                    <app-user-account-reseted-info
                            (resetAccountEmitter)="resetAccount()"
                            [resetedAccountInfo]="user.userHistoricalData.resetedAccount"
                            [showResetButton]="editing && !!user.portfolio">
                    </app-user-account-reseted-info>
                </app-generic-card>

            </ion-col>
        </ion-row>

        <!-- ranks
        <ion-row class="st-width-90-center">

        </ion-row>  -->

        <!-- wachlists -->
        <ion-row class="ion-justify-content-center">
            <ion-col size="12" size-md="7" size-lg="7" size-xl="6">
                <app-generic-card [subtitle]="'Watchlist modification'">
                    <app-watchlist-modification-container [watchlists]="user.stockWatchlist">
                    </app-watchlist-modification-container>
                </app-generic-card>
            </ion-col>
            <ion-col size="12" size-md="5" size-lg="4">
                <!-- empty for UI purpose -->
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
