<div class="mt-10 md:mt-0">
	<app-user-account-buttons (manageWatchlistEmitter)="onManageWatchlists()" (raiseTicketEmitter)="onRaiseTicket()"></app-user-account-buttons>
</div>

<div *ngIf="user$ | async as user" class="grid grid-cols-1 lg:grid-cols-3 gap-4 mb-12">
	<!-- account form -->
	<app-mat-card-wrapper class="col-span-2" title="Account Information">
		<app-user-account-form (submitClickedEmitter)="editUser($event)" [user]="user"> </app-user-account-form>
	</app-mat-card-wrapper>

	<div class="grid col-span-1 gap-4">
		<!-- assigned roles -->
		<app-mat-card-wrapper title="Assigned roles" class="ion-margin-bottom" *ngIf="user.userPrivateData.roles.length > 0">
			<div class="p-2 text-center" *ngFor="let name of user.userPrivateData.roles">{{ name }}</div>
		</app-mat-card-wrapper>

		<!-- reseted account -->
		<app-mat-card-wrapper *ngIf="user.userHistoricalData.resetedAccount.length !== 0 || user.userPrivateData.finnhubKey" title="Account resets">
			<app-user-account-reseted-info
				*ngIf="user.userPrivateData.finnhubKey"
				(resetAccountEmitter)="resetAccount()"
				[resetedAccountInfo]="user.userHistoricalData.resetedAccount"
				[showResetButton]="!!user.userPrivateData.finnhubKey"
			>
			</app-user-account-reseted-info>
		</app-mat-card-wrapper>

		<!-- account not activated message -->
		<ng-container *ngIf="!user.userPrivateData.finnhubKey">
			<app-user-account-not-activated-message></app-user-account-not-activated-message>
		</ng-container>
	</div>
</div>

<ng-container *ngIf="user$ | async as user">
	<!-- tickets -->
	<h2 class="flex items-center gap-3">
		<mat-icon class="st-icon"> send </mat-icon>
		<span class="g-color-white g-highlighted-text">My tickets</span>
	</h2>
	<app-ticket-overview-container [tickets]="user.userPrivateData.tickets"></app-ticket-overview-container>
</ng-container>
