<ion-content>
    <!-- header -->
    <app-header>
        <ion-icon class="st-icon-size-header ion-margin-end" name="person"></ion-icon>
        <ion-text class="st-font-size-header">Account management</ion-text>
    </app-header>

    <!-- body -->
    <div class="st-content-padding" *ngIf="user$ | async as user">
        <ion-grid>
            <ion-row class="st-width-90-center">
                <!-- account form -->
                <ion-col size="12" size-md="7">
                    <app-user-account-form
                            (submitClickedEmitter)="editUser($event)"
                            (editClickedEmitter)="toggleEdit()"
                            [user]="user">
                    </app-user-account-form>
                </ion-col>
                <ion-col size="12" size-md="4" push="0" push-md="1">
                    <!-- assigned roles -->
                    <app-clickable-name-item *ngIf="user.userPrivateData.roles.length > 0"
                                             [itemNames]="user.userPrivateData.roles">
                        <ion-text class="st-font-size-18 st-font-0">Assigned roles</ion-text>
                    </app-clickable-name-item>
                    <!-- reseted account -->
                    <div class="ion-margin-top">
                        <app-user-account-reseted-info
                                (resetAccountEmitter)="resetAccount()"
                                [resetedAccountInfo]="user.resetedAccount"
                                [showResetButton]="editing && !!user.portfolio">
                        </app-user-account-reseted-info>
                    </div>
                </ion-col>
            </ion-row>

            <!-- ranks -->
            <ion-row class="st-width-90-center">

            </ion-row>

            <!-- wachlists -->
            <ion-row class="st-width-90-center">
                <ion-col size="12">
                    <app-watchlist-modification-container [watchlists]="user.stockWatchlist">
                    </app-watchlist-modification-container>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>
