<!-- small screen -->
<ng-container *ngIf="stockArticle">
	<ion-card
		[href]="stockArticle.url"
		[matTooltip]="(isSMDownScreen$ | async) ? '' : stockArticle.text || ''"
		matTooltipClass="custom-mat-tooltip"
		rel="noopener noreferrer"
		target="_blank"
	>
		<ion-card-content>
			<!-- source info -->
			<div class="overlay upper-overlay">
				<div class="st-flex ion-justify-content-between">
					<ion-text class="st-display-flex-center">
						<ion-icon class="ion-margin-end st-icon" name="globe-outline"></ion-icon>
						{{ stockArticle.site }} {{ (stockArticle?.publishedDate || '') | relativeTime }}
					</ion-text>
					<ion-text class="st-icon st-small-right-space st-font-size-16">{{ stockArticle.symbol }}</ion-text>
				</div>
			</div>
			<!-- image -->
			<img [src]="stockArticle.image" appDefaultImg alt="news image" class="max-h-[200px]" />

			<!-- news title -->
			<div class="overlay bottom-overlay">{{ stockArticle.title }}</div>
		</ion-card-content>
	</ion-card>
</ng-container>
