<ion-content class="ion-padding">
	<ion-list-header class="ion-margin">
		<ion-label class="st-title ion-text-center"> {{ message }} </ion-label>
	</ion-list-header>

	<!-- confirmation checkbox -->
	<ion-list class="ion-padding-horizontal">
		<ion-item>
			<ion-label>Confirm</ion-label>
			<ion-checkbox color="primary" slot="end" [checked]="confirmCheckbox" [(ngModel)]="confirmCheckbox"> </ion-checkbox>
		</ion-item>
	</ion-list>

	<!-- action buttons -->
	<ion-buttons class="ion-padding st-flex-wrap">
		<ion-button color="success" (click)="confirm()" [disabled]="!confirmCheckbox" *ngIf="confirmButton"> {{ confirmButton }} </ion-button>
		<ion-button color="danger" (click)="reject()" [disabled]="!confirmCheckbox" *ngIf="rejectButton"> {{ rejectButton }} </ion-button>
	</ion-buttons>
</ion-content>
