<!--<div class="article-panel-container" *ngIf="article">-->
<ng-container *ngIf="article">
  <div class="article-information-container">
    <div class="article-image-parent">
      <img [src]="article.urlToImage" alt="article image" class="article-image">
    </div>
    <div class="article-information">
      <div class="article-information-inline">
        <a [href]="article.url" target="_blank" rel="noopener noreferrer">{{article.title}}</a>
      </div>
      <div class="article-information-inline white">
        {{article.source.name}}
      </div>
      <div class="article-information-inline white">
        {{article.description}}
      </div>
    </div>

  </div>

  <div class="article-publisher-information">
    {{article.publishedAt}} <br>
    {{article?.author}}
  </div>
</ng-container>
<!--</div>-->
