<div *ngIf="esgScore">
	<div class="g-data-item grid grid-cols-4">
		<div>Name</div>
		<div>Score</div>
		<div>Peer avg.</div>
	</div>

	<!-- total esg -->
	<div class="g-data-item grid grid-cols-4">
		<div>Total ESG score</div>
		<div class="flex gap-2">
			<div>{{ esgScore.totalEsg }}</div>
			<app-price-compare-item
				*ngIf="esgScore?.peerEsgScorePerformance?.avg"
				class="hidden sm:table-cell"
				[showIcons]="false"
				[showPrice]="false"
				[currentPrice]="esgScore?.totalEsg"
				[compareToPrice]="esgScore?.peerEsgScorePerformance?.avg"
			>
			</app-price-compare-item>
		</div>
		<div>{{ esgScore?.peerEsgScorePerformance?.avg | number: '1.2-2'}}</div>
	</div>

	<!-- Governance -->
	<div class="g-data-item grid grid-cols-4">
		<div>Governance</div>
		<div class="flex gap-2">
			<div>{{ esgScore.governanceScore }}</div>
			<app-price-compare-item
				*ngIf="esgScore?.peerGovernancePerformance?.avg"
				class="ion-hide-sm-down"
				[showIcons]="false"
				[showPrice]="false"
				[currentPrice]="esgScore.governanceScore"
				[compareToPrice]="esgScore?.peerGovernancePerformance?.avg"
			>
			</app-price-compare-item>
		</div>
		<div>{{ esgScore?.peerGovernancePerformance?.avg | number: '1.2-2'}}</div>
	</div>

	<!-- Environment -->
	<div class="g-data-item grid grid-cols-4">
		<div>Environment</div>
		<div class="flex gap-2">
			<div>{{ esgScore.environmentScore }}</div>
			<app-price-compare-item
				*ngIf="esgScore?.peerEnvironmentPerformance?.avg"
				class="ion-hide-sm-down"
				[showIcons]="false"
				[showPrice]="false"
				[currentPrice]="esgScore.environmentScore"
				[compareToPrice]="esgScore?.peerEnvironmentPerformance?.avg"
			>
			</app-price-compare-item>
		</div>
		<div>{{ esgScore?.peerEnvironmentPerformance?.avg | number: '1.2-2'}}</div>
	</div>

	<!-- Social -->
	<div class="g-data-item grid grid-cols-4">
		<div>Social</div>
		<div class="flex gap-2">
			<div>{{ esgScore.socialScore }}</div>
			<app-price-compare-item
				*ngIf="esgScore?.peerSocialPerformance?.avg"
				class="ion-hide-sm-down"
				[showIcons]="false"
				[showPrice]="false"
				[currentPrice]="esgScore.socialScore"
				[compareToPrice]="esgScore?.peerSocialPerformance?.avg"
			>
			</app-price-compare-item>
		</div>
		<div>{{ esgScore?.peerSocialPerformance?.avg | number: '1.2-2'}}</div>
	</div>

	<!-- Controversy -->
	<div class="g-data-item grid grid-cols-4">
		<div>Controversy</div>
		<div class="flex gap-2">
			<div>{{ esgScore.highestControversy }}</div>
			<app-price-compare-item
				*ngIf="esgScore?.peerHighestControversyPerformance?.avg"
				class="ion-hide-sm-down"
				[showIcons]="false"
				[showPrice]="false"
				[currentPrice]="esgScore.highestControversy"
				[compareToPrice]="esgScore?.peerHighestControversyPerformance?.avg"
			>
			</app-price-compare-item>
		</div>
		<div>{{ esgScore?.peerHighestControversyPerformance?.avg | number: '1.2-2'}}</div>
	</div>

	<!-- final result -->
	<div class="g-data-item grid grid-cols-4">
		<div class="flex flex-col sm:flex-row gap-2">
			<span>Group:</span>
			<span>{{ esgScore.peerGroup }}</span>
		</div>
		<div class="flex flex-col sm:flex-row gap-2">
			<span>Peers:</span>
			<span>{{ esgScore.peerCount }}</span>
		</div>
		<div class="flex flex-col sm:flex-row gap-2">
			<span>Percentile:</span>
			<span>{{ esgScore.percentile }}%</span>
		</div>
	</div>
</div>
