<ion-row>
    <ion-col size="12" size-md="6">
        <ion-img appDefaultImg [src]="group.imageUrl" alt="group image"></ion-img>
    </ion-col>
    <ion-col size="12" size-md="5.9" push="0" push-md="0.1">
        <ion-list class="ion-text-start">
            <ion-text class="st-font-4 st-font-size-13">Group</ion-text>
            <ion-item>
                <ion-label position="fixed" class="st-font-1 fixedLabel">Name</ion-label>
                <ion-label class="st-font-4 ion-align-self-start ion-text-wrap"> {{  group.name }}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label position="fixed" class="st-font-1 fixedLabel">Description</ion-label>
                <ion-label class="st-font-4 ion-align-self-start ion-text-wrap"> {{  group.description }}</ion-label>
            </ion-item>
            <div *ngIf="group.portfolio" style="margin-top: 10px">
                <ion-text class="st-font-4 st-font-size-13">Portfolio</ion-text>
                <ion-item>
                    <ion-label position="fixed" class="st-font-1 fixedLabel">Total</ion-label>
                    <ion-label class="st-font-4 ion-align-self-start ion-text-wrap">
                        {{ (group.portfolio.portfolioInvested + group.portfolio.portfolioCash) | currency }}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label position="fixed" class="st-font-1 fixedLabel">Invested</ion-label>
                    <ion-label class="st-font-4 ion-align-self-start ion-text-wrap">
                        {{ group.portfolio.portfolioInvested | currency }}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label position="fixed" class="st-font-1 fixedLabel">Cash</ion-label>
                    <ion-label class="st-font-4 ion-align-self-start ion-text-wrap">
                        {{ group.portfolio.portfolioCash | currency }}
                    </ion-label>
                </ion-item>
                <!--<ion-item>
                    <ion-label position="fixed" class="st-font-1 fixedLabel">Weekly change</ion-label>
                    <app-price-change-item
                            [price]="group.portfolio.portfolioWeeklyGrowth"
                            [priceChange]="group.portfolio.portfolioWeeklyChange">
                    </app-price-change-item>
                </ion-item>-->
            </div>
        </ion-list>
    </ion-col>
</ion-row>
