@import "variables";

:host {
  ion-col {
    padding: 10px;
  }

  .fixedLabel {
    min-width: 40% !important;
    max-width: 40% !important;
    white-space: pre-wrap;
    @media (max-width: #{$st-var-md-split}) {
      min-width: 65% !important;
      max-width: 65% !important;
    }
  }

  ion-list {
    ion-item {
      --min-height: #{$st-ionic-label-min-height};
    }
  }
}
