<div class="input-container">
    <!-- inline form -->
    <ion-item class="half-flex">
        <ion-label position="floating">
            {{ label }}
        </ion-label>
        <ion-input type="text" [placeholder]="label"  [(ngModel)]="watchlistName"></ion-input>
    </ion-item>

    <!-- approve / deny buttons -->
    <ion-item>
        <ion-button class="submit-deny-buttons st-clickable" (click)="emitCreation()">
            <ion-icon name="checkmark-circle" class="st-positive-button st-clickable" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button class="submit-deny-buttons st-clickable" (click)="emitClosing()">
            <ion-icon name="close-circle" class="st-negative-button st-clickable" slot="icon-only"></ion-icon>
        </ion-button>
    </ion-item>
</div>
