<ng-container *ngIf="groupAllData$ | async as groupData">
	<!-- portfolio growth + cash and invested percentage -->
	<app-group-details-stats-portfolio-container [groupAllData]="groupData"> </app-group-details-stats-portfolio-container>

	<!-- holdings allocation charts -->
	<app-group-details-stats-holdings-charts-container [groupAllData]="groupData"> </app-group-details-stats-holdings-charts-container>

	<!-- holdings tabls -->
	<app-group-details-stats-holdings-table-container [groupAllData]="groupData"> </app-group-details-stats-holdings-table-container>
</ng-container>
