<!-- portfolio growth + cash and invested percentage -->
<app-group-details-stats-portfolio-container
        [groupAllData]="groupTestData">
</app-group-details-stats-portfolio-container>

<!-- holdings allocation charts -->
<app-group-details-stats-holdings-charts-container
        [groupAllData]="groupTestData">
</app-group-details-stats-holdings-charts-container>

<!-- holdings tabls -->
<app-group-details-stats-holdings-table-container
        [groupAllData]="groupTestData">
</app-group-details-stats-holdings-table-container>
