<!-- header -->
<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-menu-toggle slot="start">
            <ion-menu-button style="font-size: 25px;"></ion-menu-button>
        </ion-menu-toggle>

        <!-- content -->
        <ion-item-group class="group-container">
            <ion-item>
                <ion-label class="st-icon headline">
                    <!-- search bar -->
                    <ion-chip class="ion-search-chip" (click)="redirectToSearch()">
                        <ion-searchbar [disabled]="true"></ion-searchbar>
                    </ion-chip>
                </ion-label>
            </ion-item>

            <!-- bell icon -->
            <ion-item class="bell-icon">
                <ion-label class="ion-text-end content-fit" position="fixed">
                    <ion-icon name="notifications"></ion-icon>
                </ion-label>
            </ion-item>
        </ion-item-group>
    </ion-toolbar>

    <!--  <ion-toolbar class="ion-margin-bottom">
       Title etc.
        <ion-item>
            <ion-label class="st-icon headline">
                <ng-content></ng-content>
            </ion-label>
        </ion-item>
    </ion-toolbar> -->
</ion-header>

<!-- Page title -->
<ion-grid>
    <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-lg="11.3" size-xl="10.3">
            <ion-toolbar class="st-page-header-container">
                <ion-item class="st-page-header-container-item">
                    <ion-label class="st-icon st-display-flex-center">
                        <ion-icon class="st-icon-size-header" [name]="pageIcon"></ion-icon>
                        <ion-text class="st-font-size-header">{{pageName }}</ion-text>
                    </ion-label>
                </ion-item>
            </ion-toolbar>
        </ion-col>
    </ion-row>
</ion-grid>
