<!-- Page title -->
<ion-grid>
	<ion-row class="ion-justify-content-center">
		<ion-col size="12" size-lg="11.3" size-xl="10.3">
			<ion-toolbar>
				<ion-item class="st-page-header-container-item">
					<ion-label class="st-icon st-display-flex-center">
						<ion-icon *ngIf="pageIcon" class="st-icon-size-header" [name]="pageIcon"></ion-icon>
						<ion-text *ngIf="pageName" class="st-font-size-header g-color-primary">{{pageName }}</ion-text>
					</ion-label>
				</ion-item>
			</ion-toolbar>
		</ion-col>
	</ion-row>
</ion-grid>
