@import "../../styles/custom-variable";
@import "../../styles/general-styling";

:host{
  ion-searchbar{
    --background: transparent;
    --color: #{$font-2};
    --box-shadow: none;
    --icon-color: #{$blue-1} ;
    --placeholder-opacity: 0.8;
    padding: 0;
  }

  .search-bar-container{
    padding-left: 16px;
    padding-right: 16px;
    @media (max-width: 600px) {
      padding-left: 6px;
      padding-right: 6px;
    }
  }

  ion-item{
    --padding-start: 0;
  }

  .ion-search-chip{
    float: right;
    background-color: #{$blue-4};


    @media (max-width: 600px) {
      width: 200px;
      background-color: #202e5a;
    }
  }

  ion-icon {
    cursor: pointer;
    color: #{$blue-1} ;
  }

  .searchbar-disabled.sc-ion-searchbar-md-h{
    opacity: 1 !important;
  }

}
