@import 'custom-variables';

:host {
  .bell-icon {
    padding-right: 16px;
    @media (max-width: #{$st-var-sm-split}) {
      padding-right: 6px;
    }
  }

  ion-menu-button {
    color: #{$st-var-font-1}
  }

  ion-searchbar {
    --background: transparent;
    --color: #{$st-var-font-2};
    --box-shadow: none;
    --icon-color: #{$st-var-blue-1};
    --placeholder-opacity: 0.9;
    padding: 0;
  }

  .ion-search-chip {
    background-color: #{$st-var-blue-3};

    @media (max-width: #{$st-var-sm-split}) {
      width: 175px;
    }
  }

  .group-container {
    display: flex;
    justify-content: flex-end;
  }


  ion-icon {
    cursor: pointer;
    color: #{$st-var-blue-1};
  }

}
