<!-- header -->
<ion-header class="ion-no-border ion-padding">
    <ion-menu-toggle slot="start">
        <ion-menu-button style="font-size: 25px;"></ion-menu-button>
    </ion-menu-toggle>

    <div class=" st-flex-end">
        <!-- search -->
        <ion-item-group class="st-flex-end" style="position: relative">
            <ion-chip class="ion-search-chip">
                <ion-searchbar #mySearchbar
                               debounce="500"
                               placeholder="Search symbol"
                               (ionChange)="searchSymbol($event)">
                </ion-searchbar>
            </ion-chip>
            <ion-item-group class="search-results">
                <app-stock-info-identification-item
                        *ngFor="let summary of searchedSummaries$ | async"
                        (click)="clickedSummary(summary)"
                        [summary]="summary"
                        [clickable]="true">
                </app-stock-info-identification-item>
            </ion-item-group>
        </ion-item-group>

        <!-- notifications -->
        <ion-button slot="end" fill="clear">
            <ion-icon name="notifications"></ion-icon>
            <ion-label>3</ion-label>
        </ion-button>
    </div>
</ion-header>

<!-- Page title -->
<ion-grid>
    <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-lg="11.3" size-xl="10.3">
            <ion-toolbar>
                <ion-item class="st-page-header-container-item">
                    <ion-label class="st-icon st-display-flex-center">
                        <ion-icon class="st-icon-size-header" [name]="pageIcon"></ion-icon>
                        <ion-text class="st-font-size-header">{{pageName }}</ion-text>
                    </ion-label>
                </ion-item>
            </ion-toolbar>
        </ion-col>
    </ion-row>
</ion-grid>
