<app-mat-card-wrapper title="Discounted cash flow valuation">
	<ng-container *ngIf="discountedCashFlowFormula$ | async as formula">
		<!-- historical -->
		<div class="text-xl p-4 g-color-white">Historical data</div>
		<mat-grid-list [cols]="formula.historical.historicalYears.length + 1" rowHeight="55px" class="mb-2">
			<!-- years -->
			<mat-grid-tile></mat-grid-tile>
			<mat-grid-tile *ngFor="let year of formula.historical.historicalYears" class="g-color-white text-base">{{ year }}</mat-grid-tile>

			<!-- revenue -->
			<mat-grid-tile class="text-lg g-color-white">Revenue</mat-grid-tile>
			<ng-container *ngIf="formula.historical.revenue as prices">
				<mat-grid-tile *ngFor="let data of prices; let i = index; let first = first">
					<div class="text-center">
						<div>{{ data | numberFormatter}}</div>
						<app-price-compare-item [currentPrice]="data" [compareToPrice]="first ? null : prices[i - 1]" [showPrice]="false">
						</app-price-compare-item>
					</div>
				</mat-grid-tile>
			</ng-container>

			<!-- net income -->
			<mat-grid-tile class="text-lg g-color-white">Income</mat-grid-tile>
			<ng-container *ngIf="formula.historical.netIncome as prices">
				<mat-grid-tile *ngFor="let data of prices; let i = index; let first = first">
					<div class="text-center">
						<div>{{ data | numberFormatter}}</div>
						<app-price-compare-item [currentPrice]="data" [compareToPrice]="first ? null : prices[i - 1]" [showPrice]="false">
						</app-price-compare-item>
					</div>
				</mat-grid-tile>
			</ng-container>

			<!-- margins -->
			<mat-grid-tile class="text-lg g-color-white">Income margin</mat-grid-tile>
			<ng-container *ngIf="formula.historical.netIncomeMargins as prices">
				<mat-grid-tile *ngFor="let data of prices; let i = index; let first = first">
					<div class="text-center">
						<div>{{ data | numberFormatter: true}}</div>
					</div>
				</mat-grid-tile>
			</ng-container>

			<!-- Free cash flow -->
			<mat-grid-tile class="text-lg g-color-white">Free cash flow</mat-grid-tile>
			<ng-container *ngIf="formula.historical.freeCashFlows as prices">
				<mat-grid-tile *ngFor="let data of prices; let i = index; let first = first">
					<div class="text-center">
						<div>{{ data | numberFormatter}}</div>
						<app-price-compare-item [currentPrice]="data" [compareToPrice]="first ? null : prices[i - 1]" [showPrice]="false">
						</app-price-compare-item>
					</div>
				</mat-grid-tile>
			</ng-container>
		</mat-grid-list>

		<mat-divider></mat-divider>

		<!-- future estimation -->
		<div class="text-xl p-4 g-color-white mb-2">Future estimation</div>
		<div class="p-4 flex justify-around">
			<div>Revenue rate: {{ formula.estimatedRevenueGrowthRate | percent: '1.2' }}</div>
			<div>Income margin: {{ formula.estimatedNetIncomeMargin | percent: '1.2' }}</div>
			<div>Free cash flow rate: {{ formula.estimatedFreeCashFlowRate | percent: '1.2' }}</div>
		</div>

		<!-- future estimation -->
		<mat-grid-list [cols]="formula.years.length + 1" rowHeight="50px" class="mb-2">
			<!-- years -->
			<mat-grid-tile></mat-grid-tile>
			<mat-grid-tile *ngFor="let year of formula.years" class="g-color-white text-base">{{ year }}</mat-grid-tile>

			<!-- revenue -->
			<mat-grid-tile class="text-lg g-color-white">Revenue (estimated)</mat-grid-tile>
			<ng-container *ngIf="formula.estimatedRevenues as prices">
				<mat-grid-tile *ngFor="let data of prices; let i = index; let first = first">
					<div class="text-center">
						<div>{{ data | numberFormatter}}</div>
						<app-price-compare-item [currentPrice]="data" [compareToPrice]="first ? null : prices[i - 1]" [showPrice]="false">
						</app-price-compare-item>
					</div>
				</mat-grid-tile>
			</ng-container>

			<!-- net income -->
			<mat-grid-tile class="text-lg g-color-white">Income (estimated)</mat-grid-tile>
			<ng-container *ngIf="formula.estimatedNetIncomes as prices">
				<mat-grid-tile *ngFor="let data of prices; let i = index; let first = first">
					<div class="text-center">
						<div>{{ data | numberFormatter}}</div>
						<app-price-compare-item [currentPrice]="data" [compareToPrice]="first ? null : prices[i - 1]" [showPrice]="false">
						</app-price-compare-item>
					</div>
				</mat-grid-tile>
			</ng-container>

			<!-- Free cash flow -->
			<mat-grid-tile class="text-lg g-color-white">Free cash flow (estimated)</mat-grid-tile>
			<ng-container *ngIf="formula.estimatedFreeCashFlows as prices">
				<mat-grid-tile *ngFor="let data of prices; let i = index; let first = first">
					<div class="text-center">
						<div>{{ data | numberFormatter}}</div>
						<app-price-compare-item [currentPrice]="data" [compareToPrice]="first ? null : prices[i - 1]" [showPrice]="false">
						</app-price-compare-item>
					</div>
				</mat-grid-tile>
			</ng-container>

			<!-- discounted factor -->
			<mat-grid-tile class="text-lg g-color-white">Discounted factor (estimated)</mat-grid-tile>
			<ng-container *ngIf="formula.estimatedDiscountedFactors as prices">
				<mat-grid-tile *ngFor="let data of prices; let i = index; let first = first">
					<div class="text-center">
						<div>{{ data | numberFormatter: true}}</div>
					</div>
				</mat-grid-tile>
			</ng-container>

			<!-- PV of future cash flow -->
			<mat-grid-tile class="text-lg g-color-white">PV of future CF (estimated)</mat-grid-tile>
			<ng-container *ngIf="formula.estimatedPresentValueOfFutureCashFlows as prices">
				<mat-grid-tile *ngFor="let data of prices; let i = index; let first = first">
					<div class="text-center">
						<div>{{ data | numberFormatter}}</div>
					</div>
				</mat-grid-tile>
			</ng-container>
		</mat-grid-list>

		<mat-divider></mat-divider>

		<!-- calculation -->
		<div class="text-xl p-4 g-color-white mb-2">Calculation</div>
		<div class="p-4 flex justify-around">
			<div>Terminal value: {{ formula.estimatedTerminalValue | numberFormatter}}</div>
			<div>Discounted TV: {{ formula.estimatedDiscountedTerminalValue | numberFormatter }}</div>
			<div>Company value: {{ formula.estimatedCompanyTodayValue | numberFormatter }}</div>
			<div>Intrinsic value: <span class="g-color-white">{{ formula.estimatedIntrinsicValue | numberFormatter: false : true}}</span></div>
		</div>
	</ng-container>
</app-mat-card-wrapper>
