<ion-header class="ion-no-border ion-padding">
    <ion-menu-toggle>
        <ion-menu-button style="font-size: 25px;"></ion-menu-button>
    </ion-menu-toggle>

    <div class="st-flex-end">
        <!-- search -->
        <ion-item-group class="st-flex-end" style="position: relative">
            <ion-chip class="ion-search-chip">
                <ion-searchbar #mySearchbar
                               debounce="500"
                               placeholder="Search symbol"
                               (ionChange)="searchSymbol($event)">
                </ion-searchbar>
            </ion-chip>
            <ion-item-group class="search-results">
                <!-- searched symbol results -->
                <ng-container *ngIf="searchedSummaries$ | async as summaries; else skeletons">
                    <app-stock-info-identification-item
                            *ngFor="let summary of summaries"
                            (click)="clickedSummary(summary)"
                            [summary]="summary"
                            [clickable]="true">
                    </app-stock-info-identification-item>
                </ng-container>

                <!-- show skeleton text when loading -->
                <ng-template #skeletons>
                    <ng-container *ngIf="loading">
                        <ion-item *ngFor="let empty of [].constructor(5)">
                            <ion-label>
                                <ion-skeleton-text animated></ion-skeleton-text>
                            </ion-label>
                        </ion-item>
                    </ng-container>
                </ng-template>
            </ion-item-group>
        </ion-item-group>

        <!-- notifications -->
        <ion-button slot="end" fill="clear" *ngIf="user$ | async as user; else showLogin">
            <ion-icon name="notifications"></ion-icon>
            <ion-label>3</ion-label>
        </ion-button>

        <!-- logging in -->
        <ng-template #showLogin>
            <ion-text *ngIf="isAuthenticating$ | async" class="login-text">Logging in</ion-text>
        </ng-template>
    </div>
</ion-header>
