<ion-list>
    <ion-item style="margin-top: 3px; margin-bottom: 3px">
        <!-- image -->
        <ion-label class="ion-padding-start">
            <ion-img appDefaultImg [src]="suggestion.summary.logo_url" class="st-symbol-image"></ion-img>
        </ion-label>
        <!-- daily change -->
        <div class="price-change-right">
            <app-price-compare-item [currentPrice]="suggestionMarketPrice"
                                    [compareToPrice]="suggestion.summary.previousClose">
            </app-price-compare-item>
        </div>
    </ion-item>


    <!-- symbol + market price -->
    <ion-item>
        <ion-label class="ion-padding-start">
            <ion-text>{{ suggestion.summary.symbol }}</ion-text>
        </ion-label>
        <ion-label class="market-price-right" [@marketValueChange]="suggestionMarketPrice">
            <ion-text>{{ suggestionMarketPrice | currency }}</ion-text>
        </ion-label>
    </ion-item>

    <!-- chart -->
    <ion-item>
        <ion-label>
            <app-generic-chart
                    [heightPx]="65"
                    [showTooltip]="false"
                    [showXAxis]="false"
                    [series]="[{name: suggestion.summary.symbol,  data: suggestion.historicalData.price}]"
                    [chartType]="ChartType.areaChange">
            </app-generic-chart>
        </ion-label>
    </ion-item>
</ion-list>

