<ion-content class="ion-padding">
    <!-- header -->
    <app-header [pageIcon]="'search'" [pageName]="'Search'"></app-header>

    <!-- body -->
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col size="12" size-lg="11" size-xl="10">
                <ion-segment *ngIf="showSearchBar$ | async"
                             color="primary"
                             class="ion-justify-content-end ion-margin-bottom"
                             [value]="segmentValue"
                             (ionChange)="segmentChanged($event)">
                    <ion-segment-button [value]="SEARCH_PAGE.STOCK" layout="icon-start">
                        <ion-label>Stock</ion-label>
                    </ion-segment-button>
                    <ion-segment-button [value]="SEARCH_PAGE.USER" layout="icon-start">
                        <ion-label>User</ion-label>
                    </ion-segment-button>
                    <ion-segment-button [value]="SEARCH_PAGE.GROUP" layout="icon-start">
                        <ion-label>Group</ion-label>
                    </ion-segment-button>
                </ion-segment>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-col size="12" size-lg="11" size-xl="10">
                <router-outlet></router-outlet>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

