<ion-content>
    <ng-container *ngIf="financialReport$ | async as financialReport">
        <ion-toolbar>
            <ion-title class="ion-text-start ion-padding">
                Financial report {{ financialReport.form }}, symbol {{ financialReport.symbol }} <br>
                <span style="font-size: 12px">
                 Date: {{ financialReport.startDate | date: 'dd.MM.yyyy' }}
                    - {{ financialReport.endDate | date: 'dd.MM.yyyy' }}
            </span>
            </ion-title>
            <ion-buttons slot="end">
                <ion-button color="danger" (click)="dismissModal()">
                    <ion-icon name="close-outline"></ion-icon>
                    Close
                </ion-button>
            </ion-buttons>
        </ion-toolbar>


        <!-- balance sheet -->
        <ion-list>
            <ion-list-header lines="full" class="ion-text-center">
                <ion-label>
                    Balance sheet
                </ion-label>
            </ion-list-header>

            <!-- empty balance sheet -->
            <ion-item *ngIf="financialReport.report.bs.length === 0; else showBalanceSheet">
                <ion-label class="ion-text-center">
                    No data in balance sheet has been found
                </ion-label>
            </ion-item>

            <ng-template #showBalanceSheet>
                <ion-item *ngFor="let content of financialReport.report.bs">
                    <ion-label position="fixed" class="fixedLabel">
                        {{(content.label.length > 35) ? (content.label  | slice:0:35) + '..' : (content.label) }}
                    </ion-label>
                    <ion-label position="fixed" class="fixedLabel">{{ content.value | numberFormatter  }}</ion-label>
                </ion-item>
            </ng-template>
        </ion-list>

        <!-- cash flow-->
        <ion-list>
            <ion-list-header class="ion-text-center">
                <ion-label>
                    Cash flow
                </ion-label>
            </ion-list-header>

            <!-- empty cash flow -->
            <ion-item *ngIf="financialReport.report.cf.length === 0; else showCashFlow">
                <ion-label class="ion-text-center">
                    No data in cash flow has been found
                </ion-label>
            </ion-item>

            <ng-template #showCashFlow>
                <ion-item *ngFor="let content of financialReport.report.cf">
                    <ion-label position="fixed" class="fixedLabel">
                        {{(content.label.length > 35) ? (content.label  | slice:0:35) + '..' : (content.label) }}
                    </ion-label>
                    <ion-label position="fixed" class="fixedLabel">{{ content.value | numberFormatter  }}</ion-label>
                </ion-item>
            </ng-template>


        </ion-list>

        <!-- income statement -->
        <ion-list class="ion-margin-bottom">
            <ion-list-header class="ion-text-center">
                <ion-label>
                    Income statement
                </ion-label>
            </ion-list-header>

            <!-- empty income statement -->
            <ion-item *ngIf="financialReport.report.ic.length === 0; else showIncomeStatement">
                <ion-label class="ion-text-center">
                    No data in income statement has been found
                </ion-label>
            </ion-item>

            <ng-template #showIncomeStatement>
                <ion-item *ngFor="let content of financialReport.report.ic">
                    <ion-label position="fixed" class="fixedLabel">
                        {{(content.label.length > 35) ? (content.label  | slice:0:35) + '..' : (content.label) }}
                    </ion-label>
                    <ion-label position="fixed" class="fixedLabel">{{ content.value | numberFormatter }}</ion-label>
                </ion-item>
            </ng-template>
        </ion-list>
    </ng-container>
</ion-content>
