<!-- big screen -->
<ng-container *ngIf="article">
    <ion-item class="ion-align-items-start article-container st-clickable ion-hide-md-down"
              [href]="article.url"
              target="_blank"
              rel="noopener noreferrer">
        <ion-label position="fixed" class="fixedLabel">
            <ion-img class="article-big-image" [src]="article.image" appDefaultImg></ion-img>
        </ion-label>

        <ion-label>
            <ion-text class="ion-text-wrap ion-align-items-center" style="display: flex;">
                <ion-icon name="globe-outline" class="ion-margin-end"></ion-icon>
                {{ article.sourceName }} {{ article.datetime * 1000 | relativeTime }}
            </ion-text>


            <ion-label class="ion-text-wrap">
                <b> {{ article.headline }} </b>
            </ion-label>

            <ion-label class="ion-text-wrap">
                {{  (article.summary.length > 255) ? (article.summary  | slice:0:255) + '..' : (article.summary)}}
            </ion-label>
        </ion-label>
    </ion-item>


    <!-- small screen -->
    <ion-card [href]="article.url" target="_blank" rel="noopener noreferrer" class="ion-hide-md-up">
        <ion-text class="ion-text-wrap ion-align-items-center" style="display: flex;">
            <ion-icon name="globe-outline" class="ion-margin-end"></ion-icon>
            {{ article.sourceName }} {{ article.datetime * 1000 | relativeTime }}
        </ion-text>

        <ion-card-content>
            <ion-img [src]="article.image" appDefaultImg></ion-img>

            <div class="myOverlay">
                {{ article.headline }}
            </div>

        </ion-card-content>
    </ion-card>
</ng-container>
