:host{
  .first-position {
    background-color: #FFD700;
  }
  .second-position {
    background-color: #afafaf;
  }

  .third-position {
    background-color: #cd7f32 ;
  }

  .my-position {
    background-color: #824150;
  }

}
