@import 'variables';

:host {
	color: #{$st-var-font-2};
	.c-sm-end {
		@media (max-width: #{$st-var-sm-split}) {
			justify-content: flex-end;
		}
	}

	.c-xs-end {
		@media (max-width: #{$st-var-xs-split}) {
			justify-content: flex-end;
		}
	}
}
