<div class="st-display-flex-center">
    <!-- price -->
    <ion-text *ngIf="price && pricePosition === 'left'" class="st-small-right-space">
        <ion-text *ngIf="priceText" class="st-small-right-space">{{ priceText }}</ion-text>
        <ion-text>{{ price | numberFormatter}}</ion-text>
    </ion-text>

    <!-- percentage -->
    <ion-text [ngClass]="{
                    'st-price-up': price > 0 || priceChange > 0,
                    'st-price-down': price < 0 || priceChange < 0
                     }" class="st-flex-row">
        <!-- percentage -->
        <span *ngIf="priceChange > 0">+</span>
        <ng-container *ngIf="priceChange !== undefined && priceChange !== null && !isPercent">
            {{ priceChange | number: '1.2-2'}}%
        </ng-container>
        <ng-container *ngIf="priceChange && isPercent">{{ priceChange | percent: '1.2-2' }}</ng-container>

        <!-- positive / negative icon -->
        <ion-icon *ngIf="showIcon && (price > 0 || priceChange > 0)" class="ion-hide-sm-down"
                  name="trending-up-outline"></ion-icon>
        <ion-icon *ngIf="showIcon && (price < 0 || priceChange < 0)" class="ion-hide-sm-down"
                  name="trending-down-outline"></ion-icon>
    </ion-text>

    <!-- price -->
    <ion-text *ngIf="price && pricePosition === 'right'" class="st-small-left-space">
        <ion-text *ngIf="priceText" class="st-small-right-space">{{ priceText }}</ion-text>
        <ion-text>{{ price | numberFormatter}}</ion-text>
    </ion-text>
</div>
