<span *ngIf="!price && showNAIfPriceZero; else showItem" class="st-font-0">N/A</span>

<ng-template #showItem>
	<div
		class="flex gap-x-2"
		[ngClass]="{
        'flex-col': pricePosition === 'bottom' || pricePosition === 'top'
       }"
	>
		<!-- price - position left -->
		<ng-container *ngIf="showPrice && price && (pricePosition === 'left' || pricePosition === 'top')">
			<!-- <span *ngIf="priceText" class="st-small-right-space">{{ priceText }}</span> -->
			<span [class]="classText">{{ price | numberFormatter: false : showDollarSignOnPrice}}</span>
		</ng-container>

		<!-- percentage -->
		<div
			*ngIf="priceChange"
			[ngClass]="{
				'g-color-success': priceChange && priceChange > 0,
				'g-color-danger': priceChange && priceChange < 0
			}"
			[class]="'flex items-center ' + classText"
		>
			<!-- percentage -->
			<ng-container *ngIf="priceChange > 0" class="g-color-success">+</ng-container>
			<ng-container *ngIf="!isPercent">{{ priceChange | number: '1.2-2'}}%</ng-container>
			<ng-container *ngIf="isPercent">{{ priceChange | percent: '1.2-2' }}</ng-container>

			<!-- positive / negative icon -->
			<mat-icon *ngIf="showIcon && priceChange > 0" color="accent">trending_up</mat-icon>
			<mat-icon *ngIf="showIcon && priceChange < 0" color="warn">trending_down</mat-icon>
		</div>

		<!-- N/A -->
		<!-- <ng-template #showNA>
			<span>N/A</span>
		</ng-template> -->

		<!-- price - position right -->
		<div *ngIf="showPrice && price && (pricePosition === 'right' || pricePosition === 'bottom')" [class]="classText">
			<!-- <span *ngIf="priceText" class="st-small-right-space">{{ priceText }}</span> -->
			{{ price | numberFormatter: false : showDollarSignOnPrice }}
		</div>
	</div>
</ng-template>
