<div class="page-table-container">
  <!-- Top Daily gainers -->
  <div class="white-separator page-table">
    <h3 class="page-table-name positive-number">Top Daily gainers</h3>
    <app-top-table
      [data]="getTopGains$ | async"
      (showChartEmitter)="showChart($event)">
    </app-top-table>
  </div>

  <!-- Top Daily losers -->
  <div class="white-separator page-table">
    <h3 class="page-table-name negative-number">Top daily losers</h3>
    <app-top-table
      [data]="getTopLosers$ | async"
      (showChartEmitter)="showChart($event)">
    </app-top-table>
  </div>

  <!-- Top Daily active -->
  <div class="white-separator page-table">
    <h3 class="page-table-name sector-font-color">Top daily active</h3>
    <app-top-table
      [data]="getTopActive$ | async"
      (showChartEmitter)="showChart($event)">
    </app-top-table>
  </div>
</div>
