<ion-toolbar class="ion-hide-lg-down">
	<ion-title class="st-title"> Portfolio </ion-title>
</ion-toolbar>

<ion-grid>
	<ion-row>
		<!-- portfolio growth chart -->
		<ion-col size="12" [sizeMd]="groupAllData.portfolio.lastPortfolioSnapshot.portfolioInvested > 0 ? '7.5' : '12' ">
			<app-portfolio-growth-chart [heightPx]="260" [stPortfolioSnapshots]="groupAllData.groupHistoricalData.portfolioSnapshots">
			</app-portfolio-growth-chart>
		</ion-col>

		<!-- portfolio change chart -->
		<ion-col size="12" size-md="4.5" *ngIf="groupAllData.portfolio.lastPortfolioSnapshot.portfolioInvested > 0">
			<div class="c-chart-container">
				<app-generic-chart
					[heightPx]="260"
					[chartType]="ChartType.pie"
					[enable3D]="true"
					[isPercentage]="true"
					chartTitle="Portfolio allocation"
					chartTitlePosition="center"
					legendAlign="center"
					[showLegend]="true"
					[showLegendLatestValue]="true"
					[series]="[{
                            data: [
                              {name: 'Invested', color: '#5e00df', y: 100 / (groupAllData.portfolio.lastPortfolioSnapshot.portfolioInvested + groupAllData.portfolio.lastPortfolioSnapshot.portfolioCash) * groupAllData.portfolio.lastPortfolioSnapshot.portfolioInvested, sliced: true},
                              {name: 'Cash', color: '#c7481a', y: 100 / (groupAllData.portfolio.lastPortfolioSnapshot.portfolioInvested + groupAllData.portfolio.lastPortfolioSnapshot.portfolioCash) * groupAllData.portfolio.lastPortfolioSnapshot.portfolioCash}
                          ], innerSize: '20%', minPointSize: 10}]"
				>
				</app-generic-chart>
			</div>
		</ion-col>
	</ion-row>
</ion-grid>
