<table mat-table [dataSource]="dataSource" matSort class="w-full">
	<ng-container matColumnDef="symbol">
		<th mat-header-cell *matHeaderCellDef class="hidden sm:table-cell">Symbol</th>
		<td mat-cell *matCellDef="let row">
			<div class="flex items-center">
				<img *ngIf="showImage" [src]="row.image" appDefaultImg class="st-symbol-image" />
				<div class="flex flex-col">
					<span class="g-color-white">{{ row.symbol }}</span>
					<span class="table-cell sm:hidden text-sm text-gray-500">{{ row.name }}</span>
				</div>
			</div>
		</td>
	</ng-container>

	<!-- price -->
	<ng-container matColumnDef="price">
		<th mat-header-cell *matHeaderCellDef class="hidden sm:table-cell">Price</th>
		<td mat-cell *matCellDef="let row">
			<div class="flex flex-col">
				<span [@marketValueChange]="row.price" class="text-right sm:text-left text-gray-200 sm:text-gray-400"> {{ row.price | currency }} </span>
				<app-price-compare-item class="table-cell sm:hidden" [compareToPrice]="row.previousClose" [currentPrice]="row.price" pricePosition="right">
				</app-price-compare-item>
			</div>
		</td>
	</ng-container>

	<!-- daily -->
	<ng-container matColumnDef="daily">
		<th mat-header-cell *matHeaderCellDef class="hidden sm:table-cell">Daily +/-</th>
		<td mat-cell *matCellDef="let row" class="hidden sm:table-cell">
			<app-price-compare-item [compareToPrice]="row.previousClose" [currentPrice]="row.price"> </app-price-compare-item>
		</td>
	</ng-container>

	<!-- volume -->
	<ng-container matColumnDef="volume">
		<th mat-header-cell *matHeaderCellDef class="hidden sm:table-cell">Volume +/-</th>
		<td mat-cell *matCellDef="let row" class="hidden sm:table-cell">
			<app-price-change-item [isPercent]="true" [priceChange]="(row.volume - row.avgVolume) / row.avgVolume" [showIcon]="false">
			</app-price-change-item>
		</td>
	</ng-container>

	<!-- market cap -->
	<ng-container matColumnDef="marketCap">
		<th mat-header-cell *matHeaderCellDef class="hidden md:table-cell">Market cap.</th>
		<td mat-cell *matCellDef="let row" class="hidden md:table-cell">{{ row.marketCap | numberFormatter }}</td>
	</ng-container>

	<!-- PE -->
	<ng-container matColumnDef="peRatio">
		<th mat-header-cell *matHeaderCellDef class="hidden md:table-cell">PE ratio</th>
		<td mat-cell *matCellDef="let row" class="hidden md:table-cell">{{ row.pe ? (row.pe | number: '1.2-2') : 'N/A' }}</td>
	</ng-container>

	<!-- 52 week -->
	<ng-container matColumnDef="52WeekRange">
		<th mat-header-cell *matHeaderCellDef class="hidden lg:table-cell">52 week range</th>
		<td mat-cell *matCellDef="let row" class="hidden lg:table-cell">
			<div style="width: 90%">
				<app-table-high-low-range [max]="row.yearHigh" [min]="row.yearLow" [value]="row.price"> </app-table-high-low-range>
			</div>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns" class="hidden sm:contents"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

	<!-- Row shown when there is no matching data. -->
	<tr class="mat-row" *matNoDataRow>
		<td class="mat-cell" colspan="7">
			<app-list-skeleton [itemLength]="skeletonLength"></app-list-skeleton>
		</td>
	</tr>
</table>
