<div class="flex flex-col lg:flex-row gap-8">
	<!-- user imag / name / since -->
	<div class="flex items-center gap-6 st-sm-border-bottom">
		<img class="c-image" appDefaultImg [src]="userData.photoURL" />
		<div class="flex flex-col">
			<span class="g-highlighted-text g-color-white">{{ userData.nickName }}</span>
			<span class="g-color-secondary"> Since: {{ userData.accountCreatedDate | date: 'dd.MM.yyyy' }} </span>
			<span class="g-color-secondary">
				Executed transactions: {{ userData.portfolio.numberOfExecutedBuyTransactions + userData.portfolio.numberOfExecutedSellTransactions}}
			</span>
			<span class="g-color-secondary">
				Executed <span class="st-price-up">BUY</span> transactions: {{ userData.portfolio.numberOfExecutedBuyTransactions }}
			</span>
			<span class="g-color-secondary">
				Executed <span class="st-price-down">SELL</span> transactions: {{ userData.portfolio.numberOfExecutedSellTransactions }}
			</span>
		</div>
	</div>
	<div class="flex flex-col sm:flex-row">
		<!-- portfolio current state -->
		<app-portfolio-state
			class="flex-1"
			portfolioState="PARTIAL"
			[portfolioCash]="userData.portfolio.lastPortfolioSnapshot?.portfolioCash"
			[portfolioInvested]="userData.portfolio.lastPortfolioSnapshot?.portfolioInvested"
		></app-portfolio-state>

		<!-- portfolio increase chart -->
		<div class="c-portfolio-chart flex-1">
			<app-portfolio-increase-chart
				[heightPx]="210"
				[portfolioInvested]="userData.portfolio.lastPortfolioSnapshot?.portfolioInvested"
				[portfolioCash]="userData.portfolio.lastPortfolioSnapshot?.portfolioCash"
			></app-portfolio-increase-chart>
		</div>
	</div>
</div>

<div class="grid grid-cols-1 2xl:grid-cols-2">
	<!-- portfolio growth chart -->
	<app-portfolio-growth-chart [heightPx]="portfolioChartHeight" [stPortfolioSnapshots]="userData.userHistoricalData.portfolioSnapshots">
	</app-portfolio-growth-chart>

	<!-- portfolio change chart -->
	<app-portfolio-change-chart [heightPx]="portfolioChartHeight" [stPortfolioSnapshots]="userData.userHistoricalData.portfolioSnapshots">
	</app-portfolio-change-chart>
</div>

<!-- portfolio comparison -->
<app-series-comparison-chart
	*ngIf="portfolioComparisonSeries | async as portfolioComparisonSeries"
	title="Portfolio comparison"
	[series]="portfolioComparisonSeries[0].data.length > 0 ? portfolioComparisonSeries : []"
></app-series-comparison-chart>

<!-- holdings table -->
<app-composed-portfolio-holdings-table
	[clickable]="false"
	[holdings]="userData.holdings"
	[totalPortfolio]="userData.portfolio.lastPortfolioSnapshot.portfolioInvested + userData.portfolio.lastPortfolioSnapshot.portfolioCash"
></app-composed-portfolio-holdings-table>

<!-- holdings pie charts -->
<app-composed-portfolio-allocation-charts
	[portfolioInvested]="userData.portfolio.lastPortfolioSnapshot.portfolioInvested"
	[portfolioCash]="userData.portfolio.lastPortfolioSnapshot.portfolioCash"
	[holdings]="userData.holdings"
></app-composed-portfolio-allocation-charts>

<!-- transactions -->
<app-composed-transactions
	[transactions]="userData.transactionsSnippets"
	[portfolioWrapper]="userData.portfolio"
	[stTransactionSnapshots]="userData.userHistoricalData.transactionSnapshots"
	[topTransactions]="userData.topTransactions"
>
</app-composed-transactions>
