<ion-item-group class="key-container ion-margin-top ion-margin-start">
    <ion-item class="ion-margin-bottom">
        <ion-text class="highlight-text">
            Stock tracker is a free to use application which is currently intended for
            watching stock prices in real time and some financial information about
            publicly listed companies. To maintain a cost free application,
            some action are required from user's to get real time price
            updates about companies. These information are provided from
            a data broker called Finnhub. Each user who wants to receive
            real time price update about stocks and create watchlist are
            required to create a FREE account on finnhub. After registration
            you will receive a key which have to be placed to the form under
            the text to enable receiving real time data. Please visit the site
            https://finnhub.io/ , and copy the received code after the registartion.
            Thank you for your cooperation.
        </ion-text>
    </ion-item>

    <app-inline-input-form
            [widthInPercent]="80"
            [label]="'Finnhub key'"
            (creationEmitter)="sendFinnhubKeyToFirebase($event)">
    </app-inline-input-form>
</ion-item-group>


