<ion-item class="ion-align-items-start article-container clickable"
          [href]="article.url"
          target="_blank"
          rel="noopener noreferrer">
    <ion-label  position="fixed" class="fixedLabel">
        <ion-img [src]="article.image" appDefaultImg></ion-img>
    </ion-label>

    <ion-label>

        <ion-card-subtitle class="ion-text-wrap">
            <ion-icon name="globe-outline"></ion-icon>
            {{ article.sourceName }}
            {{ article.datetime | timeAgo }}
        </ion-card-subtitle>

        <ion-label class="ion-text-wrap">
           <b> {{ article.headline }} </b>
        </ion-label>

        <ion-label class="ion-text-wrap">
            {{  (article.summary .length>255)? (article.summary  | slice:0:255)+'..':(article.summary )}}
        </ion-label>

    </ion-label>

</ion-item>
