<ion-grid *ngIf="adminMainInformations">
	<!-- main buttons -->
	<ion-row>
		<ion-col size="12">
			<ion-buttons class="c-main-buttons">
				<ion-button fill="outline" color="danger" shape="round" (click)="forceReloadAllSymbols()"> Force reload symbols </ion-button>
			</ion-buttons>
		</ion-col>
	</ion-row>

	<ion-list>
		<ion-item>
			<ion-label class="st-font-size-18 st-font-1"> Total users {{ adminMainInformations.usersRegistrated }} </ion-label>
			<!-- <ion-label class="st-font-size-18 st-font-1"> Active users {{ adminMainInformations.usersActive }} </ion-label> -->
		</ion-item>
	</ion-list>

	<!-- user registration chart -->
	<ion-row>
		<ion-col size="12">
			<app-generic-card [title]="'User registration'">
				<app-generic-chart [heightPx]="chartHeight" [series]="[{name: 'Registered users', data: data }]"> </app-generic-chart>
			</app-generic-card>
		</ion-col>
	</ion-row>

	<!-- latest registered users -->
	<ion-row>
		<ion-col size="12">
			<app-generic-card [title]="'Latest registered users'">
				<div class="st-flex-wrap">
					<app-user-identification-info
						*ngFor="let stUserIndetification of adminMainInformations.usersRegistrationSnippets"
						[stUserIndetification]="stUserIndetification"
					>
					</app-user-identification-info>
				</div>
			</app-generic-card>
		</ion-col>
	</ion-row>

	<ion-row class="ion-margin-top">
		<ion-col size="12">
			<div class="st-title st-bottom-space">Open tickets</div>
			<app-ticket-overview-container [showManagementButtons]="true" [tickets]="adminMainInformations.tickets"></app-ticket-overview-container>
		</ion-col>
	</ion-row>
</ion-grid>
