<ng-container *ngIf="adminMainInformations">
	<!-- main buttons -->
	<div class="flex gap-4 pb-2">
		<button mat-flat-button color="accent" (click)="forceReloadAllSymbols()">Force reload symbols</button>
	</div>

	<!-- application data -->
	<div class="st-border-bottom pb-4">
		<app-application-informations [adminMainInformations]="adminMainInformations"></app-application-informations>
	</div>

	<!-- search user -->
	<div class="st-border-bottom pb-4">
		<div class="text-xl text-white ml-2">Search user data</div>
		<app-user-account-search [clearOnClick]="true" (clickedUserEmitter)="clickedUser($event)"></app-user-account-search>
	</div>

	<!-- user registration chart -->
	<app-mat-card-wrapper title="User registration">
		<app-generic-chart [heightPx]="chartHeight" [series]="[{name: 'Registered users', data: data }]"> </app-generic-chart>
	</app-mat-card-wrapper>

	<!-- latest registered users -->
	<app-mat-card-wrapper title="Latest registered users">
		<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
			<app-user-identification-info
				*ngFor="let stUserIndetification of adminMainInformations.usersRegistrationSnippets"
				[stUserIdentification]="stUserIndetification"
			>
			</app-user-identification-info>
		</div>
	</app-mat-card-wrapper>

	<!-- tickets -->
	<div>
		<div class="text-xl mb-4 text-white">Open tickets</div>
		<app-ticket-overview-container [tickets]="adminMainInformations.tickets"></app-ticket-overview-container>
	</div>
</ng-container>
