<ion-grid *ngIf="adminMainInformations">
    <ion-list>
        <ion-item>
            <ion-label class="st-font-size-18 st-font-1">
                Total users {{ adminMainInformations.usersRegistrated }}
            </ion-label>
            <ion-label class="st-font-size-18 st-font-1">
                Active users {{ adminMainInformations.usersActive }}
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-row>
        <!-- user registration chart -->
        <ion-col size="12" size-md="7">
            <app-generic-card [subtitle]="'User registration'">
                <app-generic-chart
                        [heightPx]="350"
                        [series]="[{name: 'Registered users', data: data }]">
                </app-generic-chart>
            </app-generic-card>
        </ion-col>
        <!-- latest registered users -->
        <ion-col size="12" size-md="5">
            <app-generic-card [subtitle]="'Latest registered users'">
                <app-user-identification-info
                        *ngFor="let stUserIndetification of adminMainInformations.usersRegistrationSnippets"
                        [stUserIndetification]="stUserIndetification">
                </app-user-identification-info>
            </app-generic-card>
        </ion-col>
    </ion-row>
</ion-grid>
