<app-financial-chart-container [height]="chartHeight" [name]="'ETF: SPY'" [symbol]="'SPY'"> </app-financial-chart-container>

<ng-container *ngIf="etfDocument$ | async as etfDocument">
	<ion-row>
		<ion-col size="12" size-lg="6">
			<!-- etf sector weight -->
			<app-pie-chart-wrapper
				*ngIf="etfDocument.etfSectorWeight"
				[data]="etfDocument.etfSectorWeight | chartKeyValueFormatter: 'sector' : 'weightPercentage'"
				[heightPx]="chartHeighrPie"
				chartTitle="ETF sector allocation"
			>
			</app-pie-chart-wrapper>
		</ion-col>
		<ion-col size="12" size-lg="6">
			<!-- etf country weight -->
			<app-pie-chart-wrapper
				*ngIf="etfDocument.etfCountryWeight"
				[data]="etfDocument.etfCountryWeight | chartKeyValueFormatter: 'country' : 'weightPercentage'"
				[heightPx]="chartHeighrPie"
				chartTitle="ETF country allocation"
			>
			</app-pie-chart-wrapper>
		</ion-col>
	</ion-row>
</ng-container>

<!-- table of different etfs -->
<app-generic-extension-panel title="ETF list">
	<app-market-company-quotes-table (itemClickedEmitter)="etfClicked($event)" [stfmCompanyQuotes]="(marketDailyOverview$ | async)?.etfs">
	</app-market-company-quotes-table>
</app-generic-extension-panel>
