<ion-list *ngIf="stockDetails as details">
	<ion-item class="st-data-item-wrapper">
		<ion-label class="st-data-label-parent">Revenue per share ttm.</ion-label>
		<ion-label class="st-data-label st-flex-end"> {{ details.metric.revenuePerShareTTM | numberFormatter}} </ion-label>
	</ion-item>

	<ion-item class="st-data-item-wrapper">
		<ion-label class="st-data-label-parent">BV per share qrt.</ion-label>
		<ion-label class="st-data-label st-flex-end"> {{ details.metric.bookValuePerShareQuarterly | numberFormatter }} </ion-label>
	</ion-item>

	<ion-item class="st-data-item-wrapper">
		<ion-label class="st-data-label-parent">BV per share ann.</ion-label>
		<ion-label class="st-data-label st-flex-end"> {{ details.metric.bookValuePerShareAnnual | numberFormatter }} </ion-label>
	</ion-item>

	<ion-item class="st-data-item-wrapper">
		<ion-label class="st-data-label-parent">TBV per share qrt.</ion-label>
		<ion-label class="st-data-label st-flex-end"> {{ details.metric.tangibleBookValuePerShareQuarterly | numberFormatter }} </ion-label>
	</ion-item>

	<ion-item class="st-data-item-wrapper">
		<ion-label class="st-data-label-parent">TBV per share ann.</ion-label>
		<ion-label class="st-data-label st-flex-end"> {{ details.metric.tangibleBookValuePerShareAnnual | numberFormatter }} </ion-label>
	</ion-item>

	<ion-item class="st-data-item-wrapper">
		<ion-label class="st-data-label-parent">Cash per share qrt.</ion-label>
		<ion-label class="st-data-label st-flex-end"> {{ details.metric.cashPerSharePerShareQuarterly | numberFormatter }} </ion-label>
	</ion-item>

	<ion-item class="st-data-item-wrapper">
		<ion-label class="st-data-label-parent">CF per share ttm.</ion-label>
		<ion-label class="st-data-label st-flex-end"> {{ details.metric.cashFlowPerShareTTM | numberFormatter }} </ion-label>
	</ion-item>

	<ion-item class="st-data-item-wrapper">
		<ion-label class="st-data-label-parent">FCF per share ttm.</ion-label>
		<ion-label class="st-data-label st-flex-end"> {{ details.metric.freeCashFlowPerShareTTM | numberFormatter }} </ion-label>
	</ion-item>

	<ion-item>
		<ion-label class="st-data-label-parent">EBITDA per share ttm.</ion-label>
		<ion-label class="st-data-label st-flex-end"> {{ details.metric.ebitdPerShareTTM | numberFormatter }} </ion-label>
	</ion-item>
</ion-list>
