<div *ngIf="stockDetails as details" class="g-data-item-wrapper">
	<div>
		<div>Revenue per share ttm.</div>
		<div>{{ details.metric?.revenuePerShareTTM | numberFormatter}}</div>
	</div>

	<div>
		<div>BV per share qrt.</div>
		<div>{{ details.metric?.bookValuePerShareQuarterly | numberFormatter }}</div>
	</div>

	<div>
		<div>BV per share ann.</div>
		<div>{{ details.metric?.bookValuePerShareAnnual | numberFormatter }}</div>
	</div>

	<div>
		<div>TBV per share qrt.</div>
		<div>{{ details.metric?.tangibleBookValuePerShareQuarterly | numberFormatter }}</div>
	</div>

	<div>
		<div>TBV per share ann.</div>
		<div>{{ details.metric?.tangibleBookValuePerShareAnnual | numberFormatter }}</div>
	</div>

	<div>
		<div>Cash per share qrt.</div>
		<div>{{ details.metric?.cashPerSharePerShareQuarterly | numberFormatter }}</div>
	</div>

	<div>
		<div>CF per share ttm.</div>
		<div>{{ details.metric?.cashFlowPerShareTTM | numberFormatter }}</div>
	</div>

	<div>
		<div>FCF per share ttm.</div>
		<div>{{ details.metric?.freeCashFlowPerShareTTM | numberFormatter }}</div>
	</div>

	<div>
		<div>EBITDA per share ttm.</div>
		<div>{{ details.metric?.ebitdPerShareTTM | numberFormatter }}</div>
	</div>
</div>
