<ion-list *ngIf="stockDetails as details">
    <ion-item>
        <ion-label class="st-data-label-parent">Revenue per share ttm.</ion-label>
        <ion-label class="st-data-label"> {{ details.metric.revenuePerShareTTM | number: '1.2-2'}}</ion-label>
    </ion-item>

    <ion-item>
        <ion-label class="st-data-label-parent">BV per share qrt.</ion-label>
        <ion-label class="st-data-label"> {{ details.metric.bookValuePerShareQuarterly | number: '1.2-2'}}</ion-label>
    </ion-item>

    <ion-item>
        <ion-label class="st-data-label-parent">BV per share ann.</ion-label>
        <ion-label class="st-data-label"> {{ details.metric.bookValuePerShareAnnual | number: '1.2-2'}}</ion-label>
    </ion-item>

    <ion-item>
        <ion-label class="st-data-label-parent">TBV per share qrt.</ion-label>
        <ion-label class="st-data-label"> {{ details.metric.tangibleBookValuePerShareQuarterly | number: '1.2-2'}}</ion-label>
    </ion-item>

    <ion-item>
        <ion-label class="st-data-label-parent">TBV per share ann.</ion-label>
        <ion-label class="st-data-label"> {{ details.metric.tangibleBookValuePerShareAnnual | number: '1.2-2'}}</ion-label>
    </ion-item>

    <ion-item>
        <ion-label class="st-data-label-parent">Cash per share qrt.</ion-label>
        <ion-label class="st-data-label"> {{ details.metric.cashPerSharePerShareQuarterly | number: '1.2-2'}}</ion-label>
    </ion-item>

    <ion-item>
        <ion-label class="st-data-label-parent">CF per share ttm.</ion-label>
        <ion-label class="st-data-label"> {{ details.metric.cashFlowPerShareTTM | number: '1.2-2'}}</ion-label>
    </ion-item>

    <ion-item>
        <ion-label class="st-data-label-parent">FCF per share ttm.</ion-label>
        <ion-label class="st-data-label"> {{ details.metric.freeCashFlowPerShareTTM | number: '1.2-2'}}</ion-label>
    </ion-item>

    <ion-item>
        <ion-label class="st-data-label-parent">EBITDA per share ttm.</ion-label>
        <ion-label class="st-data-label"> {{ details.metric.ebitdPerShareTTM | number: '1.2-2'}}</ion-label>
    </ion-item>

</ion-list>
