<div
	[ngClass]="{
    'c-form-lock-wrapper-slider': inputType === 'SLIDER' && !allowChangeInput,
    'c-form-lock-wrapper-select': inputType !== 'SLIDER' || allowChangeInput
}"
>
	<app-form-mat-input-wrapper
		[controlName]="controlName"
		[disabled]="disabled.value"
		[hintText]="hintText"
		[inputCaption]="inputCaption"
		[inputTypeSliderConfig]="inputTypeSliderConfig"
		[inputSource]="inputSource"
		[inputType]="allowChangeInput && !!changeInputTo ? changeInputTo : inputType"
	></app-form-mat-input-wrapper>

	<div class="st-display-flex-center" [ngClass]='{"has-erros": formInputControl.touched && formInputControl.invalid }'>
		<!-- lock -->
		<ng-container [formGroup]="form">
			<app-form-lock-input
				[matTooltip]="disabled.value ?  'Enable form field' : 'Disable form field'"
				formControlName="disabled"
			></app-form-lock-input>
		</ng-container>

		<!-- keyboard -->
		<button
			(click)="changeInput()"
			*ngIf="showChangeInput"
			[disabled]="disabled.value"
			[matTooltip]="'Change input type to: ' + changeInputTo"
			mat-icon-button
		>
			<mat-icon [ngClass]="{'g-color-primary': !disabled.value}">keyboard</mat-icon>
		</button>
	</div>
</div>
