:host {
	.c-form-lock-wrapper-slider {
		position: relative;
		margin-bottom: 16px;

		app-form-lock-input {
			position: absolute;
			top: 55px;
		}

		button {
			position: absolute;
			top: 65px;
			right: 0;
		}
	}

	.c-form-lock-wrapper-select {
		position: relative;
		margin-bottom: 16px;

		app-form-lock-input {
			position: absolute;
			top: 42px;
		}

		button {
			position: absolute;
			top: 45px;
			right: 0;
		}

		.has-erros {
			app-form-lock-input {
				top: 60px;
			}

			button {
				top: 62px;
			}
		}
	}
}
