:host {
  .c-form-lock-wrapper-slider {
    position: relative;
    margin-bottom: 10px;

    app-form-lock-input {
      position: absolute;
      top: 55px;
    }
  }

  .c-form-lock-wrapper-select {
    position: relative;
    margin-bottom: 10px;

    app-form-lock-input {
      position: absolute;
      top: 45px;
    }
  }
}
