@import 'variables';

:host {
	form {
		margin-bottom: 8px;
		width: 100%;

		@screen md {
			width: 65%;
		}
		@screen lg {
			width: 45%;
		}
	}

	.flex-flow-wrap {
		display: flex;
		flex-flow: wrap;
	}
}
