<form [formGroup]="form">
	<app-form-mat-input-wrapper inputCaption="Enter username" controlName="username"></app-form-mat-input-wrapper>
</form>

<!-- listed users -->
<ng-container *ngIf="searchedUsers$ | async as searchedUsers; else noUserFound">
	<div *ngIf="searchedUsers.length > 0; else noUserFound" class="flex flex-wrap">
		<app-user-account-info-list
			*ngFor="let user of searchedUsers"
			class="flex-1"
			(click)="clickedUser(user)"
			[fullWith]="fullWith"
			[clickable]="true"
			[stUserPublicData]="user"
		>
		</app-user-account-info-list>
	</div>
</ng-container>

<!-- no result -->
<ng-template #noUserFound>
	<div *ngIf="showNoUserFoundTest" class="st-no-result-container">
		<ion-text>No user has been found</ion-text>
	</div>
</ng-template>
