<ion-list class="ion-hide-sm-down">
	<ion-item class="st-font-1-bold">
		<ion-label class="ion-margin-end">Company</ion-label>
		<ion-label>Prince range</ion-label>
		<ion-label class="ion-hide-lg-down">Action</ion-label>
		<ion-label class="ion-hide-md-down">Exchange</ion-label>
		<ion-label>Market cap.</ion-label>
		<ion-label class="ion-hide-md-down">Shares</ion-label>
		<ion-label>Date</ion-label>
	</ion-item>

	<ion-item *ngFor="let calendar of calendarIpos" class="st-data-item-wrapper">
		<ion-label class="ion-margin-end st-flex-col">
			<ion-text>{{ calendar.symbol }}</ion-text>
			<ion-text class="st-font-4">{{ calendar.company }}</ion-text>
		</ion-label>
		<ion-label>{{ calendar.priceRange }}</ion-label>
		<ion-label class="ion-hide-lg-down">{{ calendar.actions }}</ion-label>
		<ion-label class="ion-hide-md-down">{{ calendar.exchange }}</ion-label>
		<ion-label>{{ calendar.marketCap ? (calendar.marketCap | numberFormatter) : 'N/A' }}</ion-label>
		<ion-label class="ion-hide-md-down">{{ calendar.shares ? (calendar.marketCap | numberFormatter) : 'N/A' }}</ion-label>
		<ion-label>{{ calendar.date | date : 'dd.MM.YYYY' }}</ion-label>
	</ion-item>
</ion-list>

<!-- SMALL SCREEN -->
<ion-list class="ion-hide-sm-up">
	<ion-item class="st-font-1-bold">
		<ion-label>Company</ion-label>
		<ion-label class="st-flex-end">Market cap.</ion-label>
	</ion-item>

	<ion-item *ngFor="let calendar of calendarIpos" class="st-data-item-wrapper">
		<!-- event name -->
		<ion-label class="st-flex-col st-width-70">
			<ion-text>{{ calendar.symbol }} </ion-text>
			<ion-text class="st-font-4"> {{ calendar.company}} </ion-text>
		</ion-label>

		<!-- price -->
		<ion-label class="st-flex-end st-flex-col">
			<ion-text class="st-font-1-normal">{{ calendar.marketCap ? (calendar.marketCap | numberFormatter) : 'N/A' }} </ion-text>
			<ion-text class="st-font-4">{{ calendar.date | date : 'dd.MM.YYYY' }}</ion-text>
		</ion-label>
	</ion-item>
</ion-list>
