:host {
  .collection {
    position: relative;

    @media (max-width: 999px) and (min-width: 0px) {
      column-count: 1;
      ion-card{
        margin-top: 10px;
      }
    }
    @media (min-width: 1000px) {
      column-count: 3;
    }
  }

}
