<ion-content class="ion-padding">
    <ion-toolbar>
        <ion-title class="ion-text-start">
            Company summary ({{ symbol }})
        </ion-title>
        <ion-buttons slot="end">
            <ion-button color="danger" (click)="dismissModal()">
                <ion-icon name="close-outline"></ion-icon>
                Close
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

    <ion-img [src]="summaryProfile.logo_url" class="ion-float-start ion-margin-end"></ion-img>

    <ion-textarea> {{ summaryProfile.longBusinessSummary }}</ion-textarea>


</ion-content>
