<form [formGroup]="form" (ngSubmit)="submitForm()">
	<!-- ticket name -->
	<app-form-mat-input-wrapper inputCaption="Ticket name" controlName="name"> </app-form-mat-input-wrapper>

	<!-- ticket type -->
	<app-form-mat-input-wrapper inputCaption="Ticket type" controlName="type" inputType="SELECT" [inputSource]="inputSource">
	</app-form-mat-input-wrapper>

	<!-- ticket message -->
	<app-form-mat-input-wrapper inputCaption="Type your message" controlName="message" inputType="TEXTAREA"> </app-form-mat-input-wrapper>

	<div class="flex justify-end">
		<button mat-flat-button color="primary" type="submit" class="w-full md:w-auto">Submit ticket</button>
	</div>
</form>
