@import 'custom-variables';

:host {
	.active-finhub-api-item-highlight {
		color: #d8b406;
		background-color: #231f0a;

		mat-icon {
			color: #d8b406;
		}
		h4 {
			color: #d8b406;
		}
	}

	.navigation-rectangle-selected {
		width: 7px;
		height: 48px;
		margin-top: 7px;
		position: absolute;
		left: 0;
		z-index: 1;
		opacity: 0.7;
		background: #06befd;
	}

	.navigation-avatar {
		text-align: -webkit-center;
		margin-top: 32px;
		margin-bottom: 12px;

		.user-avatar {
			width: 50px;
			height: 45px;
			border-radius: 50%;
			margin-bottom: 8px;
		}
	}

	.navigation-avatar-name {
		display: block;
	}

	ion-avatar,
	ion-thumbnail {
		width: 50px;
		height: 45px;
		margin-bottom: 8px;
	}

	.c-version {
		position: fixed;
		bottom: 0;
		margin-left: 16px;
		margin-bottom: 10px;
		color: #{$st-var-font-4};
		font-size: 13px;

		@media (max-height: 700px) {
			position: inherit;
			margin-top: 16px;
			padding-bottom: 16px;
		}
	}

	.c-nav-list-not-expanded {
		margin-left: 0;
		width: 70%;
		margin: auto;

		&__item {
			justify-content: center;
			display: flex;
			padding-left: 0 !important;
		}
	}

	.navigation {
		width: 96%;
		border-radius: 0 25px 25px 0;
	}

	.page-section {
		margin-left: 28px;
		font-size: 12px;
		color: #{$st-var-font-4};
	}

	.c-main-nav {
		position: relative;

		mat-nav-list {
			width: 100%;
			margin-left: -28px;

			.item-selected {
				background-color: #24315e;
			}

			mat-list-item {
				border-radius: 12px;
				padding-left: 36px;
				height: 44px;

				&:hover {
					background: rgba(0, 0, 0, 0.18);
				}
			}
		}
	}

	.mat-list-item-disabled {
		background-color: transparent;
		opacity: 0.35;
	}
}
