<ion-list>
    <!-- Daily -->
    <ion-item-group *ngIf="daily">
        <ion-item class="change-title-item">
            <ion-label class="st-font-size-16">
                Daily
            </ion-label>
        </ion-item>
        <ion-item>
            <label class="st-flex-row">
                <ion-text class="st-font-size-18 weekly-change" [@marketValueChange]="daily.growth">
                    {{ daily.growth | currency }}
                </ion-text>
                <app-price-change-item [priceChange]="daily.change"></app-price-change-item>
            </label>
        </ion-item>
    </ion-item-group>

    <!-- Weekly + Monthly + From beginning -->
    <ion-item-group *ngFor="let wrapper of tradingChangeWrapper">
        <ion-item class="change-title-item">
            <ion-label class="st-font-size-16">
                {{ wrapper.timeIntervalName }}
            </ion-label>
        </ion-item>
        <ion-item>
            <label class="st-flex-row">
                <ion-text class="st-font-size-18 weekly-change" [@marketValueChange]="balance">
                    {{ balance - wrapper.historicalBalance | currency }}
                </ion-text>
                <app-price-change-item
                        [isPercent]="true"
                        [priceChange]="(balance - wrapper.historicalBalance) / wrapper.historicalBalance">
                </app-price-change-item>
            </label>
        </ion-item>
    </ion-item-group>
</ion-list>

