<!-- if currentBalance is present when calculate things, generating real time update -->
<ng-container *ngIf="currentBalance; else showWithoutBalance">
	<app-portfolio-change-item
		[title]="title"
		[inlinePriceWithIncrease]="inlinePriceWithIncrease"
		[balanceChange]="currentBalance - (portfolioChange.portfolioBalance)"
		[balanceChangePrct]="(currentBalance - (portfolioChange.portfolioBalance)) / portfolioChange.portfolioBalance"
	></app-portfolio-change-item>
</ng-container>

<!-- without real time -->
<ng-template #showWithoutBalance>
	<app-portfolio-change-item
		[title]="title"
		[inlinePriceWithIncrease]="inlinePriceWithIncrease"
		[balanceChange]="portfolioChange.portfolioIncreaseNumber"
		[balanceChangePrct]="portfolioChange.portfolioIncreasePrct"
	></app-portfolio-change-item>
</ng-template>
