<div class="st-flex-space-between-sm-down st-padding">
	<div class="st-font-size-20 st-letter-spacing-1 st-font-2">{{ tradingChangeWrapper.timeIntervalName }}</div>
	<div
		class="st-font-size-20 st-font-white"
		[ngClass]="{
		'st-flex-row-sm-col': inlinePriceWithIncrease,
		'st-flex-col': !inlinePriceWithIncrease}"
	>
		<!-- started with -->
		<ng-container *ngIf="tradingChangeWrapper.timeIntervalName === TIME_INTERVAL_ENUM.STARTED_WITH; else showOther">
			<ion-text class="st-font-size-20 weekly-change"> {{ tradingChangeWrapper.historicalBalance | currency }} </ion-text>
		</ng-container>

		<!-- portfolio change -->
		<ng-template #showOther>
			<ng-container *ngIf="tradingChangeWrapper.historicalBalance; else showNA">
				<ion-text class="st-font-size-20 weekly-change" [@marketValueChange]="balance">
					{{ balance - tradingChangeWrapper.historicalBalance | currency }}
				</ion-text>
				<app-price-change-item
					*ngIf="balance - tradingChangeWrapper.historicalBalance !== 0"
					[isPercent]="true"
					[applyEndOnSmDown]="true"
					[priceChange]="(balance - tradingChangeWrapper.historicalBalance) / tradingChangeWrapper.historicalBalance"
				>
				</app-price-change-item>
			</ng-container>

			<ng-template #showNA>
				<ion-text class="st-font-size-20">N/A</ion-text>
			</ng-template>
		</ng-template>
	</div>
</div>
