@import "variables";

:host {
  ion-list {
    @media (max-width: #{$st-var-sm-split}) {
      column-count: 2;
    }
  }

  ion-item-group {
    width: 225px;
    border-right: 1px solid #666666;
    display: inline-block;
    padding-left: 16px;
    @media (max-width: #{$st-var-sm-split}) {
      //display: flex;
      border-right: 0;
      padding-left: 0;
      width: 100%;
    }
  }

  ion-item-group:last-of-type {
    border-right: 0;
  }

  .change-title-item {
    height: 32px;
    overflow: visible;
  }

  .weekly-change {
    margin-right: 16px;
    @media (max-width: #{$st-var-sm-split}) {
      margin-right: 0;
    }
  }

  ion-text {
    color: white;
  }
}
