<div *ngIf="stockDetails as details" class="g-data-item-wrapper">
	<div>
		<div>Enterprise value</div>
		<div>{{ details.companyData?.defaultKeyStatistics?.enterpriseValue | numberFormatter }}</div>
	</div>

	<div>
		<div>Market cap.</div>
		<div>{{ details.summary.marketCap| numberFormatter }}</div>
	</div>

	<div>
		<div>Revenue</div>
		<div>{{ details.companyData?.financialData?.totalRevenue | numberFormatter }}</div>
	</div>

	<div>
		<div>Operating cash flow</div>
		<div>{{ details.companyData?.financialData?.operatingCashflow | numberFormatter }}</div>
	</div>

	<div>
		<div>Free cash flow</div>
		<div>{{ details.companyData?.financialData?.freeCashflow | numberFormatter }}</div>
	</div>

	<div>
		<div>Gross profit</div>
		<div>{{ details.companyData?.financialData?.grossProfits | numberFormatter }}</div>
	</div>

	<div>
		<div>Total cash</div>
		<div>{{ details.companyData?.financialData?.totalCash | numberFormatter }}</div>
	</div>

	<div>
		<div>Total debt</div>
		<div>{{ details.companyData?.financialData?.totalDebt| numberFormatter }}</div>
	</div>

	<div>
		<div>EBITDA</div>
		<div>{{ details.companyData?.financialData?.ebitda | numberFormatter }}</div>
	</div>

	<div *ngIf="details.companyData as dk">
		<div>Floating shares</div>
		<div>
			{{ dk?.defaultKeyStatistics?.floatShares | numberFormatter }} ({{dk?.defaultKeyStatistics?.floatShares ? (floatSharesPrct | percent: '1.2-2') :
			''}})
		</div>
	</div>

	<div *ngIf="details.companyData as dk">
		<div>Shorted shares</div>
		<div>
			{{ dk?.defaultKeyStatistics?.sharesShort | numberFormatter }} ({{dk?.defaultKeyStatistics?.sharesShort ? (sharesShortPrct | percent: '1.2-2') :
			''}})
		</div>
	</div>
</div>
