<ion-card>
  <ion-card-header>
    <ion-card-title class="ion-text-start ion-padding">
      Money
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>

    <ion-list *ngIf="moneyInfo">
      <ion-item>
        <ion-label position="fixed" class="fixedLabel">Market Cap</ion-label>
        <ion-label> {{ moneyInfo.marketCap }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="fixed" class="fixedLabel">Revenue (ttm)</ion-label>
        <ion-label> {{ moneyInfo.revenueTTM }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="fixed" class="fixedLabel">Gross profit (ttm)</ion-label>
        <ion-label> {{ moneyInfo.grossProfitTTM }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="fixed" class="fixedLabel">Net income</ion-label>
        <ion-label> {{ moneyInfo.netIncomeAvitoCommonTTM }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="fixed" class="fixedLabel">Total cash (mrq)</ion-label>
        <ion-label> {{ moneyInfo.totalCashMRQ }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="fixed" class="fixedLabel">Total Debt (mrq)</ion-label>
        <ion-label> {{ moneyInfo.totalDebtMRQ }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="fixed" class="fixedLabel">Operating cash flow</ion-label>
        <ion-label> {{ moneyInfo.operatingCashFlowTTM }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="fixed" class="fixedLabel">Levered cash flow</ion-label>
        <ion-label> {{ moneyInfo.leveredFreeCashFlowTTM }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="fixed" class="fixedLabel">EBITDA</ion-label>
        <ion-label> {{ moneyInfo.ebitda }}</ion-label>
      </ion-item>




    </ion-list>
  </ion-card-content>
</ion-card>
