<!-- small screen -->
<ion-card [href]="stockArticle.url" rel="noopener noreferrer" target="_blank">
    <ion-card-content>
        <!-- source info -->
        <div class="overlay upper-overlay">
            <ion-text class="st-display-flex-center">
                <ion-icon class="ion-margin-end" name="globe-outline"></ion-icon>
                {{ stockArticle.site }} {{ stockArticle.publishedDate | relativeTime }}
            </ion-text>
        </div>
        <!-- image -->
        <ion-img [src]="stockArticle.image" appDefaultImg></ion-img>

        <!-- news title -->
        <div class="overlay bottom-overlay">
            {{ stockArticle.title }}
        </div>

    </ion-card-content>
</ion-card>
