<ion-item (click)="itemClicked()"
          class="st-data-item-wrapper ion-hide-sm-down"
          [ngClass]="{'ion-activatable': clickable}">

    <!-- stock name -->
    <ion-label class="st-display-flex-center">
        <ion-img [src]="transaction.summary.logo_url" class="st-symbol-image"></ion-img>
        <ion-text class="ion-hide-md-down">{{ transaction.summary.symbol }}</ion-text>
    </ion-label>

    <!-- current price -->
    <ion-label class="st-data-label" [@marketValueChange]="currentPrice">
        {{ currentPrice | currency }}
    </ion-label>

    <!-- BEP -->
    <ion-label class="st-data-label">
        {{ transaction.price | currency }}
    </ion-label>

    <!-- daily change -->
    <ion-label>
        <app-price-compare-item [currentPrice]="currentPrice * transaction.units"
                                [compareToPrice]="transaction.summary.previousClose * transaction.units">
        </app-price-compare-item>
    </ion-label>

    <!-- total change -->
    <ion-label>
        <app-price-compare-item [currentPrice]="currentPrice * transaction.units"
                                [compareToPrice]="transaction.price * transaction.units">
        </app-price-compare-item>
    </ion-label>

    <!-- Value -->
    <ion-label class="st-data-label st-flex-col">
        <ion-text>{{ (currentPrice * transaction.units) | currency }} </ion-text>
        <ion-text class="st-font-size-12 st-font-5">
            {{ currentPrice | currency }} * {{ transaction.units }}
        </ion-text>
    </ion-label>

    <!-- portfolio % -->
    <ion-label class="ion-hide-md-down st-data-label">
        {{ (currentPrice * transaction.units / userPortfolioTotal  | percent: '1.2-2') }}
    </ion-label>

    <!-- recommendation date -->
    <ion-label class="ion-hide-lg-down st-data-label">
        <ion-text appRecommendation
                  [recommendationKey]="transaction.summary.recommendationKey"
                  [recommendationMean]="transaction.summary.recommendationMean">
        </ion-text>
    </ion-label>


    <!-- ripple effect on click -->
    <ion-ripple-effect></ion-ripple-effect>
</ion-item>


<!-- SMALL SCREEN -->
<ion-item-group class="st-data-item-wrapper ion-hide-sm-up"
                (click)="itemClicked()"
                [ngClass]="{'ion-activatable': clickable}">

    <ion-item>
        <!-- LOGO + SYMBOL -->
        <ion-label class="st-display-flex-center st-fit-content">
            <ion-img [src]="transaction.summary.logo_url" class="st-symbol-image"></ion-img>
            <div class="st-flex-col">
                <ion-text>{{ transaction.summary.symbol }}</ion-text>
                <ion-text class="st-hide-xs-down st-font-size-12">{{ transaction.summary.longName }}</ion-text>
            </div>
        </ion-label>

        <!-- Value -->
        <ion-label class="st-font-1 st-font-size-16 st-flex-end" [@marketValueChange]="currentPrice">
            {{ (currentPrice * transaction.units) | currency }}
        </ion-label>
    </ion-item>

    <ion-item>
        <!-- units -->
        <ion-label class="st-font-5 st-font-size-14 st-fit-content">
            <span [@marketValueChange]="currentPrice">{{ currentPrice | currency }}</span> * {{ transaction.units }}
            | {{ transaction.price | currency }}
        </ion-label>

        <ion-label class="st-flex-end">
            <!-- daily change -->
            <app-price-compare-item
                    *ngIf="showDailyChange"
                    [currentPrice]="currentPrice * transaction.units"
                    [inlineDisplay]="true"
                    [compareToPrice]="transaction.summary.previousClose * transaction.units">
            </app-price-compare-item>

            <!-- total change -->
            <app-price-compare-item
                    *ngIf="!showDailyChange"
                    [inlineDisplay]="true"
                    [currentPrice]="currentPrice * transaction.units"
                    [compareToPrice]="transaction.price * transaction.units">
            </app-price-compare-item>
        </ion-label>
    </ion-item>

    <!-- ripple effect on click -->
    <ion-ripple-effect></ion-ripple-effect>
</ion-item-group>
