<ion-item (click)="itemClicked()"
          class="ion-no-padding st-data-item-wrapper st-data-label"
          [ngClass]="{'ion-activatable': clickable}">

    <!-- stock name -->
    <ion-label class="st-display-flex-center">
        <ion-img [src]="transaction.summary.logo_url" class="st-symbol-image-data-table"></ion-img>
        <ion-text>{{ transaction.summary.symbol }}</ion-text>
    </ion-label>

    <!-- current price -->
    <ion-label class="st-data-label" [@marketValueChange]="currentPrice">
        {{ currentPrice | currency }}
    </ion-label>

    <!-- BEP -->
    <ion-label class="st-data-label">
        {{ transaction.price | currency }}
    </ion-label>

    <!-- daily change -->
    <ion-label>
        <app-price-compare-item [currentPrice]="currentPrice * transaction.units"
                                [compareToPrice]="transaction.summary.previousClose * transaction.units">
        </app-price-compare-item>
    </ion-label>

    <!-- total change -->
    <ion-label>
        <app-price-compare-item [currentPrice]="currentPrice * transaction.units"
                                [compareToPrice]="transaction.price * transaction.units">
        </app-price-compare-item>
    </ion-label>

    <!-- Value -->
    <ion-label class="st-data-label st-flex-col">
        <ion-text>{{ (currentPrice * transaction.units) | currency }} </ion-text>
        <ion-text class="st-font-size-12 st-font-5">
            {{ currentPrice | currency }} * {{ transaction.units }}
        </ion-text>
    </ion-label>

    <!-- portfolio % -->
    <ion-label class="st-data-label">
        {{ (currentPrice * transaction.units / userPortfolioTotal  | percent: '1.2-2') }}
    </ion-label>

    <!-- recommendation date -->
    <ion-label class="ion-hide-md-down st-data-label">
        <ion-text [appRecommendation]="transaction.summary.recommendationKey | titlecase">
            {{ transaction.summary.recommendationKey | titlecase }}
        </ion-text>
        [{{ transaction.summary.recommendationMean }}]
    </ion-label>


    <!-- ripple effect on click -->
    <ion-ripple-effect></ion-ripple-effect>
</ion-item>

