<div class="g-data-item-wrapper">
	<div>
		<div>Yield</div>
		<div>{{ dividends.dividendsPerShareTTM | numberFormatter }} ({{ dividends.currentDividendYieldTTM | number: '1.2-2' }}%)</div>
	</div>

	<div>
		<div>Yield ttm.</div>
		<div>{{ dividends.trailingAnnualDividendRate | number: '1.2-2'}} ( {{ dividends.trailingAnnualDividendYield | percent: '1.2-2'}} )</div>
	</div>

	<div>
		<div>Forward yield</div>
		<div>{{ dividends.forwardDividendYield | percent: '1.2-2' }}</div>
	</div>

	<div>
		<div>5y yield & growth</div>
		<div>{{ dividends.dividendPerShareFiveY | numberFormatter }} ({{ dividends.dividendYieldFiveY | number: '1.2-2' }}%)</div>
	</div>

	<div>
		<div>Payout ratio</div>
		<div>{{ dividends.dividendPayoutRatioTTM | number: '1.2-2' }}%</div>
	</div>

	<div>
		<div>Ex dividend date</div>
		<div>{{ dividends.exDividendDate | date: 'dd.MM.YYYY' }}</div>
	</div>
</div>
