<ion-list *ngIf="stockDetails as details">
    <ion-item class="st-data-item-wrapper">
        <ion-label class="st-data-label-parent">Yield</ion-label>
        <ion-label class="st-data-label st-flex-end">
            {{ details.dividends.dividendsPerShareTTM  | numberFormatter }}
            ({{ details.dividends.currentDividendYieldTTM | number: '1.2-2' }}%)
        </ion-label>
    </ion-item>

    <ion-item class="st-data-item-wrapper">
        <ion-label class="st-data-label-parent">Yield ttm.</ion-label>
        <ion-label class="st-data-label st-flex-end">
            {{ details.dividends.trailingAnnualDividendRate}}
            ( {{ details.dividends.trailingAnnualDividendYield}} )
        </ion-label>
    </ion-item>

    <ion-item class="st-data-item-wrapper">
        <ion-label class="st-data-label-parent">Forward yield</ion-label>
        <ion-label class="st-data-label st-flex-end">{{ details.dividends.forwardDividendYield  }}</ion-label>
    </ion-item>

    <ion-item class="st-data-item-wrapper">
        <ion-label class="st-data-label-parent">5y yield & growth</ion-label>
        <ion-label class="st-data-label st-flex-end">
            {{ details.dividends.dividendPerShareFiveY | numberFormatter }}
            ({{ details.dividends.dividendYieldFiveY | number: '1.2-2' }}%)
        </ion-label>
    </ion-item>

    <ion-item class="st-data-item-wrapper">
        <ion-label class="st-data-label-parent">Payout ratio</ion-label>
        <ion-label class="st-data-label st-flex-end">
            {{ details.metric.payoutRatioTTM  | number: '1.2-2' }}%
        </ion-label>
    </ion-item>

    <ion-item>
        <ion-label class="st-data-label-parent">Ex dividend date</ion-label>
        <ion-label class="st-data-label st-flex-end">
            {{ details.dividends.exDividendDate  }}
        </ion-label>
    </ion-item>
</ion-list>
