<app-information-card title="Active account">
	<p class="st-font-1">
		Thank you for your registration! <br />
		We want to bring the best experience for our users and keep free usage of the application. Currently this project is not supported by any external
		resources, that's why some compromises have to be made. To allow real time price updates for stocks and crypto, unfortunatelly, for some time an
		another registration is required by your side. Please follow this link:
		<a href="https://finnhub.io/dashboard" target="_blank">finnhub.io</a>
	</p>
	<p class="st-font-1">
		Do not worry! You only have to create a FREE account. Once your registration in
		<a href="https://finnhub.io/dashboard" target="_blank">finnhub.io</a> will be completed, please paste your private key from finhub, which you can
		find on your dashboard, into the highlighted form field and save your changes.
	</p>

	<p class="st-font-1">
		After completing the above mentioned steps, when the market is open, you will receive real time price updates up to 50 symbols.
	</p>

	<p class="st-font-1">
		We underestand that this proces is quite tedious, and we are working for a better solution. Thank you for your understanding!
	</p>
</app-information-card>
