<app-information-card title="Active account">
	<p class="st-font-1">
		Thank you for your registration! <br />
		We want to bring the best experience for our users and keep free usage of the application. Currently, this project is not supported by any
		external resources, so some compromises must be made. To allow real-time price updates for stocks and crypto, unfortunately, another registration
		is required by your side for some time. Please follow this link:
		<a href="https://finnhub.io/dashboard" target="_blank">finnhub.io</a>
	</p>
	<p class="st-font-1">
		Do not worry! You only have to create a FREE account. Once your registration in
		<a href="https://finnhub.io/dashboard" target="_blank">finnhub.io</a> is completed, please paste your private key from finhub, which you can find
		on your dashboard, into the highlighted form field and save your changes.
	</p>

	<p class="st-font-1">
		After completing the steps mentioned above, you will receive real-time price updates of up to 50 symbols when the market is open.
	</p>

	<p class="st-font-1">We understand that this process is quite tedious, and we are working on a better solution. I appreciate your understanding!</p>
</app-information-card>
