<div class="st-font-1 g-highlighted-text">Please enter your input to define: {{ data.inputLabel }}</div>
<form [formGroup]="form" class="p-3">
	<mat-form-field appearance="outline" class="w-full">
		<mat-label class="st-font-1"> {{ data.inputLabel }} </mat-label>

		<input formControlName="inputData" type="text" autocomplete="off" matInput />

		<!-- errors -->
		<mat-error *ngFor="let inputError of form.errors | keyvalue" [id]="''"> {{ inputError.value.errorText }} </mat-error>
	</mat-form-field>

	<div class="flex gap-4 max-w-md m-auto mt-6">
		<button mat-flat-button class="w-1/2" color="accent" (click)="submit()">Confirm</button>
		<button mat-flat-button class="w-1/2 g-button-secondary" (click)="dismiss()">Cancel</button>
	</div>
</form>
