:host {
  ion-card{
    height: 450px;
  }

  ion-card-content {
    overflow: scroll;
  }

  ion-item {
    font-size: 14px;
    height: 34px;
    border-bottom: 1px solid #333333;
  }

  ::-webkit-scrollbar {
    width: 0;
    background: transparent; /* make scrollbar transparent */
  }
}
