<ion-list *ngIf="stockWatchlist" style="width: fit-content">
    <ion-list-header>
        <!-- edit button -->
        <ion-button (click)="toggleEdit()" class="clickable">
            <ion-icon name="pencil" class="grey-regular-icon"></ion-icon>
        </ion-button>
        <!-- header info -->
        <ion-label style="padding-left: 10px;" *ngIf="!editing">
            <p class="table-header">{{ stockWatchlist.name }}   [ {{ stockWatchlist.stocks.length }} ]</p>
            <p class="table-header-timestamp">Created at {{ stockWatchlist.timestamp |  date: 'dd/MM/yyyy' }}</p>
        </ion-label>

        <!-- form to edit watchlist name -->
        <ion-item [hidden]="!editing" class="watchlist-edit-container">
            <ion-label position="fixed" class="watchlist-edit-input">
                <app-inline-input-form
                        [widthInPercent]="70"
                        (creationEmitter)="editWatchlistName($event)"
                        (closingEmitter)="toggleEdit()">
                </app-inline-input-form>
            </ion-label>
            <ion-label class=" content-fit ion-text-end">
                <ion-button shape="round"
                            color="#fafafa"
                            fill="outline"
                            class="regularFont negative-button"
                            (click)="deleteWatchlist()">
                    Delete watchlist
                </ion-button>
            </ion-label>
        </ion-item>
    </ion-list-header>

    <!-- table attributes -->
    <ion-item style="font-weight: bold;" class="ion-margin-top ion-no-padding hideOn450PxDown">
        <ion-label position="fixed" class="symbol-image-attribute"></ion-label>
        <ion-label position="fixed" class="stockInfo-name-title">Symbol</ion-label>
        <ion-label position="fixed" class="stockInfo-price" > Price</ion-label>
        <ion-label position="fixed" class="stockInfo-change"> Daily change
        </ion-label>
        <ion-label position="fixed" style="min-width: 150px; max-width: 150px;" class="ion-hide-lg-down"> 52 week
            range
        </ion-label>
        <ion-label position="fixed" style="min-width: 250px; max-width: 250px;" class="stockInfo-earnings"> Earnings
            date
        </ion-label>
    </ion-item>

    <!-- table data -->
    <ion-item *ngFor="let stockInfo of stockWatchlist.stocksDetails"
              class="ion-no-padding stockInfo-container"
              (click)="detailsClicked(stockInfo.id)">
        <ion-button>
            <ion-img [src]="stockInfo.basicInfo.logoUrl"
                     class="symbol-image "
                     (click)="showChart(stockInfo.basicInfo.shortName, stockInfo.id)">
            </ion-img>
        </ion-button>
        <!-- stock name -->
        <ion-label position="fixed" class="stockInfo-name" >
            {{ stockInfo.id }}
        </ion-label>
        <!-- current price -->
        <ion-label position="fixed" class="stockInfo-price increment" > <!-- [@marketValueChange]="'positive'" -->
            {{ stockInfo.overview.currentPrice | currency}}
        </ion-label>

        <!-- daily change -->
        <ion-label position="fixed"
                   class="stockInfo-change"
                   [ngClass]="{
                    'price-up': stockInfo.overview.currentPrice - stockInfo.overview.previousClose >= 0,
                    'price-down': stockInfo.overview.currentPrice - stockInfo.overview.previousClose < 0
                     }">

            {{ stockInfo.overview.currentPrice - stockInfo.overview.previousClose | currency}}
            ({{ ((stockInfo.overview.currentPrice - stockInfo.overview.previousClose) / stockInfo.overview.previousClose) | percent: '1.2' }}
            )
            <ion-icon name="trending-up-outline"
                      class="price-icon "
                      *ngIf="stockInfo.overview.currentPrice - stockInfo.overview.previousClose >= 0"></ion-icon>
            <ion-icon name="trending-down-outline"
                      class="price-icon"
                      *ngIf="stockInfo.overview.currentPrice - stockInfo.overview.previousClose < 0"></ion-icon>
        </ion-label>
        <!-- 52 week range -->
        <ion-label position="fixed" style="min-width: 150px; max-width: 150px;" class="ion-hide-lg-down">
            {{ stockInfo.overview.weekLow52 | currency }} - {{ stockInfo.overview.weekHigh52 | currency }}
        </ion-label>
        <!-- earnings date -->
        <ion-label position="fixed" class="stockInfo-earnings">
            {{ stockInfo.overview.earningsDate }}
        </ion-label>
        <!-- details button -->
        <ion-button shape="round"
                    fill="outline"
                    class="clickable hideOn400PxDown details-button"
                    (click)="detailsClicked(stockInfo.id)">
            Details
        </ion-button>
        <ion-button class="negative-button clickable hideOn450PxDown" (click)="deleteSymbolFromWatchlist(stockInfo.id)">
            <ion-icon name="trash-bin" style="font-size: 28px;"></ion-icon>
        </ion-button>
    </ion-item>
</ion-list>
