@import "../../../../shared/styles/custom-variable";
@import "../../../../shared/styles/button-styling";
@import "../../../../shared/styles/icon-styling";
@import "../../../../shared/styles/general-styling";
@import "../../../../shared/styles/resolution-styling";

:host {

  .increment {
    animation-duration: 1.5s;
    animation-name: positive-background;
  }

  @keyframes positive-background {
    from {
      background: #2dd36f;
    }

    to {
      background: transparent;
    }
  }

  /*--------------------------*/

  .symbol-image {
    max-width: 55px !important;
    min-width: 55px !important;
    margin-right: 5px;
    transition: All 0.3s ease-out;
    cursor: pointer;
    &:hover{
      transform: scale(0.85);
    }

    @media (max-width: 750px) {
      max-width: 45px !important;
      min-width: 45px !important;
    }

    @media (max-width: 450px) {
      max-width: 30px !important;
      min-width: 30px !important;
    }
  }

  .symbol-image-attribute{
    min-width: 70px !important;
    max-width: 70px !important;
    @media (max-width: 750px) {
      min-width: 65px !important;
      max-width: 65px !important;
    }
  }

  .table-header{
    font-size: 20px;
    font-weight: bold;
    color: #{$orange-title-dark};
    @media (max-width: 750px) {
      font-size: 18px;
    }
  }

  .table-header-timestamp{
    font-size: 14px;
    @media (max-width: 750px) {
      font-size: 11px;
    }
  }

  .watchlist-edit-container{
    padding-left: 30px;
    min-width: 100%;
    max-width: 100%;
    display: contents;
  }

  .watchlist-edit-input{
    min-width: 70%;
    max-width: 70%;
  }


  ion-button{
    --background: transparent;
    --box-shadow: none;
    --background-hover: none;
  }

  .stockInfo-name{
    min-width: 75px;
    max-width: 75px;
    @media (max-width: 750px) {
      min-width: 50px;
      max-width: 50px;
    }
  }

  .stockInfo-name-title{
    min-width: 80px;
    max-width: 80px;
    @media (max-width: 750px) {
      min-width: 55px;
      max-width: 55px;
    }
  }

  .stockInfo-change{
    min-width: 160px;
    max-width: 160px;
    @media (max-width: 750px) {
      min-width: 135px;
      max-width: 135px;
    }
  }

  .stockInfo-price{
    min-width: 75px;
    max-width: 75px;
    @media (max-width: 750px) {
      min-width: 60px;
      max-width: 60px;
    }
  }


  .details-button{
    margin-right: 3px;
    @media (max-width: 750px) {
      font-size: 11px;
    }
  }

  .stockInfo-container{
    @media (max-width: 400px) {
      text-align: center;
    }
  }

  .stockInfo-earnings{
    min-width: 215px;
    max-width: 215px;

    @media (max-width: 750px) {
      min-width: 195px;
      max-width: 195px;
    }

    @media (max-width: 625px) {
      display: none;
    }
  }


}
