<form [formGroup]="registrationForm" (ngSubmit)="register()">
	<!-- email -->
	<app-form-mat-input-wrapper inputCaption="Enter email" controlName="email" icon="person"> </app-form-mat-input-wrapper>

	<!-- password 1 -->
	<app-form-mat-input-wrapper inputCaption="Password" controlName="password1" icon="lock" inputType="PASSWORD"> </app-form-mat-input-wrapper>

	<!-- password 2 -->
	<app-form-mat-input-wrapper inputCaption="Repeat password" controlName="password2" icon="lock" inputType="PASSWORD"> </app-form-mat-input-wrapper>

	<ion-button color="warning" shape="full" expand="block" type="submit" shape="round">Register</ion-button>
</form>
