<mat-accordion *ngIf="dailyOverview$ | async as dailyOverview" [multi]="true">
    <app-generic-extension-panel title="Sector performance">
        <app-market-sector-heat-map
                [heightPx]="500"
                [sectorPerformance]="dailyOverview.sectorPerformance">
        </app-market-sector-heat-map>
    </app-generic-extension-panel>

    <!-- Calendars -->
    <app-generic-extension-panel title="Calendar Economic">
        <app-market-calendar-economic
                [calendarEconomic]="dailyOverview.calendar.calendarEconomic">
        </app-market-calendar-economic>
    </app-generic-extension-panel>
</mat-accordion>
