<ion-content class="ion-padding">
    <ion-toolbar>
        <ion-title class="ion-text-start">
            Watchlist folders
        </ion-title>
        <ion-buttons slot="end">
            <ion-button color="danger" (click)="dismissModal()">
                <ion-icon name="close-outline"></ion-icon>
                Close
            </ion-button>
        </ion-buttons>
    </ion-toolbar>


    <!-- display all stock watchList names -->
    <ion-item *ngFor="let watchList of stockWatchLists$ | async"
              button
              class="watchlist-name-container"
              (click)="addSymbolToWatchlist(watchList.id)">
        <ion-label>
            {{ watchList.name }}
        </ion-label>
        <span style="color: white;">
            [ {{watchList?.stocks.length }} ]
        </span>
    </ion-item>

    <!-- form to create watchlist -->
    <div class="ion-text-center" style="margin-top: 40px;">
        <app-watchlist-creation (creationEmitter)="createWatchList($event)"></app-watchlist-creation>
    </div>


</ion-content>
