<ion-content class="ion-padding">
    <ion-toolbar>
        <ion-title class="ion-text-start">
            Watchlist folders
        </ion-title>
        <ion-buttons slot="end">
            <ion-button color="danger" (click)="dismissModal()">
                <ion-icon name="close-outline"></ion-icon>
                Close
            </ion-button>
        </ion-buttons>
    </ion-toolbar>


    <!-- display all stock watchList names -->
    <ion-item *ngFor="let watchList of stockWatchLists$ | async"
              button
              class="watchlist-name-container"
              (click)="addSymbolToWatchlist(watchList.id, watchList.name)">
        <ion-label>
            {{ watchList.name }}
        </ion-label>
        <span style="color: white;">
            [ {{watchList?.summaries.length }} ]
        </span>
    </ion-item>



</ion-content>
