<ion-list>
    <!-- table header -->
    <ion-item class="st-font-1-bold">
        <ion-label class="st-data-label-first-main">Name</ion-label>
        <ion-label>Held %</ion-label>
        <ion-label>Value</ion-label>
        <ion-label class="ion-hide-sm-down">Position</ion-label>
    </ion-item>

    <!-- body -->
    <ion-item *ngFor="let ownership of ownerships" class="st-data-item-wrapper">
        <ion-label class="st-font-5 st-data-label-first-main">{{ ownership.organization }}</ion-label>
        <ion-label class="st-data-label">{{ ownership.pctHeld | percent: '1.2'}}</ion-label>
        <ion-label class="st-data-label">{{ ownership.value |  numberFormatter }}</ion-label>
        <ion-label class="st-data-label ion-hide-sm-down">{{ ownership.position |  numberFormatter }}</ion-label>
    </ion-item>

    <!-- sum up % held -->
    <ion-item style="margin-top: 8px">
        <ion-label>
            <ion-text class="st-font-5">Held together:</ion-text> {{ ownerships | sumUp:'pctHeld' | percent: '1.2'}}
            ({{ ownerships | sumUp: 'value'   |  numberFormatter}})
        </ion-label>
    </ion-item>
</ion-list>
