<ion-item-group>
    <div class="ion-margin-bottom" *ngIf="title">
        <ion-text  class="st-font-size-18 st-font-0"> {{ title }}</ion-text>
    </div>
    <ion-item class="st-display-flex-center st-font-size-14 ion-activatable"
              *ngFor="let name of itemNames"
              (click)="itemClicked(name)">
        <ion-label class="ion-text-center st-font-4">
            {{ name }}
        </ion-label>
        <!-- ripple effect on click -->
        <ion-ripple-effect></ion-ripple-effect>
    </ion-item>
</ion-item-group>
