<ion-item class="user-info-item" style="--padding-start: 0">
	<ion-label
		(click)="clickedPerson()"
		class="st-info-item-result"
		[ngClass]="{
                'ion-activatable': clickable,
                'width-100': clickable
            }"
	>
		<ion-img appDefaultImg [src]="stUserIdentification.photoURL"></ion-img>
		<ion-label class="ion-margin-start" style="display: grid">
			<ion-text class="st-font-size-18">{{ stUserIdentification.nickName }}</ion-text>
			<ion-text class="st-font-size-14 st-font-5"> Since: {{ stUserIdentification.accountCreatedDate | date: 'mm:hh dd.MM.yyyy' }} </ion-text>
		</ion-label>
	</ion-label>
</ion-item>
