<ion-item class="user-info-item" style="--padding-start: 0">
    <ion-label (click)="clickedPerson()"
               class="st-info-item-result" [ngClass]="{
                'ion-activatable': clickable,
                'width-100': clickable
            }">
        <ion-img [src]="stUserIndetification.photoURL"></ion-img>
        <ion-label class="ion-margin-start" style="display: grid">
            <ion-text class="st-font-size-18">{{ stUserIndetification.nickName }}</ion-text>
            <ion-text class="st-font-size-14 st-font-5">
                Since: {{ stUserIndetification.accountCreatedDate | date: 'mm:hh dd.MM.yyyy' }}
            </ion-text>
        </ion-label>
    </ion-label>
</ion-item>
