<ion-item-group class="ion-margin-bottom">
    <ion-item>
        <ion-label class="st-font-2 st-font-size-18">
            My groups
        </ion-label>
    </ion-item>

    <div class="group-name-wrapper">
        <ion-text class="group-name">GROUP1</ion-text>
        <ion-text  class="group-name">GROUP1</ion-text>
        <ion-text  class="group-name">GROUP1</ion-text>
        <ion-text  class="group-name">GROUP1</ion-text>
    </div>
</ion-item-group>


<ion-item-group class="ion-margin-bottom">
    <ion-item>
        <ion-label class="st-font-2 st-font-size-18">
            My groups
        </ion-label>
    </ion-item>

    <div class="group-name-wrapper">
        <ion-text class="group-name">GROUP1</ion-text>
        <ion-text  class="group-name">GROUP1</ion-text>
        <ion-text  class="group-name">GROUP1</ion-text>
        <ion-text  class="group-name">GROUP1</ion-text>
    </div>
</ion-item-group>


<ion-item-group class="ion-margin-bottom">
    <ion-item>
        <ion-label class="st-font-2 st-font-size-18">
            My groups
        </ion-label>
    </ion-item>

    <div class="group-name-wrapper">
        <ion-text class="group-name">GROUP1</ion-text>
        <ion-text  class="group-name">GROUP1</ion-text>
        <ion-text  class="group-name">GROUP1</ion-text>
        <ion-text  class="group-name">GROUP1</ion-text>
    </div>
</ion-item-group>
