@import "../../../../shared/styles/custom-variable";
@import "../../../../shared/styles/general-styling";

:host {
  .group-name {
    color: #{$font-4};
    transition: All 0.3s ease-out;
    cursor: pointer;
    margin-bottom: 5px;

    &:hover {
      color: #{$font-2};
    }
  }

  .group-name-wrapper {
    display: inline-grid;
    margin-left: 22px;
  }
}
