<ion-grid>
    <ion-row>
        <ion-col size-lg="3" size-md="5.5"  offset-lg="0" offset-md="0.5" size-sm="6" size="12">
            <app-details-dividend-card [dividendInfo]="stockDetails?.dividend"></app-details-dividend-card>
        </ion-col>
        <ion-col size-lg="3" size-md="5.5"  size-sm="6" size="12">
            <app-details-per-share-card [perShare]="stockDetails?.perShare"></app-details-per-share-card>
        </ion-col>
        <ion-col size-lg="6" offset-lg="0" offset-md="0.5" size-md="11" size="12">
            <ng-container *ngIf="stockDetails?.chartInfo">
                <app-generic-chart-card [chartTitle]="'Margin'">
                    <app-generic-chart
                            [chartType]="ChartType.column"
                            [heightPx]="315"
                            [showYAxis]="true"
                            [series]="[{
                                colorByPoint: true,
                                 data:[
                                 {name: 'Gross margin ttm.', y: stockDetails.chartInfo.margin.grossMarginTTM},
                                 {name: 'Net margin growth 5y', y: stockDetails.chartInfo.margin.netMarginGrowth5Y},
                                 {name: 'Net profit margin 5y', y: stockDetails.chartInfo.margin.netProfitMargin5Y},
                                 {name: 'Net profit margin ttm.', y: stockDetails.chartInfo.margin.netProfitMarginTTM},
                                 {name: 'Operating margin ttm.', y: stockDetails.chartInfo.margin.operatingMarginTTM},
                                 {name: 'Pretax margin ttm.', y: stockDetails.chartInfo.margin.pretaxMarginTTM}
                              ]
                          }]">
                    </app-generic-chart>
                </app-generic-chart-card>
            </ng-container>
        </ion-col>
    </ion-row>
</ion-grid>
