<ion-grid>
    <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-lg="11">
            <app-financial-chart-container
                    [name]="'S&P 500'"
                    [height]="425"
                    [symbol]="'^GSPC'">
            </app-financial-chart-container>
        </ion-col>
    </ion-row>

    <ng-container *ngIf="marketOverview$ | async as marketOverview">
        <!-- SP 500 stats -->
        <app-generic-list [title]="'S&P 500 stats'"></app-generic-list>
        <ion-row>
            <ng-container *ngFor="let data of marketOverview.sp500.result; let i = index">
                <ion-col size="12" size-sm="6" [sizeMd]="i > 6 ? 6 : 4" [sizeLg]="i > 5 ? 3 : 2.4">
                    <app-market-chart [heightPx]="chartHeight"
                                      [timestamp]="marketOverview.sp500.timestamp"
                                      [chartDataResult]="data">
                    </app-market-chart>
                </ion-col>
            </ng-container>
        </ion-row>

        <!-- investor sentiment -->
        <app-generic-list [title]="'Investor sentiment'"></app-generic-list>
        <ion-row>
            <ion-col size="12">
                <app-market-chart [heightPx]="300"
                                  [enableLegendClick]="true"
                                  [timestamp]="marketOverview.investor_sentiment.timestamp"
                                  [chartDataResultContainer]="marketOverview.investor_sentiment">
                </app-market-chart>
            </ion-col>
        </ion-row>

        <!-- Treasury yield-->
        <app-generic-list [title]="'Treasury yield'"></app-generic-list>
        <ion-row>
            <ng-container *ngFor="let data of marketOverview.treasury_yield.result">
                <ion-col size="12" size-sm="6" size-md="4" size-lg="3">
                    <app-market-chart [heightPx]="chartHeight"
                                      [timestamp]="marketOverview.treasury_yield.timestamp"
                                      [chartDataResult]="data">
                    </app-market-chart>
                </ion-col>
            </ng-container>
        </ion-row>

        <!-- Corporate bond market -->
        <app-generic-list [title]="'Corporate bond market'"></app-generic-list>
        <ion-row>
            <ng-container *ngFor="let data of marketOverview.bonds.result; let i = index">
                <ion-col size="12" size-sm="6" [sizeMd]="i > 3 ? 4 : 3" [sizeLg]="i > 3 ? 4 : 3">
                    <app-market-chart [heightPx]="chartHeight"
                                      [timestamp]="marketOverview.bonds.timestamp"
                                      [chartDataResult]="data">
                    </app-market-chart>
                </ion-col>
            </ng-container>
        </ion-row>

    </ng-container>
</ion-grid>
