@import 'variables';

:host {
	.watchlist-data {
		// display: inline-flex;
		margin-top: 16px;
		margin-bottom: 16px;
	}

	.no-watchlist-container {
		display: flex;
		flex-flow: column;
		align-items: center;
		margin-top: 15%;

		& > * {
			margin-bottom: 16px;
			font-size: 18px;
			color: #{$st-var-font-1};
		}
	}
}
