<ion-content>
    <!-- header -->
    <app-header>
        <ion-icon class="st-icon-size-header" name="stats-chart"></ion-icon>
        <ion-text class="st-font-size-header">Watchlist</ion-text>
    </app-header>

    <!-- body -->
    <div class="st-content-padding">
        <ion-grid>
            <ion-row *ngFor="let watchlist of stockWatchlists" class="watchlist-data">
                <!-- watchlist -->
                <ion-col size="12" style="display: inline-flex; place-content: center;">
                    <app-watchlist-table [watchlist]="watchlist"
                                         (itemClickedEmitter)="showChartForSymbol($event)"
                                         (deleteEmitter)="deleteSymbolFromDocument($event, watchlist.id, watchlist.name)">
                    </app-watchlist-table>

                    <div class="st-hide-xxl-down" *ngIf="watchlist.summaries.length > 0">
                        <app-summary-sector-chart style="align-self: center;"
                                                  [summaries]="watchlist.summaries">
                        </app-summary-sector-chart>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>

