<ng-container *ngIf="stockWatchlists.length > 0; else noWatchlsit">
	<div *ngFor="let watchlist of stockWatchlists" style="margin-bottom: 22px">
		<app-generic-list [additionalInfo]="'Created at ' + (watchlist.date |  date: 'dd/MM/yyyy') " [iconTitle]="'pie-chart'" [title]="watchlist.name">
		</app-generic-list>
		<app-mat-card-wrapper>
			<app-watchlist-table (itemClickedEmitter)="showChartForSymbol($event, watchlist.id)" [watchlist]="watchlist"> </app-watchlist-table>
		</app-mat-card-wrapper>
	</div>
</ng-container>

<!-- no watchlist -->
<ng-template #noWatchlsit>
	<div class="st-no-result-container">
		<ion-text>You have not created a watchlist yet</ion-text>
		<ion-text>Click on the button below to create your first watchlist and start monitor stocks</ion-text>
		<ion-button fill="outline" color="primary" shape="round" (click)="createWatchlist()">Create watchlist</ion-button>
	</div>
</ng-template>
