<div class="g-data-item-wrapper">
	<div>
		<div>Discounted cash flow</div>
		<div>
			<span [recommendationKey]="rating.ratingDetailsDCFRecommendation" [recommendationMean]="rating.ratingDetailsDCFScore" appRecommendation> </span>
		</div>
	</div>

	<div>
		<div>Debt to equity</div>
		<div>
			<span [recommendationKey]="rating.ratingDetailsDERecommendation" [recommendationMean]="rating.ratingDetailsDEScore" appRecommendation> </span>
		</div>
	</div>

	<div>
		<div>Price to earnings</div>
		<div>
			<span [recommendationKey]="rating.ratingDetailsPERecommendation" [recommendationMean]="rating.ratingDetailsPEScore" appRecommendation> </span>
		</div>
	</div>

	<div>
		<div>Price to book</div>
		<div>
			<span [recommendationKey]="rating.ratingDetailsPBRecommendation" [recommendationMean]="rating.ratingDetailsPBScore" appRecommendation> </span>
		</div>
	</div>

	<div>
		<div>Return on equity</div>
		<div>
			<span [recommendationKey]="rating.ratingDetailsROERecommendation" [recommendationMean]="rating.ratingDetailsROEScore" appRecommendation> </span>
		</div>
	</div>

	<div>
		<div>Return on assets</div>
		<div>
			<span [recommendationKey]="rating.ratingDetailsROARecommendation" [recommendationMean]="rating.ratingDetailsROAScore" appRecommendation> </span>
		</div>
	</div>

	<div>
		<div>Total</div>
		<div>
			<span [recommendationKey]="rating.ratingRecommendation" [recommendationMean]="rating.rating" appRecommendation> </span>
		</div>
	</div>
</div>
