<ion-grid>
    <ion-row>
        <ion-col size="12" size-lg="8">
            <app-generic-card>
                <app-financial-chart-container
                        *ngIf="stockDetails$ | async as stockDetails"
                        [currentPrice]="stockDetails.summary.marketPrice"
                        [closedPrice]="stockDetails.summary.previousClose"
                        [logoUrl]="stockDetails.summary.logo_url"
                        [name]="stockDetails.summary.longName"
                        [height]="285"
                        [symbol]="stockDetails.summary.symbol">
                </app-financial-chart-container>
            </app-generic-card>
        </ion-col>

        <!-- risk management calculator -->
        <ion-col size="12" size-lg="4">
            <app-generic-card subtitle="Risk management calculator"
                              additionalClasses="st-height-100"
                              [showSkeleton]="true">
                <ng-container *ngIf="riskManagementCalculator$ | async as riskManagementCalculator">
                    <app-trading-strategy-rmc
                            [data]="riskManagementCalculator">
                    </app-trading-strategy-rmc>
                </ng-container>
            </app-generic-card>
        </ion-col>
    </ion-row>

    <!-- red white blue -->
    <ion-row>
        <ion-col size="12">
            <app-generic-card subtitle="Red white blue" [showSkeleton]="true">
                <app-trading-strategy-rwb
                        *ngIf="redWhiteBlue$ | async as data"
                        [heightPx]="370"
                        [data]="data">
                </app-trading-strategy-rwb>
            </app-generic-card>
        </ion-col>
    </ion-row>

    <!-- extended market verification -->
    <ion-row>
        <ion-col size="12" size-lg="6">
            <app-generic-card subtitle="Extended market verification histogram" [showSkeleton]="true">
                <ng-container *ngIf="extendedMarketVerification$ | async as data">
                    <app-trading-strategy-emv-histogram
                            *ngIf="data.series[0].data.length > 0"
                            [heightPx]="250"
                            [data]="data">
                    </app-trading-strategy-emv-histogram>
                </ng-container>
            </app-generic-card>
        </ion-col>
        <ion-col size="12" size-lg="6">
            <app-generic-card subtitle="Extended market verification" [showSkeleton]="true">
                <ng-container *ngIf="extendedMarketVerification$ | async as data">
                    <app-trading-strategy-emv
                            *ngIf="data.series[0].data.length > 0"
                            [heightPx]="250"
                            [data]="data">
                    </app-trading-strategy-emv>
                </ng-container>
            </app-generic-card>
        </ion-col>
    </ion-row>

    <!-- green line breakout and resistance pivot points -->
    <ion-row>
        <ion-col size="12">
            <app-generic-card subtitle="Green line breakouts with resistance pivot points" [showSkeleton]="true">
                <ng-container *ngIf="historical5yData$ | async as historical5yData">
                    <ng-container *ngIf="resistancePivotPoints$ | async as resistancePivotPoints">
                        <ng-container *ngIf="greenLineBreakout$ | async as greenLineBreakout">
                            <app-trading-strategy-rpp-glb
                                    [heightPx]="310"
                                    [historicalChartData]="historical5yData"
                                    [dataRPP]="resistancePivotPoints"
                                    [dataGLB]="greenLineBreakout">
                            </app-trading-strategy-rpp-glb>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </app-generic-card>
        </ion-col>
    </ion-row>
</ion-grid>
