:host {
  .chart-info{
    width: 100%;
    position: relative;
    padding: 20px;
  }
  .container {
    position: relative;
    padding: 20px;
  }

  .chart{
    width: 100%;
  }

  .item{
    margin-right: 15px;
    display: inline-flex;
  }

  .button-container {
    float: right;
    margin-right: 15px;
    margin-bottom: 10px;
  }
}
