<ion-item>
  <input type="range"
         [min]="!min ? 0 : min"
         [max]="!max ? value : max"
         [value]="!value ? 0 : value"
         [matTooltip]="'Current value: ' + valueDisplayName"
         matTooltipPosition="right"
         matTooltipClass="custom-tooltip"
         matTooltipShowDelay="150"
         class="slider"
         disabled>
</ion-item>

<div class="range-values-container">
  <span class="low-est"> {{minDisplayName}}</span>
  <span class="high-est"> {{ maxDisplayName}}</span>
</div>
