<mat-accordion *ngIf="dailyOverview$ | async as dailyOverview" [multi]="true">
	<!-- sector performance -->
	<app-generic-extension-panel title="Sector performance">
		<app-market-sector-heat-map [heightPx]="chartHeight" [sectorPerformance]="dailyOverview.sectorPerformance"> </app-market-sector-heat-map>
	</app-generic-extension-panel>

	<!-- exchange PE -->
	<div class="grid grid-cols-1 gap-4">
		<!-- exchange industry pe -->
		<app-mat-card-wrapper title="Exchange industry PE">
			<app-generic-chart
				[chartType]="ChartType.bar"
				[heightPx]="chartHeightSectors"
				[series]="[{
						colorByPoint: true,
						data: dailyOverview.exchange.exchangeIndustryPE | chartKeyValueFormatter: 'industry' : 'pe'
				}]"
				[showDataLabel]="true"
			>
			</app-generic-chart>
		</app-mat-card-wrapper>

		<!-- exchange sector pe -->
		<app-mat-card-wrapper title="Exchange sector PE">
			<app-generic-chart
				[chartType]="ChartType.bar"
				[heightPx]="chartHeight"
				[series]="[{
									colorByPoint: true,
									data: dailyOverview.exchange.exchangeSectorPE | chartKeyValueFormatter: 'sector' : 'pe'
								}]"
				[showDataLabel]="true"
			>
			</app-generic-chart>
		</app-mat-card-wrapper>
	</div>

	<!-- Mutual funds -->
	<app-generic-extension-panel title="Mutual funds: Vanguard Total International Stock">
		<app-financial-chart-container
			[financialChart]="false"
			[height]="315"
			[initWebsockets]="false"
			name="Vanguard Total International Stock"
			symbol="VTIAX"
		>
		</app-financial-chart-container>
	</app-generic-extension-panel>

	<app-generic-extension-panel title="Mutual funds">
		<app-market-company-quotes-table [showImage]="false" [skeletonLength]="15" [stfmCompanyQuotes]="dailyOverview.mutulaFunds">
		</app-market-company-quotes-table>
	</app-generic-extension-panel>

	<!-- Commodities -->
	<app-generic-extension-panel [title]="'Commodity: ' +  dailyOverview.commodities[0].name">
		<app-financial-chart-container
			[financialChart]="false"
			[height]="chartHeight"
			[initWebsockets]="false"
			[name]="dailyOverview.commodities[0].name"
			[symbol]="dailyOverview.commodities[0].symbol"
		>
		</app-financial-chart-container>
	</app-generic-extension-panel>

	<app-generic-extension-panel title="Commodities">
		<app-market-company-quotes-table [showImage]="false" [skeletonLength]="15" [stfmCompanyQuotes]="dailyOverview.commodities">
		</app-market-company-quotes-table>
	</app-generic-extension-panel>
</mat-accordion>
