<app-generic-card [title]="'Transactions'" [iconTitle]="'reader'">

    <ion-list>
        <!-- table header -->
        <ion-item class="ion-margin-top ion-no-padding ion-hide-sm-down st-font-1-bold">
            <ion-label>Symbol</ion-label>
            <ion-label>Action</ion-label>
            <ion-label>Value</ion-label>
            <ion-label>Return</ion-label>
            <ion-label>Date</ion-label>
        </ion-item>


        <!-- table body -->
        <ion-item *ngFor="let transaction of transactions" class="st-font-size-15 st-data-label">
            <ion-label class="st-display-flex-center">
                <ion-img [src]="transaction.symbol_logo_url" class="st-symbol-image-data-table"></ion-img>
                <ion-text>{{ transaction.symbol }}</ion-text>
            </ion-label>

            <!-- Action -->
            <ion-label [ngClass]="{
                    'st-price-up': transaction.operation === StTransactionOperationEnum.Buy,
                    'st-price-down': transaction.operation === StTransactionOperationEnum.Sell}">
                {{ transaction.operation }}
            </ion-label>

            <!-- Value -->
            <ion-label>
                <ion-label>
                    <ion-text class="st-font-size-16 st-flex-row">
                        {{ (transaction.price * transaction.units) | currency }}
                    </ion-text>
                    <ion-text class="st-font-size-13 st-font-5">
                        {{ transaction.price | currency }}* {{ transaction.units }}
                    </ion-text>
                </ion-label>
            </ion-label>

            <!-- Return -->
            <ion-label>
                <app-price-change-item
                        *ngIf="transaction.operation === StTransactionOperationEnum.Sell"
                        [price]="transaction.return"
                        [priceChange]="transaction.returnChange">
                </app-price-change-item>
            </ion-label>

            <!-- Date -->
            <ion-label>{{ transaction.date | date: 'dd.MM.yyyy HH:mm' }}</ion-label>

        </ion-item>
    </ion-list>
</app-generic-card>
