<ion-card>
  <ion-card-header>
    <ion-card-title class="ion-text-center ion-padding-start ion-padding-top">
      Dividend
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>

    <ion-list>
      <ion-item>
        <ion-label position="fixed" class="fixedLabel">Ex-dividend date</ion-label>
        <ion-label> {{ dividends?.exDividendDate }}</ion-label>
      </ion-item>

      <!--<ion-item>
        <ion-label position="fixed" class="fixedLabel">Dividend date</ion-label>
        <ion-label> {{ dividends.dividendDate }}</ion-label>
      </ion-item>-->

      <ion-item>
        <ion-label position="fixed" class="fixedLabel">Forward dividend yield</ion-label>
        <ion-label> {{ dividends.ForwardDividendYield }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="fixed" class="fixedLabel">Forward dividend yield ttm.</ion-label>
        <ion-label> {{ dividends.currentDividendYieldTTM | number}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="fixed" class="fixedLabel">Trailing annual dividend yield</ion-label>
        <ion-label> {{ dividends.trailingAnnualDividendYield | number}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="fixed" class="fixedLabel">Trailing annual dividend rate</ion-label>
        <ion-label> {{ dividends.trailingAnnualDividendRate | number}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="fixed" class="fixedLabel">Dividend yield 5y</ion-label>
        <ion-label> {{ dividends.dividendYieldFiveY | number}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="fixed" class="fixedLabel">Dividend growth rate 5y</ion-label>
        <ion-label> {{ dividends.dividendGrowthRateFiveY | number}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="fixed" class="fixedLabel">Dividend per share an.</ion-label>
        <ion-label> {{ dividends.dividendPerShareAnnual | number}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="fixed" class="fixedLabel">Dividend per share ttm.</ion-label>
        <ion-label> {{ dividends.dividendsPerShareTTM | number}}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="fixed" class="fixedLabel">Dividend per share 5y</ion-label>
        <ion-label> {{ dividends.dividendPerShareFiveY | number}}</ion-label>
      </ion-item>

    </ion-list>
  </ion-card-content>
</ion-card>
