<div class="collection">
    <!-- Top Daily gainers -->
    <app-table-top-card
            [name]="'Top daily gainers'"
            [data]="getTopGains$ | async"
            (showChartEmitter)="showChart($event)">
    </app-table-top-card>

    <!-- Top Daily losers -->
    <app-table-top-card
            [name]="'Top daily losers'"
            [data]="getTopLosers$ | async"
            (showChartEmitter)="showChart($event)">
    </app-table-top-card>


    <!-- Top Daily active -->
    <app-table-top-card
            [name]="'Top daily active'"
            [data]="getTopActive$ | async"
            (showChartEmitter)="showChart($event)">
    </app-table-top-card>
</div>
