<!-- BIG SCREEN -->
<ion-row class="ion-padding ion-hide-sm-down ion-justify-content-center">
    <ion-col size="12" size-md="6" size-xl="5">
        <app-details-sector-chart [chartTitle]="'Holdings sectors'"
                                  [heightPx]="300"
                                  [enable3D]="true"
                                  [showLegend]="false"
                                  [showDataLabel]="true"
                                  [holdings]="holdings">
        </app-details-sector-chart>
    </ion-col>

    <ion-col size="12" size-md="6" size-xl="5">
        <app-holdings-allocation-chart [enable3D]="true"
                                       [showDataLabel]="true"
                                       [showLegend]="false"
                                       [holdings]="holdings"
                                       [heightPx]="300"
                                       [portfolioInvested]="portfolioInvested"
                                       [portfolioCash]="portfolioCash">
        </app-holdings-allocation-chart>
    </ion-col>
</ion-row>

<!-- SMALL SCREEN-->
<ion-row class="ion-padding ion-hide-sm-up ion-justify-content-center">
    <ion-col size="12">
        <app-details-sector-chart [chartTitle]="'Holdings sectors'"
                                  [heightPx]="300"
                                  [enable3D]="true"
                                  [holdings]="holdings">
        </app-details-sector-chart>
    </ion-col>

    <ion-col size="12">
        <app-holdings-allocation-chart [enable3D]="true"
                                       [heightPx]="300"
                                       [holdings]="holdings"
                                       [portfolioInvested]="portfolioInvested"
                                       [portfolioCash]="portfolioCash">
        </app-holdings-allocation-chart>
    </ion-col>
</ion-row>
