<div class="st-flex-wrap ion-margin-vertical" *ngIf="breakpointSmDown$ | async as breakpointSmDown">
    <app-details-sector-chart
            [heightPx]="300"
            [showLegend]="breakpointSmDown.matches"
            [addMinWidthStyle]="!breakpointSmDown.matches"
            [showDataLabel]="!breakpointSmDown.matches"
            [holdings]="holdings">
    </app-details-sector-chart>

    <app-holdings-allocation-chart
            [showDataLabel]="!breakpointSmDown.matches"
            [showLegend]="breakpointSmDown.matches"
            [addMinWidthStyle]="!breakpointSmDown.matches"
            [holdings]="holdings"
            [heightPx]="300"
            [portfolioInvested]="portfolioInvested"
            [portfolioCash]="portfolioCash">
    </app-holdings-allocation-chart>
</div>
