<form [formGroup]="form">
	<!-- price -->
	<div class="c-first-row">
		<!-- form control -->
		<app-form-mat-input-lock-wrapper
			[showChangeInput]="true"
			[sliderLabelShowDollarSign]="true"
			[sliderMaxValue]="2000"
			[sliderMinValue]="1"
			[sliderStepValue]="1"
			changeInputTo="number"
			controlName="priceMoreThan"
			inputCaption="Price more than"
			inputType="SLIDER"
		></app-form-mat-input-lock-wrapper>

		<!-- form control -->
		<app-form-mat-input-lock-wrapper
			[showChangeInput]="true"
			[sliderLabelShowDollarSign]="true"
			[sliderMaxValue]="2000"
			[sliderMinValue]="1"
			[sliderStepValue]="1"
			changeInputTo="number"
			controlName="priceLowerThan"
			inputCaption="Price lower than"
			inputType="SLIDER"
		></app-form-mat-input-lock-wrapper>

		<!-- form control -->
		<app-form-mat-input-lock-wrapper
			[showChangeInput]="true"
			[sliderMaxValue]="1000000000000"
			[sliderMinValue]="1000000"
			[sliderStepValue]="1000000"
			changeInputTo="number"
			controlName="marketCapMoreThan"
			inputCaption="Market cap. more than"
			inputType="SLIDER"
		></app-form-mat-input-lock-wrapper>

		<!-- form control -->
		<app-form-mat-input-lock-wrapper
			[showChangeInput]="true"
			[sliderMaxValue]="500000000000"
			[sliderMinValue]="1000000"
			[sliderStepValue]="1000000"
			changeInputTo="number"
			controlName="marketCapLowerThan"
			inputCaption="Market cap. lower than"
			inputType="SLIDER"
		></app-form-mat-input-lock-wrapper>

		<!-- form control -->
		<app-form-mat-input-lock-wrapper
			[showChangeInput]="true"
			[sliderMaxValue]="50000000"
			[sliderMinValue]="100000"
			[sliderStepValue]="100000"
			changeInputTo="number"
			controlName="volumeMoreThan"
			inputCaption="Volume more than"
			inputType="SLIDER"
		></app-form-mat-input-lock-wrapper>

		<!-- form control -->
		<app-form-mat-input-lock-wrapper
			[showChangeInput]="true"
			[sliderMaxValue]="50000000"
			[sliderMinValue]="100000"
			[sliderStepValue]="100000"
			changeInputTo="number"
			controlName="volumeLowerThan"
			inputCaption="Volume lower than"
			inputType="SLIDER"
		></app-form-mat-input-lock-wrapper>

		<!-- form control -->
		<app-form-mat-input-lock-wrapper
			[showChangeInput]="true"
			[sliderMaxValue]="2"
			[sliderMinValue]="0.1"
			[sliderStepValue]="0.1"
			changeInputTo="number"
			controlName="betaMoreThan"
			inputCaption="Beta more than"
			inputType="SLIDER"
		></app-form-mat-input-lock-wrapper>

		<!-- form control -->
		<app-form-mat-input-lock-wrapper
			[showChangeInput]="true"
			[sliderMaxValue]="2"
			[sliderMinValue]="0.1"
			[sliderStepValue]="0.1"
			changeInputTo="number"
			controlName="betaLowerThan"
			inputCaption="Beta lower than"
			inputType="SLIDER"
		></app-form-mat-input-lock-wrapper>

		<!-- form control -->
		<app-form-mat-input-lock-wrapper
			[showChangeInput]="true"
			[sliderLabelShowDollarSign]="true"
			[sliderMaxValue]="2"
			[sliderMinValue]="0.01"
			[sliderStepValue]="0.01"
			changeInputTo="number"
			controlName="dividendMoreThan"
			inputCaption="Dividend more than"
			inputType="SLIDER"
		></app-form-mat-input-lock-wrapper>

		<!-- form control -->
		<app-form-mat-input-lock-wrapper
			[showChangeInput]="true"
			[sliderLabelShowDollarSign]="true"
			[sliderMaxValue]="2"
			[sliderMinValue]="0.01"
			[sliderStepValue]="0.01"
			changeInputTo="number"
			controlName="dividendLowerThan"
			inputCaption="Dividend lower than"
			inputType="SLIDER"
		></app-form-mat-input-lock-wrapper>

		<!-- form control -->
		<app-form-mat-input-lock-wrapper
			[inputSource]="marketSearchSectorsInputSource"
			controlName="sector"
			inputCaption="Sector filter"
			inputType="SELECT"
		></app-form-mat-input-lock-wrapper>

		<!-- form control -->
		<app-form-mat-input-lock-wrapper
			[inputSource]="marketSearchIndustriesInputSource"
			[sliderLabelShowDollarSign]="true"
			controlName="industry"
			inputCaption="Industry filter"
			inputType="SELECT"
		></app-form-mat-input-lock-wrapper>

		<!-- form control -->
		<app-form-mat-input-lock-wrapper
			[inputSource]="marketSearchExchangesInputSource"
			[sliderLabelShowDollarSign]="true"
			controlName="exchange"
			inputCaption="Exchange filter"
			inputType="SELECT"
		></app-form-mat-input-lock-wrapper>

		<!-- form control -->
		<app-form-mat-input-lock-wrapper
			[inputSource]="marketSearchEtfInputSource"
			controlName="isEtf"
			inputCaption="Apply etf filter"
			inputType="SELECT"
		></app-form-mat-input-lock-wrapper>

		<!-- form control -->
		<!--<app-form-mat-input-lock-wrapper
                [inputSource]="marketSearchActivelyTradedInputSource"
                [sliderLabelShowDollarSign]="true"
                controlName="isActivelyTrading"
                inputCaption="Apply actively filter"
                inputType="SELECT"
        ></app-form-mat-input-lock-wrapper>-->

		<!-- form control -->
		<app-form-mat-input-lock-wrapper
			[inputSource]="marketSearchCountriesInputSource"
			[sliderLabelShowDollarSign]="true"
			controlName="country"
			inputCaption="Country filter"
			inputType="SELECT"
		></app-form-mat-input-lock-wrapper>
	</div>
</form>
