<form [formGroup]="form" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
	<!-- form control -->
	<app-form-mat-input-lock-wrapper
		[showChangeInput]="true"
		[inputTypeSliderConfig]="marketSearchFormConfig.price"
		changeInputTo="NUMBER"
		controlName="priceMoreThan"
		inputCaption="Price more than"
		inputType="SLIDER"
	></app-form-mat-input-lock-wrapper>

	<!-- form control -->
	<app-form-mat-input-lock-wrapper
		[showChangeInput]="true"
		[inputTypeSliderConfig]="marketSearchFormConfig.price"
		changeInputTo="NUMBER"
		controlName="priceLowerThan"
		inputCaption="Price lower than"
		inputType="SLIDER"
	></app-form-mat-input-lock-wrapper>

	<!-- form control -->
	<app-form-mat-input-lock-wrapper
		[showChangeInput]="true"
		[inputTypeSliderConfig]="marketSearchFormConfig.marketCap"
		changeInputTo="NUMBER"
		controlName="marketCapMoreThan"
		inputCaption="Market cap. more than"
		inputType="SLIDER"
	></app-form-mat-input-lock-wrapper>

	<!-- form control -->
	<app-form-mat-input-lock-wrapper
		[showChangeInput]="true"
		[inputTypeSliderConfig]="marketSearchFormConfig.marketCap"
		changeInputTo="NUMBER"
		controlName="marketCapLowerThan"
		inputCaption="Market cap. lower than"
		inputType="SLIDER"
	></app-form-mat-input-lock-wrapper>

	<!-- form control -->
	<app-form-mat-input-lock-wrapper
		[showChangeInput]="true"
		[inputTypeSliderConfig]="marketSearchFormConfig.volume"
		changeInputTo="NUMBER"
		controlName="volumeMoreThan"
		inputCaption="Volume more than"
		inputType="SLIDER"
	></app-form-mat-input-lock-wrapper>

	<!-- form control -->
	<app-form-mat-input-lock-wrapper
		[showChangeInput]="true"
		[inputTypeSliderConfig]="marketSearchFormConfig.volume"
		changeInputTo="NUMBER"
		controlName="volumeLowerThan"
		inputCaption="Volume lower than"
		inputType="SLIDER"
	></app-form-mat-input-lock-wrapper>

	<!-- form control -->
	<app-form-mat-input-lock-wrapper
		[showChangeInput]="true"
		[inputTypeSliderConfig]="marketSearchFormConfig.beta"
		changeInputTo="NUMBER"
		controlName="betaMoreThan"
		inputCaption="Beta more than"
		inputType="SLIDER"
	></app-form-mat-input-lock-wrapper>

	<!-- form control -->
	<app-form-mat-input-lock-wrapper
		[showChangeInput]="true"
		[inputTypeSliderConfig]="marketSearchFormConfig.beta"
		changeInputTo="NUMBER"
		controlName="betaLowerThan"
		inputCaption="Beta lower than"
		inputType="SLIDER"
	></app-form-mat-input-lock-wrapper>

	<!-- form control -->
	<app-form-mat-input-lock-wrapper
		[showChangeInput]="true"
		[inputTypeSliderConfig]="marketSearchFormConfig.dividend"
		changeInputTo="NUMBER"
		controlName="dividendMoreThan"
		inputCaption="Dividend more than"
		inputType="SLIDER"
	></app-form-mat-input-lock-wrapper>

	<!-- form control -->
	<app-form-mat-input-lock-wrapper
		[showChangeInput]="true"
		[inputTypeSliderConfig]="marketSearchFormConfig.dividend"
		changeInputTo="NUMBER"
		controlName="dividendLowerThan"
		inputCaption="Dividend lower than"
		inputType="SLIDER"
	></app-form-mat-input-lock-wrapper>

	<!-- form control -->
	<app-form-mat-input-lock-wrapper
		[inputSource]="marketSearchSectorsInputSource"
		controlName="sector"
		inputCaption="Sector filter"
		inputType="SELECT"
	></app-form-mat-input-lock-wrapper>

	<!-- form control -->
	<app-form-mat-input-lock-wrapper
		[inputSource]="marketSearchIndustriesInputSource"
		controlName="industry"
		inputCaption="Industry filter"
		inputType="SELECT"
	></app-form-mat-input-lock-wrapper>

	<!-- form control -->
	<app-form-mat-input-lock-wrapper
		[inputSource]="marketSearchExchangesInputSource"
		controlName="exchange"
		inputCaption="Exchange filter"
		inputType="SELECT"
	></app-form-mat-input-lock-wrapper>

	<!-- form control -->
	<app-form-mat-input-lock-wrapper
		[inputSource]="marketSearchEtfInputSource"
		controlName="isEtf"
		inputCaption="Apply etf filter"
		inputType="SELECT"
	></app-form-mat-input-lock-wrapper>

	<!-- form control -->
	<!--<app-form-mat-input-lock-wrapper
                [inputSource]="marketSearchActivelyTradedInputSource"
                [sliderLabelShowDollarSign]="true"
                controlName="isActivelyTrading"
                inputCaption="Apply actively filter"
                inputType="SELECT"
        ></app-form-mat-input-lock-wrapper>-->

	<!-- form control -->
	<app-form-mat-input-lock-wrapper
		[inputSource]="marketSearchCountriesInputSource"
		controlName="country"
		inputCaption="Country filter"
		inputType="SELECT"
	></app-form-mat-input-lock-wrapper>
</form>
