@import "../../../styles/button-styling";

:host {
  .container{
    position: relative;
    margin-bottom: 22px;
    font-size: 14px;
    display: grid;
  }
  .highlight{
    font-weight: bold;
  }
  .time-est{
    @media (max-width: 530px) {
      width: 100%;
      text-align: center;
      margin-top: 5px;
    }
  }
}
