<ion-card>
    <ion-card-header>
        <ion-card-title class="ion-text-start ion-padding">
            Percentage
        </ion-card-title>
    </ion-card-header>

    <ion-card-content>

        <ion-list *ngIf="percentageInfo">
            <ion-item>
                <ion-label position="fixed" class="fixedLabel">Profit margin</ion-label>
                <ion-label [ngClass]="{
                  'price-up': percentageInfo.profitMarginNumber >= 0,
                  'price-down': percentageInfo.profitMarginNumber < 0
                   }">
                    {{ percentageInfo.profitMargin }}
                </ion-label>
            </ion-item>

            <ion-item>
                <ion-label position="fixed" class="fixedLabel">Operating margin (ttm)</ion-label>
                <ion-label [ngClass]="{
                  'price-up': percentageInfo.operatingMarginTTMNumber >= 0,
                  'price-down': percentageInfo.operatingMarginTTMNumber < 0
                   }">  {{ percentageInfo.operatingMarginTTM }}</ion-label>
            </ion-item>

            <ion-item>
                <ion-label position="fixed" class="fixedLabel">Quarterly revenue growth (yoy)</ion-label>
                <ion-label [ngClass]="{
                  'price-up': percentageInfo.quarterlyRevenueGrowthYOYNumber >= 0,
                  'price-down': percentageInfo.quarterlyRevenueGrowthYOYNumber < 0
                   }"> {{ percentageInfo.quarterlyRevenueGrowthYOY }}</ion-label>
            </ion-item>

            <ion-item>
                <ion-label position="fixed" class="fixedLabel">Quarterly earnings growth (yoy)</ion-label>
                <ion-label [ngClass]="{
                  'price-up': percentageInfo.quarterlyEarningsGrowthYOYNumber >= 0,
                  'price-down': percentageInfo.quarterlyEarningsGrowthYOYNumber < 0
                   }">  {{ percentageInfo.quarterlyEarningsGrowthYOY }}</ion-label>
            </ion-item>

            <ion-item>
                <ion-label position="fixed" class="fixedLabel">Return on assets (ttm)</ion-label>
                <ion-label [ngClass]="{
                  'price-up': percentageInfo.returnOnAssetsTTMNumber >= 0,
                  'price-down': percentageInfo.returnOnAssetsTTMNumber < 0
                   }">  {{ percentageInfo.returnOnAssetsTTM }}</ion-label>
            </ion-item>

            <ion-item>
                <ion-label position="fixed" class="fixedLabel"> Return on equity (ttm)</ion-label>
                <ion-label [ngClass]="{
                  'price-up': percentageInfo.returnOnEquityTTMNumber >= 0,
                  'price-down': percentageInfo.returnOnEquityTTMNumber < 0
                   }"> {{ percentageInfo.returnOnEquityTTM }}</ion-label>
            </ion-item>


        </ion-list>
    </ion-card-content>
</ion-card>
