@import "../../../../../../theme/customVariables";

:host {
  .fixedLabel {
    min-width: 65% !important;
    max-width: 65% !important;
  }

  .price-up{
    color: #{$price-up};
  }

  .price-down{
    color: #{price-down};
  }

  ion-card{
    height: 100%;
  }
}
