// red
$st-red: '#d21414';
$st-red-lighter: '#ff0000';
$st-red-faded: '#972d2d';

// green
$price-up-lighter: '#05cb01';

// orange
$orange-title-light: '#e6a310';
$orange-title-medium: '#b4800e';
$orange-title-dark: '#835e0d';

// grey
$default-word: '#a0a0a0'; // 8f8f8f 8C8C8C

// blue
$background-blue: '#05052f';


$st-light-blue-border: '#37416e';

// new style
$st-var-font-0: '#E1E1E1';
$st-var-font-1: '#C0C0C0';
$st-var-font-2: '#9D9D9D'; // for icons
$st-var-font-3: '#828282';
$st-var-font-4: '#707070'; // for item in table


$st-var-blue-1: '#25aedd'; // icons / url active 4199CD
$st-var-blue-3: '#7070702e'; // form input background
$st-var-blue-4: '#273366'; // navigation active

// MAIN COLORS
$st-main-color-turquoise: '#25aedd';  // tyrkysova
$st-main-color-turquoise-background-linear: linear-gradient(135deg, #0d75ae 0%, rgb(6 96 127 / 40%) 100%);


$st-main-color-purple: '#7666fa';  // fialova
$st-main-color-purple-background-linear: linear-gradient(135deg, rgba(74,61,185,1) 0%, rgba(103,84,253,0.3) 100%);

$st-main-color-orange: '#d35431';  // oranzova
$st-main-color-orange-background-linear: linear-gradient(135deg, rgba(157,82,56,1) 0%, rgba(253,66,0,0.3) 100%);

$st-var-purple: '#758dc7';

// BUTTONS
$st-var-create-1: '#0d326d'; // create button
$st-var-remove-1: '#711205'; // delete button
$st-var-accept-1: '#199419'; // accept
$st-var-edit-1: '#B27D3E'; // edit

$st-var-price-up-light: '#2fdd20';

// Screens splits
$st-var-xs-split: '400px';
$st-var-sm-split: '576px';
$st-var-md-split: '768px';
$st-var-lg-split: '992px';
$st-var-xl-split: '1200px';
$st-var-xxl-split: '1600px';


$st-ionic-label-min-height: '30px';
