@import 'custom-variables';

.spinner-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 70vh;
}

ion-spinner {
	width: 70px !important;
	height: 70px !important;
}

// ------------- BORDER START --------------------

.st-md-border-bottom {
	@media (max-width: #{$st-var-md-split}) {
		border-bottom: 1px solid #{$st-light-blue-border};
	}
}

.st-sm-border-bottom-with-space {
	@media (max-width: #{$st-var-sm-split}) {
		border-bottom: 1px solid #{$st-light-blue-border};
		margin-bottom: 16px !important;
		padding-bottom: 16px !important;
	}
}

.st-sm-border-bottom {
	@media (max-width: #{$st-var-sm-split}) {
		border-bottom: 1px solid #{$st-light-blue-border};
	}
}

.st-border-bottom {
	border-bottom: 1px solid #{$st-light-blue-border};
}

.st-border-right {
	border-right: 1px solid #{$st-light-blue-border};
}

.st-border-left {
	border-left: 1px solid #{$st-light-blue-border};
}

.st-border-top {
	border-top: 1px solid #{$st-light-blue-border};
}

.st-border-bottom-normal {
	border-bottom: 1px solid;
}

.st-border-right-normal {
	border-right: 1px solid;
}

.st-border-left-normal {
	border-left: 1px solid;
}

.st-border-top-normal {
	border-top: 1px solid;
}

// --------------- BORDER END -------------------

// COLOR CLASSES - FONT
.st-main-color-turquois {
	color: #{$st-main-color-turquoise} !important;
}

.st-main-color-turquoise-background {
	background-color: #{$st-main-color-turquoise} !important;
	--background: #{$st-main-color-turquoise} !important;
}

.st-main-color-turquoise-background-linear {
	background-color: #{$st-main-color-turquoise-background-linear} !important;
	--background: #{$st-main-color-turquoise-background-linear} !important;
}

// PURPLE
.st-font-main-color-purple {
	color: #{$st-main-color-purple} !important;
}

.st-main-color-purple-background {
	background-color: #{$st-main-color-purple} !important;
	--background: #{$st-main-color-purple} !important;
}

.st-main-color-purple-background-linear {
	background-color: #{$st-main-color-purple-background-linear} !important;
	--background: #{$st-main-color-purple-background-linear} !important;
}

// ORANGE
.st-font-main-color-orange {
	color: #{$st-main-color-orange} !important;
}

.st-main-color-orange-background {
	background-color: #{$st-main-color-orange} !important;
	--background: #{$st-main-color-orange} !important;
}

.st-main-color-orange-background-linear {
	background-color: #{$st-main-color-orange-background-linear} !important;
	--background: #{$st-main-color-orange-background-linear} !important;
}

// OTHER
.st-font-data-table-header {
	color: #8f8f8fc4 !important;
}

.st-font-white {
	color: white !important;
}

.st-font-purple {
	color: #{$st-var-purple} !important;
}

.st-font-0-normal {
	color: #{$st-var-font-0};
}

.st-font-1-normal {
	color: #{$st-var-font-1};
}

.st-font-2-normal {
	color: #{$st-var-font-2};
}

.st-font-3-normal {
	color: #{$st-var-font-3};
}

.st-font-4-normal {
	color: #{$st-var-font-3};
}

.st-font-5-normal {
	color: #{$st-var-font-4};
}

.st-font-0 {
	color: #{$st-var-font-0} !important;
}

.st-font-1 {
	color: #{$st-var-font-1} !important;
}

.st-font-2 {
	color: #{$st-var-font-2} !important;
}

.st-font-3 {
	color: #{$st-var-font-3} !important;
}

.st-font-4 {
	color: #{$st-var-font-3} !important;
}

.st-font-5 {
	color: #{$st-var-font-4} !important;
}

.st-font-0-bold {
	color: #{$st-var-font-0} !important;
	font-weight: bold;
}

.st-font-1-bold {
	color: #{$st-var-font-1} !important;
	font-weight: bold;
}

.st-font-2-bold {
	color: #{$st-var-font-2} !important;
	font-weight: bold !important;
}

.st-font-3-bold {
	color: #{$st-var-font-3} !important;
	font-weight: bold !important;
}

.st-font-4-bold {
	color: #{$st-var-font-4} !important;
	font-weight: bold !important;
}

.st-small-right-space {
	margin-right: 8px !important;
}

.st-small-left-space {
	margin-left: 8px !important;
}

.st-small-top-space {
	margin-top: 8px !important;
}

.st-bottom-top-space {
	margin-bottom: 8px !important;
}

.st-right-space {
	margin-right: 16px !important;
}

.st-left-space {
	margin-left: 16px !important;
}

.st-bottom-space {
	margin-bottom: 16px !important;
}

.st-top-space {
	margin-top: 16px !important;
}

.st-right-padding {
	padding-right: 16px !important;
}

.st-left-padding {
	padding-left: 16px !important;
}

.st-top-padding {
	padding-top: 16px !important;
}

.st-padding {
	padding: 16px !important;
}

// custom headers
.st-title {
	color: #{$st-var-font-0} !important;
	font-size: 18px !important;
}

// ---------------------------------------------
// - DATA LABELS
.st-data-label-parent {
	color: #{$st-var-font-1} !important; // !important
	font-size: 14px !important;
	// min-width: 65%;
	max-width: fit-content;
	min-width: fit-content;
}

.st-fit-content {
	max-width: fit-content;
	min-width: fit-content;
}

.st-data-label {
	color: #{$st-var-font-2}; // !important
	font-size: 14px !important;
	word-wrap: break-word;
}

.st-error-message {
	padding: 4px;
	color: #ffffff;
	background-color: #980808;
	border-radius: 6px;
	font-size: 16px;
	text-align: center;
}

.st-normal-message {
	padding: 4px;
	color: #ffffff;
	background-color: #{$st-var-blue-1};
	border-radius: 6px;
	font-size: 16px;
	text-align: center;
}

.st-data-label-first-main {
	min-width: 40%;
	max-width: 40%;
	margin-right: 15px !important;
	@media (max-width: #{$st-var-sm-split}) {
		margin-right: 10px !important;
		min-width: 53%;
		max-width: 53%;
	}
	@media (max-width: #{$st-var-xs-split}) {
		margin-right: 10px !important;
		min-width: 45%;
		max-width: 45%;
	}
}

.st-data-label-first-main-small {
	margin-right: 15px !important;
	@media (max-width: #{$st-var-sm-split}) {
		margin-right: 10px !important;
		min-width: 53%;
		max-width: 53%;
	}
	@media (max-width: #{$st-var-xs-split}) {
		margin-right: 10px !important;
		min-width: 45%;
		max-width: 45%;
	}
}

.st-data-item {
	padding-left: 20px;
	@media (max-width: #{$st-var-sm-split}) {
		padding-left: 0;
	}
}

.st-flex-end {
	//text-align: end !important;
	display: flex !important;
	justify-content: flex-end;
	align-items: flex-end;
}

.st-data-label-end {
	display: flex;
	justify-content: flex-end;
	max-width: fit-content;
	min-width: fit-content;
	margin-left: 8px !important;
}

.st-table-main-label {
	min-width: 30%;
	max-width: 30%;
	color: #{$st-var-font-0} !important;
	@media (max-width: #{$st-var-sm-split}) {
		min-width: 27%;
		max-width: 27%;
	}
}

.st-flex-end-sm {
	@media (max-width: #{$st-var-sm-split}) {
		text-align: end !important;
		display: flex !important;
		justify-content: flex-end;
		align-items: flex-end;
	}
}

.st-empty-table {
	text-align: center;
	padding: 16px;
	font-size: 18px;
	margin: 26px;
}

.st-data-item-wrapper {
	border-bottom: 1px solid #66666633 !important;
}

.st-sm-table-item {
	padding-top: 6px !important;
	padding-bottom: 6px !important;
}

// ---------------------------------------------
// FONT SIZES
.st-font-size-11 {
	font-size: 11px !important;
}

.st-font-size-12 {
	font-size: 12px !important;
}

.st-font-size-13 {
	font-size: 13px !important;
}

.st-font-size-14 {
	font-size: 14px !important;
}

.st-font-size-16 {
	font-size: 16px !important;
}

.st-font-size-15 {
	font-size: 15px !important;
}

.st-font-size-18 {
	font-size: 18px !important;
}

.st-font-size-20 {
	font-size: 20px !important;
}

.st-font-size-22 {
	font-size: 22px !important;
}

.st-font-size-24 {
	font-size: 24px !important;
}

.st-letter-spacing-1 {
	letter-spacing: 1px;
}

.st-transparent-background {
	--background: transparent;
	--box-shadow: none;
	--background-hover: none;
}

// COLOR CLASSES - BLUE
.st-icon {
	color: #{$st-var-blue-1} !important;
}

.st-icon-title {
	color: #{$st-var-blue-1} !important;
	font-size: 28px;
	margin-right: 10px !important;
}

.st-icon-size-30 {
	font-size: 30px;
}

.st-icon-size-header {
	font-size: 32px;
	margin-right: 12px !important;
	@media (max-width: #{$st-var-sm-split}) {
		font-size: 30px;
	}
}

.st-page-header-container-item {
	--padding-start: 0;
}

.st-font-size-header {
	font-size: 26px;
	@media (max-width: #{$st-var-sm-split}) {
		font-size: 22px;
	}
}

.st-form-input-background {
	background-color: #{$st-var-blue-3} !important;
}

// ----------------------------------------------------
// ----------------------------------------------------
// ----------------------------------------------------
// ITEMS
.st-info-item-result {
	min-width: 200px !important;
	display: flex !important;
	align-items: start !important;
	padding: 6px !important;
}

// ----------------------------------------------------
// ----------------------------------------------------
// ----------------------------------------------------
// WIDTH

.st-width-full-md-screen {
	@media (max-width: #{$st-var-md-split}) {
		width: 100% !important;
	}
}

.st-width-100 {
	width: 100%;
}

.st-height-100 {
	height: 100%;
}

.st-width-90-center {
	width: 90%;
	margin: auto;
	@media (max-width: #{$st-var-xl-split}) {
		width: 100% !important;
	}
}

.st-display-flex-center {
	display: flex !important;
	align-items: center !important;
	flex-flow: row !important;
}

// PRICE CHANGE
.st-price-up {
	color: #{$st-var-price-up} !important;
}

.st-price-down {
	color: #{$st-red} !important;
}

.st-color-openge-1 {
	color: #{$color-orange-1} !important;
}

.st-table-item {
	border-bottom: 1px solid #66666633 !important;

	ion-label:first-child {
		margin-right: 16px !important;
		color: #{$st-var-font-4} !important;
	}

	&:last-child {
		border-bottom: 0;
	}
}

.st-table-item-no-margin {
	border-bottom: 1px solid #66666633 !important;

	ion-label:first-child {
		color: #{$st-var-font-4} !important;
	}

	&:last-child {
		border-bottom: 0 !important;
	}
}

.st-table-item-font-1 {
	border-bottom: 1px solid #66666633 !important;

	ion-label:first-child {
		margin-right: 6px !important;
		color: #{$st-var-font-1} !important;
	}

	&:last-child {
		border-bottom: 0 !important;
	}
}

// BUTTONS

.st-button {
	width: 70%;
	color: white !important;
	margin: 8px !important;
	@media (max-width: #{$st-var-md-split}) {
		width: 100% !important;
	}
}

.st-buttons-container {
	margin-top: 16px !important;
	display: flex;
	flex-flow: column;
}

// HOVER OVER
.ion-activatable {
	transition: All 0.3s ease-out;
	cursor: pointer;

	&:hover {
		border-radius: 8px;
		transform: scale(0.98);
		background: #7070702e;
	}
}

.st-overflow-hide {
	overflow: hidden !important;
}

.ion-activatable-focus {
	border-radius: 8px;
	transform: scale(0.98);
	background: #7070702e;
}

.st-clickable {
	transition: All 0.3s ease-out;
	cursor: pointer;

	&:hover {
		transform: scale(0.96);
	}
}

/* Custom Skeleton Line Height and Margin */
ion-skeleton-text {
	line-height: 16px;
	--background-rgb: 200, 200, 255;
}

.st-width-70 {
	max-width: 70% !important;
	min-width: 70% !important;
}

// MODEL / POP-UP / ALERT

// class to add for each entry-containers
.custom-modal .modal-wrapper {
	background: linear-gradient(126deg, #10255a 0%, #0c1d44 29%, #0c183e 44%, #061238 73%, #060e28 100%);
	width: 85% !important;
	height: 90%;
	// max-height: 850px !important;
	@media (max-width: #{$st-var-lg-split}) {
		width: 100% !important;
		height: 100% !important;
		max-height: 100% !important;
	}
}

// class to add for each popover
.custom-popover .popover-wrapper {
	background: linear-gradient(126deg, #10255a 0%, #0c1d44 29%, #0c183e 44%, #061238 73%, #060e28 100%);
	--width: 650px;
	--background: #{$background-blue};

	@media (max-width: #{$st-var-sm-split}) {
		--width: 92%;
	}
}

// toasters use it
.my-custom-alert-class .alert-wrapper {
	background: #{$background-blue};
	min-width: 550px;

	.alert-message {
		color: #dadada;
	}

	@media (max-width: #{$st-var-sm-split}) {
		min-width: auto;
	}
}

.st-symbol-image {
	max-width: 36px;
	min-width: 36px;
	margin-right: 15px !important;

	@media (max-width: #{$st-var-sm-split}) {
		max-width: 30px;
		min-width: 30px;
		margin-right: 10px !important;
	}
}

// -------------------------------------
// DISPLAY
.st-flex-row-sm-col {
	display: flex !important;
	flex-flow: row !important;
	@media (max-width: #{$st-var-sm-split}) {
		flex-flow: column !important;
	}
}

.st-flex-space-between-sm-down {
	@media (max-width: #{$st-var-sm-split}) {
		display: flex;
		justify-content: space-between;
	}
}

.st-flex-space-between-md-down {
	@media (max-width: #{$st-var-md-split}) {
		display: flex;
		justify-content: space-between;
	}
}

.st-flex-row {
	display: flex;
	flex-flow: row;
	align-items: center;
}

.st-flex-row-important {
	display: flex !important;
	flex-flow: row !important;
	align-items: center !important;
}

.st-flex {
	display: flex;
}

.st-justify-center {
	justify-content: center !important;
}

.st-flex-row-md-justify-center {
	display: flex !important;
	flex-flow: row !important;
	align-items: center !important;
	justify-content: space-between !important;
	@media (max-width: #{$st-var-md-split}) {
		justify-content: center !important;
	}
}

.st-flex-row-small-col {
	display: flex !important;
	flex-flow: row !important;
	align-items: center !important;
	@media (max-width: #{$st-var-sm-split}) {
		flex-flow: column !important;
		justify-content: center !important;
	}
}

.st-flex-space-between {
	display: flex !important;
	justify-content: space-between;
	flex-flow: row;
	@media (max-width: #{$st-var-md-split}) {
		flex-flow: column !important;
	}
}

.st-gap {
	gap: 16px;
}

.st-flex-wrap {
	display: flex;
	flex-flow: wrap;

	> * {
		flex-grow: 1;
	}
}

.st-flex-wrap-normal {
	display: flex;
	flex-flow: wrap;
}

.st-flex-space-evenly {
	display: flex;
	justify-content: space-evenly;
	flex-flow: row;

	ion-label {
		color: #{$st-var-font-2};
	}
}

.st-small-vertical-padding {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.st-flex-col {
	display: flex !important;
	flex-flow: column !important;
}

.st-hide-xxl-down {
	@media (max-width: #{$st-var-xxl-split}) {
		display: none !important;
	}
}

.st-hide-xxxl-down {
	@media (max-width: #{$st-var-xxxl-split}) {
		display: none !important;
	}
}

.st-hide-xs-down {
	@media (max-width: #{$st-var-xs-split}) {
		display: none !important;
	}
}

.cdk-overlay-pane {
	&.mat-tooltip-panel {
		.mat-tooltip {
			color: #cccccc;
			background-color: #3a3a3a;
			border: 1px solid #242424;
			border-radius: 3px;
			font-size: 14px;
			padding: 16px;
		}
	}
}

.st-first-position-color {
	color: #d8bc17;
}
.st-second-position-color {
	color: #b9b9b9;
}

.st-third-position -color {
	color: #ea7a2b;
}

.st-my-position-color {
	color: #c36778;
}

.st-no-result-container {
	display: flex;
	flex-flow: column;
	align-items: center;
	margin-top: 15% !important;

	& > * {
		margin-bottom: 16px !important;
		font-size: 18px !important;
		color: #{$st-var-font-1};
	}
}

.st-full-width-sub-elements {
	width: 85%;
	margin: auto !important;
	@media (max-width: #{$st-var-sm-split}) {
		width: 100%;
	}
	& > * {
		@media (max-width: #{$st-var-sm-split}) {
			width: 100%;
		}
	}
}

.st-opacity-02 {
	opacity: 0.2;
}

// FLEX
.st-flex-0-75 {
	flex: 0.75;
}

.st-flex-1 {
	flex: 1;
}

.st-flex-1-25 {
	flex: 1.25;
}

.st-flex-1-5 {
	flex: 1.5;
}

.st-flex-2 {
	flex: 2;
}

.st-padding-item {
	padding-left: var(--padding-start) !important;
	padding-right: var(--padding-end) !important;
	padding-top: calc(var(--padding-top) + var(--offset-top)) !important;
}
