@import "custom-variables";

// class to add for each ion-content
.st-content-padding {
  width: 100% !important;
  padding: 10px 45px 50px 20px !important;
  @media (max-width: #{$st-var-xxl-split}) {
    padding: 10px 30px 50px 20px !important;
  }
  @media (max-width: #{$st-var-md-split}) {
    text-align: center !important;
    margin: auto !important;
  }

  @media (max-width: #{$st-var-sm-split}) {
    width: 98% !important;
    padding: 2px 10px 25px 10px !important;
  }
}

.st-content-card {
  padding: 2px 8px !important;
  background: linear-gradient(126deg, rgba(28, 52, 113, 1) 0%, rgba(18, 44, 107, 1) 29%, rgba(24, 42, 99, 1) 44%, rgba(14, 30, 82, 1) 73%, rgba(11, 20, 49, 1) 100%);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
}


.content-fit {
  min-width: fit-content !important;
  max-width: fit-content !important;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 70vh;
}

ion-spinner {
  width: 70px !important;
  height: 70px !important;
}

.news-container {
  column-count: 2;
  padding: 20px;
  @media (min-width: 0px) and (max-width: 1600px) {
    column-count: 1;
  }
}

// ------------- BORDER START --------------------
.st-border-right {
  border-right: 1px solid #{$st-light-blue-border};
}

.st-md-border-bottom {
  @media (max-width: #{$st-var-md-split}) {
    border-bottom: 1px solid #{$st-light-blue-border};
  }
}


// --------------- BORDER END -------------------

// hover transformation
/*
.st-hover-card {
  transition: All 0.3s ease-out;
  cursor: pointer;

  &:hover {
    border-radius: 10px;
    transform: scale(0.98);
    background: #7070702e;
  }
}*/


// COLOR CLASSES - FONT
.st-font-0 {
  color: #{$st-var-font-0} !important;
}

.st-font-1 {
  color: #{$st-var-font-1} !important;
}

.st-font-2 {
  color: #{$st-var-font-2} !important;
}

.st-font-3 {
  color: #{$st-var-font-3} !important;
}

.st-font-4 {
  color: #{$st-var-font-4} !important;
}

.st-font-0-bold {
  color: #{$st-var-font-0} !important;
  font-weight: bold !important;
}

.st-font-1-bold {
  color: #{$st-var-font-1} !important;
  font-weight: bold !important;
}

.st-font-2-bold {
  color: #{$st-var-font-2} !important;
  font-weight: bold !important;
}

.st-font-3-bold {
  color: #{$st-var-font-3} !important;
  font-weight: bold !important;
}

.st-font-4-bold {
  color: #{$st-var-font-4} !important;
  font-weight: bold !important;
}

// custom headers
.st-title {
  color: #{$st-var-font-0} !important;
  font-size: 18px !important;
}


// FONT SIZES
.st-font-size-12 {
  font-size: 12px !important;
}

.st-font-size-13 {
  font-size: 13px !important;
}

.st-font-size-14 {
  font-size: 14px !important;
}

.st-font-size-16 {
  font-size: 16px !important;
}

.st-font-size-15 {
  font-size: 15px !important;
}

.st-font-size-18 {
  font-size: 18px !important;
}

.st-font-size-20 {
  font-size: 20px !important;
}


// COLOR CLASSES - BUTTONS

.st-create-background {
  --background: #{ $st-var-create-1} ! important;
}

.st-remove-background {
  --background: #{ $st-var-remove-1} ! important;
}

.st-accept-background {
  --background: #{ $st-var-accept-1} ! important;
}

.st-transparent-background {
  --background: transparent;
  --box-shadow: none;
  --background-hover: none;
}

.st-accept {
  color: #{ $st-var-accept-1} ! important;
}

.st-edit-background {
  --background: #{ $st-var-edit-1} ! important;
}

// COLOR CLASSES - BLUE
.st-icon {
  color: #{ $st-var-blue-1} !important;
}

.st-icon-title {
  color: #{ $st-var-blue-1} !important;
  font-size: 36px;
  margin-right: 16px !important;
}

.st-icon-size-30 {
  font-size: 30px;
}

.st-icon-size-header {
  font-size: 30px;
  margin-right: 16px !important;
  @media (max-width: #{$st-var-sm-split}) {
    font-size: 26px;
  }
}

.st-font-size-header {
  font-size: 20px;
  @media (max-width: #{$st-var-sm-split}) {
    font-size: 18px;
  }
}

.st-form-input-background {
  background-color: #{ $st-var-blue-3} !important;
}

.st-modal-background {
  --background: linear-gradient(126deg, rgba(22, 39, 77, 1) 0%,
          rgba(10, 25, 71, 1) 29%,
          rgba(9, 24, 72, 1) 44%,
          rgba(10, 24, 70, 1) 73%,
          rgba(7, 22, 62, 1) 100%) !important;
}

// ----------------------------------------------------
// ----------------------------------------------------
// ----------------------------------------------------
// WIDTH

.st-width-full-md-screen {
  @media (max-width: #{$st-var-md-split}) {
    width: 100% !important;
  }
}

.st-width-100 {
  width: 100%;
}

.st-height-100 {
  height: 100%;
}

.st-width-90-center {
  width: 90%;
  margin: auto;
  @media (max-width: #{$st-var-xl-split}) {
    width: 100% !important;
  }
}

.st-display-flex-center {
  display: flex;
  align-items: center;
  flex-flow: row;
}


// PRICE CHANGE
.st-price-up {
  color: #{$st-var-accept-1} !important;
}

.st-price-down {
  color: #{$st-red} !important;
}

.st-price-icon {
  position: absolute;
  top: 2px;
  margin-left: 5px;
}

// BUTTONS

.st-button {
  min-width: 150px !important;
  color: white !important;
  margin: 8px !important;
  @media (max-width: #{$st-var-md-split}) {
    width: 100% !important;
  }
}

.st-edit-button {
  color: #{$st-var-edit-1};

  &:hover {
    color: #{$orange-title-light};
  }
}

.st-positive-button {
  color: #{$st-var-accept-1};

  &:hover {
    color: #{$price-up-lighter};
  }
}

.st-negative-button {
  color: #{$st-red-faded};

  &:hover {
    color: #{$st-red};
  }
}

.st-buttons-container {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
  display: flex;
  justify-content: flex-end;
  flex-flow: row;
  @media (max-width: #{$st-var-md-split}) {
    flex-flow: column !important;
  }
}


// HOVER OVER
.ion-activatable {
  transition: All 0.3s ease-out;
  cursor: pointer;

  &:hover {
    border-radius: 10px;
    transform: scale(0.98);
    background: #7070702e;
  }
}

.st-clickable {
  transition: All 0.3s ease-out;
  cursor: pointer;

  &:hover {
    transform: scale(0.96);
  }
}


// MODEL / POP-UP / ALERT

// class to add for each modal
.custom-modal .modal-wrapper {
  width: 85% !important;
  height: 750px !important;
  @media (max-width: #{$st-var-md-split}) {
    width: 100% !important;
    height: 100% !important;
  }
}

// class to add for each popover
.custom-popover .popover-wrapper {
  --width: 550px;
  --background: #{$background-blue};

  @media (max-width: #{$st-var-sm-split}) {
    --width: 92%;
  }
}

// toasters use it
.my-custom-alert-class .alert-wrapper {
  background: #{$background-blue};
  min-width: 550px;

  .alert-message {
    color: #dadada;
  }

  @media (max-width: #{$st-var-sm-split}) {
    min-width: auto;
  }
}


.st-symbol-image {
  max-width: 45px !important;
  min-width: 45px !important;
  margin-right: 10px !important;

  @media (max-width: #{$st-var-sm-split}) {
    max-width: 30px !important;
    min-width: 30px !important;
  }
}


.st-flex-row {
  display: flex !important;
  flex-flow: row !important;
  align-items: center !important;
}

.st-flex-row-md-justify-center {
  display: flex !important;
  flex-flow: row !important;
  align-items: center !important;
  justify-content: space-between !important;
  @media (max-width: #{$st-var-md-split}) {
    justify-content: center !important;
  }
}

.st-flex-row-small-col {
  display: flex !important;
  flex-flow: row !important;
  align-items: center !important;
  @media (max-width: #{$st-var-sm-split}) {
    flex-flow: column !important;
    justify-content: center !important;
  }
}

.st-flex-space-between {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  @media (max-width: #{$st-var-md-split}) {
    flex-flow: column !important;
  }
}

.st-flex-col {
  display: flex !important;
  flex-flow: column !important;
}

.st-hide-xxl-down {
  @media (max-width: #{$st-var-xxl-split}) {
    display: none;
  }
}
