@import 'custom-variables';

.g-color-success {
	color: #{$st-var-price-up} !important;
}

.g-background-color-success {
	background-color: #{$st-var-price-up} !important;
}

.g-color-secondary {
	color: #{$st-var-font-2} !important;
}

.g-background-color-secondary {
	background-color: #{$st-var-font-2} !important;
}

.g-color-primary {
	color: #{$st-var-blue-1} !important;
}

.g-background-color-primary {
	background-color: #{$st-var-blue-1} !important;
}

.g-color-white {
	color: white;
}

/* WARNING */
.g-color-warning {
	color: #{$color-orange-1} !important;
}

.g-button-warning {
	background-color: #{$color-orange-1} !important;
	color: white !important;
}

.g-button-warning-flat {
	background-color: transparent;
	color: #{$color-orange-1} !important;
	border: 1px solid !important;
	&:hover {
		background-color: #dc58262b;
	}
}

.g-button-danger-flat {
	background-color: transparent;
	color: #{$st-red} !important;
	border: 1px solid !important;
	&:hover {
		background-color: #d2141436;
	}
}

.g-first-position-color {
	color: #cf212a;
}
.g-second-position-color {
	color: #d7d00d;
}

.g-third-position-color {
	color: #ea7a2b;
}

.g-my-position-color {
	color: #c36778;
}

// TAILWIND CUSTOM CLASSES
@layer utilities {
	@variants responsive {
		.g-button-secondary {
			background-color: #{$st-var-font-3} !important;
			color: white !important;
			&:hover {
				background-color: #{$st-var-font-2} !important;
			}
		}

		.g-button-secondary-flat {
			background-color: white !important;
			color: #{$st-var-font-3} !important;
			&:hover {
				color: #{$st-var-font-2} !important;
			}
		}
	}
}
