<ion-card>
  <ion-card-header>
    <ion-card-title class="ion-text-center ion-padding-start ion-padding-top">
      Dividend
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>

    <ion-list *ngIf="dividendInfo">
      <ion-item>
        <ion-label position="fixed" class="fixedLabel">Ex-dividend date</ion-label>
        <ion-label> {{ dividendInfo.exDividendDate }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="fixed" class="fixedLabel">Dividend date</ion-label>
        <ion-label> {{ dividendInfo.dividendDate }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="fixed" class="fixedLabel">Dividend per share (an.)</ion-label>
        <ion-label> {{ dividendInfo.dividendPerShareAnnual }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="fixed" class="fixedLabel">Dividend per share 5y</ion-label>
        <ion-label> {{ dividendInfo.dividendPerShare5Y }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="fixed" class="fixedLabel">Payout ratio</ion-label>
        <ion-label> {{ dividendInfo.payoutRatio }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="fixed" class="fixedLabel">Forward dividend rate</ion-label>
        <ion-label> {{ dividendInfo.forwardAnnualDividendRate }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="fixed" class="fixedLabel">Forward dividend yield</ion-label>
        <ion-label> {{ dividendInfo.forwardAnnualDividendRate }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="fixed" class="fixedLabel">Trailing dividend rate</ion-label>
        <ion-label> {{ dividendInfo.trailingAnnualDividendRate }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="fixed" class="fixedLabel">Trailing dividend yield</ion-label>
        <ion-label> {{ dividendInfo.trailingAnnualDividendYield }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="fixed" class="fixedLabel">Average dividend yield 5y</ion-label>
        <ion-label> {{ dividendInfo.fiveYearAverageDividendYield }}</ion-label>
      </ion-item>




    </ion-list>
  </ion-card-content>
</ion-card>
