<app-generic-chart
        [enable3D]="true"
        [chartTitle]="showTitle ?  'Holdings sectors' : ''"
        [chartTitlePosition]="'center'"
        [heightPx]="heightPx"
        [chartType]="ChartType.pie"
        [showLegend]="showLegend"
        legendAlign="center"
        [additionalStyle]="addMinWidthStyle ? 'min-width: 400px' : ''"
        [isPercentage]="true"
        [showDataLabel]="showDataLabel"
        [series]="[{data: sectorPairs, innerSize: '20%', minPointSize: 10}]">
</app-generic-chart>
