<div class="g-sub-navigation">
	<span>{{ activeStatement }}</span>
	<ion-radio-group (ionChange)="changeActiveStatement($event)" [value]="activeStatement">
		<ion-item *ngFor="let data of STOCK_SEARCH_DETAILS_FINANCIAL_PAGES" [ngClass]="{'ion-activatable-focus': activeStatement === data.value }">
			<ion-label>{{ data.name }}</ion-label>
			<ion-radio [value]="data.value"></ion-radio>
		</ion-item>
	</ion-radio-group>
</div>

<app-loader-wrapper>
	<app-financial-statements-container *ngIf="stockDetails$ | async as details" [activeStatement]="activeStatement" [stockDetails]="details">
	</app-financial-statements-container>
</app-loader-wrapper>
