<div class="g-sub-navigation">
	<span>{{ activeStatement }}</span>
	<ion-radio-group (ionChange)="changeActiveStatement($event)" [value]="activeStatement">
		<ion-item *ngFor="let data of STOCK_SEARCH_DETAILS_FINANCIAL_PAGES" [ngClass]="{'ion-activatable-focus': activeStatement === data.value }">
			<ion-label>{{ data.name }}</ion-label>
			<ion-radio [value]="data.value"></ion-radio>
		</ion-item>
	</ion-radio-group>
</div>

<app-loader-wrapper>
	<!-- <app-financial-statements-container *ngIf="stockDetails$ | async as details" [activeStatement]="activeStatement" [stockDetails]="details">

	</app-financial-statements-container> -->

	<div *ngIf="stockDetails$ | async as details" class="flex flex-col gap-6">
		<!-- balance sheet -->
		<ng-container *ngIf="activeStatement === STATEMENT_TYPE.BALANCE_SHEET">
			<app-details-statement-sheet [balanceSheet]="details.companyOutlook.financialsQuarter?.balance || []" sheetTitle="Balance sheet quarterly">
			</app-details-statement-sheet>

			<app-details-statement-sheet [balanceSheet]="details.companyOutlook.financialsAnnual?.balance || []" sheetTitle="Balance sheet yearly">
			</app-details-statement-sheet>
		</ng-container>
	</div>
</app-loader-wrapper>
