<ion-item-group>
    <ion-item class="st-font-1 ion-text-center st-font-size-16">
        <ion-label>
            Date
        </ion-label>
        <ion-label>
            Portfolio
        </ion-label>
    </ion-item>
    <ion-item *ngFor="let info of resetedAccountInfo" class="ion-text-center st-font-3">
        <ion-label class="ion-text-wrap">
            {{ info.date | date: 'dd.MM.yyyy HH:mm:ss' }}
        </ion-label>
        <ion-label>
            {{ info.portfolioTotal | currency}}
        </ion-label>
    </ion-item>

    <ion-buttons *ngIf="showResetButton" class="ion-margin">
        <ion-button class="st-button st-remove-background st-width-100" (click)="resetAccount()">
            Reset account
        </ion-button>
    </ion-buttons>
</ion-item-group>
