@import 'variables';

:host {
	.category-container {
		// column-count: 5;
		// @media (max-width: #{$st-var-lg-split}) {
		// 	column-count: 4;
		// }
		// @media (max-width: #{$st-var-md-split}) {
		// 	column-count: 3;
		// }
		// @media (max-width: #{$st-var-sm-split}) {
		// 	column-count: 2;
		// }
	}

	.category-container-section {
		display: flex;
		flex-flow: wrap;
		padding: 10px;
	}

	.category-header {
		padding: 4px;
		color: white;
		margin-bottom: 8px;
		font-size: 18px;
	}

	.category-item {
		padding: 5px;
		color: #{$st-var-font-2};

		&:hover {
			padding: 5px 10px 11px 10px;
			color: #{$st-var-font-0};
		}
	}

	.c-spinner-container {
		position: absolute;
		top: 25%;
		width: 100%;
		justify-content: center;
		display: flex;
	}
}
