<mat-dialog-content>
	<ion-item>
		<ion-label class="st-flex-end">
			<ion-button color="danger" (click)="dismissModal()" fill="clear">
				<ion-icon name="close-outline"></ion-icon>
				Close
			</ion-button>
		</ion-label>
	</ion-item>

	<!-- chart -->
	<div [ngClass]='{"st-opacity-02": loading}'>
		<app-generic-chart
			*ngIf="series.length > 0; else showSkeleton"
			[sharedTooltip]="false"
			[showTimelineSlider]="true"
			[enableLegendTogging]="true"
			[showLegend]="true"
			[showLegendLatestValue]="true"
			[series]="series"
		>
		</app-generic-chart>

		<ng-template #showSkeleton>
			<ion-skeleton-text animated></ion-skeleton-text>
		</ng-template>
	</div>

	<mat-spinner *ngIf="loading" class="primary"></mat-spinner>

	<!-- chart data names -->
	<div class="category-container">
		<div class="category-container-section" *ngFor="let category of categories$ | async">
			<ion-text class="category-header">{{ category.name }}</ion-text>

			<ion-text
				*ngFor="let data of category.data"
				(click)="queryData(data.documentKey)"
				class="category-item st-icon ion-activatable"
				[ngClass]="{'st-icon': activeDocumentKeys.includes(data.documentKey)}"
			>
				{{ data.name }}
			</ion-text>
		</div>
	</div>
</mat-dialog-content>
