<ion-card>
  <ion-card-header>
    <ion-card-title class="ion-text-center ion-padding-start ion-padding-top">
      Reports
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>

    <ion-list *ngIf="financialReports">
      <ion-item *ngFor="let report of financialReports"
                (click)="clickedFinancialReport(report.collection)"
                class="clickable ion-text-center">
        <ion-label>{{ report.name }}</ion-label>
      </ion-item>

    </ion-list>
  </ion-card-content>
</ion-card>
