@import 'custom-variables';

:host {
	mat-drawer-container {
		// min-height: 100%;
		overflow: visible;
		height: 100vh;

		mat-drawer {
			background: linear-gradient(126deg, #10255a 0%, #0c1d44 29%, #0c183e 44%, #061238 73%, #060e28 100%);
		}

		mat-drawer-content {
			background: linear-gradient(126deg, #10255a 0%, #0c1d44 29%, #0c183e 44%, #061238 73%, #060e28 100%);

			.content {
				min-height: calc(100% - 80px);
				height: auto;
				padding: 24px 20px 40px 20px;
				max-width: 100%;

				@screen sm {
					max-width: 97%;
					margin: auto;
				}

				@screen xl {
					padding: 24px 12px 40px 12px;
				}

				@screen 2xl {
					max-width: 92%;
					margin: auto;
				}
			}
		}

		.c-required-width {
			width: 16%;
			min-width: 275px;
		}

		.c-page-icon {
			font-size: 42px;
			height: 42px;
			width: 42px;
		}
	}
}
