<mat-drawer-container autosize>
	<mat-drawer
		[mode]="!!(closeScreen$! | async) ? 'over' : 'side' "
		[opened]="isOpen$ | async"
		class="c-required-width"
		role="navigation"
		(closed)="toggleMatDrawerExpandedView()"
	>
		<app-side-navigation
			[user]="user$ | async"
			[authenticating]="authenticating$ | async"
			[showMenuButton]="closeScreen$ | async"
			(closeEmitter)="toggleMatDrawerExpandedView()"
		></app-side-navigation>
	</mat-drawer>

	<mat-drawer-content>
		<div class="content">
			<router-outlet></router-outlet>
		</div>
	</mat-drawer-content>
</mat-drawer-container>
