<mat-drawer-container autosize>
	<mat-drawer
		[mode]="!!(closeScreen$! | async) ? 'over' : 'side' "
		[opened]="isOpen$ | async"
		class="c-required-width"
		role="navigation"
		(closed)="toggleMatDrawerExpandedView()"
	>
		<app-side-navigation
			[user]="user$ | async"
			[authenticating]="authenticating$ | async"
			(clickedNavigationEmitter)="changeHeaderInfo($event)"
			(closeEmitter)="toggleMatDrawerExpandedView()"
		></app-side-navigation>
	</mat-drawer>

	<mat-drawer-content>
		<div class="content">
			<app-menu-header (showMenuEmitter)="toggleMatDrawerExpandedView()" [showMenuButton]="(isOpen$ | async) === false"></app-menu-header>
			<div class="py-4 mb-2 flex items-center gap-4">
				<mat-icon color="primary" class="c-page-icon">{{activePage?.icon}}</mat-icon>
				<span class="g-color-primary text-3xl">{{activePage?.title}}</span>
			</div>

			<router-outlet></router-outlet>
		</div>
	</mat-drawer-content>
</mat-drawer-container>
