<ion-label style="display: flex; flex-flow: column" [ngClass]="{
                    'st-flex-row-important': inlineDisplay,
                    'st-price-up': currentPrice - compareToPrice >= 0,
                    'st-price-down': currentPrice - compareToPrice < 0
                     }">

    <!-- percentage -->
    <ng-container *ngIf="currentPrice && compareToPrice; else showNA">
        <ion-text class="st-flex-row"
                  [style.marginRight.px]="showIcons ? 10 : 0"
                  [ngClass]="{'st-font-size-13': inlineDisplay}">
            <span *ngIf="currentPrice > compareToPrice">+</span>
            {{ ((currentPrice - compareToPrice) / compareToPrice) | percent: '1.2' }}
            <ng-container *ngIf="showIcons">
                <ion-icon name="trending-up-outline"
                          class="st-price-icon ion-hide-sm-down"
                          *ngIf="currentPrice - compareToPrice >= 0"></ion-icon>
                <ion-icon name="trending-down-outline"
                          class="st-price-icon ion-hide-sm-down"
                          *ngIf="currentPrice - compareToPrice < 0"></ion-icon>
            </ng-container>
        </ion-text>
    </ng-container>

    <!-- N/A -->
    <ng-template #showNA>
        <ion-text class="st-small-right-space st-font-2">N/A</ion-text>
    </ng-template>

    <!-- price -->
    <ion-text class="st-font-5" [@marketValueChange]="currentPrice" *ngIf="showPrice"
              [ngClass]="{
                      'st-font-size-13': inlineDisplay,
                      'st-font-size-12': !inlineDisplay
                  }">
        {{ currentPrice - compareToPrice | currency}}
    </ion-text>
</ion-label>

