<form [formGroup]="form" (ngSubmit)="submit()">
	<ion-item-group class="c-uploader-wrapper">
		<div>
			<ion-item>
				<!-- upload image -->
				<app-uploader
					#uploader
					[maxHeight]="250"
					[maxWidth]="315"
					[filePath]="'groups'"
					[defaultUrl]="imageUrl.value"
					(uploadedFilesEmitter)="uploadedGroupImage($event)"
				>
				</app-uploader>
			</ion-item>
		</div>

		<div>
			<!-- Group name -->
			<app-form-mat-input-wrapper inputCaption="Group name" controlName="name"> </app-form-mat-input-wrapper>

			<!-- Description -->
			<app-form-mat-input-wrapper
				inputCaption="Group description"
				inputType="TEXTAREA"
				controlName="description"
				hintText="Add description for your group, this step is optional"
			>
			</app-form-mat-input-wrapper>
		</div>
	</ion-item-group>

	<div class="st-flex-wrap-normal ion-justify-content-around ion-margin-bottom ion-margin-top">
		<!-- Private -->
		<app-form-mat-input-wrapper
			inputCaption="Private"
			inputType="CHECKBOX"
			controlName="isPrivate"
			hintText="Check if you want to make your group private, which means users can join only if they receive an invitation, otherwise group is open for everybody to send an invitations"
		>
		</app-form-mat-input-wrapper>

		<!-- Infinite -->
		<app-form-mat-input-wrapper
			inputCaption="Infinite"
			inputType="CHECKBOX"
			controlName="isInfinite"
			hintText="If checkeck the group will never be closed automatily. If uncheck, then please select a specific date as a group expiration date"
		>
		</app-form-mat-input-wrapper>

		<!-- Infinite -->
		<app-form-mat-input-wrapper
			inputCaption="Add me as member"
			inputType="CHECKBOX"
			controlName="isOwnerAlsoMember"
			hintText="Check if you, as a group owner, want to be also as a member. If checked, the group statistics will be affected by your progress"
		>
		</app-form-mat-input-wrapper>
	</div>

	<div class="st-flex st-gap">
		<!-- Start date -->
		<mat-form-field
			appearance="fill"
			(click)="startDatePicker.open()"
			matTooltip="Select a date when the group will officialy start, since which date the progress of the group will be monitored"
		>
			<mat-label>Start date</mat-label>
			<input matInput [matDatepicker]="startDatePicker" formControlName="startDate" autocomplete="off" />
			<mat-datepicker-toggle matSuffix [for]="startDatePicker">
				<mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
			</mat-datepicker-toggle>
			<mat-datepicker #startDatePicker></mat-datepicker>
		</mat-form-field>

		<!-- End date -->
		<mat-form-field
			appearance="fill"
			(click)="endDateOpen()"
			[disableControl]="isInfinite.value"
			[matTooltip]="isInfinite.value ? null : 'Select a date when the group performamnce monitoring should end. After this date a group report will be generated how well the group performed' "
		>
			<mat-label>End date</mat-label>
			<input matInput [matDatepicker]="endDatePicker" formControlName="endDate" autocomplete="off" />
			<mat-datepicker-toggle matSuffix>
				<mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
			</mat-datepicker-toggle>
			<mat-datepicker #endDatePicker></mat-datepicker>
		</mat-form-field>
	</div>

	<!-- Errors -->
	<ion-toolbar *ngIf="showError || dateStartError || dateEndError" class="st-error-message">
		<ng-container *ngIf="showError">Please fill all required information about creating a group</ng-container>
		<ng-container *ngIf="dateStartError">Starting date cannot be before today</ng-container>
		<ng-container *ngIf="dateEndError">Ending date cannot be before starting date</ng-container>
	</ion-toolbar>

	<!-- submit button -->
	<ion-toolbar>
		<ion-buttons slot="end">
			<ion-button fill="solid" color="primary" type="submit" [disabled]="showError || dateStartError || dateEndError">
				{{ editedGroup ? 'Edit group' : 'Create group' }}
			</ion-button>
		</ion-buttons>
	</ion-toolbar>

	<ng-container *ngIf="!editedGroup">
		<!-- invite members input -->
		<ion-toolbar class="st-title"> Search users which you want to invite </ion-toolbar>
		<app-user-account-search (clickedUserEmitter)="sendInvitation($event)"> </app-user-account-search>

		<!-- listed users -->
		<ion-toolbar class="ion-margin-top st-title"> Send invitation </ion-toolbar>
		<ion-item-group class="st-flex-wrap-normal">
			<app-user-account-info-list
				*ngFor="let user of invitationSent"
				(deleteEmitter)="invitationRemove(user)"
				[showDeleteButton]="true"
				[clickable]="false"
				[stUserPublicData]="user"
			>
			</app-user-account-info-list>
		</ion-item-group>
	</ng-container>
</form>
