@import "variables";

:host {
  .label-parent {
    min-width: 75%;
    max-width: 75%;
  }

  .compact-list {
    width: 70%;
    margin: auto;
    @media (max-width: #{$st-var-lg-split}) {
      width: 100%;
    }
  }
}
