<ion-card [style.height.px]="cardHeight">
    <ion-card-header>
        <ion-card-title class="ion-text-center ion-padding-start ion-padding-top">
            {{ chartTitle}}
        </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <app-gauge-chart
                [tooltipName]="tooltipName"
                [height]="height"
                [displayValue]="displayValue"
                [endingPoint]="endingPoint"
                [currentPoint]="currentPoint"
                [startingPoint]="startingPoint">
        </app-gauge-chart>
    </ion-card-content>
</ion-card>
