@import "../../shared/styles/button-styling";

.app-title{
  color: var(--ion-color-primary);
  font-size: 26px;
  margin-bottom: 25px;
  margin-top: 12px;
}

ion-item ion-icon, ion-item ion-label {
  color: #616e7e;
}

.log-out-button{
  position: absolute;
  bottom: 25px;
  width: 85%;
}


ion-menu{
  min-width: 200px!important;
  max-width: 200px!important;
}

ion-menu.md ion-item.selected ion-icon,
ion-menu.md ion-item.selected,
ion-menu.ios ion-item.selected ion-icon,
ion-item.selected,
ion-item.selected ion-label{
  color: var(--ion-color-primary) !important;
}

