<!-- search container -->
<app-user-account-search
	[showNoUserFoundTest]="isSearchEmpty"
	[fullWith]="true"
	[clearOnClick]="true"
	(clickedUserEmitter)="showUserInformation($event)"
>
</app-user-account-search>

<!-- result of user -->
<ng-container *ngIf="userPublicDataSearchFragment$ | async as userData">
	<div class="flex justify-end mb-4">
		<button mat-flat-button class="g-button-danger min-w-[200px] w-full md:w-auto" (click)="clearResult()">Clear</button>
	</div>
	<app-composed-searched-user-data [userData]="userData"></app-composed-searched-user-data>
</ng-container>
