<ng-container *ngIf="stockWatchlist">
    <ion-item *ngFor="let watchlist of stockWatchlist" class="ion-margin-top ion-align-items-start">
        <ion-label style="min-width: fit-content;" >
            <app-watchlist-table
                    [stockWatchlist]="watchlist"
                    (deleteWatchlistEmitter)="deleteWatchlist($event)"
                    (renameWatchlistEmitter)="renameWatchlist($event)"
                    (showChartEmitter)="showChartForSymbol($event)"
                    (deleteSymbolEmitter)="deleteSymbolFromDocument($event)"
                    (showDetailsEmitter)="redirectToDetails($event)">
            </app-watchlist-table>
        </ion-label>
        <ion-label class="sector-chart-container ion-padding" *ngIf="watchlist.stocks.length > 0">
            <app-watchlist-sector-chart [stockDetails]="watchlist.stocksDetails"></app-watchlist-sector-chart>
        </ion-label>
    </ion-item>
</ng-container>
