@import "variables";

:host {
  ion-card {
    min-height: 150px;
  }

  .left-padding-small-screen {
    padding-left: 16px !important;
    @media (max-width: #{$st-var-sm-split}) {
      padding-left: 8px !important;
    }
  }

  ion-card-content {
    height: 90%;

    .default-content:not(:only-child) {
      display: none; // hide no content text
    }

    ion-skeleton-text {
      margin-top: 10px;
      width: 100%;
      height: 95%;
      min-height: 75px;
    }
  }
}
