<ion-card [class]="'left-padding-small-screen ' + additionalClasses">
    <ion-card-header *ngIf="!removeHeader">
        <ion-card-subtitle>
            {{ subtitle }}
        </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
        <ng-content></ng-content>
        <div *ngIf="!showSkeleton" class="default-content" style="margin-top: 16px">No data has been found...</div>
        <ion-skeleton-text *ngIf="showSkeleton" animated class="default-content"></ion-skeleton-text>
    </ion-card-content>
</ion-card>
