<ion-list>
    <ion-item>
        <ion-label position="fixed" class="st-data-label-fixedLabel">Name</ion-label>
        <ion-label class="st-data-label"> {{ summary.longName }}</ion-label>
    </ion-item>

    <ion-item>
        <ion-label position="fixed" class="st-data-label-fixedLabel">Symbol</ion-label>
        <ion-label class="st-data-label"> {{ summary.symbol }}</ion-label>
    </ion-item>

    <ion-item>
        <ion-label position="fixed" class="st-data-label-fixedLabel">Market cap.</ion-label>
        <ion-label class="st-data-label"> {{ summary.marketCap | numberFormatter }}</ion-label>
    </ion-item>

    <ion-item>
        <ion-label position="fixed" class="st-data-label-fixedLabel">PE [ttm.]</ion-label>
        <ion-label class="st-data-label"> {{ summary.pERatioTTM }}</ion-label>
    </ion-item>

    <ion-item>
        <ion-label position="fixed" class="st-data-label-fixedLabel">EPS [ttm.]</ion-label>
        <ion-label class="st-data-label"> {{ summary.ePSTTM }}</ion-label>
    </ion-item>

    <ion-item>
        <ion-label position="fixed" class="st-data-label-fixedLabel">Price</ion-label>
        <ion-label class="st-flex-row">
            <ion-text style="margin-right: 10px" class="st-data-label">{{ summary.marketPrice | currency }}</ion-text>
            <app-price-compare-item
                    [versionType]="2"
                    [compareToPrice]="summary.previousClose"
                    [currentPrice]="summary.marketPrice">
            </app-price-compare-item>
        </ion-label>
    </ion-item>

    <ion-item>
        <ion-label position="fixed" class="st-data-label-fixedLabel">1y target</ion-label>
        <ion-label class="st-flex-row">
            <ion-text style="margin-right: 10px"color="" class="st-data-label">{{ summary.oneyTargetEst | currency }}</ion-text>
            <app-price-compare-item
                    [versionType]="2"
                    [compareToPrice]="summary.oneyTargetEst"
                    [currentPrice]="summary.marketPrice">
            </app-price-compare-item>
        </ion-label>
    </ion-item>

    <ion-item>
        <ion-label position="fixed" class="st-data-label-fixedLabel">1y change</ion-label>
        <app-price-change-item [priceChange]="summary.fiveTwoWeekChange"
                               [isPercent]="true">
        </app-price-change-item>
    </ion-item>

    <ion-item>
        <ion-label position="fixed" class="st-data-label-fixedLabel">S&P500 1y change</ion-label>
        <app-price-change-item [priceChange]="summary.sandPFiveTwoWeekChange"
                               [isPercent]="true">
        </app-price-change-item>
    </ion-item>

    <!-- <ion-item>
        <ion-label position="fixed" class="fixedLabel">Industry</ion-label>
        <ion-label> {{ summary.industry }}</ion-label>
    </ion-item> -->

    <ion-item>
        <ion-label position="fixed" class="st-data-label-fixedLabel">Sector</ion-label>
        <ion-label class="st-data-label"> {{ summary.sector }}</ion-label>
    </ion-item>


    <ion-item>
        <ion-label position="fixed" class="st-data-label-fixedLabel">Shared outstanding</ion-label>
        <ion-label class="st-data-label"> {{ summary.sharesOutstanding | numberFormatter }}</ion-label>
    </ion-item>


    <ion-item>
        <ion-label position="fixed" class="st-data-label-fixedLabel">Recommendation</ion-label>
        <ion-label class="st-data-label"> {{ summary.recommendationKey }} [{{ summary.recommendationMean }}]</ion-label>
    </ion-item>

    <!--<ion-item>
        <ion-label position="fixed" class="fixedLabel">Earnings date</ion-label>
        <ion-label> {{ summary.earningsDate }}</ion-label>
    </ion-item> -->

    <ion-item>
        <ion-label position="fixed" class="st-data-label-fixedLabel">Employees</ion-label>
        <ion-label class="st-data-label"> {{ summary.fullTimeEmployees | numberFormatter }}</ion-label>
    </ion-item>

    <!--<ion-item *ngIf="summary.lastSplitDate">
        <ion-label position="fixed" class="fixedLabel">Last split</ion-label>
        <ion-label> {{ summary.lastSplitDate * 1000 | date: 'dd.MM.yyyy'}}
            ({{ summary.lastSplitFactor }})
        </ion-label>
    </ion-item>

    <ion-item>
        <ion-label position="fixed" class="fixedLabel">Employee income & revenue</ion-label>
        <ion-label> {{ summary.netIncomeEmployeeAnnual | numberFormatter}}
            ({{ summary.revenueEmployeeAnnual | numberFormatter }})
        </ion-label>
    </ion-item>

    <ion-item>
        <ion-label position="fixed" class="fixedLabel">Residence</ion-label>
        <ion-label>
            {{ summary.residance.city }},
            <span *ngIf="summary.residance.state"> {{ summary.residance.state }}, </span>
            {{ summary.residance.country }}
        </ion-label>
    </ion-item> -->
</ion-list>
