$price-down: '#C30D0D';
$price-up: '#038A00';


::ng-deep .custom-tooltip {
  background-color: #818181;
  font-size: 16px;
  padding: 5px;
}


.price-up{
  color: #{$price-up}; /* #{$price-down} #038A00;*/
  font-size: 15px;
}

.price-down{
  color: #{$price-down};
  font-size: 15px;
}

.clickable{
  transition: All 0.3s ease-out;
  cursor: pointer;
  &:hover{
    transform: scale(0.96);
  }
}
