@import 'custom-variables';

:host {
  .group-image-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }

  .content-padding {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
