@import 'custom-variables';

:host {
  .group-image-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }

  .submit-button{
    float: right;
    @media (max-width: #{$st-var-sm-split}) {
      display: flex;
      float: none;
    }
  }




  .account-search {
    border-left: 1px solid #{$st-var-font-4};
    @media (max-width: #{$st-var-md-split}) {
      border-left: 0;
    }
  }

  .content-padding{
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
