<ion-row>
    <!-- form -->
    <ion-col size="12" class="content-padding">
        <app-generic-list [title]="'Create group'"></app-generic-list>
        <app-generic-card>
            <form [formGroup]="form" (ngSubmit)="submit()">
                <!-- group image -->
                <ion-item-group class="group-image-container">
                    <ion-item>
                        <app-uploader
                           #uploader
                           [filePath]="'groups'"
                           (uploadedFilesEmitter)="uploadedGroupImage($event)">
                        </app-uploader>
                    </ion-item>
                </ion-item-group>

                <!-- Group name -->
                <ion-item class="st-form-input-background ion-margin-top">
                    <ion-label position="floating">Group name</ion-label>
                    <ion-input placeholder="Enter group name" type="text" formControlName="name"></ion-input>
                </ion-item>

                <!-- Group description -->
                <ion-item class="st-form-input-background ion-margin-top">
                    <ion-label position="floating">Group description</ion-label>
                    <ion-textarea placeholder="Enter group description" formControlName="description"
                                  [autoGrow]="true"></ion-textarea>
                </ion-item>

                <!-- submit button -->
                <ion-buttons class="st-buttons-container">
                    <ion-button [disabled]="form.invalid"
                                class="st-width-full-md-screen st-create-background st-button"
                                type="submit">
                        Submit
                    </ion-button>
                </ion-buttons>
            </form>

            <!-- search user  -->
            <app-user-account-search
                    (clickedUserEmitter)="sendInvitation($event)">
            </app-user-account-search>
        </app-generic-card>
    </ion-col>
</ion-row>

<ion-row>
    <ion-col size="12">
        <!-- listed users -->
        <ion-item class="ion-margin-top">
            <ion-label class="st-font-size-18">
                Send invitation
            </ion-label>
        </ion-item>
        <ion-item-group class="listed-users-container">
            <app-user-account-info-list *ngFor="let user of invitationSent"
                                        (deleteEmitter)="invitationRemove(user)"
                                        [showDeleteButton]="true"
                                        [clickable]="false"
                                        [userPartialInformation]="user">
            </app-user-account-info-list>
        </ion-item-group>
    </ion-col>
</ion-row>
