:host {
  .watchlist-container {
    //padding: 20px 20px 20px 60px;

    @media (max-width: 1020px) {
      padding: 2px;
      text-align: -webkit-center;
    }
  }

  .create-watchlist-button {
    margin-left: 35px;
    margin-top: 20px;
    @media (max-width: 1020px) {
      margin-left: 10px;
    }
  }

  .sector-chart-container {
    display: contents;
    @media (max-width: 1500px) {
      display: none;
    }
  }

  .center-text {
    text-align: left;
    display: inline-flex;
  }


}
