<div class="watchlist-container">
    <ion-item *ngFor="let watchlist of stockWatchlists$ | async" class="watchlist-data">
        <!-- watchlist -->
        <ion-label>
            <app-watchlist-table [watchlist]="watchlist"
                                 (itemClickedEmitter)="showChartForSymbol($event)"
                                 (deleteEmitter)="deleteSymbolFromDocument($event, watchlist.id, watchlist.name)">
            </app-watchlist-table>
        </ion-label>

        <!-- sector chart -->
        <ion-label class="sector-chart-container ion-padding" *ngIf="watchlist.summaries.length > 0">
            <app-watchlist-sector-chart style="align-self: center;"
                                        [summaries]="watchlist.summaries"></app-watchlist-sector-chart>
        </ion-label>
    </ion-item>
</div>


<div class="create-watchlist-button">
    <ion-button class="st-create-background" (click)="createWatchlist()">
        Create watchlist
    </ion-button>
</div>
