@import "variables";

:host {
  .watchlist-container {
    //padding: 20px 20px 20px 60px;

    @media (max-width: #{$st-var-md-split}) {
      padding: 2px;
      text-align: -webkit-center;
    }
  }

  .create-watchlist-button {
    float: left;
    margin-left: 16px;
    margin-top: 45px;
  }

  .sector-chart-container {
    display: contents;
    @media (max-width: #{$st-var-xxl-split}) {
      display: none;
    }
  }

  .watchlist-data {
    display: inline-flex;
    margin-top: 16px;
    margin-bottom: 16px;
  }


}
