<mat-expansion-panel>
	<mat-expansion-panel-header>
		<mat-panel-title class="ion-align-items-center c-ticket-name">
			<ion-icon *ngIf="ticket.isOpen" name="open" class="st-color-openge-1"></ion-icon>
			<ion-icon *ngIf="!ticket.isOpen" name="cloud-done" class="st-price-up"></ion-icon>
			<ion-text class="st-small-left-space">{{ ticket.name }}</ion-text>
		</mat-panel-title>
		<mat-panel-description class="ion-align-items-center st-gap ion-hide-md-down text-white">
			<ion-avatar>
				<ion-img appDefaultImg [src]="ticket.createdBy.photoURL"></ion-img>
			</ion-avatar>
			<span>{{ ticket.createdBy.nickName }}</span>
			<span>|</span>
			<span>{{ ticket.type }}</span>
			<span>|</span>
			<span>{{ ticket.createdAt | relativeTime }}</span>
		</mat-panel-description>
	</mat-expansion-panel-header>
	<ng-template matExpansionPanelContent>
		<!-- comments -->
		<div *ngFor="let comment of ticket.comments" class="st-top-padding st-border-top">
			<ng-container *ngIf="comment !== editingComment; else showEditingForm">
				<div class="st-flex ion-align-items-center st-gap text-white">
					<!-- comment base info -->
					<ion-avatar class="st-left-space">
						<ion-img appDefaultImg [src]="comment.createdBy.photoURL"></ion-img>
					</ion-avatar>
					<span>{{ comment.createdBy.nickName }}</span>
					<span>|</span>
					<span>{{ comment.createdAt | relativeTime }}</span>
					<!-- edit button -->
					<ion-buttons *ngIf="user?.id === comment.createdBy.id && ticket.isOpen" class="st-flex-1 ion-justify-content-end">
						<ion-button (click)="editComment(comment)" class="st-transparent-background st-clickable" color="warning">
							<ion-icon class="st-clickable" name="pencil" slot="icon-only"></ion-icon>
						</ion-button>
					</ion-buttons>
				</div>
				<div class="c-comment">{{ comment.comment }}</div>
			</ng-container>

			<!-- comment form -->
			<ng-template #showEditingForm>
				<ng-container *ngTemplateOutlet="commentForm"></ng-container>
			</ng-template>
		</div>

		<!-- comment form -->
		<ng-container *ngIf="answering">
			<ng-container *ngTemplateOutlet="commentForm"></ng-container>
		</ng-container>

		<!-- buttons -->
		<ion-buttons *ngIf="!answering" class="c-action-buttons st-border-top">
			<ion-button *ngIf="ticket.isOpen" type="button" color="primary" fill="solid" shape="round" (click)="answerComment()"> Answer </ion-button>
			<ion-button *ngIf="isAdmin && ticket.isOpen" type="button" color="warning" fill="solid" shape="round" (click)="close()"> Close </ion-button>
			<ion-button
				*ngIf="(user?.id === ticket.createdBy.id && !ticket.isOpen) || isAdmin"
				type="button"
				color="danger"
				fill="solid"
				shape="round"
				(click)="delete()"
			>
				Delete
			</ion-button>
		</ion-buttons>
	</ng-template>
</mat-expansion-panel>

<!-- comment form -->
<ng-template #commentForm>
	<form [formGroup]="form" (ngSubmit)="submit()" class="st-padding">
		<app-form-mat-input-wrapper inputType="TEXTAREA" controlName="comment" inputCaption="Add comment"></app-form-mat-input-wrapper>
		<ion-buttons class="c-action-buttons">
			<ion-button color="primary" fill="solid" shape="round" type="submit">Submit</ion-button>
			<ion-button color="light" fill="solid" shape="round" type="button" (click)="cancelComment()">Cancel</ion-button>
		</ion-buttons>
	</form>
</ng-template>
