<div class="revenue-container" *ngIf="revenueEst">
    <!-- additional info -->
    <div class="ion-text-wrap">
        <div class="ion-float-start revenue-time-est">
            <span style="margin-right: 10px">{{revenueEst.timeEstimation}}</span>
        </div>
         <div class="ion-float-start">
             <span style="margin-right: 5px" class="highlight"> Avg.: {{ revenueEst.average_string }}</span>
             <span *ngIf="revenueEst.growthPercent >=0" class="price-up"> +{{ revenueEst.growthPercent}}%</span>
             <span *ngIf="revenueEst.growthPercent < 0" class="price-down"> {{ revenueEst.growthPercent}}%</span>
         </div>
         <span class="ion-float-end">
             <span class="highlight">Year ago: </span>
             {{revenueEst.yearAgo}}
         </span>
     </div>



    <!-- range chart -->
    <app-fixed-range-slider [min]="revenueEst.low "
                            [max]="revenueEst.high"
                            [value]="revenueEst.average"
                            [maxDisplayName]="revenueEst.high_string"
                            [minDisplayName]="revenueEst.low_string"
                            [valueDisplayName]="revenueEst.average_string">
    </app-fixed-range-slider>
</div>
