<ion-content class="ion-padding">
	<!-- menu page header -->
	<app-menu-header></app-menu-header>

	<!-- header -->
	<app-header pageIcon="analytics" pageName="Trading"></app-header>

	<ion-grid>
		<ion-row class="ion-justify-content-center">
			<ion-col size="12" size-lg="11" size-xl="10" style="overflow: visible">
				<ion-row class="ion-justify-content-center ion-margin-top">
					<ion-col size="12" size-lg="4">
						<!-- portfolio state -->
						<app-portfolio-state
							[portfolioCash]="user?.portfolio?.portfolioCash"
							[portfolioInvested]="portfolioInvested"
							portfolioState="PARTIAL"
						></app-portfolio-state>
					</ion-col>
					<ion-col size="12" size-lg="3">
						<!-- bid / ask -->
						<app-trading-bid-ask
							[bidPrice]="selectedSummary?.marketPrice - 0.03"
							[askPrice]="selectedSummary?.marketPrice + 0.03"
						></app-trading-bid-ask>
					</ion-col>
					<ion-col class="ion-hide-lg-down" size="12" size-lg="4">
						<!-- portfolio chart -->
						<div class="c-chart-container">
							<app-pie-chart-wrapper
								[heightPx]="280"
								chartTitle="Portfolio allocation"
								[data]="[
									  {name: 'Invested', color: '#5e00df', y: 100 / (portfolioInvested + user?.portfolio?.portfolioCash) * portfolioInvested, sliced: true},
									  {name: 'Cash', color: '#c7481a', y: 100 / (portfolioInvested + user?.portfolio?.portfolioCash) * user?.portfolio?.portfolioCash}
								  ]"
							></app-pie-chart-wrapper>
						</div>
					</ion-col>
				</ion-row>

				<!-- search symbol -->
				<ion-row>
					<ion-col size="12" class="c-search-stock-wrapper st-sm-border-bottom">
						<app-stock-search (clickedSymbolEmitter)="loadSummary($event)" [clearOnClick]="true"> </app-stock-search>
					</ion-col>
				</ion-row>

				<ion-row class="ion-justify-content-center">
					<ng-container *ngIf="selectedSummary; else showLoader">
						<!-- financial chart -->
						<ion-col size="12" size-lg="7.5" size-xl="8">
							<app-financial-chart-container
								[closedPrice]="selectedSummary.previousClose"
								[currentPrice]="selectedSummary.marketPrice"
								[height]="460"
								[logoUrl]="selectedSummary.logo_url"
								[name]="selectedSummary.companyName"
								[symbol]="selectedSummary.symbol"
							>
							</app-financial-chart-container>
						</ion-col>
						<!-- summary -->
						<ion-col size="12" size-lg="4.5" size-xl="4">
							<app-generic-list [iconTitle]="'barcode-outline'" [title]="'Summary'"></app-generic-list>
							<app-generic-card>
								<!-- symbol summary -->
								<app-stock-summary-container [summary]="selectedSummary"></app-stock-summary-container>

								<!-- buttons -->
								<ion-buttons class="st-buttons-container st-justify-center">
									<ion-button (click)="tradeSymbol()" class="st-button" color="primary" fill="solid"> Trade </ion-button>
								</ion-buttons>
							</app-generic-card>
						</ion-col>
					</ng-container>
					<!-- loading spinner -->
					<ng-template #showLoader>
						<div class="spinner-container">
							<ion-spinner color="primary"></ion-spinner>
						</div>
					</ng-template>
				</ion-row>

				<!-- holdings -->
				<ion-row>
					<ion-col size="12">
						<app-generic-list [iconTitle]="'pricetags'" [title]="'Holdings'"></app-generic-list>
						<app-generic-card>
							<app-holdings-table
								(itemClickedEmitter)="changeSymbol($event)"
								[holdings]="clonedHoldings"
								[totalPortfolio]="user?.portfolio?.portfolioCash + portfolioInvested"
							>
							</app-holdings-table>
						</app-generic-card>
					</ion-col>
				</ion-row>

				<!-- suggestion -->
				<ion-row>
					<ion-col size="12">
						<ion-list-header>
							<ion-label style="margin-left: 8px">
								<ion-text class="st-title">Suggestions</ion-text>
							</ion-label>
						</ion-list-header>
						<ion-row>
							<ion-col *ngFor="let suggestion of suggestions" size="12" size-lg="4" size-sm="6" size-xl="3">
								<!-- suggestion in card with ripple effect -->
								<app-generic-card (click)="changeSummary(suggestion.summary)" [additionalClasses]="'st-height-100 ion-activatable'">
									<app-details-stock-suggestion-change [suggestionMarketPrice]="suggestion.summary.marketPrice" [suggestion]="suggestion">
									</app-details-stock-suggestion-change>

									<!-- ripple effect on click -->
									<ion-ripple-effect></ion-ripple-effect>
								</app-generic-card>
							</ion-col>
						</ion-row>
					</ion-col>
				</ion-row>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>

<ng-template #portfolioState>
	<app-portfolio-state
		[portfolioCash]="user?.portfolio?.portfolioCash"
		[portfolioInvested]="portfolioInvested"
		portfolioState="PARTIAL"
	></app-portfolio-state>
</ng-template>
