<div class="p-2 flex gap-4 mb-2 items-center">
	<img appDefaultImg [src]="suggestion.summary.logo_url" alt="symbol image" class="st-symbol-image" />
	<div class="flex flex-col">
		<!-- symbol name + price -->
		<div class="flex gap-4">
			<span class="g-color-white">{{ suggestion.summary.symbol }}</span>
			<span>|</span>
			<span [@marketValueChange]="suggestionMarketPrice" class="text-right text-lg g-color-white"> {{ suggestionMarketPrice | currency }} </span>
		</div>
		<!-- price change -->
		<app-price-compare-item
			[currentPrice]="suggestionMarketPrice"
			[compareToPrice]="suggestion.summary.previousClose"
			pricePosition="right"
		></app-price-compare-item>
	</div>
</div>

<!-- chart -->
<app-generic-chart
	[chartType]="ChartType.areaChange"
	[heightPx]="65"
	[series]="[{name: suggestion.summary.symbol,  data: suggestion.historicalData}]"
	[showTooltip]="false"
	[showXAxis]="false"
	[showYAxis]="false"
>
</app-generic-chart>
