<ion-list>
    <ion-item style="margin-top: 3px; margin-bottom: 3px">
        <!-- image -->
        <ion-label>
            <ion-img appDefaultImg [src]="suggestion.summary.logo_url" class="st-symbol-image"></ion-img>
        </ion-label>
        <!-- daily change -->
        <ion-label class="st-flex-end">
            <app-price-compare-item [currentPrice]="suggestionMarketPrice"
                                    [compareToPrice]="suggestion.summary.previousClose"
                                    [showIcons]="false">
            </app-price-compare-item>
        </ion-label>
    </ion-item>


    <!-- symbol + market price -->
    <ion-item>
        <ion-label>{{ suggestion.summary.symbol }}</ion-label>
        <ion-label class="st-flex-end" [@marketValueChange]="suggestionMarketPrice">
            {{ suggestionMarketPrice | currency }}
        </ion-label>
    </ion-item>

    <!-- chart -->
    <ion-item>
        <ion-label>
            <app-generic-chart
                    [heightPx]="65"
                    [showTooltip]="false"
                    [showXAxis]="false"
                    [showYAxis]="false"
                    [series]="[{name: suggestion.summary.symbol,  data: suggestion.historicalData.price}]"
                    [chartType]="ChartType.areaChange">
            </app-generic-chart>
        </ion-label>
    </ion-item>
</ion-list>

