<app-mat-card-wrapper title="Free cash flow valuation">
	<ng-container *ngIf="freeCashFlowFormula$ | async as formula">
		<!-- historical -->
		<div class="text-xl p-4 g-color-white">Historical data</div>
		<mat-grid-list [cols]="formula.historicalYears.length + 1" rowHeight="55px" class="mb-2">
			<!-- years -->
			<mat-grid-tile></mat-grid-tile>
			<mat-grid-tile *ngFor="let year of formula.historicalYears" class="g-color-white text-base">{{ year }}</mat-grid-tile>

			<!-- free cash flow -->
			<mat-grid-tile class="text-lg g-color-white">Free cash flow</mat-grid-tile>
			<ng-container *ngIf="formula.freeCashFlows as prices">
				<mat-grid-tile *ngFor="let data of prices; let i = index; let first = first">
					<div class="text-center">
						<div>{{ data | numberFormatter}}</div>
						<app-price-compare-item [currentPrice]="data" [compareToPrice]="first ? null : prices[i - 1]" [showPrice]="false">
						</app-price-compare-item>
					</div>
				</mat-grid-tile>
			</ng-container>
		</mat-grid-list>

		<mat-divider></mat-divider>

		<!-- calculation -->
		<div class="text-xl p-4 g-color-white mb-2">Calculation</div>
		<div class="p-4 flex justify-around">
			<div>Avg. free cash flow:: {{ formula.avgFcf | numberFormatter}}</div>
			<div>Minimum return: {{ formula.minimumRateReturn | percent: '1.2-2' }}</div>
			<div>Market Cap.: {{ formula.estimatedIntrinsicMarketCap | numberFormatter }}</div>
			<div>Intrinsic value: <span class="g-color-white">{{ formula.estimatedIntrinsicValue | numberFormatter: false : true}}</span></div>
		</div>
	</ng-container>
</app-mat-card-wrapper>
